[2017-07-06 13:07] AKM11 commented on #345
Here is an example of the differences in output.

![image](https://user-images.githubusercontent.com/28261578/27912311-6821f6d2-622a-11e7-9a04-339448321343.png)

Keep in mind I have been messing around with the HTML output.  This is using the Assumption type.

[2017-07-06 19:05] njericha opened #346 "Formatting Long Equations in TeX"
Edit Aug. 10: Tables should now generate correctly in TeX. The remaining issues are;

- [x] large fractions go over the page (Normal Shear Force Ratio derivation)
- [ ] large case expressions in Data Defs go outside the table (Normal Shear Force Ratio)

Jul 6:
- [X] long tables go over the page

[2017-07-06 19:18] szymczdm commented on #346
Since this is purely formatting, I'm going to tag it low priority. I believe this issue has already come up in the past as well.

[2017-07-06 19:57] JacquesCarette commented on #346
I agree that this is lower priority than other things, but it definitely needs fixed too.  So if @njericha gave it a stab, that would be nice!

[2017-07-06 20:26] niazim3 commented on #328
@palmerst Can this issue be closed?

[2017-07-06 21:09] AKM11 commented on #345
I have created a useable referencing system for the Assumption type as of commit b8a03ba5794d9e7a71eb74d3fc814e2c14b0ce26. Will this work?  Example in NoPCM.

[2017-07-07 01:43] JacquesCarette commented on #345
[See the comments there].  Something like that will indeed work.

[2017-07-07 15:02] niazim3 opened #347 "Improve Testing for GlassBR"
As mentioned in issue #262, there is a lot of duplication that can be reduced from the Testing code for GlassBR. As stated by @palmerst, "each test suite has 5-10 source files which are just complete copies of each other with different hardcoded inputs".
This issue will be used to keep track of changes made in relation to this task.

[2017-07-07 15:07] njericha opened #348 "SSP Symbol Inconsistency"
### The case study SRS for SSP starts by defining S_i and P_i as follows.
![2017-07-07 4](https://user-images.githubusercontent.com/26230851/27963505-4c8f834c-6303-11e7-81df-9eafbfc2504f.png)
![2017-07-07 2](https://user-images.githubusercontent.com/26230851/27963545-6abb9306-6303-11e7-8628-1969eafaa3f3.png)
![2017-07-07 3](https://user-images.githubusercontent.com/26230851/27963550-6df23eee-6303-

[2017-07-07 15:09] szymczdm commented on #348
Wow, that's a pretty big inconsistency, nice find! @smiths should be able to point you in the right direction.

[2017-07-07 17:24] AKM11 commented on #345
@JacquesCarette I updated the acroNumGen function in commit 4f4ceebe0d76ffb7a2f94897573402cdbf16e89c.  This slightly better?

[2017-07-07 17:29] AKM11 commented on #345
Also, are things like physical system descriptions and goal statements supposed to have there own type as well? They require referencing in places and we have acro- commands for them.

[2017-07-07 17:47] njericha commented on #276
Also making a note to do a similar thing with `eqN`

[2017-07-07 20:27] niazim3 opened #349 "Implementing "Likely Changes" in SRS"
![image](https://user-images.githubusercontent.com/28247301/27974922-1b98b332-632e-11e7-8da0-a083344e0be4.png)
It seems that that `LCChunk`s are currently taking `[ModuleChunk]`s as an argument (for the likely changes listed in the module guides of the examples?); however, this doesn't make much sense for the likely changes listed in the SRS document...
@szymczdm Should we be treating the chunks d

[2017-07-07 20:35] szymczdm commented on #349
The way LCChunks are currently implemented is not ideal. The use of related module chunks was strictly for design doc and code side of things (right @palmerst ?).

We don't treat the chunks differently depending on the document, we need to ensure that the chunks contain all of the requisite information for **all** artifacts they will be used in.

You will likely need to modify how LCChunks are imp

[2017-07-10 15:15] smiths commented on #348
@njericha , I believe the difference comes about from confusion between shear force and shear stress.  Tau is a shear stress, with units of N/m^2.  S_i and P_i are defined as forces, with units of N.  To figure out where we need to make the corrections, please look at the original source material and check the units of the equations.

[2017-07-10 17:23] njericha commented on #348
tau must have units N because FS has unit 1 (since it is a ratio)

[2017-07-10 17:46] smiths commented on #348
If tau must have units of N, then there is a mistake in the equation.  tau is a shear stress, and shear stress has units of Pa (N/m^2).  It looks like this inconsistency is in different places in the case study.  I looked at T3 (in the original "manual" document) and the use of P here is incorrect.  P should be tau.  You can see this from the Wikipedia page on Mohr Coulomb Shear Strength:

https:/

[2017-07-10 19:49] njericha commented on #348
@niazim3 and I are looking at this issue and noticed this switch in T1 would imply G3 should also be tau (not P)? Another issue comes up with c' in GD3, it has units Pa but in this equation, it would need units N/m^3 since b_i has units m. If we don't change P_i, then c' would need units N/m.

[2017-07-10 20:01] njericha commented on #348
But T3 (with tau replacing P_i) would suggest c' should have units Pa

[2017-07-10 20:06] smiths commented on #348
No, for GD3, it actually appears correct to me.  It should be P, not tau.  It is confusing though, because the derivation is not explained.  The derivation starts with T1, then both sides of the equation are multiplied by b_i*sec(alpha)*1.  This is the kind of step that can be frustrating to understand.  It is actually one of the reasons why I think we need to go to the trouble of documenting our

[2017-07-10 20:09] smiths commented on #348
Yes, c should have units of Pa (http://www.geotechnicalinfo.com/cohesion.html).

[2017-07-10 20:10] njericha commented on #348
Thank you, that makes a LOT more sense 😄

[2017-07-10 20:22] smiths commented on #348
Thank you @njericha .  I really appreciate you bringing up issues like this.  As I've said before, I don't have as much confidence in the ssp example.  The more we work through issues, the more my confidence will build.  😄

[2017-07-11 15:13] niazim3 commented on #262
@palmerst
The results from making the `Python` tests have changed quite drastically, and I was wondering if some changes were made that caused the discrepancy?
![image](https://user-images.githubusercontent.com/28247301/28074127-c96b5d12-6625-11e7-96d4-949940d1c178.png)
I'm attempting to trace the failing files that were previously `pass`ing so that I can ensure working on issue #347 doesn't chang

[2017-07-11 15:48] njericha commented on #341
Closing this now that everything is pretty much done. All that is left is to move the derivations once the Theoretical models are finished.

[2017-07-11 15:48] #341 closed

[2017-07-11 16:32] njericha commented on #348
GD3 now reads;
The Mohr-Coulomb resistive shear strength of a slice τ_i from T3 is multiplied by the area b_isec(αi)*1 to obtain the resistive shear force P_i. Note the extra 1 is to represent a unit of width which is multiplied by the total base length of a slice ℓ_b,i of the plane where the normal occurs, where ℓ_b,i=b_isec(αi) and b_i is the x width of the base. This accounts for the effective

[2017-07-11 17:14] #342 closed

[2017-07-11 19:13] palmerst commented on #262
These errors are being caused from the change to reading the input variable `t` as a string.  When readline is called on a file, the resulting string is stored with a newline char at the end of it.  So for example if the input file has 10.0 for t, it will be read as "10.0\n" and will not be equal to the string "10.0".  You can fix this by using readline().rstrip() instead, as this will strip all w

[2017-07-11 19:27] njericha commented on #319
Just a self note to type my brainstormed ideas:
[code]
ex
[code]
`$` is needed in TeX but not in HTML:MathJax

[2017-07-11 19:28] palmerst commented on #328
There is still missing information that we need.  If you look at https://github.com/JacquesCarette/literate-scientific-software/blob/master/CaseStudies/glass/Implementations/Python_Simplified/Implementation/interp.py we need to be able to generate all of this.

You have captured `lin_interp`, but we still need to capture the other functions as sequences of `Expr`.  Ignore the exception throwing fo

[2017-07-11 19:37] smiths commented on #348
Hello @njericha.  Can you also please clarify that the normal stress is multiplied by the area to get the normal force?

[2017-07-11 21:12] niazim3 commented on #262
9aed9dc -->
![image](https://user-images.githubusercontent.com/28247301/28090394-13c2fec2-665a-11e7-8cf7-45d1c5c8f635.png)
Less tests fail now, however I will be working on getting all the tests to pass soon. (Completing said task will now be documented in issue #347, as this thread is for testing documentation...)

@palmerst Would it be alright if I remove _testCheckConstraints18.py_ from the `Py

[2017-07-12 14:12] njericha commented on #348
f4cac4c is actually for `#319`

[2017-07-12 14:15] njericha commented on #319
Matrices are now finished in TeX. HTML just needs formatting work with the CSS in `Language\Drasil\HTML\Helpers.hs` using the `makeCSS` function. Extra lines still appear as shown in the picture above.

[2017-07-12 14:19] palmerst commented on #262
Yes, remove it.  `Python_Simplified` is the version that is being used as a benchmark for generation.  You can actually delete the `Python` directory entirely and rename `Python_Simplified` to `Python`  -- I kept both as I was rewriting the original to be more readable, but now there is no sense in maintaining both.

[2017-07-12 18:02] njericha commented on #319
The HTML matrices are now readable. Closing this issue. They may need some work aligning them with the rest of the equation but am not sure how to solve this and it's not absolutely necessary.

[2017-07-12 18:02] #319 closed

[2017-07-12 18:09] #322 closed

[2017-07-12 18:28] niazim3 commented on #262
The **TestDocumentation** folder that contains the test document is now in the _Python\_Simplified_ directory. However, since making the tests from this directory currently runs into errors, I'm in the process of rooting out the problem. As stated before, updating/improving the testing for GlassBR will be tracked in issue #347.

[2017-07-12 18:28] #262 closed

[2017-07-12 18:41] niazim3 commented on #347
![image](https://user-images.githubusercontent.com/28247301/28133975-97ead00c-670f-11e7-88f1-92d0d70be1cc.png)
Current output.

[2017-07-12 18:57] niazim3 commented on #347
As of commit 682b22f, `make test` no longer crashes. Current output:
![image](https://user-images.githubusercontent.com/28247301/28134858-47b310f6-6712-11e7-9ea7-56997504d82d.png).
Work on getting all 93 tests to pass.

[2017-07-12 18:59] AKM11 commented on #343
I think NoPCM is clear as of commit 80a7e0e

[2017-07-12 18:59] #343 closed

[2017-07-12 21:14] AKM11 commented on #340
Began de-embedding knowledge for s2_intro, s2_ksent and s2_1_par1 as of commit 282c33bf06bd4e1f18efe5d6163676aa30e36938.

[2017-07-13 14:08] AKM11 commented on #340
Finished de-embedding knowledge from the remaining suggested sections as of commit e93f0a0.

[2017-07-13 16:12] #275 closed

[2017-07-13 17:43] niazim3 commented on #309
Update:
Created `displayConstrntAsSet` function that produces an output as follows
![image](https://user-images.githubusercontent.com/28247301/28179750-ec95bea2-67d0-11e7-90c8-feca0ebfe62e.png); needs improvement (i.e. `or`s need to be `,`s and `t = ` shouldn't be repeated = for every possibility).
@szymczdm Is this going in the right direction?

[2017-07-13 17:55] hmadej commented on #309
or is a logical operation, what this is saying is (t = 3.0) or (t = 4.0), t = (3.0 or 4.0 or ...) doesn't make logical sense.

[2017-07-13 18:11] njericha commented on #337
http://www.scientificpsychic.com/etc/square-root.html

[2017-07-13 18:12] niazim3 commented on #309
Yes, this function should be improved so that **nominal thickness t in {2.5, 2.7, 3.0, 4.0, 5.0, 6.0, 8.0, 10.0, 12.0, 16.0, 19.0, 22.0}** can be output; however, I don't think there is currently a way to extract the #s from the `t := (V "#")...` constraints.

[2017-07-13 18:59] njericha commented on #348
@smiths After more reading and trying to fix the errors, it seams like the issue with the factor of safety equation above (equation 30) starts with equation 26. sigma has units pascal but so does the normal stiffness K_bn,i. I think this sigma is used to represent a Force over a length rather than an area since this length gets multiplied in equation 31. This correction with sigma would also make

[2017-07-13 19:43] smiths commented on #348
@njericha , my thinking is to change the units of the stiffness term, not those of the stress or cohesion.  Stress and cohesion are standard physical concepts, where the stiffness is a derived idea that takes advantage of something like Hooke's law, but doesn't actually follow it.  If you derive the units of K in Equation 26 from the units of sigma and delta v_i, the units are Pa/m.  These units a

[2017-07-13 19:49] njericha commented on #348
Unfortunately it would not solve equation 31 since it multiplies by an additional length. It feels like K should be (Pa) since DD13 multiplies K by L and delta

[2017-07-13 19:53] #309 closed

[2017-07-13 20:02] niazim3 commented on #309
Changes can be viewed in commits 6e95430...72670d7.

[2017-07-13 20:20] #344 closed

[2017-07-13 20:22] njericha commented on #45
[code]
I actually don't think this problem is fixable without brackets. Since / and \* have the same infixr, this will be read from left to right by default as
[code]

[2017-07-13 20:22] #45 closed

[2017-07-14 14:19] njericha commented on #346
Attempted to fix by adding the appropriate lines to TeX/Printing.hs but caused other tables to not render properly. We may need some smarter condition to know when we need these extra lines and when we don't.

[2017-07-14 14:29] AKM11 commented on #340
Think I finished de-embedding knowledge from SWHS as of commit 4dd1a1a.  If anyone wants to look it over, feel free.

[2017-07-14 14:29] #340 closed

[2017-07-14 15:07] #332 closed

[2017-07-14 15:47] #270 closed

[2017-07-14 18:01] njericha commented on #265
#91 may actually help with this

[2017-07-14 18:47] njericha commented on #91
https://github.com/JacquesCarette/literate-scientific-software/wiki/WIP---How-to-define-Unitals

[2017-07-15 11:14] JacquesCarette commented on #265
@njericha how do you see #91 helping?  I see them as mostly orthogonal (the issue is that of indexing of symbols).

[2017-07-17 00:23] smiths commented on #348
Equation 31 is fine with K having units of Pa/m.  The top and bottom of the equation are multiplied by l, so the change in units is the same for the top and bottom of the equation.  Multiplying Si and tau_i by l returns something with units of N/m.  This is the force per unit width into the "page."  This is also how you would interpret DD13.  The units for K are Pa/m, multiplying this by m^2 retur

[2017-07-17 14:51] smiths opened #350 "DD:stressDistFac"
I noticed that the generated description for DD:stressDistFac no longer includes text about how J is interpolated from the given data (as done in the original case study).  I like how all of the entries from the equation are defined, but there is more to the description than this.  I'm assuming this a temporary situation as the Drasil language grows and changes?  I noticed that the same thing is d

[2017-07-17 14:58] #348 closed

[2017-07-17 15:00] njericha commented on #348
I think this closes the issue. Took a while to go through and trace all the symbols. The hard part was remembering the implied "length of 1 m into the page" in equations.

[2017-07-17 16:10] niazim3 commented on #350
Yes, due to de-embedding and automation, it does seem that information is being lost. Potential (temporary?) actions:

- Update the constructor currently creating DataDefs (i.e. `mkDataDef`) to take an extra argument that would just be a `Sentence` (for now, even though it is "dead knowledge"?) that'd be tacked on to the end of the automatically generated Descriptions.
- Create a new constructor f

[2017-07-17 16:17] niazim3 commented on #350
Or would it be better to attach the additional information to the actual concept chunk? For example, for `strDisFac`
![image](https://user-images.githubusercontent.com/28247301/28277829-29beb2e6-6ae9-11e7-8cc1-54ea07c4e390.png), where `stressDistFac` is
![image](https://user-images.githubusercontent.com/28247301/28277953-6de01898-6ae9-11e7-8a81-3843b014ac90.png), would be alterred so that there is

[2017-07-17 17:45] njericha commented on #265
in my comment https://github.com/JacquesCarette/literate-scientific-software/wiki/WIP---How-to-define-Unitals on issue #91, we can think of an index as a modifier on the Unital. If this is implemented as described, we can call a function inline to index and the subscript will take care of itself.

[2017-07-17 18:01] njericha commented on #124
duplicate of #91

[2017-07-17 18:01] #124 closed

[2017-07-17 20:10] njericha commented on #222
Doesn't `makeTMatrix` defined in `Data.Drasil.Utils` close this issue?

[2017-07-17 20:18] njericha opened #351 "Generating code for SSP"
[code]
I got this error while running `make ssp` and I followed the format of glassBR.

[2017-07-17 20:21] niazim3 commented on #347
@palmerst Currently, the parameterized program is as follows in my working directory:
![image](https://user-images.githubusercontent.com/28247301/28287691-9de424b4-6b0a-11e7-9168-372621745344.png), which is called by the original file **calcTests.py** as follows:
![image](https://user-images.githubusercontent.com/28247301/28287771-e3a1275e-6b0a-11e7-8587-6e01c414bda0.png), where the input file is

[2017-07-17 20:28] palmerst commented on #347
In calcTests.py line 38, you are have double parenthesized the TestCalculations constructor arguments -- so you are passing a length 10 tuple instead of 10 arguments.  Remove the inner parentheses.

[2017-07-17 20:40] niazim3 commented on #347
@palmerst I did that, and I still get the same error...

[2017-07-17 20:43] palmerst commented on #347
Commit your changes to the tests and I'll take a look.

[2017-07-17 20:59] AKM11 commented on #317
I think everything that needed to be added has been added. Any other missing content is addressed in issue #312. Closing this issue for now.

[2017-07-17 20:59] #317 closed

[2017-07-17 21:06] AKM11 commented on #312
At this point Likely Changes and most of the Assumptions have been imported. Still need to work on Requirements (implement in SWHS), Instance Models (issue #276), Data Definitions, etc.

[2017-07-18 11:49] palmerst commented on #347
I ended up making some big changes to the testing in d4c013ab038ec747986f012f765c4252d5ca37b2.  The unittest framework does not like it when you redefine the constructor for unit tests.  That is what was causing problems.  Take a look at testCalculations.py -- it's much simpler now.

I moved all of the old tests to the OldTests folder in Python_Simplified

[2017-07-18 11:54] palmerst commented on #351
This is due to how I handled `Case` in `Expr` in the generator.  I will fix this shortly.

[2017-07-18 14:38] #189 closed

[2017-07-18 15:20] niazim3 commented on #347
Update: commits 78fefda...1e9d557 contribute to this issue, since data has been pulled out from most duplicate files (except for files from **testReadTable** and **testInterp**).

[2017-07-18 15:30] njericha commented on #189
see cc277e47a6624e835d95f99ede20b42e73120361. This does assume to make a word possessive you always add `'s`. There are some exceptions such as words that already end in an `s`.

[2017-07-18 15:33] niazim3 opened #352 "Allow Indexing for Exprs"
As mentioned in the comments of commit 080e4d7 (related to #328), we run into errors when attempting to index a list (since **[]** expects an `Int` but the variables that need to be passed in are `Expr`s).

[2017-07-18 15:49] njericha commented on #352
duplicate of #265 ?

[2017-07-18 16:12] smiths commented on #350
Thank you for the clarification @niazim3 .  I do not know the best way to keep knowledge as we go forward, but I think it is important to keep it, even if it is an "ugly" solution.  Once the information is lost, it is hard to get it back.  This is why some of the original "manual" case study SRSs do not match.  A previous author deleted a section, and then the next author just started from what th

[2017-07-18 19:34] njericha commented on #166
We could do something like,
[code]

[2017-07-18 19:50] niazim3 commented on #346
![image](https://user-images.githubusercontent.com/28247301/28336663-d8b70a18-6bd0-11e7-93dc-24e9b72d7974.png)
This is a solution found online, but it's not ideal since it is quite manual... just posting this here so we have a history of what has been attempted...

[2017-07-18 20:32] niazim3 commented on #350
Below is a rough overview of what is missing from the data definitions in GlassBR (just to see if a pattern can be apparent enough to come up with a solution). It seems that mostly, references to other parts of the document, some definitions, and constraints on some concepts are missing.
**DD1** :
- a > b
- h is the true thickness, which is based on the nominal thickness as shown in (ref `DD2`)
-

[2017-07-19 11:49] smiths commented on #350
Great work @niazim3.  Your summary of "lost" information was the exact right thing to do.  Another item of lost information is the "Source" field in the different definitions.  (The source is important information for traceability and it is difficult to recover after the fact.)  A pattern that emerges for me is that the information that is left out is connecting to those features of Drasil that ha

[2017-07-19 13:32] palmerst commented on #351
Fixed in  18ea21e

[2017-07-19 13:33] #351 closed

[2017-07-19 14:32] njericha opened #353 "SSP Constants are not mentioned as inputs"
In data definition 14 of the case study, there are constants that are used in a calculation which are inputs to this formula. "&kappa;" and "A" are not in the table of symbols or in the input data tables. From a code generation perspective, should these be predetermined constants or added to the list of inputs?

![2017-07-19](https://user-images.githubusercontent.com/26230851/28372111-d37004c8-6c6

[2017-07-19 14:43] smiths commented on #353
Hello @njericha .  Please add the symbols to the list of inputs.  They are mentioned in the StolleAndGuo2008 paper.  The values might be changed, so we don't want them to be constant.

[2017-07-19 14:53] smiths commented on #353
For now, you'll just have to call them constants, since I am not aware of any name for them.  Additional information, like units and typical values are in StolleAndGuo2008.  The information in StolleAndGuo seems to be incomplete.  Do your best on this.  If you are not sure, you can put a question mark in the description.

I do not want us to put too much effort into the stiffness part of the case

[2017-07-19 15:02] JacquesCarette commented on #350
Yes, `mkDataDefs` needs to be modified to allow such extra information to be un-lost.

We will need to figure out what this 'lost' information really means, so that it is not 'dead'.  But first we should make sure it is at least present in the document.

[2017-07-19 17:02] #353 closed

[2017-07-19 17:47] niazim3 opened #354 "Fixing how "{}" are generated in TeX?"
![image](https://user-images.githubusercontent.com/28247301/28381164-d4a73620-6c87-11e7-9b76-3f48493a7586.png)
The above is a screenshot of the currently generated TeX code and resulting output.
The description for **t** should include the curly braces (as it is present in the original CaseStudies version:
![image](https://user-images.githubusercontent.com/28247301/28381322-72ac391a-6c88-11e7-9a49

[2017-07-19 17:59] smiths commented on #354
@niazim3 , to get { to appear in LaTeX  you need a slash before it, like \{.  The same applies for the closing curly bracket \}.

[2017-07-19 19:05] #354 closed

[2017-07-19 19:07] niazim3 commented on #354
Closed with the help of @njericha, issue was with the way `sCurlyBr` was defined, since it was originally using `S "{" :+: ...` when it should have been using `Sp CurlyBrOpen :+: ...`

[2017-07-19 19:39] niazim3 opened #355 "Reorganizing Sentence Combinators"
Currently, the `sCurlyBr` sentence combinator is defined in Data\Drasil\Utils.hs and not in the Spec.hs file like the rest of the sentence combinators. This was done in order to remove a cyclic import that is caused by its presence in the Spec.hs file:
![image](https://user-images.githubusercontent.com/28247301/28386001-2f03ee82-6c98-11e7-8729-6c41030b55d2.png)

Attempted to move sentence combinat

[2017-07-19 20:34] #355 closed

[2017-07-19 21:12] niazim3 opened #356 "Implementing Discrete Sets"
In commit 5876e62, `DiscreteI`, `DiscreteD`, and `DiscreteS` were created. Upon implementation, however, the following error was showing up:
![image](https://user-images.githubusercontent.com/28247301/28387995-30a356e0-6c9f-11e7-8f01-74e89ed9c5d9.png). In commit 90ed590, a `Discrete` space was created similar to the `Vect` space, however, the same error showed up with this implementation as well..

[2017-07-20 13:11] njericha commented on #356
We could change the definition of type `Set` to not be the same as `Space`. The reason this happened is because the code generation side doesn't have these types of sets implemented. We could do,
[code]
and trust that someone won't try and put a full equation in a set.

[2017-07-20 14:06] palmerst commented on #352
Indexing added to Expr in  f682d82

[2017-07-20 14:06] #352 closed

[2017-07-20 14:27] njericha commented on #265
Now that #352 is closed, part 1 of

is complete. Right now, they are being rendered as "A[i]" so I will change this to "A<sub>i</sub>". The problem with doing this is that symbols with a subscript won't be able to be indexed. (since you would get double subscripts). I cannot "overwrite" the subscript because I could remove other needed information. (example is K<sub>st,i</sub> which SSP uses as th

[2017-07-20 15:10] niazim3 commented on #328
Update on this issue's status:
Most recent commit shows that the implementation of chunks for interpolation are almost complete... There are a total of 4 `FIXME` comments because I was hoping for some clarification on the implementation of the functions `indInSeq`, `interpZ`, and `matrixCol`. @palmerst

[2017-07-20 16:31] njericha commented on #265
I think 4072e8d closes this issue. I found a solution that fixes most of the problems mentioned in my last comment. The only complaint would be that the table of symbols would not include a subscript "i" in the symbol. I think this is acceptable as the definition along with the index convention conveys the intended meaning.

[2017-07-20 16:31] #265 closed

[2017-07-20 16:57] smiths opened #357 "Change Source for Risk of Failure"
The Source for DD1 (Risk of Failure (B)) is listed as [4], the source should actually be Beason et al (1998).  This document has the title "Basis for ASTME E 1300 Annealed Glass Thickness Selection Charts."  It is in our repo under:

1BasisForASTME1300AnnealedGlassThicknessSelectionCharts.pdf

I don't think citations are currently working, so maybe for now you can just put a comment in the code th

[2017-07-20 18:03] smiths opened #358 "Remove unit conversions from equations?"
After recently looking at Beason et al (1998), I was surprised to see that the equations from the ASTM do not include explicit unit conversions.  I had thought the conversions (/1000 etc) were from the original source material, but now it appears that the student that originally wrote the SRS documentation put the conversions in herself.

@JacquesCarette  and @niazim3 , would you be okay with chan

[2017-07-20 18:56] njericha commented on #306
For now, you can do
[code]
as the upper constraint for `htCap_S_P`

[2017-07-20 19:09] niazim3 commented on #357
Commit f6ad3f6.
Added comment in **DataDefs.hs** that outlined source number as well as a reference to this issue. Added `Source : [7]` to the stable version of the TeX file. Also added the above source as a reference under **References.hs**, however, it may need some formatting and will eventually be added to the list of references to be output.

[2017-07-20 19:09] #357 closed

[2017-07-20 19:12] njericha opened #359 "SSP Data Defs and Table of Symbols cannot index"
I'm creating a new issue that stemmed from #265 being mostly fixed for clarity on what is still an issue.

The way `Index` works is that it is built into `Expr`. This works well for most cases except for two.
Data Defs used an index-ed variable as the output such as the example given below. But the `QDefinition` takes a `Quantity s, SymbolForm s' and `Expr` to equate them. This means I cannot inde

[2017-07-20 19:16] AKM11 opened #360 "Assessment of acroTest Implementation"
I have been working on a new version of referencing that would create a better hyperlink for html. However, I wanted some input/suggestions on what I was implementing and how I was implementing it.  In particular, I am concerned by two functions:

I) acroNumGen: This function takes an ordered list of contents and applies the correct enumerated abbreviation (e.g. LC1, LC2, LC3) to each item.  At th

[2017-07-20 19:48] smiths commented on #357
Thanks!

[2017-07-21 13:55] AKM11 commented on #306
@njericha This works in creating the proper output for the constraint values (see commit8f262e146a62dd038e92f6da5b1f6e4457a94731). However, we still have a problem with variables such as:
![image](https://user-images.githubusercontent.com/28261578/28466285-f218fb1c-6df9-11e7-88f4-1a764aff2d7a.png)
where the sub/sup need to be used in the definition of the value's symbol.  That being said, using `I

[2017-07-21 13:57] njericha commented on #306
I've created #359 for the issue of not being able to index in table of symbols. If that is the only remaining issue than this can be closed @AKM11.

[2017-07-21 13:58] njericha commented on #359
Making a note that @AKM11 has a similar issue in NoPCM.

[2017-07-21 14:09] niazim3 commented on #358
I personally don't have a preference, however, I do agree that the equations would look cleaner if the conversions were removed. That being said, the **h** value (i.e. the actual thickness)
![image](https://user-images.githubusercontent.com/28247301/28466553-d4efefae-6dfa-11e7-845f-660a3920bce4.png) would also have to be input as m instead of mm, correct? Changing **h**'s units would result in the

[2017-07-21 14:21] AKM11 opened #361 "Referencing Consistency"
Right now the HTML and TeX files reference items in two distinct ways.
HTML takes the entire string from show and integrates it into the reference, i.e.:
![image](https://user-images.githubusercontent.com/28261578/28467214-1e64f506-6dfd-11e7-8c08-559b3d7e5b62.png)
TeX, on the other hand, has predefined methods for dealing with certain references, i.e.:
![image](https://user-images.githubuserconten

[2017-07-21 14:32] smiths commented on #358
Good point @niazim3.  However, since t is just a label, not an actual value, we can use mm for t without any inconsistency.  The conversion of t to h would not be seen by the users.  As long as the SRS document readers remember that t is the "name" or "designation" of the glass thickness, I do not think confusion would be a problem.

[2017-07-21 14:33] AKM11 commented on #306
I am not so sure that this issue should be closed yet. The issue still stands that we cannot make double sub/super script commands for TeX and, as @danscime pointed out, we are losing information if terms such as `P` and `melt` are applies to the same command.  I guess a work-around for rendering is available but it would be preferred if these subscripts could be applied separately.

[2017-07-21 14:38] njericha commented on #306
#91 should help with applying the P and melt separately. As for double sub/sup, I figured out that it is possible to do double subscript with `{E_P}_{melt}`

[2017-07-21 19:21] niazim3 commented on #350
In commit 723c369, a `mkDataDef'` constructor was added.
Unfortunately, since the DataDefinitions' descriptions are automatically generated (using `descLines` and `buildDDDescription` from Import.hs and `toVC` from Extract.hs), I don't believe there is currently a way to add the extra information (maybe @szymczdm could clarify please?); for now, I'll add the missing information as sentences to the

[2017-07-22 13:16] smiths opened #362 "LICS Slides"
I like your initial work on the LICS slides.  Rather than google slides, I would have suggested using LaTeX and beamer, and putting the source file under version control in our repo.  You could start with one of the existing presentations in the repo and modify it for your needs.  It is your presentation, so you should do what you are most comfortable with, but I'm confident that if you gave beame

[2017-07-22 14:58] JacquesCarette commented on #345
I do think that physical system description and goal statements should have their own type.

[2017-07-22 15:10] JacquesCarette commented on #356
Hmm, the code that I saw checked-in seemed quite reasonable.  So something else must be going on that I am not quite getting.  The `Set` definition above is indeed a little too open for abuse.

I'll be around on Monday (and likely Tuesday) and can look at it then.

[2017-07-22 15:29] JacquesCarette commented on #359
Can't we use some kind of pair as `Index`, to index by more than one thing "at once"?  [This is different than double-indexing].

[2017-07-22 15:31] JacquesCarette commented on #361
What the HTML renderer does there is a hack, and it makes the resulting text look awful.  I despise "this" links.  The right way to do it is to have the reference itself be the link.

We need to think harder about referencing.  It is an important problem, and deserves a solidly designed solution.

[2017-07-22 15:34] JacquesCarette commented on #358
I agree.

And for defining `h`, we could have `h` defined as that above piecewise divided by 1000 (to adjust the units).  That would keep both the label and value readable.

[2017-07-23 01:58] hmadej commented on #362
converted to tex and uploaded to LICS folder, 3318007

[2017-07-24 03:43] smiths commented on #362
Thanks @hmadej.  I moved the LICS folder to the Presentations folder, so that it is with all of the other presentations.  I also changed the reference to meme.png so that the slides would compile.

[2017-07-24 03:48] smiths commented on #358
Great idea Jacques.  @niazim3, can you please make this change in units to h, and use @JacquesCarette's idea of separating out the divide by 1000.  To keep the audit trail straight, could you please create a new issue for this task?

[2017-07-24 12:37] njericha commented on #359
@JacquesCarette I'm not sure what you mean by "some kind of pair". Do you mean, "Can we index the whole equation, rather than just the individual quantities?"

[2017-07-24 13:29] AKM11 commented on #361
Okay, have a place to start on HTML then. @JacquesCarette What is your opinion on the TeX method of rendering? Don't all the exclusive rendering methods make `ref` and `hyperref` redundant or is that preferred?

[2017-07-24 13:34] AKM11 commented on #345
@JacquesCarette I agree that physical system description probably does not require its own type but what is the plan, if any, for referencing goal statements if goal statements does not?

[2017-07-24 14:14] niazim3 opened #363 "Implement Suggestions from Issue #358 (Unit Conversions for GlassBR)"
This issue stems from #358.

- change units for **h**, **a**, **b**, and **E**
- update DD2 to separate out the divide by 1000

[2017-07-24 14:15] niazim3 commented on #358
Implementation of discussed solution will be done in issue #363.

[2017-07-24 14:15] #358 closed

[2017-07-24 14:54] niazim3 commented on #363
Completed as of commit 3af3bbf.
Outputs are now as follows:
DD9->
![image](https://user-images.githubusercontent.com/28247301/28529206-f77ce436-705d-11e7-9f35-4c42d8bd058f.png)
DD1->
![image](https://user-images.githubusercontent.com/28247301/28529259-112e72aa-705e-11e7-9ebf-9339bb1c29bf.png)
Changes made to DD2 cause the output to have double `=`s
![image](https://user-images.githubusercontent.co

[2017-07-24 15:09] smiths commented on #363
Looks good @niazim3 .  However, DD2 should not be h/1000, but 1000*h.  I'm also not sure how to remove the leading h = for DD2.  I'm not sure if this is what @JacquesCarette, had in mind.  I was thinking he meant to divide the value of h by 1000 after it was assigned, but I'm not sure how we get across the idea of sequence in our Drasil tool.  A fallback position is to simply divide each number by

[2017-07-24 15:34] niazim3 commented on #363
Output is now as follows:
![image](https://user-images.githubusercontent.com/28247301/28531187-0b9bbcf2-7064-11e7-8f57-58c7173dbe0e.png)

[2017-07-24 15:38] smiths commented on #363
What about just writing 0.00216, 0.00259 etc?  I think that might look nicer than all of the divide by 1000s explicitly in the equation.

[2017-07-24 15:41] niazim3 commented on #363
That's true, the operation is repetitive...

[2017-07-24 15:49] niazim3 commented on #363
Note to self:
Dividing the actual values by 1000 lead to the following:
![image](https://user-images.githubusercontent.com/28247301/28531850-04fe4b1a-7066-11e7-82a4-a159e09635d6.png).
Need to use a function that rounds to a certain number of decimal places...

[2017-07-24 17:23] JacquesCarette commented on #359
I mean something that would mean the same as `a[i,j]`, i.e. `Index(a, Pair(i,j))` as an `Expr`.  I don't know if we have the `Pair` constructor (or something like it) in `Expr` yet.

[2017-07-24 17:32] njericha commented on #359
We do not have something like that in `Expr` yet. That is not part this issue though. Right now, I'm treating "_U<sub>t,i</sub>_" as "_(U<sub>t</sub>)<sub>i</sub>_" where _U<sub>t</sub>_ is the symbol for the quantity and I am indexing it at _i_. The issue is that I cannot use `Index` on the left hand side of a `QDefinition` because you cannot index a symbol, only an `Expr`.

[2017-07-24 18:46] JacquesCarette commented on #361
The TeX method is ok -- and is 'the' way to do it in TeX.  We need to build into the HTML that the text of the reference and the link 'overlap', so that what gets linked is the actual reference text as opposed to a proxy.

[2017-07-24 18:47] JacquesCarette commented on #345
We might need to create a type for goal statements if that is how we do referencing in all other cases.

[2017-07-24 19:00] JacquesCarette commented on #363
What I meant was `h = 1/1000 * Case(...) `.

[2017-07-24 19:04] JacquesCarette commented on #359
I see, that is a rather different issue indeed.

`QDefinition` really is for defining single values (depending on an arbitrary number of other things, which do not need to be single values).  Whether `QDefinition` can also be used to define vectors, arrays, tables, etc, is quite unclear to me.  That will need some design.

[2017-07-24 19:06] #363 closed

[2017-07-24 19:06] niazim3 commented on #363
![image](https://user-images.githubusercontent.com/28247301/28539959-8879cde6-7081-11e7-952c-37a93f7d2299.png)
Issue closes as of commit .

[2017-07-24 19:14] JacquesCarette commented on #363
Excellent.

[2017-07-24 19:20] AKM11 commented on #361
I was experiments with some alternatives in one of my more recent commits (e6843e565dcb3469cc20deef2a1156ceed6b9eb5) is this what you had in mind for HTML?

[2017-07-24 19:22] JacquesCarette commented on #361
I don't know!  I can't quite predict what the output will actually be from the code changes.

[2017-07-24 19:38] njericha opened #364 "Friction and Cohesion in SSP"
While indexing all of SSP, I found that the case study applies "index i" _sometimes_ to friction (phi') and cohesion (c'). I am wondering if what the case study says is correct, or if phi and c should always be indexed at slice i or not. There is an example for when;
- phi is indexed and c isn't (see GD3 and IM5)
- c is indexed and phi isn't (see DD10 and IM3)
- both are indexed (see equation 28)

[2017-07-24 20:00] AKM11 commented on #361
Here is a picture of a reference in the output for NoPCM at the moment (note the difference between the Definition reference and the assumption).

![image](https://user-images.githubusercontent.com/28261578/28541756-1aa7a462-7088-11e7-85d7-80ad07f30af0.png)

However, I feel I should mention that making this rendition of the output has other problems associated with it that relate more to another i

[2017-07-24 20:08] JacquesCarette commented on #361
Right 'this Definition' is what I meant by proxy.

If we could have "Integration Definition (###) over" where either '###' or 'Definition (###)' is a link would be good.

[2017-07-25 14:04] niazim3 commented on #130
@szymczdm
I believe this issue can be closed? The description modification in DataDefs is related to issue #104. The current Data Definitions' description are as follows:
![image](https://user-images.githubusercontent.com/28247301/28575874-3dcf8c5a-7120-11e7-85e5-49c9ba886ea5.png)
@smiths Is the above acceptable output for the data definitions? The additional information that is missing still need

[2017-07-25 14:48] palmerst commented on #328
I'm currently working on generating code from this.  Once I'm finished I will be able to get a better idea of what's missing/needs fixing still.

[2017-07-25 14:56] palmerst opened #365 "Implement a single Environment context for all table lookup"
Currently the `C` constructor in `Expr` takes a chunk constrained to be `SymbolForm`, but we need to also ensure that it is a `Quantity` (and possibly other classes down the road).  Since `Quantity.hs` cannot be imported due to cyclic imports, it should instead just take a `Chunk` and use maps to get the `SymbolForm`, `Quantity`, etc. from its `id`.  Making this change will require that we have a

[2017-07-26 14:49] #24 closed

[2017-07-26 16:39] JacquesCarette commented on #365
What I need is a better sense of the urgency of this.  Could you take a look at this (and the other things assigned to me) and set some milestones.

[2017-07-26 17:36] njericha commented on #220
Duplicate of #29

[2017-07-26 17:36] #220 closed

[2017-07-26 17:47] njericha commented on #130
duplicate #350

[2017-07-26 17:51] njericha commented on #104
Maybe #365 will be the issue to close this

[2017-07-26 18:21] niazim3 commented on #347
Update:
`testReadTable`, `testOutputFormat`, and `testMainFun`, are the only tests broken. Once these are fixed, this issue can be closed...

[2017-07-26 18:33] niazim3 commented on #233
Stems from issue #35.

[2017-07-26 18:56] #41 closed

[2017-07-26 19:27] #239 closed

[2017-07-26 19:31] JacquesCarette commented on #104
@njericha Yes.

[2017-07-26 20:26] palmerst commented on #365
It's important, but not exactly urgent.  Python generation can do just fine without this since it's dynamically typed.  We won't be able to compile other generated languages until this is done due to type errors.

I added it to the 0.3.0 milestone (Aug 31).

[2017-07-27 13:36] njericha commented on #87
[code]
This is generated for SSP so I think this has been done now.

[2017-07-27 13:36] #87 closed

[2017-07-27 13:42] njericha commented on #108
This is done using functions from `Data\Drasil\SentenceStructures.hs` and as mentioned, #129 will add the missing verbs, verb modifiers (adverbs), and noun modifiers (adjectives).

[2017-07-27 13:42] #108 closed

[2017-07-27 18:05] smiths commented on #130
@niazim3 , I like the data definition (with the missing information from #350 added back in), but if I am being picky, I would like to see two things: 1) the units field filled in with something, even if it is dimensionless, or not applicable.  I also would prefer each letter of an expanded acronym to be capitalized, so that it would read LDF is the Load Duration Factor.

[2017-07-28 12:11] #362 closed

[2017-07-28 13:45] niazim3 commented on #130
Thank you for the feecback @smiths.
Since the following need to be updated for the DataDefinitions, and are still related to this issue, I think it should be reopened.
- [ ] fill units field with something, even if it is dimensionless, or not applicable
- [ ] each letter of an expanded acronym should be capitalized

[2017-07-28 15:04] niazim3 commented on #347
@palmerst The commit mentioned above made `testOutputFormat` produce the desired output, however, the calculations based off of the aspect ratio value were reducing in precision, which I don't believe is something that we'd like to lose (which is why I reverted how it was calculated in derivedValues.py). Do you have any suggestions on how this problem can be approached?

[2017-07-28 15:16] palmerst commented on #347
Remove the rounding in `derivedValues.py` and change the output txt files that you are comparing against to match the precision printed by the program.

[2017-07-28 15:35] njericha commented on #245
I've done some work on this. What is left to do is,
- Add other types of sources (articles, websites, database etc.)
- Add more fields (ISBN, www link etc.)
- Add alternate renderings (APA, MLA etc.)
- **Integrate with the current rendering of Drasil**

But the general framework is done now.

[2017-07-28 16:50] njericha commented on #130
@smiths should _all_ term names be capitalized in the description? (should we capitalize "load duration factor", "duration of load", and "surface flaw parameter")

[2017-07-28 16:57] njericha commented on #48
#245

[2017-07-28 17:36] niazim3 commented on #130
A possible rule to follow when deciding whether a term should be capitalized or not:
capitalize chunks whose symbols are the same concept's acronym.

In order to do this:
--> need to get the chunks to build off of the `CI`s of the same concept so some type of relationship between 2 chunk types is present?
or
--> create a new chunk type that holds both a symbol and abbreviation that is used to buil

[2017-07-28 18:30] smiths commented on #130
In answer to the question from @njericha , I am talking about acronyms only.  For an acronym each letter of its expansion should be capitalized.  This is standard style with acronyms.  This can be seen in style guides, such as the one at:

https://www.e-education.psu.edu/styleforstudents/c2_p9.html

"Always write out the first in-text reference to an acronym, followed by the acronym itself written

[2017-07-28 19:16] njericha commented on #346
Note the above commit fixes all but equation 14 from the original SSP case study. Equations 14 is a large fraction and does not get automatically split up.

[2017-07-28 19:52] danscime commented on #306
b250117fc82ba03f03561683dc4c34881fdbec73 and 81fa273485ff0c657d7bd70e72a728b7d186d817

[2017-07-28 19:52] #306 closed

[2017-07-28 21:28] AKM11 commented on #345
Note to self: Keep trying to get Definition type to work.

[2017-07-31 14:06] niazim3 commented on #257
![image](https://user-images.githubusercontent.com/28247301/28780699-b88db642-75d5-11e7-8e5b-d2cf99577754.png)

The current output is displayed in the left side of the above screenshot, and the right side displays the current desired output in the CaseStudies version of GlassBR. With the exception of the highlighted output, the two documents are essentially the same.

- Currently, to create the se

[2017-07-31 14:27] smiths commented on #257
I am fine with the generated text.  There is no need for capacity > demand in equation form.  Saying it in words is fine.

I agree that response type is not part of the glass geometry.  Isn't response type its own chunk?  I haven't looked at the Drasil code, but Use Case 1 (the inputs) looks like the definitions of the input variables.  I would think that response type is a separate input variable

[2017-07-31 15:06] niazim3 commented on #257
Response type is not currently it's own chunk, as the only place it is defined is in the definition of the `glassGeo` `ConceptChunk` as follows:
[code]

[2017-07-31 15:06] niazim3 commented on #257
I suppose what can be done is:

- create a chunk for glass plane
- create a chunk for response type
- (chunk for glass type already exists)
- leave the definition of `glassGeo` as it is
- call a list of chunks in the Use Cases section instead of using the definition for `glassGeo`

[2017-07-31 15:16] smiths commented on #257
Is response type even an input?  I didn't realize that the only place it appears in the document is in this Use Case.  I just looked at the inputs for GlassBR and I do not see a response type as an input.  I wonder if response type was intended to be a shorthand for the other inputs (weight of charge, tnt equivalent factor etc.)

[2017-07-31 15:26] niazim3 commented on #257
I don't believe response type is an input. The only inputs that GlassBR takes are Pbtol, length of glass, width of glass, nominal thickness, glass type, weight charge, tnt equivalent factor, and stand off distance.
As you stated in issue #252, response type is mentioned in assumptions (A7: The response type considered in GlassBR is flexural.) After searching up what "flexural" means, I don't think

[2017-07-31 15:34] niazim3 opened #366 "Merge Use Cases to Single Use Case for GlassBR"
This issue stems from issue #257.
As stated by @smiths, "we should only have one use case. What is currently Use Case 1 is the inputs and what is Use Case 2 is the outputs. The single use case should be something like: 'read in the inputs and output the results.'"

[2017-07-31 15:52] smiths commented on #257
Response type in the use case is a mistake.  We can either replace it with the description of all the inputs, or a generic phrase that means, "and other inputs."  Can you correct the input use case to list all of the inputs (not just the geometry)?  We can then have a look at how that appears.  If it is too verbose, we can think about a way to shorten it.

[2017-07-31 16:11] niazim3 commented on #257
Replacing the sentence with all the inputs produces the following:

![image](https://user-images.githubusercontent.com/28247301/28787114-4c0781e2-75e9-11e7-8f44-b0a6308cc77b.png)

Personally, I liked how the inputs were sort of grouped together. What if we were to tweak the original to output something similar to the following?
"The user provides the inputs to GlassBR for use within the analysis.

[2017-07-31 16:14] niazim3 commented on #366
This issue is a duplicate of #257, as #257 is keeping track of changes made to section 5.2.

[2017-07-31 16:14] #366 closed

[2017-07-31 19:47] niazim3 commented on #328
Closed in commits 24663e3...a6c5486.

[2017-07-31 19:47] #328 closed

[2017-07-31 19:51] AKM11 commented on #360
@smiths suggested that this was more of a question for you @szymczdm.
Note to Self: There was a suggestion that we use the name of the data type as opposed to its number in the document (e.g. A:heatCap vs A1)  which would be easier to implement and is apparently preferred.

[2017-07-31 20:49] AKM11 commented on #361
My main question was answered (thank you @JacquesCarette), I will format the HTML code so that it follows a trend similar to the TeX code.

[2017-07-31 20:49] #361 closed

[2017-07-31 20:51] AKM11 commented on #345
Note to self: Theory works as of commit f6b6573b81be2353021978794f37f2c52d6696b6, keep working on Data.

[2017-07-31 22:25] niazim3 opened #367 "Update Text Files to Reflect Changes made in Issue 363?"
Stemming from changes tracked in issue #363, I was wondering if the plaintext files read in for input when testing glassBR should have the values for plate length and plate width to be in terms of _m_ instead of _mm_ (for consistency with the SRS Document)? Or should the test cases remain as is?

[2017-07-31 22:26] niazim3 commented on #367
(Also, noting: if a change is required, **calculations.py** needs to be updated to not divide by 1000 (i.e. no unit conversions.)

[2017-08-01 14:39] smiths commented on #367
The user will prefer to work with mm.  Therefore, the value should be read in mm and then converted to m.  For this behavior to be correct, we need to change the requirements in the SRS.  For the inputs requirement R1, please say that a and b should be read in mm and then converted to m.  As trivial as it is, I think you should add a new requirement for this conversion of the units for a and b.

[2017-08-01 14:41] JacquesCarette opened #368 "Need more section description languages"
We have languages for sections 1 (Reference Material), 2 (Introduction) and now references.  We still need to do the same for

- [x] Stakeholders
- [x] General System Description
- [x] Scope of the Project
- [x] Specific System Description
- [x] Requirements
- [x] Likely Changes
- [x] Traceability Matrices and Graphs
- [x] Values of Auxiliary Constants
- [x] Appendix

Once this is done `Verbatim`

[2017-08-01 14:44] smiths commented on #360
@AKM11 , for the record, my preference is to have both numbers and short names as options.  In many contexts the short name is better, since it holds self-documenting information.  However, in some cases the relatively larger short names are still too big.  For instance, in a table, the numbers are easier to use.

If we are prioritizing, right now, I would pick shortnames as references over number

[2017-08-01 14:48] smiths commented on #360
For an example that uses short names (called labels in the document), please have a look at:

http://www.cas.mcmaster.ca/cas/0reports/CAS-17-01-SS.pdf

This requirements document (for a family of material models), uses both numbers and labels for the data definitions, assumptions, theoretical models etc.

[2017-08-01 15:25] #367 closed

[2017-08-01 15:34] niazim3 commented on #26
@smiths Perhaps a note can be added to the table referenced in requirement 1 in GlassBR (see #367)?

[2017-08-01 15:39] smiths commented on #26
@niazim3 , I think I see what you are getting at here.  It seems worth considering.  What would the content of the note be?  I think the SRS document should always use a and b in m.  The only place we should use mm is when reading in the values.  If this will cause confusion, we could introduce new variables just for the purpose of input, say a* and b*.

[2017-08-01 15:45] smiths commented on #257
@niazim3 , I agree that your second option (the one in quotes) is much better than the one where each input is defined in turn.  In fact, I was going to make the same suggestion after reading the generated version.  The purpose of the use case description is to give the reader a feel for the inputs of the software, but it can be more abstract than simply a list of inputs with their descriptions.

[2017-08-01 15:49] niazim3 commented on #26
I was thinking something along the lines of: "(*) This value is input in _mm_".
In this way, the units for **_a_** and **_b_** will always be listed in terms of _m_ in the SRS document, and the fact that the input will be in different units is also mentioned in an area where the reader would look (i.e. in this case, the table linked to requirement 1 listing all the required inputs by the user).

[2017-08-01 15:58] smiths commented on #26
Yes, like your note.  Please proceed.

[2017-08-01 16:22] niazim3 commented on #257
Thank you for the feedback @smiths. The changes have been made in commit 5e3bdd5.
Should section 5.1 also be altered?
The current output is:
![image](https://user-images.githubusercontent.com/28247301/28835574-cce73576-76b3-11e7-817b-f36d967c85e2.png)
Would removing the first 2 columns from the above table make sense?

[2017-08-01 16:45] njericha commented on #245
The main problem with TeX is that the title "References" shows up twice. The functions in TeX/Print.hs also need some cleaning up.

[2017-08-01 17:25] AKM11 commented on #360
@smiths Is there a preferred way of passing said label to the text generator (i.e. should we use the id, the abbreviation or create an entirely new field to create the label)

[2017-08-01 18:21] smiths commented on #360
@AKM11 , I do not know the preferred method of passing the label.  That question is better for @szymczdm .  Ideally, yes I would like to have the option of numbers and labels available at the same time.

[2017-08-01 18:29] JacquesCarette commented on #360
We should never allow the id to be used directly.  The abbreviation is a much better choice; however it might make sense to create a notion of a 'label' that could be attached to certain chunks.

[2017-08-01 18:46] smiths commented on #257
Thank you @niazim3.  Looks good.  Yes, please remove the first two columns from the Use Case Table.  There is only one use case.  It is okay to say that this use case has two actors.

[2017-08-01 18:55] AKM11 commented on #360
Alright then, I will see what I can do.  Sounds like we will have to add a "Label" component to each of the contents types (or their chunks) to fulfill all these requirements.

[2017-08-01 19:38] #257 closed

[2017-08-01 20:16] AKM11 commented on #345
Note to self: Data is now working, need to wait on the complete implementation of other types before Definition can be considered completely functional.

[2017-08-02 13:28] AKM11 commented on #330
Note: Pertaining to NoPCM

[2017-08-02 14:01] njericha commented on #245
Note: look into https://github.com/backtracking/bibtex2html or
nxg.me.uk/dist/bibhtml/ or www.spinellis.gr/sw/textproc/bib2xhtml/

[2017-08-02 15:01] niazim3 commented on #321
Related to #368

[2017-08-02 18:16] AKM11 opened #369 "General Definition Unit Construction?"
I feel like this was already addressed somewhere but I could not find it...
At the moment, General Definitions are created using `RelationConcept`s. However, `RelationConcept`s do not take units which may or may not be present in a General Definition.  Was there a design reason for this or is this simply a place holder?

[2017-08-02 19:12] njericha opened #370 "Input Bibliography Citations"
Citations for Bibliographies is in a working state as of ff2ab371700865704109ce39d9c455d93b6b89bb. Currently, you can cite books and journal articles. See 63fc2f78b0032f00cbd2f36c4bb97eb5afa37392 for an example on how to do this. If there are other things that need citing or issues that come up, comment here.

- [x] SSP
- [x] GamePhys
- [x] GlassBR
- [x] NoPCM
- [x] SWHS

[2017-08-02 20:25] danscime commented on #370
Not sure if you are aware, if the last author has a n initial for a middle name, there is a double period

[2017-08-02 20:29] danscime commented on #370
Also SHWS and SSP share a reference, should we be connecting the two? I feel like Drasil would have a library database of scientific documents and references

[2017-08-03 08:46] palmerst opened #371 "Start generating code for each example"
See glassbr Body.hs and Main.hs for an example of how to do this.  You'll need to add something like this to your Body.hs:

exampleChoices :: Choices
exampleChoices = Choices {
  lang = [Python, Cpp, CSharp, Java],
  impType = Program,
  logFile = "log.txt",
  logging = LogNone,
  comments = CommentNone,
  onSfwrConstraint = Warning,
  onPhysConstraint = Warning,
  inputStructure = AsClass
}

exam

[2017-08-03 09:03] palmerst opened #372 "Capture modules/functions not specified in the SRS"
Look through your implementations for code that doesn't "come from" the SRS and define them using the data types in https://github.com/JacquesCarette/literate-scientific-software/blob/master/code/Language/Drasil/CodeSpec.hs  (lines 152 - 181).  This will probably need to be extended as I only implemented what was needed for glassbr.

As an example see https://github.com/JacquesCarette/literate-sci

[2017-08-03 09:09] palmerst opened #373 "Define inputs using DataDesc"
For those of you with implementations that read inputs from a file, make a data description of the input file in your Drasil example.  See https://github.com/JacquesCarette/literate-scientific-software/blob/master/code/Example/Drasil/GlassBR/DataDescriptions.hs as an example  (ignore the read_table stuff).

You can add these modules to the generated code using the addModDefs functions -- see glass

[2017-08-03 12:42] hmadej commented on #372
is there currently a way to define a record or class?

[2017-08-03 12:58] JacquesCarette commented on #369
In theory, it is not needed as units should be inferable from the relation.  That, however, is not yet implemented.

Can you point to specific examples where this is a problem?

[2017-08-03 13:13] JacquesCarette commented on #370
@danscime absolutely.  In the same way we have 'global' databases for a lot of things, we should absolutely have a global one for reference material.

Note that, like Concept and Quantity, it can still be organized into sub-databases.

[2017-08-03 13:18] JacquesCarette commented on #371
Great.

Will option `Program` make sense for `GamePhys`?  That's the one that appears to need the `Library` option the most.  [Also, was `tiny` done?]

[2017-08-03 13:50] niazim3 opened #374 "Generate Labels for Section Referencing"
The `missingP` hack needs to be removed eventually. In order to do so, as mentioned in commit 0b7d75c by @JacquesCarette: "We need to generate 'labels' for sections, and then use those for reference. They
should be a new chunk type, and they'll be stored in a table, like the current symbol table.".

[2017-08-03 13:53] JacquesCarette commented on #374
I think that labels are already high on Dan's "to do" list.

[2017-08-03 15:05] danscime commented on #370
SWHS has a reference that says "Personal Notes"
Is that proper for a citation? (What should be done?

<img width="526" alt="screen shot 2017-08-03 at 11 04 21 am" src="https://user-images.githubusercontent.com/28261339/28928610-a426717c-783b-11e7-8558-d7acc7e1370c.png">

[2017-08-03 17:44] JacquesCarette commented on #370
It is a 'proper' citation in that it properly attributes the work to the person who created it, even though that work may not have gotten published.  So what needs done is that a Misc type of citation needs to be added to the backed (which is also what bibtex does).

[2017-08-03 19:25] danscime commented on #370
Need to add "Editor" Field

[2017-08-03 20:12] palmerst commented on #371
No, `Program` doesn't make sense for `GamePhys` -- or at least it won't in the future.  For now no main function is generated unless it is hacked in so `Program` and `Library` don't effect the generated code.

I forgot about tiny!  Added to list.

[2017-08-03 20:15] palmerst commented on #372
@hmadej  Not yet.  This will be added soon.  For simplicity, I will start with records.  (I assume records will be sufficient for your example since it is written in C?)

[2017-08-03 20:24] danscime commented on #371
SWHS as of 9277d75e72f84657eaced588bf34cfa54ed22a72

[2017-08-03 20:54] hmadej commented on #372
Ya, I think records should be enough.

[2017-08-03 21:29] AKM11 commented on #369
Here is a side by side comparison of the General Definition output (left) and what the output should look like (right).
![image](https://user-images.githubusercontent.com/28261578/28944532-daeb7538-7870-11e7-9418-8b669fb80d26.png)
Note that the table might need a SI Unit row (also note that the T placeholder for Number is also signifying that the table is currently being constructed as a Theoretic

[2017-08-03 21:39] AKM11 commented on #369
@niazim3 brought up an interesting point for Instance Model, which has a similar problem in terms of missing output. In NoPCM, the table employs two rows designated Input and Output while in GlassBr there is only one row labelled equation (essentially making it a RelationConcept and much easier to work with):
![image](https://user-images.githubusercontent.com/28261578/28944950-87d498f0-7872-11e7-8

[2017-08-04 03:48] smiths commented on #369
My preference is for the instance models to all have the same format, and I would like that format to contain explicit mention of the inputs and outputs.  The GlassBR example likely left this information out because it is implicit in the equation.  For instance, the input is NFL, GTF and LSF and the output is LR.  We shouldn't have implicit information in our knowledge base though, we should make

[2017-08-04 13:29] danscime commented on #373
For SWHS, there are no code files in this repo, but there are in Dr. Smith's swhs-master repo. Should I add these to our repo or is there a reason that they are separate?

[2017-08-04 13:30] niazim3 commented on #369
@smiths Would it be beneficial to have an **Inputs** field, an **Outputs** field, _and_ an **Equation** field? Just so the user can see the relationship between the inputs that are used to produce the output(s)? Or would this be considered redundant information?

[2017-08-04 13:58] niazim3 commented on #371
Comments from commit 3a05c0f may be helpful when actually generating code.

[2017-08-04 14:03] smiths commented on #373
Yes, there is a reason for having the code files separate.  The swhs repo is a public repo that I cite in some of my publications.  I want anyone that is interested to be able to access the files, without being confused by Drasil.  If the files are also in our Drasil (literate scientific software) repo, then we are maintaining them in two places, which is a maintenance nightmare waiting to  happen

[2017-08-04 14:06] danscime commented on #373
Okay that's fine. I don't think there's a need to copy anything over then. I was able to make the input file module for @palmerst

[2017-08-04 16:05] niazim3 opened #375 "Rendering References in TeX?"
@danscime and I are having trouble rendering the References section from the changes made in #370.
A warning that shows up when the .tex file is built is "Empty Bibliography" and the pdf that is produced looks like the following
![image](https://user-images.githubusercontent.com/28247301/28976686-dd7e0b16-790c-11e7-9745-b79b5728392f.png), even though the source code includes all the defined citati

[2017-08-04 16:22] hmadej commented on #371
I think 482149c and e9317c5 cover the remaining examples and this issue can be closed.

[2017-08-04 16:22] #371 closed

[2017-08-04 16:54] niazim3 commented on #375
With the help of @AKM11, got references to render in Tex. (Had to configure the settings in editor to add the use of the BibTeX tool).

[2017-08-04 16:58] danscime commented on #375
Not sure how to render mine yet on a Mac

[2017-08-04 20:06] njericha commented on #375
Run
[code]
in that order if you use TeXworks

[2017-08-04 20:13] #375 closed

[2017-08-04 22:13] szymczdm commented on #166
@njericha that won't quite work, as we'll then have two (trivially) different chunks with matching ids (big problem).

The exact implementation details are a little hazy for me right now, and would rely on the databases/maps approach we've done elsewhere, but essentially we'd need to be able to have a new chunk that has an id, a term, and a second 'synonym id'. Then we can look up everything excep

[2017-08-05 01:34] JacquesCarette commented on #371
This is a huge milestone!  Good work!

[2017-08-05 01:44] JacquesCarette commented on #369
We need to have "Functional Models" which have explicit **input** and **output** fields.  An instance model may have many different functional models, by choosing different sets of variables to be inputs/outputs.

For convenience, when we have a `QDefinition`, used as a trivial theory, we should automatically infer that all 'free' variables are inputs and the one variable being defined is the sole

[2017-08-05 04:22] smiths commented on #369
In answer to your question @niazim3 , I think we can remove the Equation field from the instance model.  The output field will hold the equation.  It could be an explicit equation, like the ones in GlassBR, or an implicit specification of the outputs, as in SWHS.

[2017-08-05 05:04] smiths commented on #364
Great question.  This is indeed an inconsistency.  Please add the subscript everywhere.  I had a look at the original code from Brandon (it is in the repo) and he reads in a list of c and phi values.  There is potentially a different value at every layer.

[2017-08-08 13:25] njericha commented on #370
0d45ba45c4433ed3349c45215701ec031f9b036d Added Misc and Online

[2017-08-08 14:05] njericha commented on #370
Added editor field^

[2017-08-08 14:05] niazim3 opened #376 "Create `GlassType` and `GlassThickness` data-types for GlassBR"
As stated by @JacquesCarette in comments of commit 6e95430: "...it would be best to create a GlassType data-type, with fields factors and abbr. Then glassTypeFactors and glassTypeAbbr would be a [ GlassType].
Same for the actual/nominal thickness pairs of lists. They should be in the document as a single list of pairs. For actual usage, the information can then be extracted."

[2017-08-08 16:21] niazim3 commented on #370
GlassBR has multiple sources that are standards issued by ASTM (American Society for Testing and Materials).
![image](https://user-images.githubusercontent.com/28247301/28974753-6e83eca0-7905-11e7-83c6-d843411a2dae.png)
According to _https://www.astm.org/Msgs/citing.htm_, the first field is supposed to be filled in with the name of the standard issuing body, which can be seen as the equivalent to

[2017-08-08 16:28] njericha commented on #370
I can add `_` to replace spaces when using `mononym` in TeX.

[2017-08-08 16:33] njericha commented on #370
This committee _is_ the `Author` so it makes sense to use that type constructor, the only thing that could be added is the idea of a `Group` of `People` which we could designate a name.

[2017-08-08 16:52] njericha commented on #370
657623e Adds underscores

[2017-08-08 17:36] #364 closed

[2017-08-08 18:05] njericha commented on #245
The main implementation of citations is done. #48 covers the in-text citation portion of this issue.

[2017-08-08 18:05] #245 closed

[2017-08-08 21:32] niazim3 commented on #370
GlassBR is mostly updated for this issue, however, the remaining needs to be fixed:

- [ ] "L. Beason..." source shouldn't come before "ASTM ..." in LaTeX (proper alphabetization?)
- [ ]  Proper categorization of "Standard E1300-09a" and "Book of standards 15.02" for referencing standards
- [ ] _Place_ from the Koothoor citation should be displayed in TeX?
- [ ] Name implementation for authors wit

[2017-08-10 14:03] niazim3 commented on #376
@JacquesCarette Would it be easier to keep the data related to `GlassType` and `GlassThickness` as a list of tuples instead of a new _data-type_ and then extract the necessary data from the tuples? Creating new data-types results in a "layer" to unwrap when using the information for display in sentences or in data definitions with Cases; if that is not an issue, I can continue creating the new dat

[2017-08-10 14:27] JacquesCarette commented on #376
You should definitely define type synonyms and use those, rather than hard-coding that the implementation is a list of tuples.   Yes, adding data-structures requires unwrapping - but that is not too onerous, given the extra type-safety you get in return.

I don't understand how this would affect code-generation?

[2017-08-10 14:54] #376 closed

[2017-08-10 14:57] niazim3 commented on #376
Apologies for the confusion, I was making things complicated by creating a new _chunk_ type for glass thickness and glass type and lens' to extract the factors, abbrs, etc..
This issue closes with the help of @hmadej

[2017-08-10 17:26] njericha commented on #370
I found this note in regards to _Place_

http://www.easybib.com/guides/citation-guides/mla-8/cite-book-mla-8/
APA however does use the place in a citation.

[2017-08-10 17:37] niazim3 commented on #368
As mentioned in the comments of commit 6da3116, I was wondering if subsections that are created by an overarching function should be their own types? For example, the current `stakeholderGeneral` function that is used to create the **Stakeholders** section automatically creates the subsections for "The Client" and "The Customer", which is why I'm hesitant in breaking up the `StkhldrProg` type... T

[2017-08-10 20:36] AKM11 opened #377 "Expr Type Definition Issue"
I have been trying to create a function that finds the units of an equation based on its values.  However, I have encountered an issue.  At the moment, the most basic component of an Expr is the `C a` component.  This type just takes a SymbolForm, which is fine for generating the equation as text, but an issue when I am trying to pull out a unit for evaluation and the code assumes that only a symb

[2017-08-10 21:51] AKM11 commented on #372
Short of the ODE, there does not seem to be much that SWHS and NoPCM can pull in terms of non-SRS related code.  Checking them off for now.

[2017-08-11 02:40] JacquesCarette opened #378 "Person information should not be duplicated in citations"
Whenever a `Person` exists in our database, and that person is an author of a paper, that person's information should be pulled from the database, not duplicated.

- [x] GlassBR
- [x] SSP
- [x] NoPCM
- [x] GamePhysics
- [x] SWHS

[2017-08-11 13:13] JacquesCarette commented on #376
Good - yes, the code you have just checked in is indeed the solution I was thinking of.  Sorry I was not clear enough!

[2017-08-11 13:23] JacquesCarette commented on #368
The current `stakholderGeneral` has a very fixed view of how the document will look, and thus forces things to appear in subsections, and also forces subsections for the client and customer.

From an SE perspective, this is great, as it forces people to think about these things.  From a flexibility perspective, this is awful, as it forces a certain look.

My feeling is that the Drasil framework sh

[2017-08-11 13:27] hmadej commented on #378
Should these people be put with Authors, or a separate "Person" file.

[2017-08-11 13:33] JacquesCarette commented on #377
Don't try to put `Quantity` in `Expr`, this is a move backwards.  The solution is to use a "symbol table" that tracks units.

[2017-08-11 13:34] AKM11 commented on #377
How will it track units if the type does not know it has units?

[2017-08-11 13:35] niazim3 opened #379 "Implementing use of DDs"
As mentioned in commit 7c24552, attempting to use `DDs` to output the data definitions did not produce an output. Instead, the output is as follows:
![image](https://user-images.githubusercontent.com/28247301/29180856-15b062f4-7dc7-11e7-9dda-7d2d4b309433.png)

[2017-08-11 13:38] JacquesCarette commented on #378
Good question!  Do we just have authors right now?  My instincts is to define persons as the larger set, and then to add information to those persons who are authors in an authors file.

[2017-08-11 13:40] JacquesCarette commented on #377
You look up a symbol in a table of all symbols which are associated to a `Quantity`.  If it is not there, it's an error.  Note that it may still be unitless.

Does that make sense?

[2017-08-11 13:44] njericha commented on #378
0fb168baaad10439fabeb282aef7e9af7cc20c9d Will help with avoiding duplication.

[2017-08-11 13:50] hmadej commented on #378
added People file, right now duplicate of authors but people who are not authors can also be added. d871a21

[2017-08-11 13:51] AKM11 commented on #377
Maybe? Does that mean I have to create a list of the symbols (as opposed to the units) cross-reference it with the table of symbols, pull out the units from that and then simplify the value?

[2017-08-11 14:02] JacquesCarette commented on #377
Yes, that's right.

[2017-08-11 14:16] AKM11 commented on #377
Okay then... how do I go about referencing a table without explicitly passing it into the function (or am I supposed to explicitly pass it?).  Is the table not being automatically generated with section one?

[2017-08-11 14:26] JacquesCarette commented on #377
I mean a table in the sense of Haskell, i.e. `Map.Map`.  In NoPCM, what the lines

    nopcm_SymbMap :: SymbolMap
    nopcm_SymbMap = symbolMap nopcm_Symbols

do.  Which apparently contains `QSWrapper` -- so this is already the right 'table' for you to look things up from.

Yes, for now, you'll need to thread that table through.  We're still looking at better means to achieve that.

[2017-08-11 14:31] AKM11 commented on #377
Alright then, I will see what I can do. Thank you.

[2017-08-11 15:12] niazim3 opened #380 "Make Import Lists More Precise"
Please follow @JacquesCarette's updates to GlassBR as a model. (See commit 0b79213)

- [x] GlassBR
- [x] SSP
- [x] Gamephysics
- [x] SWHS
- [x] NoPCM
- [x] HGHC

[2017-08-11 15:12] niazim3 opened #381 "Make Export Lists More Precise"
Please follow @JacquesCarette's updates to GlassBR as a model. (See commits 66eb5f5 and 63cf12e)

Edit: When you want to export everything, have a comment at the top saying so.

- [x] GlassBR
- [x] SSP
- [x] NoPCM
- [x] Gamephysics
- [ ] SWHS
- [x] HGHC

[2017-08-11 15:13] niazim3 opened #382 "Review Formatting/Code Cleanup of Examples"
Please follow @JacquesCarette's updates to GlassBR as a model (6e22663...0228619).

In order to maintain a consistent format throughout the examples,

-please ensure that indenting is not > 4 spaces
-go through anonymous functions in the examples, and use the `.` operator where possible (i.e. only when doing so would make the function shorter and just as clear)
-please ensure that line lengths do

[2017-08-11 15:13] niazim3 opened #383 "Avoid Using 'id' Lens Where Possible"
Please remove instances of `import Prelude hiding (id)` where redundant. (As @JacquesCarette stated "We should avoid using the 'id' lens as much as possible.  All such uses should be flagged for review.")

- [x] GlassBR
- [x] SSP
- [x] Gamephysics
- [x] SWHS
- [x] NoPCM
- [x] HGHC

[2017-08-11 16:12] danscime commented on #378
What would the difference be between a person and an other? Would it be better to just have a database of growing information on people so that they can be used as authors or editors or anything? Like only have people in one file?

[2017-08-11 16:57] JacquesCarette commented on #378
An author is a special kind of person.  A set of growing databases of people (not just one, as it will eventually grow too large).  So yes, my point was to have a database of people who can be used in all sorts of roles.

[2017-08-11 18:36] AKM11 commented on #383
Removed Prelude in NoPCM as of commit b232825535caa396117c7512adbe4fd7b3f7d354.

[2017-08-11 18:37] AKM11 commented on #382
Reformatted NoPCM code as of commit b232825535caa396117c7512adbe4fd7b3f7d354.

[2017-08-11 18:45] AKM11 commented on #380
Updated NoPCM import lists as of commits b232825535caa396117c7512adbe4fd7b3f7d354 and 8f140cadc4668018ebbd787094a3284bff2597da.

[2017-08-12 13:49] JacquesCarette commented on #380
Note that there is no need to make imports list precise for `Language.Drasil` or `...SI_Units`.  These are meant to be imported wholesale.

[2017-08-12 14:59] JacquesCarette opened #384 "Why are we copying ids?"
I was thinking about issue #383 while reviewing check-in d4dd541efe85b8146a3decca56dedf4b54d6d42a, and it struck me that we're doing something really odd there.  In fact, `vc` seems odd as well: it builds-in id copying as a pattern.

Is this a good thing?  In some ways, yes, as in some ways the new chunk is a refinement of the old one, so it is 'the same'.

In other ways no: now we have different

[2017-08-12 15:08] JacquesCarette opened #385 "The evils of `emptyN`"
In 668bc55fd04b7e964e71cd153a6d71388a527c24, @niazim3 correctly spotted a pattern, abstracted it out, and introduced `emptyN` in `Language.Drasil.Chunk.Reqs` for it.

But it, (somewhat like `emptyS`, in fact), is really bad [its use, not its abstraction].  When we have a field, we should fill it with something meaningful.  If we consistently fill it with junk, then it means either
1. our design fo

[2017-08-12 15:11] JacquesCarette commented on #338
What is blocking further progress on this?

[2017-08-14 13:23] danscime commented on #378
For now, I'll put everyone into the "People" file and remove the author file

[2017-08-14 13:23] #383 closed

[2017-08-14 13:39] hmadej commented on #378
don't remove the author's file it is used throughout the everyones examples.

[2017-08-14 13:45] danscime commented on #378
I'm going through and fixing imports for every example so that people are pulled from people

[2017-08-14 14:13] danscime commented on #378
Removed Authors and alphabetized people by last name, updated everyone's imports to take people
2f7ba53cfbd2d40082bf227c669e5f7af9cddeac

[2017-08-14 14:20] njericha commented on #373
SSP has the following example for the input `.dat` file. Text in brackets is my annotations.
[code]
After reading the User guide a few times, I understand what these numbers mean. The exact specification is found on page 11-12. Essentially, the first row gives the number of layers and the layer direction. The next section is a line of input values for perimeters followed by a list of co-ordinates

[2017-08-14 15:05] njericha commented on #373
I can now see that `Language\Drasil\Code\Imperative\Import.hs:204:22` raises an error because the types needed for this structure is not yet implemented.

[2017-08-14 16:23] niazim3 opened #386 "Allow `Person` to be Created Using Special Characters"
`Person` currently takes strings, but there are instances where people have special characters in their names (the implementation of which is not currently possible). An example of this is the editor of "A new requirements template for scientific computing", J. Ralyt**é**.

[2017-08-14 18:44] JacquesCarette commented on #386
This is indeed a problem.  It is fine for a smart constructor for Person to be String-driven, but indeed it should be implemented in terms of Sentence internally.

How big a change is that?

[2017-08-14 19:45] #346 closed

[2017-08-15 12:19] danscime commented on #380
SWHS as of 033939d8c9a787523eba0937b67bdb3cfda24b9a

[2017-08-15 12:19] #380 closed

[2017-08-15 14:31] palmerst opened #387 "Redesign ExprRelat (Theoretical Models and Instance Models)"
The underlying infrastructure of `ExprRelat` needs revision with respect to the needs of code generation.  Currently relations are just unrestricted `Expr`s which requires pattern matching hacks which may fail in order to get the information needed to generate code.

[2017-08-15 14:35] JacquesCarette commented on #387
I think the basic issue is that `Expr` has `:=`, which is abused.  We need to make a difference between 'definitions' and general relations.  When you do code generation, you need to know that all your instance models are solved/oriented.

[2017-08-15 17:50] njericha opened #388 "Generate .bib file name from SRS TeX file"
Currently, the bib file name is a hard coded string in `Config.hs` and used in two places.
[code]
When TeX is run, it generates this file in the same directory. Problems arise when multiple TeX files are run after each other because other examples can overwrite this file. Ideally, the file name will be chosen to match that of the TeX file. Right now, there is no easy way of getting the name of the

[2017-08-15 19:06] #382 closed

[2017-08-17 13:45] #370 closed

[2017-08-17 13:46] #378 closed

[2017-08-17 14:02] danscime opened #389 "SSP broken"
@szymczdm and I looked through and found that commit c2c241d3292b8df91dec413efe0e73a0a5b025c9 broke the code. So make is giving an error for SSP. Something about Language/Drasil/Code/Imperative/Import.hs

<img width="567" alt="screen shot 2017-08-17 at 9 59 43 am" src="https://user-images.githubusercontent.com/28261339/29416012-d2c9b5f0-8332-11e7-9ae4-b4c14697269f.png">

[2017-08-17 14:06] JacquesCarette commented on #389
@palmerst you should use better error messages than "not implemented" [i.e. put in the file name and function name in the error], so that when this happens, it is much easier to figure out where the problem arises from.

I think Haskell provides __LINE__ and __FILE__ for just that purpose.

[2017-08-17 15:33] palmerst commented on #389
Fixed in  e7c55a3

@JacquesCarette the file name and line number are reported in the call stack.

[2017-08-17 15:34] #389 closed

[2017-08-18 14:34] #381 closed

[2017-08-18 16:34] szymczdm commented on #384
I don't think that's as big an issue as it seems, though I can definitely see the potential for problems. Namely, our maps contain certain specific information (ie. SymbolMap is Symbols related to an id), if we have multiple chunks with the same id, they are the same chunk. One of them may lack a field, but they should not have inconsistent information.

For example: a NamedChunk vs. a Quantity. I

[2017-08-21 20:34] JacquesCarette commented on #384
So we have to know (and tell everyone and ...) that this indeed true.  I am vaguely uncomfortable about this.  Not sure what to do about it though.

[2017-08-23 02:22] JacquesCarette commented on #98
I understand why it's good to close this particular issue - as the things here are largely dealt with.  But overall, this is really still a work in progress.  I looked at the summary of the data-structures, and it still feels like there is quite a bit of consolidation/rationalization that could be done.

It might be worth re-doing the inventory (in a new issue).  Especially now the Theories exist

[2017-08-23 20:31] szymczdm commented on #98
Makes sense. I'll put up a new issue for the next round of changes. Note: Q and QSWrapper should be isomorphic (and QSWrapper should be removed soon), but that will have to wait until all of the SymbolForm instances (barring those in SymbolForm.hs) are finished being removed from our chunks.

[2017-08-23 20:34] szymczdm opened #390 "Re-inventory data structures which implement chunks. Modify as necessary."
From @JacquesCarette 's comments on #98

- LCChunk seems obsolete
- MethodChunk, ReqChunk and ModuleChunk perhaps shouldn't be chunks at all
- RelationChunk seems too crude. I think a proper decomposition of Theory will take care of that.
- Some of the wrappers (CQS, QS) may not be needed anymore?
- Looks like Q and QSWrapper are in fact isomorphic?

I'll also do a full pass and minor report after

[2017-08-23 21:00] szymczdm commented on #390
Double-check necessity of SymbolChunk (did previous changes remove the need for it?)

[2017-08-29 19:08] szymczdm opened #391 "SSP - Codegen hangs indefinitely"
After finally fixing everything up so that it compiles and is runnable, I noticed that attempting to generate code for SSP will cause the execution to hang indefinitely. I assume there's some infinite recursion happening, but haven't been able to track down the error yet. I commented it out as of commit dd5e8fe8e046e07968712ed2fc5b907787cadac7.

[2017-08-29 19:10] szymczdm opened #392 "NoPCM includes references to PCM-specific symbols"
While updating the symbol map for NoPCM I noticed that it needed specific symbols like pcm_HTC and pcm_SA in order to run. Tracking down the error led me to an instance model of NoPCM being a carbon copy of an instance model from SWHS which uses PCM-specific terminology. This needs to be fixed.

[2017-08-30 19:36] JacquesCarette opened #393 "Move all Choice structures out of Body into Main"
For all 5 examples.

[2017-09-20 21:51] palmerst opened #394 "Best way to implement external libraries for codegen?"
@JacquesCarette I've been thinking about the best way to implement external libraries for code generation.  There seems to be 2 choices here:

1.  As an "External Library" data type that encodes a generic interface for a particular library type and given a language, converts it into `AbstractCode` that uses the existing GOOL AST.  This will mean generating a different language-specific `AbstractCo

[2017-09-22 18:15] JacquesCarette commented on #394
I am thinking neither of these options!

External libraries should be treated like pure APIs - like a Foreign Function Interface.  See https://wiki.haskell.org/Foreign_Function_Interface and https://wiki.haskell.org/GHC/Using_the_FFI and https://wiki.haskell.org/FFI_complete_examples.

The [bindings-DSL](http://hackage.haskell.org/package/bindings-DSL-1.0.22) library is worth a look too.

What you

[2017-09-26 15:06] smiths commented on #214
@szymczdm, any update on this issue?  I was building the GlassBR example SRS document from the tex file and it failed because it couldn't find the image files for the figures.  The web-page version also does not include the files automatically.  Can we either include the path to files in the tex file (and html file), or create copies of the files locally?  (I prefer the first option, since redunda

[2017-09-26 15:29] smiths opened #395 "Problems compiling GlassBR_SRS.tex"
Can we address the problems with compiling GlassBR_SRS.tex correctly?  From the default output of Drasil, I had to take the following steps to get correct compilation:

1. Copy the files into the same folder as the tex file (as mentioned in issue #214 ).  To get the figures to fit, I also had to adjust the width of the figures using [width=0.5\textwidth] within each of the includegraphics commands

[2017-09-26 15:31] szymczdm commented on #214
I've gotta convert a few "images" (pdfs) to actual image files (png) and create a place for them. I'd like each example to have its own resource folder, and we can link to those.

The need for conversion is because while embedding a pdf in a tex document works, it doesn't work in HTML. Also, I don't like having images as pdfs.

[2017-09-26 15:36] szymczdm opened #396 "Remove code-specific symbols from GlassBR"
Thanks to both the code gen and docs being built from the same symbolMap, GlassBR has irrelevant symbols in the SRS (ie. symbols for variables/functions that only appear in code).

The best way to solve this would be to parse the document and only keep symbols that are used therein, but temporarily we could just have two Symbol Maps (one for code, one for docs. Generating will error out if we miss

[2017-09-26 15:37] szymczdm opened #397 "Remove duplicate symbols from Table of Symbols"
Some of the examples have multiple copies of symbols appearing in their table of symbols. This is likely an error with some of the underlying chunks (ie. two chunks that have the same term and symbol, but a different id).

[2017-09-26 15:38] szymczdm commented on #395
1 and 2 will be addressed shortly. I don't quite understand what you mean in 3. Also, your last note makes perfect sense as its one of the issues (#396) that needs to be corrected.

[2017-09-26 16:41] smiths commented on #395
Thanks for the clarification Dan.  I had forgot about the changes to the symbol map to be used for both the code generation and the SRS.  Item 3 from my original issue is about the LaTeX text.  In the table of symbols the Description field has the LaTeX code "X_z_1."  The intention is almost assuredly to print X followed by an underscore followed by z followed by an underscore followed by 1.  LaTe

[2017-09-26 16:44] szymczdm commented on #395
I just realized you were explaining that you were escaping the underscores (I had to look at your comment source, since markdown uses backslash as an escape as well). What I saw was "instead of _, I use _", but what your source shows is "instead of _, I use \\_"

[2017-09-26 16:45] smiths commented on #214
@szymczdm, I understand the problem for pdfs with html, but I don't understand why you don't like having images as pdfs.  In many cases the pdf is much crisper than the png, especially for a printout.  I have always attributed this to the png file being a raster format and the pdf being a vector format.

[2017-09-26 16:47] smiths commented on #395
Oops.  I should have previewed my document before commenting.  😄

[2017-09-26 16:51] szymczdm commented on #214
You are completely correct regarding the crispness of raster formats, and I do prefer using vector images when possible (though I don't have an editor for them atm). It's a personal preference with the pdf thing, especially since pdfs can be multiple page documents, it can just get messy.

[2017-09-26 19:28] smiths commented on #214
I think we should follow the suggestion of @JacquesCarette: We should automatically generate raster documents from the pdf files so that they can be viewed from the html pages.

[2017-09-26 20:18] szymczdm opened #398 "Check out these resources"
Look at [learnyouahaskell](learnyouahaskell.com) and [software carpentry](https://software-carpentry.org/lessons/) to go over material that will be useful to you. Specifically check out the lessons on Git, Make, and the Unix shell.

Once you've done this, please close the issue.

[2017-09-26 20:24] smiths opened #399 "Add updated ISO/IEC/IEEE SRS template"
Please add the updated IEEE SRS template to our se4sc repo (https://gitlab.cas.mcmaster.ca/SEforSC/se4sc/tree/git-svn/SciCompAndSoftEngPapers).

[2017-09-26 20:48] smiths opened #400 "Change "includegraphics" to "includegraphics[width=0.9\textwidth]""
Can we change the includegraphics LaTeX command in the generated tex file to specify the width?  I'm sure that we eventually would like to allow the user to control this, but in the mean time, it would be nice if the figures fit on the page.  I thought 0.9\textwidth would give us a good compromise, but full textwidth would be fine too.

[2017-09-26 20:50] smiths opened #401 "Sanity checkers"
In the future, it would be nice to add "sanity checkers" to review the Drasil code.  These checkers should prevent "silly" mistakes.  For instance, if there is a min and a max specified for data constraints, the min should be less than (or equal to?) the max.

[2017-09-26 20:52] smiths opened #402 "Use Nix for package and configuration management"
In the first iterations Drasil will expect the user to provide the correct external libraries for use with the generated code.  For instance, if an ode solver library is needed, the user will need to install the correct version in the correct location.  In the future, Nix could be used to manage the packages and configurations.

[2017-09-27 18:02] #395 closed

[2017-09-27 18:06] szymczdm opened #403 "Parameterize figure width"
Allow users to specify a width for figures other than the default if necessary. This width should be as a percentage of the page width (or textwidth).

[2017-09-27 18:06] szymczdm commented on #400
Made a similar change as of commit 9f1b3432349958a5d278700f451dcd9791ab (set the width to \\textwidth). I can change it to 0.9\\textwidth if you prefer.

I plan on adding a parameter for width (% of page) which can be added to both the TeX and HTML outputs in the future (issue #403).

[2017-09-27 20:00] smiths commented on #400
Thanks @szymczdm.  I'm fine with \textwidth, without the 0.9.  I like your idea of adding the % of page parameter, as discussed in #403.  I'll close this  issue.

[2017-09-27 20:00] #400 closed

[2017-09-27 20:04] smiths commented on #395
Thanks @szymczdm.  I can see that you have changed the path to the figures and that you have a datafiles folder with a GlassBR sub-folder.  However, where I have been building the srs from is not the correct relative path.  I have been running the glassbr executable from within the .stack-work folder.  Should I be running something different?  I see a dist folder in the code directory, but it didn

[2017-09-27 20:17] szymczdm commented on #395
After you run make there should be a "build" folder with the up-to-date examples within. That should have the correct relative path.

[2017-09-27 21:07] JacquesCarette commented on #396
Was this issue filed before or after our meeting?  Because we decided not to go with multiple maps.

[2017-09-27 21:12] szymczdm commented on #396
Before. What we need now is the context specific tables built from the one global map.

I'll set up a separate issue for the named stages datatypes soon.

[2017-09-27 21:19] JacquesCarette commented on #399
Done.  But I'm on my linux machine, so it is not added to the .bib file (yet).

[2017-09-27 21:19] #399 closed

[2017-09-28 03:05] smiths commented on #395
Yep, that works.  😄

[2017-10-10 19:59] smiths opened #404 "Reading list on Grounded Theory"
A reading list on grounded theory would help the project members to potentially take advantage of this approach to improve our work.

[2017-10-10 20:03] smiths opened #405 "Continuous Integration"
Improve our Drasil infrastructure to properly use continuous integration (https://github.com/marketplace/category/continuous-integration).  Travis seems to be the tool that many prefer to use with GitHub.  We discussed this briefly during our meeting on October 10, 2017.

[2017-10-19 18:22] smiths opened #406 "Revise Manual version match Stable, highlight issues: NoPCM, SWHS, SSP"
Please review the "manual" version of your assigned case studies against the "stable" version.  When there are differences, your action will depend on the character of the differences as follows:

1. The stable version is better - change the manual version to agree with the stable version.
2. The manual version is better - post an issue (initially assigned to @szymczdm) to point out the difference

[2017-10-19 19:33] smiths opened #407 "Revise Manual version match Stable, highlight issues: hghc, GlassBR, Game Physics"
As for to issue #406, please review the "manual" version of your assigned case studies against the "stable" version. When there are differences, your action will depend on the character of the differences as follows:

 1.  The stable version is better - change the manual version to agree with the stable version.
 2.  The manual version is better - post an issue (initially assigned to @szymczdm) to

[2017-10-25 17:52] palmerst commented on #86
This is very old, not relevant anymore.

[2017-10-25 17:52] #86 closed

[2017-10-26 17:20] smiths commented on #29
@szymczdm, please double check that this is fixed.

[2017-10-26 17:41] smiths commented on #35
Add figures and tables as chunks?

[2017-10-26 19:03] smiths opened #408 "Add attributes to chunks"
Issue #26 points out that constraints can have additional rationale information.  The potential need for rationale information can easily be seen to extend to other types of chunks, like assumptions.  Moreover, supporting information, like a detailed derivation could be an attribute of a theory, or general definition, or instance model.

@szymczdm , if my description above does not mirror the disc

[2017-10-26 19:05] smiths commented on #26
The original issue about displaying attribute information as part of a table is a low priority.  However, the bigger picture issue of having a facility to attach additional information through attributes is an important design consideration.  A new issue ( #408 ) has been created for this purpose.

[2017-10-26 19:15] smiths opened #409 "Add facility to attach derivation attributes to chunks that need this information"
We need a way to link chunks, like general definitions, theoretical models and instance models, with supporting information on related derivations.  An example from the Solar Water Heating System example follows.  The equation given in GD2 is derived following the summary of the general definition.  Issue #46 mentions this, but in the context of formatting the output.  The more important problem i

[2017-10-26 19:17] smiths commented on #46
Having a section heading without a number is not the real issue here.  The important issue #409 is being able to associate derivation information with a chunk.  Once we address issue $409, we should be able to determine how to best generate a view of the quantity and the associated derivation.  Once we do this, we can also close this issue.

[2017-10-31 16:27] palmerst opened #410 "External library functions with functions as input"
External library functions have different signatures in different languages -- we can make a generic version of these calls in GOOL and let the language renderers create the actual calls.  But this doesn't work when some library calls require functions as input (e.g. some ODE solvers take a function for the RHS of the ODE, some just use arrays).  This requires a new function definition that will n

[2017-11-01 15:26] JacquesCarette commented on #410
Please update this issue with yesterday's discussion.

[2017-11-01 16:48] palmerst commented on #410
Since all the current GOOL languages support lambda expressions, we will use lambdas for now as the arguments for these types of functions.

[2017-11-01 16:48] #410 closed

[2017-11-01 18:12] szymczdm opened #411 "Double-check that the reversion of qhat and J are appropriate"
As changed in commit f5ec138336b056dbf64223a8ee the docs seem fine, but the code needs to be double-checked.

[2017-11-02 14:00] smiths opened #412 "Use pandoc for documentation language"
Pandoc (http://hackage.haskell.org/package/pandoc) is a Haskell library for converting from one markup format to another.  It works with HTML, LaTeX, RTF, Word docx, etc.  We should consider using Pandoc instead of building our own infrastructure for this.

[2017-11-02 17:25] smiths commented on #365
From Nov 2, 2017 meeting - we have a working solution that addresses the inherent problem now.

[2017-11-02 17:25] #365 closed

[2017-11-02 17:28] smiths commented on #111
Actual implementation is a variation on this.  Key words queries, choices.  Okay to close.

[2017-11-02 17:28] #111 closed

[2017-11-02 17:31] smiths opened #413 "Delete MG from Drasil"
Delete all references to the MG generation in the current version of Drasil.  It is not correct.  We will readdress this in a different way in the future.  This issue closes #119.

[2017-11-02 17:32] smiths commented on #119
Close by #413

[2017-11-02 17:32] #119 closed

[2017-11-02 17:34] smiths commented on #127
Low priority, hack solution.  Okay to close.

[2017-11-02 17:34] #127 closed

[2017-11-02 17:37] smiths commented on #129
Close for now. It will come up again when it is necessary/relevant.  Parameterized unitals will likely come before #91 .

[2017-11-02 17:37] #129 closed

[2017-11-02 17:40] smiths opened #414 "Rename repo to Drasil"

[2017-11-02 17:42] smiths commented on #155
@palmerst , please add a link to your notes about why this is difficult.

[2017-11-02 17:50] smiths commented on #166
@szymczdm, please put our decision about synonyms on the wiki page under the heading "design choices."  Please close this issue after doing that.

[2017-11-02 17:54] smiths commented on #167
Could address by changing string type to text type (discussion during Nov 2, 2017 meeting).

[2017-11-03 01:23] szymczdm commented on #166
Done. Can be found [here](https://github.com/JacquesCarette/literate-scientific-software/wiki/Design-Choices).

[2017-11-03 01:23] #166 closed

[2017-11-03 02:04] smiths commented on #166
Looks good.

[2017-11-03 16:02] JacquesCarette opened #415 "Move CaseStudies out from Drasil repo?"
They have a weird side effect: because there is so many files, it makes it look like this repo is more C than anything else! I would like Drasil to be classified as a Haskell project.

@szymczdm @smiths @palmerst I would like your opinion. I can do the deed if we decide to go forward.

[Note that we can use git submodules to have our local mirrors still have the CaseStudies in the same spot]

[2017-11-03 16:36] palmerst commented on #415
I think it's a good idea.

We also have a copy of the chipmunk source code in the repo for some reason under Chipmunk2D-master which is adding a lot of C code:  https://github.com/JacquesCarette/literate-scientific-software/tree/master/Chipmunk2D-master  -- I'm not sure why this is in the repo?

[2017-11-03 17:52] smiths commented on #415
I can see the value of moving the case studies out of the Drasil repo, but it is worthwhile to consider why they were originally moved into the Drasil repo.  Originally, the case studies were separate (in a misnamed repo called drasil, no less).  We moved them over because the summer students were getting confused, and because we were making some changes to the case studies and to the drasil code.

[2017-11-03 18:02] JacquesCarette commented on #415
I was most definitely not suggesting that we delete anything.  I should have been clearer that I want to move things out of the Drasil repo, as it does not logically belong there.

I am perfectly happy with links. I should have been clearer that 'moving out' was the issue, and submodules was one potential solution. Probably should have made a comment rather than put it in the issue itself.

[2017-11-03 18:21] smiths commented on #415
We should wait for @szymczdm's thoughts, but it seems like we are converging to removing the case studies.  Does it make more sense to create a separate repo for each, as in the SWHS example, or one Case Studies repo?  My initial thought is a separate repo for each, but since the amount of modification to the case studies is dropping off, this might divide things up too much.

[2017-11-03 18:33] JacquesCarette commented on #415
I would think a single repo would suffice.  We could always add more case studies to it later, all in one convenient place.

[2017-11-03 18:55] smiths commented on #415
Yes, I agree.  A single repo is fine, although I would like to continue to maintain SWHS as a separate repo.

[2017-11-06 21:54] halonazhao opened #416 "PCM, NOPCM"
Hello @szymczdm,
I am doing the NoPCM case. In stable version, it removed all PCM information. But in manual version, there is. Should I just remove all PCM related information in manual version just like stable version did?

[2017-11-06 22:08] szymczdm commented on #416
Yes. You may also want to double check that the information still makes sense / is correct.

[2017-11-06 23:03] halonazhao commented on #416
I just found there are two SWHS, one with PCM, one without PCM. Now I see.
Thanks.

[2017-11-06 23:03] #416 closed

[2017-11-07 01:40] szymczdm commented on #415
Sorry I didn't respond until now, I seem to have accidentally archived the email chain for this issue (and was looking at the older issues until now).

I think we should remove the case studies to their own repo (with the exception of SWHS which, if we're already maintaining it separately, shouldn't be a problem). It will also make the log a bit cleaner when we're adding case studies down the road

[2017-11-07 02:44] szymczdm commented on #207
After looking into this, it seems it was an issue with having the "correct" smart constructor for this particular case. Either way, it seems to have been a one-off that was only being used for the module guide of SWHS and as of 7717e5a it no longer exists.

I'm going to close this issue, since it really is unclear to me what the exact problem was, and should it come up again in the future we'll ta

[2017-11-07 02:44] #207 closed

[2017-11-07 19:02] smiths opened #417 "Simple Design Document"
Work with @palmerst to create a design document from the knowledge that is already in Drasil.  Start with the GlassBR example.  Look at existing MG, but leave out modules that are implemented by OS, leave out decomposition hierarchy.

[2017-11-08 06:17] halonazhao opened #418 "NoPCM Case Issues"
Hello @szymczdm ,
I found a bunch of problems in this case I am not sure about. Please have a look. Thanks!

1.  For section 4.2.1 Assumptions, in manual version, there are abbreviations as references after those words, like theoretical model [T]. But in stable version, those words mapping to a specific section, like theoretical model [section 4.2.2]. Which is better? Which one I should keep?

2.

[2017-11-08 07:19] halonazhao opened #419 "SSP Case Issues"
Hello @szymczdm ,
These are problems I found in SSP case. But I didn't finish yet. So probably I will get more...
Thanks : )

1. Section 1.1 Table of Unit. I feel the manual version table layout is better, which version should I keep?

2. Section 4.2.2 Theoretical models. For T3, two versions' equations are different. After tracing back to symbol table, I feel P = ... + c' may be the right. Isn't

[2017-11-09 14:59] deviprasad135 opened #420 "Glass-BR Case Issues"
Hello @szymczdm ,
I have couple of problems in this case, please help me in resolving them.

1) In manual version the physical system figure is placed in section 6.1.2  and in stable version it is placed in section 6.2.1. So I am confused. which is better?

2) In section 6.2 and 6.2.1 I think the assumptions mentioned in manual version are better than the one mentioned in stable version. Which one

[2017-11-09 18:48] szymczdm commented on #418
@smiths can you double check I've mentioned everything that applies here and create any issues I missed?

1. Both should have the section references in the intro. The manual version has better references in each assumption (LC1, GD2, etc.).
2. Manual is correct, those fields should exist. However, we should be using citations instead of URLs (or have the option).
3. Manual is correct.
4. Manual is

[2017-11-09 19:01] szymczdm commented on #419
2. Stable is correct.
3. Manual is correct. Stable should have a prime
4. Manual is better (but there should be a space between Fig and the number)
5. @smiths will double check (create an issue)
6. Stable description is better, but should have working references.

Stopping there for the time being.

[2017-11-09 19:43] smiths commented on #415
I think we are agreed to move the Case Studies out of the Drasil repo, into their own repo, with pointers in the Drasil repo to the Case Studies.  @JacquesCarette offered to create the external repo, but maybe it makes more sense if I do it, since the SWHS example is already under my GitHub user name?  It isn't a big deal either way.  @JacquesCarette, if you want me to create a Case Studies repo,

[2017-11-09 19:57] smiths opened #421 "Verify one to one mapping between assumptions and likely changes for noPCM"
Please verify that for Section 4.2.1 (Assumptions) in the manual version of the SRS for noPCM that each LC reference only comes up once.  I seem to recall in our meeting earlier today that LC1 (or maybe it was LC2?) showed up with multiple assumptions.  In the version I have, each likely change maps to only one assumption.  Most likely it was the fuzzy projector that confused me, but I don't want

[2017-11-09 19:58] smiths opened #422 "Add Section references to the manual version of NoPCM"
In the intro of Section 4.2.1 (Assumptions) of NoPCM please add the section references to the manual version so that it matches the stable version.  This issue is an outcome of the discussion in issue #418.

[2017-11-09 20:06] smiths opened #423 "Add Input and Output Fields to the Instance Models"
The generated instance models should have entries for inputs and outputs.  I searched to see if this issue has come up previously and I didn't see it.  Related issues include #409, #408, #387, #302, #297.

[2017-11-09 20:08] smiths opened #424 "Add Source and Ref By Fields"
As mentioned in #418, we should have source and ref by fields.  Rather than URLs we should use citations in the source field.

[2017-11-09 20:10] smiths opened #425 "Change URLs in Source Fields to BibTeX Citations for NoPCM Manual Example"
For the Manual version of NoPCM, please change the source fields that are URLs to citations.  You will need to create BibTeX entries for each referenced web-page, and then cite these resources in the Source field.

[2017-11-09 20:11] smiths commented on #418
I agree with your summary @szymczdm.  I have also created a few issues of "to do" items that came out of this exercise.

[2017-11-09 20:21] smiths opened #426 "Provide Ability in Documentation Language to Change Appearance of Table of Units"
The documentation language should allow the document designer to select the format of tables that matches their preferred style.  Different options can be seen by comparing the table of units for the NoPCM example, in the manual version versus the stable version.

Manual version

![units-manual](https://user-images.githubusercontent.com/1422000/32627768-a2a4862c-c561-11e7-8572-7e8fc2e193a5.png)

S

[2017-11-09 20:23] smiths opened #427 "Provide Ability in Documentation Language to Change Appearance of Table of Symbols"
The documentation language should allow the document designer to select the format of symbol tables to match their preferred style. Different options can be seen by comparing the table of symbols for the NoPCM example, in the manual version versus the stable version.  (A similar issue #426 was created for the table of units.)

Manual version

![symbols-manual](https://user-images.githubusercontent

[2017-11-09 20:27] smiths opened #428 "Change degree C to not be in an italic font"
The generated version of C in degrees C shows up in an italic font.  Like the other unit symbols, it should not be in an italic font.  I'm assigning this issue to @palmerst , since he noticed the bug, and because it seems like I've been assigning everything to @szymczdm.  😄

[2017-11-09 20:29] smiths opened #429 "SSP Inconsistency in GD2"
The GD2 equation is different between the stable and manual version of SSP.  One has a plus sign where the other has a minus.  Need to determine which is correct.  This issue comes out of the discussion for #419.

[2017-11-10 17:10] JacquesCarette commented on #415
@smiths I think it makes sense for you to create this under your own name.

Eventually, we might want to look into creating a 'group' to own all of this. But that can wait.

[2017-11-13 22:38] smiths commented on #420
@deviprasad135, with respect to your first point, both documents put the reference to the figure and the code for compiling the figure, in the same place.  The generated version has the code in different locations because the documents are different and that was the "best" location for each document, according to LaTeX.  The size of the images is also different (I believe, but I haven't verified).

[2017-11-14 18:29] smiths opened #430 "Apply Grounded Theory to Building Module Guide Generator"
If you cannot find a good on-line overview,  you should ask @JacquesCarette for direction.

[2017-11-14 18:38] smiths commented on #222
Has to wait for reference redesign.

[2017-11-14 18:57] smiths commented on #300
See #412

[2017-11-14 18:58] smiths commented on #302
Related to #409

[2017-11-15 17:54] smiths commented on #415
The case studies have been moved to https://github.com/smiths/caseStudies.  Without much effort, I was able to keep the commit history for the new repo.  😄

In commit d898c6bd I have removed the case studies and included a pointer to them in the README.md file.

[2017-11-15 17:54] #415 closed

[2017-11-15 18:10] smiths opened #431 "Remove Chipmunk Code"
I would like to remove the Chipmunk code from the Drasil repo.  It was added 3 years ago by Joseph Seger when he started his Masters.  He didn't write the code; as far as I know, it is just a copy of the original Chipmunk project.

If you are okay with removing the folder Chipmunk2D-master, please comment below.  If not, please let us know why we should keep it.  The modified code (originally by A

[2017-11-15 18:20] JacquesCarette commented on #431
I am definitely fine with removing that folder.

[2017-11-16 05:01] halonazhao opened #432 "Notion Difference SSP"
The notion of 'N*i' has minor different in two docs.  Which one should be kept? P25

[2017-11-16 05:06] halonazhao opened #433 "IM4 Equation SSP"
In IM4, there should be two seperate eqution in stable version. And after IM4 the equation part has the same problem which also make the number of equation wrong. I think the stable version should be changed. P35

[2017-11-16 05:07] halonazhao opened #434 "IM5 information missing in stable version? SSP"

[2017-11-16 05:14] halonazhao opened #435 "Functional Requirement Reference SSP"
R1, R3 in manual version have references, but not in stable version. Should reference be kept? P39

[2017-11-16 05:16] halonazhao opened #436 "Functional Requirement Missing Information? SSP"
R8, R10, R11 have more information in manual version than in stable version?

[2017-11-16 05:20] halonazhao opened #437 "DD4 Lable SWHS"
The labels of DD4 are different. Manual version seems right. P18

[2017-11-16 05:24] halonazhao opened #438 "IM in manual version keeps more information SWHS"
All IM in manual version keep the constraint information in output part. Should them be remove? P18

[2017-11-16 05:28] halonazhao opened #439 "Functional Requirements In Manual Have More Information SWHS"
R5, R6 in manual have more information than stable version. Should I keep them? P25

[2017-11-16 05:41] halonazhao opened #440 "Should tables be decomposed? SSP"
In the most original manual version DD5 had both two angle equations. But in stable version, they were decomposed and with the same lable. P19

DD6 Lengths was decomposed to 3 tables in stable version.

DD12 was decomposed to 2 tables labeled 'pressure'. And do have to keep the vector format? P22

[2017-11-16 13:10] #431 closed

[2017-11-16 18:51] szymczdm commented on #420
1) There's a size issue with the figure. We want to set the width in the stable version, so the manual version does not need to be changed.

2) Intro to the assumptions with the sections references from Stable is better. Assumption A4 is better in stable than in the manual version. Also, the lack of IM references in stable is bad, but it is a known issue related to referencing (so, manual is bette

[2017-11-16 21:13] smiths commented on #420
Great summary @szymczdm.  Your notes match what I recorded in my notebook.  @deviprasad135, when you address the changes in the manual version that @szymczdm has listed, please add a comment below, including the commit hash that addressed the issue.  As we discussed, going forward, we should have a separate issue for each difference between the manual and stable versions.  Don't worry about creati

[2017-11-20 15:49] smiths opened #441 "Problem with GlassBR?"
The GlassBR SRS seems to no longer contain the data definitions.  I used the latest version of the repo files, ran make and looked in the build folder for GlassBR.  The GlassBR_SRS.tex file compiles, but a big part of it is missing.  @szymczdm, can you please look into this.

[2017-11-20 19:04] szymczdm commented on #441
I'm aware of the issue, and pretty sure I know why this happened (I forgot to swap something out after a temporary commit). I'll return it to working order tonight and use a branch if I still need the (currently) modified code.

[2017-11-20 23:53] #441 closed

[2017-11-21 03:21] szymczdm commented on #405
We have CI with Travis working, however, I'm going to hold off on closing this issue until we've got our build versions matching stable.

I want to make sure I add code similar to that from df49291df8d6c076a85dfe70a251ce1f785be687 for Chipmunk and GlassBR once we've gotten them to a stable state.

[2017-11-21 04:30] #403 closed

[2017-11-21 05:18] smiths commented on #441
Thanks @szymczdm

[2017-11-21 18:27] smiths commented on #321
@szymczdm is working on completely removing this combinator.

[2017-11-21 18:37] smiths commented on #331
#424 Duplicates this

[2017-11-21 18:57] smiths commented on #349
@szymczdm , is there code that needs to be deleted to close this issue?

[2017-11-21 19:08] szymczdm commented on #424
Duplicate of #331. Keeping this one as the other does not mention what to include in the source field.

[2017-11-21 19:09] szymczdm commented on #331
Closing. #424 is more informative.

[2017-11-21 19:09] #331 closed

[2017-11-21 19:26] szymczdm commented on #411
After looking through the case study and the docs, looks good to me.

[2017-11-21 19:26] #411 closed

[2017-11-21 19:33] szymczdm commented on #396
This is fixed as of 8f35e4639f4e150bb5466e9947d8a78bd6408dee

[2017-11-21 19:33] #396 closed

[2017-11-24 02:14] szymczdm commented on #397
Currently SSP has 2 different 'E's (I believe one should be E_i and this may be an issue with how indexing is performed) and Chipmunk has 2 different 'F's (again, one should be F_i), 'j's (equivalent), 't's (equivalent). The rest have been removed.

[2017-11-24 02:19] szymczdm commented on #392
This has been solved as of 1ede7f88b2ef35b80c702c3d5db1952cdceda768 (ish)

[2017-11-24 02:19] #392 closed

[2017-11-24 02:20] szymczdm commented on #390
NTS: This is going to keep coming up. Definitely something that can be done in stages. With the coming addition of attributes it would be a good idea to look at this again.

[2017-11-24 02:51] szymczdm commented on #388
I can't find any reference to this bit in the code (ie. no new file being created), but it really should be created at some point. Getting the file name should be easy (the function which takes in our "recipes" should take care of this and pass it along instead of baking it into the back-end).

[2017-11-24 03:09] szymczdm commented on #387
This needs to be looked at again, however, the instances of ExprRelat will very shortly ( once #104 and its related issues are done) be solely in the codegen domain (ie. none of the documentation generation will care about it once I fix a few issues and change a combinator or two).

I'll update once that's complete.

[2017-11-24 03:14] szymczdm commented on #386
This one should be a fairly simple mechanical change, unless there's a weird import chain or the renderer does something funky.

[2017-11-24 03:56] szymczdm commented on #385
Now that we've scrapped the original MG generation (and I just removed the last mentions of it from our examples in commit b9c17c933da9510eda895e8f2c7288ead6da5b62 ) I believe this one's fixed since ReqChunks are no longer actually in use and those were the only instances of "emptyN" (which has now been removed).

The rest of this issue will be handled by #430 and #417 (Module chunk generation), s

[2017-11-24 03:56] #385 closed

[2017-11-24 03:58] szymczdm commented on #384
@JacquesCarette Can we close this question (and/or replace it with an actionable item)? Or does it require further discussion?

[2017-11-24 03:59] szymczdm commented on #379
Implemented for HTML, next is TeX, then will need to test and confirm that the new versions are either A) As good as the old, or B) better. Likely some small issues will come up.

[2017-11-24 04:03] szymczdm commented on #377
I'm unclear as to whether this is still an issue, and what the issue itself was (ie. where was this being implemented?). @JacquesCarette or @smiths , have any ideas?

[2017-11-24 04:08] szymczdm commented on #359
This needs to be solved for #397 to be fixed, as half of the current "duplicate" symbols are actually symbols that need to be indexed at some variable.

[2017-11-24 04:18] smiths commented on #377
I believe that @AKM11 was trying to automatically determine the units for an equation from the units of its constituent parts.  For instance, the units of density rho would be calculated (as kg/m^3) from the equation rho = m/V, where m is the mass (kg) and V is the volume (m^3).

This would be a great functionality to have, but I think we can classify this as a low priority enhancement.  If @Jacqu

[2017-11-24 05:34] AKM11 commented on #377
Sorry for not finishing this and leaving the issue ambiguous. @smiths is correct, I was trying to create a function that would automatically determine the units of an equation based on the units of its input parameters.  To answer @szymczdm questions, I opened this issue to try and get advice on how to make this function work, no actual code breaking problem is present unless the code in Language\

[2017-11-24 13:09] JacquesCarette commented on #377
@AKM11 Thanks for the comment, it helps a lot.

[2017-11-24 15:22] JacquesCarette commented on #384
I think this requires further discussion. I am still uncomfortable about it. One of the nice things about using lenses is that we can have a single data-structure representing what we know about something (idea/concept/quantity/etc), but view it at all the other 'levels' too. So it feels like it doesn't make sense to create the data-structure for a concept that is also a quantity. When we create t

[2017-11-28 03:42] szymczdm commented on #379
This is much further along as of 36e29f99d309dfcc5d36609c4647d8c643238301. It still needs some testing and tweaking, but now the DDs (and TMs!) are printing.

[2017-11-28 03:44] szymczdm commented on #408
Started this in commit e4f381f2d1becd2aa3ef2aa96feeb6916a0253ad, but I haven't had a chance to add some new instances yet. It's on my priority list.

[2017-11-30 03:50] szymczdm commented on #386
Fixed as of 3ce31722870265195c873c4d3cc82d66d9374e71.

[2017-11-30 03:50] #386 closed

[2017-11-30 20:14] smiths opened #442 "Fix stable version of game physics"
In our meeting of Nov 30, 2017, we realized that the stable version of the tex code for the game physics example has some errors in it.  In particular, the stable version has two "instance model" sections.  Please fix the file so that it matches our current expectations for what stable should be.

[2017-12-02 13:22] JacquesCarette commented on #256
@szymczdm it feels like we're epsilon close to having this done. What is missing?

[2017-12-02 13:28] JacquesCarette commented on #302
This is also related to the design issue of having "self-describing" chunks. Right now, we mix the display structure and the more semantic aspects of things too much. We need to 'pull apart' these two aspects.  I couldn't find the issue where this is though.

[2017-12-02 13:30] JacquesCarette commented on #338
@palmerst As this turned out to be a bigger thing, could you please create issues for each of the 3 not-yet-done aspects above, delete them from this list here, and close this one?

[2017-12-02 13:34] JacquesCarette commented on #359
As I revisit this: the correct fix is to add 'indexing' to `Expr`.  It's a bit of a cheat, since indexing is really not very different from application (vectors, for example, can be seen as functions from `[0..n-1] -> Space`). But we want to display them differently. And they are typed (slightly) differently.  So, for now, adding indexing to `Expr` is the best way to go about it.

[2017-12-02 13:37] JacquesCarette commented on #369
@szymczdm As this is (now) intimately related to getting "theories" working, could you please cross-reference the right issues? This will be relatively easy to fix once that's done [and I understand that the implementation is well on its way].

[2017-12-02 13:40] JacquesCarette commented on #394
@palmerst I notice now that our conversations about this were not noted down. Can you please jot something here? That will be the easiest way to remember.  [Or add a link here to where it is documented.]

[2017-12-02 14:37] JacquesCarette commented on #404
[Done!](https://github.com/JacquesCarette/literate-scientific-software/wiki/Grounded-Theory)

[2017-12-02 14:37] #404 closed

[2017-12-02 14:39] JacquesCarette commented on #414
Done.  Hopefully that won't break too many things!

[2017-12-02 14:39] #414 closed

[2017-12-04 14:27] smiths commented on #404
Looks like a great summary on getting started with grounded theory.  Thank you!

[2017-12-06 19:59] palmerst opened #443 "Fix implementation choice for library vs. executable"
There is currently a choice option for generating a library or a executable, but the choice doesn't actually do anything.  Right now the generated code is always for an executable program.

This will require additions to the makefile generator so that we can generate makefiles that either build a library or executable depending on the choice.

[2017-12-06 20:03] palmerst opened #444 "Implementation choice for generating code comments"
We want a choice for generating code comments (and sub-choices for specifics on what should be commented).  The commenting features of GOOL will need an overhaul to do this right.  Currently comments in GOOL are implemented as part of the Statement syntax, so they can only be put with/between statements.  There is no way to make comment blocks for modules/classes/functions.

[2017-12-06 20:05] palmerst commented on #338
Logging of variable assignments is actually done (forgot to check it off).

This issue is closed for the marked items.  The other 2 have new separate issues in #443 and #444.

[2017-12-06 20:05] #338 closed

[2017-12-06 20:10] palmerst commented on #297
These were all filled in a while ago.

[2017-12-06 20:10] #297 closed

[2017-12-06 20:13] palmerst commented on #387
@JacquesCarette should this be assigned to you?  It feels like this is something that will be fixed with the Expr refactor you're working on?

[2017-12-06 20:23] palmerst commented on #391
This was fixed in f3c7080e1d8183530dcc1014b77ce5f0548ed163

[2017-12-06 20:23] #391 closed

[2017-12-06 20:29] JacquesCarette commented on #387
Yep.  Done.

[2017-12-06 21:30] smiths opened #445 "Ensure issues with stable versions are resolved"
The case studies repo (https://github.com/smiths/caseStudies/issues) has identified multiple issues that will require updates to stable.  This issue can be closed when the related issues in the case studies repo have been closed.

[2017-12-08 16:53] szymczdm commented on #424
Source field is now able to be populated. RefBy will require the updated referencing (#361, #35, #47, etc.) to be completed.

[2017-12-08 16:57] szymczdm commented on #409
Added as of 5e3ba91cdcdc42cb197d2a731b5f656d6434a0e9. I'll close this once I've confirmed it renders properly.

[2017-12-08 20:44] szymczdm commented on #409
This is working for General Definitions as of c3d0453d2e3b2e632ed3c8a15ccda19d62494926. It will be fairly straightforward to add it to DDs and TMs as well. Once IMs are working, it should also be straightforward to add it to them.

[2017-12-12 13:16] palmerst commented on #413
All of the code relating to the old design doc generation has been removed as of e993aa0b737b6eddbd7690a550dcfc94376cf8a3

[2017-12-12 13:16] #413 closed

[2017-12-12 13:18] palmerst commented on #261
I'm closing this as it was more of a question than an issue.  The underlying issues are covered in other real issues.

[2017-12-12 13:18] #261 closed

[2017-12-12 13:42] palmerst commented on #393
Done in ed77f5a6d78ee596862dd2c2f6cee9c50a1e4ef1

[2017-12-12 13:42] #393 closed

[2017-12-12 14:46] palmerst commented on #428
Fixed in 56579876941c95d528df8f66c25fb9cd70978166

[2017-12-12 14:46] #428 closed

[2017-12-14 14:25] JacquesCarette commented on #413
Do we have a 'future' issue to remind us to re-add this?  There was some useful information that is now 'deleted'.  Of course, revision control is great, so it isn't completely gone.  But for easy reference, commits 0c93079, 7458b00, 342f1f3, e1d6b65, 59290a5, 949330b, cc16a63, e993aa0 can be useful to remind us of the information that was removed.

[2017-12-14 17:37] halonazhao commented on #421
They are good. They all only reference one assumptions both in manual version and stable version.

[2017-12-14 17:44] smiths commented on #421
Okay.  I'll close this issue.

[2017-12-14 17:44] #421 closed

[2017-12-14 17:52] halonazhao commented on #422
Yes, fixed.

[2017-12-14 18:23] szymczdm commented on #419
7. @smiths will look into which is the correct version and create an issue if necessary.
8. Manual one is correct. Stable needs to be updated.
9. Manual is most likely correct, but @smiths will confirm.

[2017-12-14 18:31] szymczdm commented on #440
Manual needs to be updated, this is an issue for the case studies repository.

@halonazhao Can you please ensure an issue is created in the other repository and link to it here. You'll also need an issue for making more meaningful titles (ie. for "Angle").

[2017-12-14 18:37] szymczdm commented on #432
Apparently this issue has disappeared, so we'll close it until it comes up again (if at all)

[2017-12-14 18:37] #432 closed

[2017-12-14 18:41] szymczdm commented on #433
@smiths will look at it and correct Manual to make something more readable.

[2017-12-14 18:43] szymczdm commented on #433
The derivation for Rigid Finite Element Displacement may need to be deleted as well, so @smiths will look into it as well.

[2017-12-14 18:46] smiths commented on #434
@smiths will look at this.  We may just delete everything related to the rigid finite element method.

[2017-12-14 18:48] smiths commented on #435
Once references are working the stable version will be updated to include this information.

[2017-12-14 18:50] smiths commented on #436
@smiths will look at whether the RFEM can be removed from the manual version.

[2017-12-14 18:57] smiths commented on #439
Manual should be updated in the description field so that phi is defined as the melt fraction, like it is in the stable version.  @szymczdm is trying to fix the stable version label for this DD so that it matches the manual label (melt fraction).

[2017-12-14 19:00] smiths commented on #437
Stable should be made to match manual. @szymczdm is trying to fix the stable version label for this DD so that it matches the manual label (melt fraction).

[2017-12-14 19:04] smiths commented on #439
Stable version should be made to match the manual version.

[2017-12-14 19:11] smiths commented on #419
@smiths will look at the physics.  @halonazhao will look at whether stable has been updated to match manual.

[2017-12-14 19:33] szymczdm opened #446 "Update GlassBR to use new TheoryModel, GenDefn, and InstanceModel Chunks"
As we discussed, create a new branch from mine (Definitions) and work on converting the rest of the theoretical models, instance models, and general definitions to the new chunk types.

Then, update the mkSRS "program" to use these new chunks.

Double check that the changes don't lose any information in the generated versions (compared to stable).

[2017-12-14 19:35] szymczdm opened #447 "Update NoPCM to use the new TheoryModel, GenDefn, and InstanceModel chunks"
As we discussed, create a new branch from mine (Definitions) and work on converting the rest of the theoretical models, instance models, and general definitions to the new chunk types.

Then, update the mkSRS "program" to use these new chunks.

Double check that the changes don't lose any (more) information in the generated versions (compared to stable).

[2017-12-14 19:40] szymczdm opened #448 "Rename obscure names with meaningful names"
As we discussed, please go through your examples and rename things like "s4_2_ ..." with something meaningful about what that represents.

Comment here and tag either @szymczdm or @smiths when you've pushed changes so that we can take a look.

All of these changes should first be done in your branch (just like #446 and #447).

[2017-12-15 20:05] smiths commented on #433
At present the best way to fix this example is to simply remove the rigid finite element portions of the documentation.  At this time, it isn't worth the effort to fix these parts of the specification.  An issue for the first step of updating the manual version of the SRS is given in the Case Studies repo:

https://github.com/smiths/caseStudies/issues/24

[2017-12-15 20:05] #433 closed

[2017-12-15 20:43] smiths opened #449 "Stable to match manual for GD2 for ssp"
Issue #419 highlighted that the stable and manual versions of GD2 for ssp do not match.  I have verified that the stable version should be changed to match the manual version.  (The manual version is correct.)  Please update stable to match the manual version.

[2017-12-15 21:17] smiths commented on #419
With respect to item number 7 in this issue (moment equilibrium), I've verified that both manual and stable are incorrect!  The manual version seems to have changed the numbering in the slices from i and i-1 to i-1 and i.  This matches one of the sources of information (Zhu paper), but not the figure of a slice given in the SRS.  The numbering in the figure was used for the force equilibrium, so t

[2017-12-18 21:34] szymczdm commented on #423
This is done, including the new Input and Output Constraints fields as of commit e1ae83c94f14426265d150d6cabcd58ec6b3331a.

[2017-12-18 21:34] #423 closed

[2017-12-18 21:50] szymczdm commented on #409
Done as of a13d7ebcb7186173ba3d0fe9ef8a3ce3d2dd8dad

[2017-12-18 21:50] #409 closed

[2017-12-18 21:51] szymczdm commented on #379
This is complete as of a13d7ebcb7186173ba3d0fe9ef8a3ce3d2dd8dad

[2017-12-18 21:51] #379 closed

[2017-12-19 18:43] szymczdm commented on #369
The general definitions units were fixed a while ago (commit 91583019f01f99a9586bf5517eac31c73a102608 or possibly earlier). The Instance Models were fixed and tested as of commit e1ae83c94f14426265d150d6cabcd58ec6b3331a.

Smart constructor for instance models from QDefinitions added as of commit d3cd3c36e32622e45dcf7fe16ea3494bade7bc65

[2017-12-19 18:43] #369 closed

[2017-12-19 18:51] szymczdm commented on #302
Derivations can now (commit a13d7ebcb7186173ba3d0fe9ef8a3ce3d2dd8dad) be generated alongside their definitions/models using Attributes.

[2017-12-19 18:51] #302 closed

[2017-12-19 18:54] szymczdm commented on #256
Things have evolved quite a bit since June, so I think we should discuss this issue again and see what we still want to do with it.

I believe we should at the very least have a database of Units alongside the Symbol db before we close this. We could also create one for equations, definitions, etc, but again, those could be separate issues.

[2017-12-19 19:05] szymczdm commented on #46
#409 is closed, but there hasn't been a decision on how the derivation should be rendered yet. Currently it's just a paragraph following the model/definition. Once we've decided what to do and I've updated it, I'll close this issue.

[2017-12-19 19:11] szymczdm commented on #29
As far as I can tell, this is fixed with the new TMs, IMs, DDs, and GDs

[2017-12-19 19:11] #29 closed

[2017-12-19 19:12] szymczdm commented on #104
Related to #256

[2017-12-19 19:43] smiths commented on #130
We agree that we do not need to worry about this issue.

[2017-12-19 19:43] #130 closed

[2017-12-20 16:01] palmerst opened #450 "Code generation not implemented in the C++, C#, Java renderers"
Re-opened milestone 0.3.1 as the code generation for ode solving is only working for Python right now.  Need to complete the other renderers.

[2017-12-20 20:52] smiths commented on #419
I've corrected GD6 (Moment Equilibrium) in the SSP example.  The manual version should now be correct, and the stable version should be changed to match with it.

The manual version can be found at:

https://github.com/smiths/caseStudies/blob/master/CaseStudies/ssp/Documentation%20Files/SRS_SSP.pdf

[2017-12-20 21:07] smiths commented on #419
With respect to item 9, the manual version is correct.  The stable version should be changed to match the manual version.

[2017-12-28 16:37] #437 closed

[2017-12-29 01:49] #256 closed

[2017-12-29 02:00] szymczdm commented on #442
This should be fixed as of 3af9ac7dd5d6597b204f4fec9b970e59590a3c79

[2017-12-29 02:00] #442 closed

[2018-01-11 00:11] halonazhao commented on #418
All fixed. But still having minor problem with #424, I will leave comment under #424.

[2018-01-11 00:17] halonazhao commented on #424
Only the theoretical model had a url link as source and I've already replaced that with a citation. But GM2 doesn't have a source field. IM1 only has a statement as its source. Do I have to do something with them?

[2018-01-11 00:19] halonazhao commented on #425
Does this issue have the same meaning with #424?

[2018-01-11 00:26] halonazhao commented on #439
Am I also able to modify stable version?

[2018-01-11 01:14] halonazhao commented on #419
All spots needed to be updated in manual version were fixed.

[2018-01-11 05:02] smiths commented on #419
Thank you @halonazhao for updating the manual version.  Fixing the stable version should be able to start when @szymczdm gets referencing working.

[2018-01-11 05:03] smiths commented on #439
You should hold off on updating the stable version for now.  We are waiting for @szymczdm to get referencing working.

[2018-01-11 05:09] smiths commented on #425
No, this issue is different from #424.  That other issue is more general.  It is about adding a source field to those parts of the document that do not have them, but should.  This issue is specific to NoPCM and correcting the existing source fields.  The other issue is assigned to @szymczdm, but you should be able to address this one by creating BibTeX entries for each of the URLs and then citing

[2018-01-11 05:10] smiths commented on #424
@halonazhao, this issue is not about noPCM; it is more general.  If this comment is about #425, you should say it there.  If you have changed all existing urls to BibTeX entries, then we can probably close that other issue.

[2018-01-11 13:37] smiths commented on #422
Where has the fix been made?  I do not see a commit to the case studies repo?

[2018-01-11 13:39] smiths commented on #419
@halonazhao, where were the fixes to the manual version committed?  I cannot find any commits by you in the case studies repo.  In the future, when you say something is fixed, please give a pointer to the fix, so that others can inspect your fixes.

[2018-01-11 13:40] smiths commented on #418
@halonazhao, where are the fixes committed?

[2018-01-11 13:46] halonazhao commented on #418
I didn't upload. I thought I was just allowed to updating on my local machine. I will commit in another repo.

[2018-01-11 13:55] smiths commented on #418
@halonazhao, you need to push to our case studies repo so that everyone can benefit from the fixes that you have made.

[2018-01-15 04:16] deviprasad135 commented on #420
Modified according to the comments mentioned above.

[2018-01-15 04:17] smiths commented on #420
Hello Devi.  Please give a pointer to the commit where the modifications have been made.

[2018-01-15 04:44] deviprasad135 commented on #420
Should I mention the commit number?

[2018-01-15 04:47] smiths commented on #420
Yes.

[2018-01-15 05:35] deviprasad135 commented on #420
Commit 3a5d55f

[2018-01-15 05:43] deviprasad135 commented on #420
commit 3a5d55f

[2018-01-15 05:48] smiths commented on #420
Is the commit in the case studies repo?  That would make sense, but you haven't given enough information for a reader to track it down.  It seems like you are indicating the commit is in this repo.  If the commit is in the case studies repo,  you should go to the web-page for your commit, copy the url, and paste it here.

[2018-01-15 05:51] deviprasad135 commented on #420
The url of the commit is  https://github.com/smiths/caseStudies/commit/3a5d55fd74739dd95652b5babddcbf5b57faad5f

[2018-01-15 05:58] smiths commented on #420
Thank you @deviprasad135.  Unfortunately, the commit shows everything deleted and then everything added back in, with your edits in the second version.  I don't know what tool you used, but it is better if the diff provides helpful information like where the changes were made.  It would time consuming to check the edits, so I'll assume that you made them correctly.  😄

[2018-01-15 06:01] deviprasad135 commented on #420
I am sorry about that @smiths. Generally what tool do you use?

[2018-01-15 06:05] smiths commented on #420
I use an emacs editor (Aquamacs).  You don't need to use emacs, but maybe you should try a different editor?

[2018-01-15 06:08] deviprasad135 commented on #420
I am using TeXworks.

[2018-01-15 13:55] szymczdm commented on #420
@smiths I checked the log on my computer and did a diff between revisions (it makes it clear which sections have changed, I'm not sure why github didn't do the same).

@deviprasad135 , how did you add the file to the repo? Did you commit/push from terminal or through a tool? Or did you upload via the github web interface?

[2018-01-15 14:35] deviprasad135 commented on #420
@szymczdm I have uploaded via the github web interface.

[2018-01-15 14:37] szymczdm commented on #420
Ah, I'm pretty sure that's why we couldn't see the diff. In the future you should use git from the terminal/command line or use a tool (such as TortoiseGit if you're on Windows, as it integrates into the right-click menu).

[2018-01-15 14:40] deviprasad135 commented on #420
Ok.

[2018-01-15 14:48] smiths commented on #420
@szymczdm, thank you for getting to the bottom of this.  Using diff directly is a good idea, but it is more convenient to be able to see the diff directly in GitLab.

[2018-02-04 17:29] JacquesCarette opened #451 "SWHS - Volume of PCM software constraint"
Stable contains the following non-sensical constraint:
Physical: 0 < V_P < V_{tank}
Software: V_P >= V_{tank}

so the software constraint and the physical constraint have no overlap.

[2018-02-04 19:44] smiths commented on #451
These constraints do not match the information in the original case study (https://github.com/smiths/swhs/blob/master/SRS/PCM_SRS.pdf page 23).  This is another example of a translation error from "manual" to Drasil code.  The Drasil physical constraint matches the case study, but the Drasil software constraint was originally:

V_P >= MINFRACT*V_{tank}, where MINFRACT was set to 10^{-6} in the ori

[2018-02-05 16:23] szymczdm commented on #233
Removed as of commit a51a739315345f07a0a017cf

[2018-02-05 16:23] #233 closed

[2018-02-05 16:26] szymczdm commented on #223
With the addition of the "RefName" field (around commit a51a739315345f07a0a017cf) we are now able to make references using whatever identifier we prefer.

[2018-02-05 16:26] #223 closed

[2018-02-05 16:26] szymczdm commented on #160
Similar to #223 this has been tackled in a51a739315345f07a0a017cf.

[2018-02-05 16:26] #160 closed

[2018-02-05 16:30] szymczdm commented on #374
Done as of a51a739315345f07a0a017cf. Not exactly a new chunk type, but a new field for our existing referable chunks/layout objs.

[2018-02-05 16:30] #374 closed

[2018-02-05 22:03] szymczdm opened #452 "Fix stable changes"
I've overwritten the stable versions with their previously generated output to make testing changes easier. Now the travis CI will complain if ANY example is produces a different output.

This should be reverted in the future. The commit where things were changed is tagged "stable-break" (commit cc955d04338a4ce468aaae2ec7aa0483df152107). The previous commit (with stable unbroken) was b568b26f21b5b

[2018-02-06 02:16] JacquesCarette commented on #451
Right - so you've "fixed" the part that needed your expertise to fix. Now there is an issue in the Drasil version of SWHS that should also be fixed.  Have we sort-of assigned some of the projects to our M.Eng. students, so that I could re-assign this?

[2018-02-06 02:19] JacquesCarette commented on #452
But that old commit is probably so old that many things have (correctly!) changed since, making comparisons increasingly difficult as time goes on.

It would be much better to identify the underlying bugs that cause "stable-break" to be incorrect and file them as issues. They could be cross-referenced to here as well.

[2018-02-06 03:45] JacquesCarette opened #453 "Monotonicity constraint in SSP"
As commented in 1f17b36e, the monotonicity constraint was deleted (by me) because it was encoded using an awful pile of hacks. It needs to be re-implemented properly.

[2018-02-07 01:54] szymczdm commented on #452
#397 is one of them (mostly? due to indexing). I'll double check if other issues have been created and if not, I'll add them.

[2018-02-09 23:31] JacquesCarette commented on #390
Looks like @njericha did a good inventory on the wiki at
https://github.com/JacquesCarette/Drasil/wiki/Types-and-Typeclasses-in-Drasil
It is likely somewhat out of date, but it is a good start.

[2018-02-12 04:47] szymczdm commented on #390
I'll make sure that wiki page is updated on the next pass, and all future passes should be done directly to the wiki (with comment here to point out the wiki commit).

[2018-02-12 15:07] smiths opened #454 "foo.txt"
This was a note that was left on my board as an issue to assign to @palmerst.  To be honest, I'm not sure what it means.  😄 Is it something to do with a variable type for strings?  This might job the memor of @JacquesCarette or @szymczdm.  If nobody remembers, we can just close this issue and wait for it to come up again.

[2018-02-12 15:08] smiths opened #455 "Remove use of variable in compound symbols"
Hi Dan.  If I remember correct, we had an issue with variables being introduced just so that they could be displayed in a compound symbol, like Kmin.  You may have already dealt with this.

[2018-02-12 15:09] smiths opened #456 "If expressions for GOOL"
Hello Steven.  In a recent meeting, we discussed you adding support for if expressions for Python in GOOL.

[2018-02-12 15:12] smiths opened #457 "Find cases where grouping is used in expressions"
Find the cases (examples) where grouping is explicitly used in Drasil expressions.

[2018-02-12 15:13] smiths opened #458 "Explore meaning of groupings"
Determine the meaning of the groupings found in issue #457.  Is there useful information being captured with the grouping?  How else could we express it?

[2018-02-12 15:16] smiths opened #459 "Fix expression groupings"
Once issues #457 and #458 have been dealt with, some kind of fix to the Drasil code will be necessary.  We'll likely need some way to group terms or explode terms.

[2018-02-12 16:48] JacquesCarette commented on #454
Yes, we need to extend `Expr` to have a case for `String`.  Or at least, that's what seems to be going on.

One might also consider that `Expr` shouldn't have `FCall` at all, and that that should be just in `Code`, which would eliminate the need for such a hack.

[2018-02-12 16:49] JacquesCarette commented on #455
I believe that I removed a couple of those already.  Not sure if there are any left...

[2018-02-12 20:24] szymczdm commented on #455
There are still a couple in SSP's IMods which I need to look at, and one being used by a Util (??) function (Data.Drasil.Utils), which should probably be changed to an error (again, I need to take a slightly longer look at it). Otherwise I think the rest have disappeared.

[2018-02-12 20:26] szymczdm commented on #405
I think this should be closed. Since we have #452 where we "forced" things to match, the CI side is now working as expected. The stable versions will be cleaned up, but that's not relevant to this issue.

[2018-02-12 20:26] #405 closed

[2018-02-12 20:28] szymczdm commented on #397
@JacquesCarette just want to keep this on your radar since it seems to be an 'indexing' issue (which was part of Expr and we need to decide if it should stay there or not).

[2018-02-14 15:18] smiths commented on #451
@halonazhao, has been working with the SWHS example; therefore, I will reassign this issue to her.  Yuzhi, please modify the Drasil code for the SWHS example to match the case study example for the V_P constraint.  If you have any questions about the constraint, please ask me.  For questions about the changes to the Drasil code, please ask @szymczdm.

[2018-02-16 01:48] JacquesCarette commented on #455
When do you expect to be able to do this? It doesn't feel like it should take very long.

[2018-02-16 01:52] JacquesCarette commented on #397
"seems to be" is a little vague. Can you point out some specific lines in some specific files which are causing problems?

[2018-02-16 02:12] szymczdm commented on #455
Forgot about it and didn't check the issue tracker in the last couple days. Sorry! I'll get that done on master so we can close this issue.

[2018-02-16 03:28] #455 closed

[2018-02-16 03:37] szymczdm commented on #397
### SSP E

SSP.Unitals line 165-167: intNormForce is an interslice normal force (E_i), but its symbol is E (seen on line 167 as `cE`). When used in expressions, it is used with indexing (example: SSP.DataDefs line 162 -> `inxi intNormForce`).

[2018-02-16 03:40] szymczdm commented on #397
### Chipmunk F

Similarly, `force_i` (defined in GamePhysics.Unitals line 216) is the force applied to the i-th body, but its symbol is F (actually, is identical to that of `force` from Data.Drasil.Quantities.Physics --> `eqSymb QP.Force`).

This looks like it was just a typo, as I can't find any use of indexing herein. I'm currently testing my hypothesis.

[2018-02-16 14:33] JacquesCarette opened #460 "DocumentLanguage.Chunk.InstanceModels"
Why is this in `Examples`, under `DocumentLanguage`? This belongs in `Language.Drasil` !

[2018-02-16 14:36] JacquesCarette commented on #460
Same for `GenDefn`. I cannot think of good reasons to define new chunk types in example infrastructure.

[2018-02-16 18:29] szymczdm commented on #460
Fixed it. That was a relic from back when I first started trying to move over to the new DocumentLanguage.Definitions and was using some imports from DocumentLanguage. Those imports were deprecated, so all is good.

[2018-02-16 18:29] #460 closed

[2018-02-16 20:38] szymczdm opened #461 "Fix printing of 'Body a' to 'Body A' in gamephysics"
As part of the changes made for #452, game physics now has 'a' instead of 'A' in a number of places when referring to a body. This is likely due to that 'A' being part of a compound NounPhrase and not being capitalized as expected. Note: NounPhrases don't allow us to use symbols, however, this A really seems like it should be a symbol.

[2018-02-16 20:42] szymczdm opened #462 "Stop printing "Number" row from GlassBR example"
As part of #452 we need to get rid of the odd printing of the various definitions/models (TMs, DDs, GDs, IMs). This should already be solved by DocumentLanguage, but until the changes have been pushed through, stable is (and will remain) incorrect.

[2018-02-21 19:50] smiths opened #463 "Remove Ord instances and replace sortBy"

[2018-02-21 19:51] smiths opened #464 "Add code diffs to makefile"

[2018-02-21 20:22] smiths opened #465 "Unit should be split into IsUnit and HasUnit"

[2018-02-22 03:18] JacquesCarette commented on #465
Well, I ended up doing |IsUnit| and |HasUnitSymbol|, but this is done. Took about 35 minutes, of which close to 10 was spent waiting for compiles.  So not bad at all!

[2018-02-22 03:18] #465 closed

[2018-02-22 03:20] JacquesCarette commented on #465
Should have also said - commit 0b9db065.

[2018-02-22 03:26] smiths commented on #465
Great!  Out of curiosity I timed how long a clean build takes and it was about 3 minutes on my laptop.

[2018-02-22 03:42] halonazhao commented on #447
Hello @szymczdm,
I just added the new chunk of theory model into the nopcm case. I am not sure whether I am on the right track. Can you take a look at it? There are two ignored errors making the build break, but I think they have nothing to do with the new Theory Model I just added. Because before I added the new TM and after I uncomment the SSD section, there were already two ignored errors there

[2018-02-22 04:00] szymczdm commented on #447
Just took a look.

The code you uncommented was the "Specific System Description" section, but it isn't currently complete (whereas the version you replaced was more complete). The errors you're seeing (particularly the error in NoPCM) is because there are pieces of that section missing. If you want to see what I mean, open up stable/nopcm/NoPCM_SRS.html and compare it to build/NoPCM/Website/NoPCM

[2018-02-22 16:15] halonazhao commented on #447
@szymczdm
I think TMs, GenDefs, IMs and DDs are all working now. I am not sure what I did is we expected. Can u check for a bit? Also, the IMs may have some problem. The input part is having some printing issues and the new instance model chunks do not actually match the stable version, so I leave the input and output constraints empty. I'm not sure what proper content is expected to show in those

[2018-02-23 16:27] JacquesCarette commented on #465
3m42s of real time on my Mac Air.

[2018-02-25 02:42] szymczdm opened #466 "Double-check and fix citation printing"
As mentioned in commit 2d7da501a53b1c463ff32f57300c1b90e47b9811 stable has been updated with the new citation printing, but it has not been checked for accuracy (some fields may be missing and/or some citations may be printing according to the wrong style).

This mainly affects the HTML, as the TeX all use BibTeX items which *should* be correct. Wouldn't hurt to double-check those as well.

[2018-02-26 01:02] JacquesCarette opened #467 "fix `inputHack` in SSP/IMods"
Better than the hack that was there before... but it's still a hack.

[2018-02-28 04:25] halonazhao commented on #451
Hello @szymczdm
I just updated the version to fix this issue https://github.com/JacquesCarette/Drasil/commit/53f705bc09770d78c1684546d467f85886ea624e. The tex file and html file work. But still there are two ignored errors. I don't know what happened cause there is no detailed information. Those two are not the same errors from the Nopcm case because I commented the SSD section out in Nopcm. Can y

[2018-02-28 16:15] smiths opened #468 "Rendering multicharacter symbols in LaTeX"
For symbols that consist of multiple characters, like min, max, MINFRACT, etc, when they are rendered in LaTeX equations they would look better in an \mbox.  Rather than LaTeX interpreting min as m times i times n, a \mbox{min} would achieve a more natural spacing.

[2018-02-28 16:55] smiths commented on #430
Related to issue #417.  We discussed on Feb 28 "all hands meeting" and agreed that the first step is "manually" writing a sketch of a simple design document for one of our case studies.  Probably GlassBR.

[2018-02-28 19:56] JacquesCarette commented on #468
I thought that if you used `Atomic`, they would get thus rendered (well, not with an mbox, but with mathsf or similar). Perhaps some of these are hacked-in rather than using the correct symbol combinators?

[2018-02-28 23:32] szymczdm commented on #397
This and #359 are linked (almost duplicates). I'm reassigning this one to @JacquesCarette because you've been working with Expr and we still haven't come to a clear decision on how we should handle indexing (that is still the problem behind SSP's duplicate symbol as mentioned above).

I think the problem hinges on whether indexing is going to remain something that's specifically Expr-level or not.

[2018-02-28 23:35] szymczdm commented on #349
Likely changes have been overhauled as of the addition of Language.Drasil.Chunk.Change

As such I'd consider this issue resolved (should anything else come up, we'll create a new issue).

[2018-02-28 23:35] #349 closed

[2018-02-28 23:41] szymczdm commented on #104
With the database approach implemented and the change to DDs in general (now using Document Language) this should be resolved. There's no easy way to check it yet, however, since we still need to switch to using Document Language for all of the examples' DD generation.

There's also the chance that we've changed our documents enough (since the summer) that this issue is no longer relevant, so I'm

[2018-02-28 23:41] #104 closed

[2018-02-28 23:45] szymczdm commented on #74
@JacquesCarette I'm going to assign this to you since I think you already did it.

Can you confirm that this is finished in the changes you made to Expr?

[2018-02-28 23:47] szymczdm commented on #46
I believe as per a discussion in a previous meeting we've decided to leave the derivations rendering as paragraphs following the model/definition. @smiths do you have any preference on whether we should have a 'phantom section' or leave it as-is?

[2018-03-06 01:28] JacquesCarette commented on #74
This is definitely not done:

    data EOperator where
      Summation :: DomainDesc -> Expr -> EOperator
      Product :: DomainDesc -> Expr -> EOperator
      Integral :: DomainDesc -> Expr -> EOperator

is the definition. Types will help with this, as the `DomainDesc` will let us know which is which.

[2018-03-06 02:49] #48 closed

[2018-03-06 02:53] szymczdm opened #469 "Add page referencing to citations"
This issue comes from @JacquesCarette's comment on e9f9c52ea42c37265aa0079fad605

When creating an in-text citation, LaTeX has the means of citing a page number built in. We should enhance the referencing system to include that when appropriate (and do something similar for HTML).

[2018-03-08 18:42] szymczdm opened #470 "HTML Assumptions/Requirements/etc. cannot print as properly numbered list without using hacks"
As of testing with commit 10a01a289c8624968c3526e4fa542ff8f0a69a6e I have determined there is no easy way to create a numbered list of assumptions/reqs/etc. in the HTML builds without hacks. I'm not going to hack it in (since that's what I've been trying to remove -- acroNumGen), so for the time being I'm going to adjust stable as necessary for this one and comment here any time I make similar un-

[2018-03-11 14:45] JacquesCarette opened #471 "SWHS IM3 has unsatisfiable constraint"
`0 < temp_W < 0`.  What should it be?

[2018-03-12 01:16] JacquesCarette commented on #457
- All 8 uses in `GlassBR.DataDefs` were not needed -- deleted.
- All 3 uses in `GlassBR.Unitals` were not only not needed, deleting them improved the display.
- The use in `SSP.IMods` for `fosFracSum` was really not needed either -- deleted.
- The uses in `SSP.IMods` for the two different `normToShear` were needed, as they meant something; these are now hacked.  They are easy to tell as they conta

[2018-03-12 01:16] #457 closed

[2018-03-12 01:19] JacquesCarette commented on #458
So this is now high priority, because I have hacked 4 uses of grouping (to use intermediate variables) in a horrible way.  This 'breaks' SSP.  I've documented the breaks in #457.

[2018-03-14 15:13] smiths opened #472 "Remove comma in input field of instance models"
The instance models are showing a comma as the first character of the input field.  This can be seen in the GlassBR instance models.

[2018-03-14 15:17] smiths commented on #468
We discussed this further in the "all hands meeting" on March 14.  GlassBR has several examples of equations that look odd, for instance LR = NFR GTF LSF.  This would look better with a multiplication symbol.  Maybe we can detect cases like this an automatically add the symbol when rendering?  This isn't a high priority, but something to keep in mind for the future.

[2018-03-14 15:34] smiths opened #473 "Teach Drasil about ODEs"
We need to capture the knowledge of ODES, like in the SWHS and No-PCM examples.  Once Drasil knows what an ODE is, the rendering should be fairly straightforward.

[2018-03-14 15:40] halonazhao opened #474 "The Right Constructor For "MINFRAC""

[2018-03-15 00:42] JacquesCarette commented on #468
This would be quite hard to achieve, at least not without a clear way of understanding what is the root cause of the oddness.  Having multiple multiplication symbols is not hard.  It is the decision criteria to use one versus another which is.

[2018-03-15 00:44] JacquesCarette commented on #473
This should likely be some kind of structure that lies 'above' `Expr`. But something should could still be put into various larger structures (like theories, models, etc).

[2018-03-15 00:50] smiths commented on #468
Yes, we talked about this a bit at the start of the meeting.  We thought that with some thought we could come up with some rules for when explicit multiplication symbols would look nice.  After all, human being have some implicit rules when they change the formatting of the display of an equation.  This isn't a high priority, but it might be a little project for a future student to tackle.  A simp

[2018-03-16 03:33] szymczdm commented on #474
Can you please point me to where this is defined (and has it been pushed?)

After looking through the constructors, it appears the right one would be `makeVC` (which, of course, would mean changing the type signature of the minfrac chunk and moving it into a different list of chunks).

[2018-03-16 04:23] #472 closed

[2018-03-16 13:12] JacquesCarette opened #475 "Setting up Drasil documentation/test infrastructure"
[This is really a task that should be done with the summer students, but before I forget it, I will create an issue and assign it to Steven as a means to tracking this.]

We need to improve what we do with respect to examples and tests for Drasil. This was prompted by seeing the thread
https://www.reddit.com/r/haskell/comments/84mirm/recommended_way_of_documenting_examples/
on how it is done for H

[2018-03-16 13:16] JacquesCarette opened #476 "SRS_LPM_Example"
Does it belong in the Drasil repo or should it go to another (se4sc)?

[2018-03-16 13:34] smiths commented on #476
I've moved the example to the scc repo and deleted it in ec21fc83.  I added the example at the beginning, when we thought that Dan would use literate programming tools to do some of the work.  We've learned a lot since those early days.  😄

[2018-03-16 13:34] #476 closed

[2018-03-20 16:10] JacquesCarette opened #477 "Div, Frac and negative Pow"
We have 3 ways to denote the same semantic thing in our expressions. The difference, of course, is in how they print.

This does seem rather silly. And is likely an artifact of being too beholden to the printed version of the documents.  Can we agree to get rid of this distinction?  We'll have some sub-optimal printing for a while as a consequence, but that is a different (interesting!) problem th

[2018-03-20 16:12] JacquesCarette opened #478 "HTML table hack for big operators"
Right now, the HTML headers reference MathJax, but I don't think we actually use it.  Which seems like a silly state of affairs.

Even sillier is that absolutely horrendous hack in the HTML printer for rendering sums and integrals -- tables are used. Yes, it works.  But it just doesn't seem worth it.

[2018-03-20 16:45] szymczdm commented on #477
I'm on board with removing the distinction.

[2018-03-20 16:53] smiths commented on #477
I'm also fine with removing the distinction.

[2018-03-20 17:45] JacquesCarette commented on #477
Ok.  Removing it will be easy.  It will cause quite a few changes to 'stable', but we'll know what is the cause.

I also have ideas on how to 'recover' some of the pleasing layouts. That will need moving to a monadic traversal for the translation from semantics to layout -- but that's going to be needed if we want any kind of style sheets.  And all these changes have significantly shrunk the code

[2018-03-20 21:18] JacquesCarette commented on #478
As with #477, I was hoping to get @smiths and @szymczdm 's comments before proceeding.  Removing hacks is one thing, committing to certain technologies is another.

[2018-03-20 23:54] JacquesCarette commented on #477
I think I'll use \frac. It won't always be pretty, but I think it will be better on average.  And easier to later move to other things than the other way around.

[2018-03-21 03:07] smiths commented on #478
I don't really have an opinion on this one.  All I know about MathJax is what I learned in the last couple of minutes looking at the MathJax web-site.  The quality of the renderings are great, but if we aren't using it, then it seems like we shouldn't be complicating matters at this time.  Maybe MathJax is something we could investigate moving toward in the future, but right now I don't see a reas

[2018-03-22 16:43] JacquesCarette commented on #280
The way this was implemented in the HTML backend is rather sub-optimal.  I'll reopen this (and assign it to myself), to remember to fix it.

[2018-03-22 22:32] JacquesCarette commented on #478
The flipside is that out sums, products, integrals and square roots look pretty ugly, are hacks, and are likely to get worse.

I've done some more investigations, and it seems that the rest of the world is adopting MathJax.  Which, in some ways, will actually simplify things for us, as it would mean a single back-end for everything from `Expr` below!

[2018-03-23 00:03] szymczdm commented on #478
I think MathJax is the way we should be going (and probably should have started the transition a while ago). It's quite a bit better than the current HTML hacks. Not to mention, any change to the css could break the current styling output.

[2018-03-23 01:18] JacquesCarette commented on #478
Makes sense.  So I'll move things in that direction.  I will keep the option of going to 'raw' HTML, but not try to make it look good.

It will require quite a bit of work to get there. In some weird sense, some of the hardest parts will be to keep ensuring that our test output isn't broken. This is because a lot of these refactorings will cause a lot of changes to the output, and it would be easy

[2018-03-23 01:21] JacquesCarette commented on #477
So I've decided to keep 2 of these alive (and merged the other two). It the backend, one needs to have a layout concept for 'tall fractions', as well as exponents. The frontend could be changed to have a single representation, but that doesn't seem to be worth the effort, at least not right now.

So I'm going to consider this one fixed.

[2018-03-23 02:56] JacquesCarette commented on #478
The table hack is gone.  Closing this one.  Will open a new one for MathJax.

[2018-03-23 02:56] #478 closed

[2018-03-23 02:57] JacquesCarette opened #479 "Should move from raw HTML to MathJax for embedded math"
See #478 for most of the discussion on this topic.

[2018-03-23 02:58] JacquesCarette commented on #479
Put in as low priority, as the current HTML is ok.

[2018-03-27 03:17] JacquesCarette commented on #74
And now done!

[2018-03-27 03:17] #74 closed

[2018-03-27 03:26] JacquesCarette commented on #471
Turns out `temp_W` is a temperature (doh!), and in celsius, so the upper bound should be `100`. And I was editing that for other reasons, figured it out, and so fixed it.  Lucky Spencer!

[2018-03-27 03:26] #471 closed

[2018-03-27 14:06] smiths commented on #471
Thanks Jacques!

[2018-04-03 03:04] JacquesCarette commented on #290
Various work (especially on `RealInterval`) has fixed this.

[2018-04-03 03:04] #290 closed

[2018-04-03 03:08] JacquesCarette commented on #345
Upon rereading this, I am not sure what I can do on it.  Yes, it does seem that something piecemeal can be done, but it is all about referencing -- so paging @szymczdm to tell us what specifically should be done to move this forward.

[2018-04-03 03:13] JacquesCarette commented on #387
@szymczdm it looks like it makes sense for me to tackle this one.  But I'm a little fuzzy as to what needs done.  I'm not even quite sure what `ExprRelat` is for at all.  Could it be better documented? Its name is awful, it doesn't help me know what it is.

I get this idea that the codegen really wants to get `QDefinition`s only, and never really a `Relation`.

[2018-04-03 03:19] JacquesCarette commented on #397
This has come back onto my radar.  'duplicate' is a symptom. The cause is indexing, i.e. our serious lack of a coherent design when it comes to indexed things.  And index is the discrete special case of functions, which are also a bit of a problem.  I'm going to have to think about this, as this isn't straightforward (various experiences with indexing in Maple inform that opinion).

[2018-04-03 03:48] szymczdm commented on #345
This one's essentially done except for the part mentioned in #470 which is blocking the last piece from falling into place.

[2018-04-03 03:50] szymczdm commented on #387
I believe ExprRelat was created for something like that, essentially any time we needed an expr from a chunk where we were guaranteed it would have one, but it wasn't known whether it would be a QDefn (ie. Symbol = Expr) or a relation (self-contained Expr).

[2018-04-03 11:33] JacquesCarette commented on #345
Will there be things for either me or Spencer to do?  If not, does it make sense to have us as assignees?

[2018-04-03 11:38] JacquesCarette commented on #387
I think we need to revisit that. I think this might pre-date some of the refactors to theories, and that's really where we should be pulling from.  This may require us to deal with #473 (Teach Drasil about ODEs) first though.

[2018-04-10 14:10] JacquesCarette opened #480 "On descriptions of Instance Models"
@smiths @szymczdm

So I've encountered the following, in both GlassBR and Chipmunk:

- a variable, such as `demand` defined as

    `demand      = unitary "demand"      (nounPhraseSP "applied load (demand)") lQ kilopascal Rational`

and then an associated `RelationalConcept`

    calOfDe :: RelationConcept
    calOfDe = makeRC "calOfDe" (nounPhraseSP "Calculation of Demand(q)")
      dedescr $ (sy

[2018-04-10 14:12] JacquesCarette commented on #480
I'm assigning this to @smiths right now because this is really about the way we encode the scientific knowledge of the underlying application. I suspect that once we figure out what to do here, there will be 'implementation' issues that will come out of the discussion, and those will be assigned to someone else.

[2018-04-10 20:05] smiths commented on #480
Great observations @JacquesCarette.  This is definitely something to think about.  For the example given, we could think about combining everything into one "chunk".  For GlassBR, using the cited ASM standard, I don't think we need to define a variable demand separate from a concept (RelationalConcept) for calculating demand.  However, the separation of concerns does serve a purpose.  The definiti

[2018-04-10 20:13] smiths commented on #480
Maybe it will help if we look at some existing scientific knowledge ontologies.  They must have come up with similar problems about the distinction between concepts, equations, relations etc.  Maybe there is some insight to be gained?

[2018-04-10 20:45] smiths commented on #480
I figured I was not quite using the terminology of Drasil correctly (RelationConcept versus Unitary etc).  I still think in terms of the SRS template.   I'm looking forward to @szymczdm's paper, since that should get the current hierarchy down in a form that I, and others, can digest.  😄

[2018-04-16 19:40] JacquesCarette commented on #384
So I now know why we do this, and why it is, in fact, ok: we should see IDs as primary keys in a database. If things have the same key, then they are 'the same thing', but potentially appear in multiple datastructures. The thing itself is then the join of all of the structures.

Of course, accidental overlap will create havoc.  But well, so be it.

[2018-04-16 19:40] #384 closed

[2018-04-18 03:32] smiths commented on #46
@szymczdm, I'm fine with things as they are.  I don't see a need for a phantom section for the derivation.  However, I'm not sure exactly what the advantage of a so-called phantom section would be, so maybe I am missing something here.

[2018-04-18 14:52] JacquesCarette commented on #46
Note that `\subsubsubsection` is usually spelled `\paragraph` in latex -- and that's what pandoc does when trying to go that many levels deep.

[2018-05-01 16:02] szymczdm opened #481 "Remove Greek from Unicode"
As we discussed, each of the Greek character constructors (Alpha_L, Alpha, etc.) in Unicode need to be removed, and all instances of their use need to be replaced with the appropriate unicode character. For example Alpha_L will be replaced by "α" wherever it appears. There might be some type mismatches that occur which you'll need to fix.

This should be done one character at a time. After you've

[2018-05-01 16:43] szymczdm opened #482 "Windows-only Unicode printing diff"
It seems there's an issue with windows machines rendering unicode characters.

When attempting to render the examples on a Windows machine the unicode characters themselves are being swapped.

For example:
`Système International d'Unités` is being rendered as `SystŠme International d'Unit‚s`

[2018-05-01 17:07] JacquesCarette commented on #482
More details. I don't understand why the title says "printing diff", and above you say "render".

Can you give me specific steps to reproduce the problem?

[2018-05-01 17:10] szymczdm commented on #482
Steps:

1. Clone to Windows machine
2. make

I'm not sure exactly what's causing the error. It's showing up in the logs, but only when we generate the files on a native Windows machine. If it's Linux (baked into Windows) there's no issue.

[2018-05-01 17:16] niazim3 commented on #482
I'm using Windows 10.

[2018-05-01 17:36] JacquesCarette commented on #482
Ok, I'll check that out at home -- might have to wait to tomorrow morning though.

[2018-05-01 21:04] halonazhao opened #483 "Stable doesn't match Manual Version"
In manual version of SWHS case, the 4.2.6 Data Constraints section keeps "*, +, #, **" to mark different situations, but in stable, these information is missing, such as some constraints in the table V_p, A_c and so on. Do we still have to keep these information?

Manual version link: https://github.com/smiths/caseStudies/blob/master/CaseStudies/swpcm/Documentation/SRS/PCM_SRS.pdf
@szymczdm @smith

[2018-05-01 21:22] halonazhao opened #484 "The Type of the Assumptions Causes Many Redundant Code"
There is one case that Assumptions section has to take the type of " [AssumpChunk] " whose content has to be built using the constructor " ac' ".
ac' :: String -> Sentence -> AssumpChunk

There are some other case that we have to use the same string and Sentence information to produce a "content" type.

mkAssump :: String -> Sentence -> Contents
mkAssump i desc = Assumption $ ac' i desc

So to pro

[2018-05-01 21:31] halonazhao opened #485 "The Enumeration of the Assumptions"
Since the Nopcm case and the SWHS case are using some common assumptions, some assumptions should be directly imported from the assumptions of SWHS. The contents are fine, but the number of the same assumption might be different in two cases. Those numbers like "assump1" are hard-coded by using string type to give. So basically, we have to produce a new assumption again in Nopcm. I didn't find any

[2018-05-02 01:11] smiths commented on #485
@halonazhao I've assigned this issue to @szymczdm.  Issues should be attached to someone, so that someone can take ownership.

[2018-05-02 01:32] smiths commented on #483
@halonazhao why do you think that the information in the manual version isn't relevant?  If we delete it, then it is gone forever.  The constraints are not obvious and without the footnote information future readers will not know where the constraints came from.  Rather than the simple, but wrong, solution of deleting the information we need to figure out the best way to capture it, and then the b

[2018-05-02 01:58] smiths commented on #483
@halonazhao, I like the questions you are asking.  I don't agree with deleting information, but I like that you are questioning the "manual" reports and the Drasil code.

[2018-05-02 02:11] szymczdm commented on #484
That sounds perfectly reasonable. It actually makes more sense!

[2018-05-02 02:28] JacquesCarette commented on #484
The details on what the problem's core source is good. I would have liked an explicit example on top of that (some specific source file and line numbers where we can see the duplication). That would indeed make it easier to figure out what the next steps should be.

[2018-05-02 02:29] szymczdm commented on #482
I've tracked the problem to 'hPutStrLn' for writing to files. I believe [this stack overflow](https://stackoverflow.com/questions/10779149/unicode-console-i-o-in-haskell-on-windows) has a pretty good rundown of the problem, though I've only skimmed it.

It looks like there's also a windows bug that stops some solutions from working.

[2018-05-02 02:37] JacquesCarette commented on #483
I think this is what the `Rationale` attribute should help with. It is defined but not really plugged-in right now.

[2018-05-02 02:38] JacquesCarette commented on #485
Right - this is a referencing issue.

[2018-05-02 13:06] halonazhao commented on #483
@smiths, I don't think that we should delete these information either. Because they do mean a lot under that context. But I was thinking that since I am not expert at this. Usually, for some problems, although I am pretty sure that something must be right, there could be a very strong reason out there I didn't come up with before, to prove that my thought was wrong. So I didn't actually mean that

[2018-05-02 13:07] halonazhao commented on #484
I've added the new assumptions at type AssumpChunk in the [Assumption file of SWHS](https://github.com/JacquesCarette/Drasil/blob/yuzhi/code/Example/Drasil/SWHS/Assumptions.hs), line 44. The other group of assumptions at type "contents"are defined in the same file starting from line 163.

The assumptions at type AssumpChunk are used in the [Body file of SWHS](https://github.com/JacquesCarette/Dras

[2018-05-02 13:12] smiths commented on #483
That is a very reasonable explanation.  Thank you @halonazhao.  I'm just sensitive that we don't take the easy solution, since once information is lost, it isn't likely to come back.  Reminding us of the need for ```Rationale``` is a good thing.

[2018-05-02 14:04] niazim3 commented on #482
I recognize that this issue got closed, however, I'm still receiving the same results that I was earlier (screenshotted below):
![image](https://user-images.githubusercontent.com/28247301/39527524-9893f516-4def-11e8-8da5-4ff30d1996fc.png)

The logs still contain the same discrepancies, so I'm unsure if this is a new issue or not...

[2018-05-02 18:53] JacquesCarette commented on #484
Thank you.

[2018-05-02 19:06] JacquesCarette commented on #484
So lines 451 and 461 both re-use previous definitions. So I don't quite understand the duplication.  That there is duplication in the resulting document is expected.  What we worry about is duplication in the Drasil source.

[2018-05-02 20:08] niazim3 commented on #482
log.log :

[log.log](https://github.com/JacquesCarette/Drasil/files/1968717/log.log)

[2018-05-02 20:25] JacquesCarette commented on #482
Thanks.  There's definitely a file encoding difference still happening.  One's UTF-8, not sure what the other one is.

[2018-05-02 21:03] niazim3 commented on #482
Actually, the register fix does work. The steps in the README needed to be followed (i.e. the `start.` command, followed by `cmdAdd65001`, `chcp 65001` and `make`).

[2018-05-02 21:03] #482 closed

[2018-05-03 18:14] JacquesCarette opened #487 "Convenience combinators in `Chunk.NamedIdea` - understand the use"
Starting around line 66, there are a whole lot of combinators that really don't belong here.  If nothing else, all the ones which produce Sentences or NP (from line 66 onwards) should be moved out.  They are not necessarily bad, but we need to understand them better.  They are too based on English and not enough on semantic content.

Take one example: `the` on line 190. Does it really make sense t

[2018-05-03 18:16] JacquesCarette commented on #487
Making sure that @smiths and @szymczdm see this issue. I think it is going to lead us towards a bunch of mini-projects for the next week(s). Especially the more semantically meaningful parts.

[2018-05-03 19:33] JacquesCarette commented on #487
To all the 'participants', but not to people who have just been tagged. Go ahead and work here - we can all set up filters so that these notifies go to sub-folders.

[2018-05-03 21:06] halonazhao opened #488 "Intro of DataConstraint Has an Error (stable version Nopcm case)"
![screen shot 2018-05-03 at 17 01 55](https://user-images.githubusercontent.com/28347043/39602661-d43b0640-4ef3-11e8-981a-cb6190e51bbe.png)

Same sentences are repeated twice. Can I modify stable?

[2018-05-03 21:26] halonazhao opened #489 "Minor Problem with the CSS"
When I scale the web window, there would be overlapping of a paragraph as in the snipshot. And I noticed that that paragraph is controlled by "display: block", which doesn't do automatically changing lines properly. Probably not using CSS display and maybe using "br" or "div" manually blocking that paragraph out would be nicer. What do you guys think?

![screen shot 2018-05-03 at 17 16 47](https:/

[2018-05-04 05:08] smiths commented on #488
This same text is (incorrectly) repeated in the manually produced text in the Case Studies repo.  The SWHS "manual" version (in the SWHS repo) does not have this mistake.   However, the text in the SWHS version is different from the no-PCM version.  I'm not sure why this would be the case, since keeping the text the same would make re-use easier.

@halonazhao, can you compare the noPCM and the SWH

[2018-05-04 06:07] halonazhao opened #490 "Instance Model Section in the SSD probably Doesn't Plug in Properly"
I found out that the intro of IM is missing. After tracing it, I found that the problem is probably at [DocumentLanguage](https://github.com/JacquesCarette/Drasil/blob/master/code/Example/Drasil/DocumentLanguage.hs#L432) Line432. Since "SRS.inModel"  (in [SRS](https://github.com/JacquesCarette/Drasil/blob/master/code/Example/Drasil/SRS.hs#L66)) is used instead of "SSD.inModelF" (in [SSD](https://g

[2018-05-04 06:32] halonazhao commented on #488
The  is from SWSH:
![screen shot 2018-05-04 at 02 20 40](https://user-images.githubusercontent.com/28347043/39615041-f9ae245e-4f41-11e8-92b2-af051c185f06.png)
This is from NoPCM:
![screen shot 2018-05-04 at 02 21 15](https://user-images.githubusercontent.com/28347043/39615043-fb9562b4-4f41-11e8-87e1-6882aad112c6.png)
The Yellow marked parts are the same parts, the green marked part is the unique p

[2018-05-04 14:11] JacquesCarette commented on #487
@niazim3 Is this done then? [I mean, the 'analysis' phase]?

[2018-05-04 16:33] niazim3 commented on #487
Removed combinators that were not used in the files for this repo (`with`, `aNP`, `this`, `a_`, and `of''`). Analysis phase complete.

[2018-05-04 20:51] szymczdm commented on #46
So would we like to ignore `\subsubsubsection` (as we presently do) or transform it to `\paragraph`?

[2018-05-04 20:54] szymczdm commented on #292
@smiths should we reassign this?

[2018-05-04 20:58] smiths commented on #292
We can close this issue.  Until such time as we are looking for additional case studies, there is no point in maintaining the 3dfim+ example.

[2018-05-04 20:58] #292 closed

[2018-05-04 21:00] szymczdm commented on #330
@smiths, @JacquesCarette, Should we do something with this issue?

[2018-05-04 21:03] niazim3 commented on #327
Since the decision in question is something that will be trivially decided in the future, should this issue be closed?

[2018-05-04 21:04] szymczdm commented on #337
#479 will handle this, since we will be using MathJax. However, if we're going to continue maintaining both (#300), we'll either need to tackle this issue or decide it's "good enough" and for it to be "prettier" move to MathJax.

@JacquesCarette @smiths any thoughts?

[2018-05-04 21:06] szymczdm commented on #360
Since acroTest and acroNumGen are being removed at this stage, I'm going to close this issue. It was a good workaround while we needed it.

[2018-05-04 21:10] szymczdm commented on #359
@JacquesCarette I know you looked at this in a lot more depth recently, have you made any headway on how indexing should be handled particularly?

[2018-05-04 21:17] szymczdm commented on #398
@deviprasad135 have you done this yet? If so, please close this issue. If not, please let me know (and it should be on your to-do list for once you're done your current tasks).

[2018-05-04 22:05] JacquesCarette commented on #46
Transform it. At least, we can try it and see.

[2018-05-04 22:07] JacquesCarette commented on #330
If I understand it correctly, yes, we should exactly as described.  But likely re-assign it to whoever is taking over NoPCM.

[2018-05-04 22:10] JacquesCarette commented on #327
No.  Because even if we implement the feature (still not fully done), that doesn't mean that the encoding in GlassBR will be such that the feature will be used/enable.  That might require a change in GlassBR too. And this issue will remind us of that.

[2018-05-04 22:13] JacquesCarette commented on #337
I agree. I think we will maintain both the raw HTML version (which will not be all that pretty, and not fix this) and the MathJax, which should be pretty (or be fixed). So I think this one can in fact be closed?

[2018-05-04 22:14] JacquesCarette commented on #360
I'm a little reluctant to close this until `acroNumGen` is **actually** removed. Then it can be closed. I'm happy for this issue to continue to be an irritant until that is the case.

[2018-05-04 22:15] JacquesCarette commented on #360
Note that you can start to assign removing `acroNumGen` to various people.

[2018-05-04 22:20] JacquesCarette commented on #359
Nope, unfortunately not. I'll push it up on my priority list.

[2018-05-05 14:20] JacquesCarette opened #491 "Merging branches in"
It is becoming very high priority that the work of @halonazhao and @deviprasad135 be merged into master. That means merging master into their branch first, and then doing an orderly merge back. Then we need a process (Pull Requests and smaller branches?) which we can keep on top of.

[2018-05-05 14:32] JacquesCarette commented on #489
Yes, I think the generated HTML here is trying to be too clever, and fails. I am meta-assigning this to @szymczdm who needs to figure out who to assign this to.

Also, it's odd that there are some &lt;em&gt; and &lt;sub&gt; tags showing up above. That seems like a bug as well.

[2018-05-05 14:34] JacquesCarette commented on #490
Well done!  You are most likely correct.

Can you create a new branch (perhaps based on master, not your branch) where you try to fix this?

[2018-05-05 14:39] JacquesCarette commented on #488
I am assigning this to @smiths because all issues need an owner, and it makes sense for @smiths to own all text-related issues.

A number of issues are accumulating that need our attention (including @szymczdm here). Perhaps we could set up an additional meeting on Tuesday specifically to deal with these? I think we have things to do on Monday and we won't have enough time to get to all of these.

[2018-05-05 14:54] JacquesCarette commented on #487
So now we need to understand more deeply what each of these is "trying to say". So I think all the ones which produce `NP` should be split out. Probably into a new `Data.Drasil.Phrase.hs` file. They do make things in `Data.Drasil.Concepts.Documentation` look nice, so they are worth keeping.

[2018-05-05 15:03] deviprasad135 commented on #398
@szymczdm I have gone through the material but I dint complete every thing.

[2018-05-06 00:53] halonazhao commented on #490
I just solved it. They are posted in the new branch called "im_modify". I also tested it in my brach and it works. The intro shows up properly.

![screen shot 2018-05-05 at 12 52 57](https://user-images.githubusercontent.com/28347043/39668780-43b72eb4-50a6-11e8-9e70-94f7dfdeb992.png)

[2018-05-06 12:11] JacquesCarette commented on #490
Good!  Can you submit this as a Pull Request?  I want to test the process.

[2018-05-06 12:32] smiths opened #492 "Solution Method Variability: NoPCM Example"
The NoPCM case study uses an ODE solver to find the temperature of the water over time.  However, the noPCM version is simple enough that a direct (analytical) solution of the ODE is possible.  Rather than use an ODE solver, the function could be coded directly into the software.  This would change the design, since no ODE solver module, and no ODE defining modules would be necessary.

In our futu

[2018-05-06 12:40] JacquesCarette commented on #492
Excellent!  This is indeed a rather high-level decision, and I imagine rarely, if ever, properly captured, never mind made changeable, in most software.

[2018-05-06 12:44] smiths commented on #398
If you have any questions @deviprasad135, please let us know.  These topics are fundamental building blocks for the Drasil project (and for many other projects), you want to be comfortable with them.  Maybe set aside an hour each day to work through the software carpentry modules and the Learn you a Haskell chapters?

[2018-05-06 12:55] smiths commented on #487
@JacquesCarette, are you asking @niazim3 to make the change of splitting `NP` out?

[2018-05-06 13:06] smiths commented on #488
@halonazhao, please modify the case study version of noPCM to remove the duplication.  Also, please fix the Drasil noPCM to remove the same duplication.  You will have to submit a pull request to make the second modification.  You should include a href to this issue, so that it is obvious you are making a simple change.  The pattern of describing each column of the table makes me think that we can

[2018-05-06 13:07] JacquesCarette commented on #487
No, of taking the combinators in the `Chunk.NamedIdea` files that **produce** `NP` out of that file (and out of the `Language.Drasil` hierarchy) into something in `Data.Drasil`.

[2018-05-06 13:12] smiths commented on #491
@JacquesCarette, @szymczdm and @smiths should discuss the process for making changes to Drasil (and maybe the Case Studies as well) during our meeting on Monday (May 7).  We can discuss the plans with the entire group on Tuesday (May 8).  Changes will happen fast and we want to stay on top of them.

[2018-05-06 14:31] deviprasad135 commented on #398
Ok @smiths

[2018-05-07 03:39] smiths commented on #337
Agreed.  We can close this issue.

[2018-05-07 03:39] #337 closed

[2018-05-07 03:48] smiths commented on #330
@elwazana, you have been looking at the noPCM example.  What are your thoughts on this issue.  As far as I can tell, there is no test plan, or test report, for the noPCM example.  There is testing code in the CCode and Python folders.  In your review of this code, was the meaning of the test values clear?  My guess is that the meaning was confusing, but we would like to hear your thoughts, since t

[2018-05-07 13:42] elwazana commented on #330
@smiths I did find it more confusing reviewing the noPCM testing code than the SWHS repository testing code, but I wanted some clarification with regards to what you mean by test values, do you mean the inputFiles?

As an example SWHS Python inputFiles:
https://github.com/smiths/swhs/tree/master/Program/Python/Testing/inputFiles

[2018-05-07 14:45] niazim3 commented on #487
I was working on transferring the combinators over to the file added in the commit mentioned above, when I ran into the following error:
[code]

After looking into what is usually the cause for such an error, it seeems the type signature needs to follow the current type signature. Can I get some suggestions on how to fix this issue? (I've already tried removing the type signature completely)

[2018-05-07 15:27] JacquesCarette commented on #487
The problem is sneaky: there is a `phrase` function exported by `Language.Drasil` which does
    ` phrase (x ^. term)`
and so in your `of_''` implementation, that's the one you are picking up instead of the one from `NounPhrase`.

[2018-05-07 19:08] JacquesCarette opened #495 "Tweak automatic variable declaration"
Context: In GlassBR, most variables are inferred, but some need to be explicitly declared.  This inconsistency should be explained (at a minimum) and, at best, fixed.

Steven mentions:

[2018-05-07 19:10] JacquesCarette opened #496 "Retain variable type information in the backend"
Some hacks in the backend are due to the fact that variables "forget their types".  More specifically:
It all really boils down to GOOL not retaining type information.  Types are only used in the variable declaration statements in GOOL, and after that the types of variables are totally lost -- everything is just Var with a label.

Some examples of this:

-  LanguageRenderer.hs:316-323.  At some po

[2018-05-07 19:59] niazim3 commented on #356
If we could `import Language.Drasil.Space` into the Unitals file, (which is currently not possible because it is hidden), it would be possible to use the types
[code]

[2018-05-07 20:09] niazim3 commented on #368
What is the status of this issue? It looks like it can be closed but I wanted to confirm that I'm not missing something important.

[2018-05-07 23:06] halonazhao opened #497 "Is 'QDefinition' the Right Type for DataDef?"
As the DD section shows in [DocumentLanguage](https://github.com/JacquesCarette/Drasil/blob/master/code/Example/Drasil/DocumentLanguage.hs#L186), the DataDef is at 'QDefinition' type. Now, the DataDef is produced by using 'mkDataDef' defined in [Data.Drasil.Utils](https://github.com/JacquesCarette/Drasil/blob/master/code/Data/Drasil/Utils.hs#L167), which doesn't help show the Attribute: Derivation

[2018-05-08 00:03] JacquesCarette commented on #487
We now need to understand which ones are left.  Can you post a list?

[2018-05-08 00:26] JacquesCarette commented on #356
`Drasil.hs` exports `Space(..)`, so all these discrete types should already be available.

[2018-05-08 00:28] JacquesCarette commented on #368
Well spotted - this is indeed done.

[2018-05-08 00:36] JacquesCarette commented on #497
Yes, I think you have indeed spotted something which @szymczdm was working on.  I think this is mostly implemented, but needs some fine-tuning.  He should at the very least document what remains to be done on this, and then we can figure out how to get that done.

[2018-05-08 00:44] JacquesCarette commented on #72
Note that #74 is now done and closed. Still, it's not clear to me how to implement this.

[2018-05-08 00:46] JacquesCarette commented on #80
In some ways, `DocumentLanguage` represents a fair amount of work in that direction. Furthermore, any work on getting the OPG-format into place will continue to go in this direction.  I don't think that having this issue open will really remind us of anything. So I'm closing this one.

[2018-05-08 00:46] #80 closed

[2018-05-08 00:49] JacquesCarette commented on #91
I have a sneaking suspicion this one is going to become important soon. I'm still going to leave it unassigned, but I should remember to do another pass on unassigned issues in a couple of weeks.

[2018-05-08 00:58] JacquesCarette commented on #167
Actually, as we've subsequently discovered, Haskell's `String` type is unicode, so this can be done right now. No extra code to write.  And the backends (LaTeX and HTML) have been fixed to deal with UTF-8 properly, so we're good to go.

So the hack in GamePhysics can be removed! @elwazana would you like to try to deal with it?

[2018-05-08 01:01] JacquesCarette commented on #214
I've added the 'design' label as this does require some, well, design. There is a slightly larger issue of having a proper "build" process for documents, not just for code. There are different ways to lay out the files for html, and these choices should be exposed.

[2018-05-08 01:08] JacquesCarette commented on #281
The longer term may be this summer. I think this is a great example for illustrating "what this sentence means" kind of knowledge capture.  I'll assign this to myself right now, but with the intent to get various people to tag (using our shiny new attributes) various pieces of information with class/level, so that this can be derived.

[2018-05-08 01:10] JacquesCarette commented on #295
I'm going to draw @niazim3 's attention to this issue. The point isn't to just go and 'fix' this (it needs some design first), but it is something worth pondering.

[2018-05-08 01:15] JacquesCarette commented on #479
We'd already discussed this in #300. And should keep #412 in mind too.

[2018-05-08 01:16] JacquesCarette commented on #300
I'm going to close this one in favour of #479.

[2018-05-08 01:16] #300 closed

[2018-05-08 01:18] JacquesCarette commented on #312
This should be looked at for 'completion'.  I think that @halonazhao has also worked on this. And most definitely the various `acro` functions should NOT be used.  They were a solution idea that turned out to not be a good idea at all!

[2018-05-08 01:19] JacquesCarette commented on #321
I think this might be done? @szymczdm

[2018-05-08 01:26] JacquesCarette commented on #347
Looks like a lot of really good work was done here, and is close to being 'done'. @niazim3 could you document (your memory of) the state of this work? In a way that someone else could take it over and finish it?