[2019-04-04 01:55] JacquesCarette commented on #1173
This bug report, on the other hand, is very well made. Very clear - thank you.

[2019-04-04 02:04] JacquesCarette commented on #1174
The best way forward is the third option, multi-equation definitions, at least for instance models. I think inlining is not really a solution. In the short term, creating separate DDs would be better than this hack.

[2019-04-04 02:39] JacquesCarette commented on #1177
I'm sure you're right -- but I do not actually understand this issue. Whoever ought to be assigned to fix this needs to be able to understand the issue.  If you intend to fix it, that's fine. Otherwise, please expand the description so that others can understand it too.

[2019-04-04 02:41] JacquesCarette commented on #1178
Agreed on both points (not like in general, good idea here).

[2019-04-04 02:42] JacquesCarette commented on #1179
I believe I understand this one, so there's that ;)

[2019-04-04 18:54] Mornix commented on #1177
You are correct. This issue seemed to be written as a disjoint set of notes. I've cleaned it up now to hopefully be more cohesive.

[2019-04-04 19:24] JacquesCarette opened #1182 "Hackage Dimensional package"
We should investigate if we can use / switch to that package instead of our own homegrown for this purpose. https://github.com/bjornbm/dimensional

Context: we have a home-grown 'units' handling module, and probably we're not really adding any value by doing it ourselves. We should see if we can instead use a third-party solution.

[2019-04-04 19:37] Mornix opened #1183 "CodeGen; Python Ternaries"
Python codegen generates incorrect ternary expressions. This issue is likely to be observed in any Python generated code which uses ternaries, however the only example at the time of this issue is in GlassBR's `DerivedValues.py` where the following line is:
[code]

Python's ternaries are written as
[code]
as opposed to the C-style
[code]

The source of this issue lies in `LanguageRenderer.hs`' `Va

[2019-04-04 19:43] Mornix opened #1184 "CodeGen; "Useless" Conditionals"
Current codegen for GlassBR generates the following conditional block in `DerivedValues.py`:

[code]

While this specific pasted example is in Python, this issue is not only in the Python generated code, but in all examples. Depending on the language the following conditionals will either:
1. Fail type checking
2. Always take the first branch

While I have not triaged this issue in detail, my gues

[2019-04-04 19:49] bmaclach commented on #1184
This is also fixed on my finally tagless GOOL fork.

[2019-04-05 21:11] JacquesCarette commented on #1177
It does seem better.

[2019-04-08 14:31] smiths commented on #1174
I agree with @JacquesCarette.  The short-term fix can be adding separate DDs.  This is consistent with how we solved other problems.  Capturing small increments of knowledge is also consistent with our overall "philosophy".  In the future we will want to provide a presentation (documentation) mechanism that combines the small definitions into something more suitable for human consumption.

[2019-04-08 16:33] bmaclach opened #1186 "Unit mismatch issue in GlassBR"
One of the issues with the generated GlassBR code is that interpolation fails when attempting to calculate `J`. The reason it fails is because all of the calculations assume units of Pa, but `q` actually has units of kPa, so it is off by 1000 times and out of bounds for the interpolation. The reason `q` has units of kPa is because it is interpolated from "TSD.txt", which I'm guessing has values in

[2019-04-08 18:21] smiths commented on #1186
@bmaclach, I think the easiest solution is what you are proposing.  We could add a requirement that q be input in one unit and converted to the other.  We don't have a requirement for that right now, and adding it seems to add an unnecessary complication.  We can assume that the file is in the units of Pa.

[2019-04-10 02:47] JacquesCarette commented on #1186
I agree with the short-term fix. But yes, our "data description language" ought to be able to define the units that the external data is in, and we should be able to generate conversion code to work in whatever internal units we want to use.

This might even be related to the 4-variable model, in the general case.

[2019-04-10 17:27] bmaclach commented on #1186
The TSD.txt has been updated as of merge of PR #1190. Closing issue.

[2019-04-10 17:27] #1186 closed

[2019-04-10 17:39] bmaclach opened #1191 "Symbols used only in Assumptions do not appear in Table of Symbols"
I added a new symbol to SSP and noticed it was not appearing in the Table of Symbols. I think the issue is that the symbol is only used in the text of an Assumption, and when we pass over the SRS to get all the sentences from which we extract symbols, we skip over the assumptions:
https://github.com/JacquesCarette/Drasil/blob/00cd3d789053cc8b8ddca13f3200d4d8484b08b2/code/drasil-docLang/Drasil/Extr

[2019-04-10 19:46] Mornix commented on #1191
Looks like it was something that may have been something missed when swapping `AssumpChunk` to `ConceptInstance`.

[2019-04-10 19:49] Mornix commented on #1184
Fixed with #1188 and non-issue in FT GOOL. Closing.

[2019-04-10 19:49] #1184 closed

[2019-04-10 19:51] Mornix commented on #1183
Fixed with #1187 and non-issue in FT GOOL. Closing.

[2019-04-10 19:51] #1183 closed

[2019-04-10 19:55] Mornix commented on #1164
Brief update:
@JacquesCarette suggested using smart constructors as a likely replacement for the EDD and using multiplates as the foldable-like typeclass/library.

[2019-04-10 19:57] Mornix commented on #1026
Addressed with the merge of #1148. Closing.

[2019-04-10 19:57] #1026 closed

[2019-04-10 19:58] Mornix commented on #985
#1148 completed this. Closing.

[2019-04-10 19:58] #985 closed

[2019-04-10 19:58] Mornix commented on #560
Merge of #1148 resolved this. Closing.

[2019-04-10 19:58] #560 closed

[2019-04-10 20:05] Mornix commented on #1117
Completed (within reason -- see existing suppressions in .hlint.yaml in the code folder) with #1147. Closing.

[2019-04-10 20:05] #1117 closed

[2019-04-11 18:16] JacquesCarette commented on #1191
That is an excellent question!!! I don't know. Though I'm leaning towards "it should". And yes, it ought to be fixable, if we decide to include it.

[2019-04-12 14:06] smiths commented on #1191
I agree in general that if a symbol is introduced in the assumptions, it should be included in the table of symbols.  This particular case is interesting because z was implicitly added when the decision was made to use x and y to represent the coordinates in the plane.  In the future we might want to be more explicit about our coordinate system selection.  The refinement from theory to instanced m

[2019-04-12 16:10] bmaclach commented on #1191
Assigning this to @Mornix as it intersects with his work for #1164.

[2019-04-12 17:25] bmaclach opened #1196 "Description fields should include links to where symbols are defined"
The description field of TMs, GDs, DDs, and IMs currently defines each symbol used in the equation. If a symbol is defined by its own DD, a link to this DD should also appear in the symbol description, like in this example from manual SSP:
![image](https://user-images.githubusercontent.com/18634568/56054870-f8272980-5d25-11e9-945a-5adb26dbe305.png)

Since the Description field is fully automated i

[2019-04-12 17:37] smiths commented on #1196
@bmaclach, I completely agree.  We added the Notes field so that information would not be lost, but we always hoped to replace it with future automations.  An automatically generated link to further details on a data definition would be an improvement.  Following on the work of @halonazhao, this would improve our documentation's automatic traceability.

Assuming @JacquesCarette agrees, we should c

[2019-04-12 17:38] oluowoj opened #1197 "Traceability Matrix mismatch"
As discussed,
Issue was noticed in Game Physics traceability Matrix
IMs to DDs, and
LC to IMs.

<img width="669" alt="image" src="https://user-images.githubusercontent.com/43192745/56055732-476e5980-5d28-11e9-8ef1-81a4c3621d3f.png">

[2019-04-12 18:05] Mornix commented on #1196
I think #1164 should be able to help with any missing pieces here.

[2019-04-12 20:28] JacquesCarette commented on #1196
Agreed.

[2019-04-15 16:09] bmaclach opened #1199 "DD references IM in SSP"
There are some DDs in the SSP example that arise as part of the derivation of an IM. Thus, in the manual version, we reference the derivation of the IM in the DD, shown below.
![image](https://user-images.githubusercontent.com/18634568/56147534-7b3ebe80-5f76-11e9-8ef6-c018778fd4c9.png)

We can't do this in Drasil because it would create a cyclic reference (IMs should reference DDs, not the other w

[2019-04-16 03:31] smiths opened #1202 "SSP should probably say y coordinate, not y ordinate"
The first author of the SRS for SSP liked the terminology ordinate.  I remember requesting it be replaced with coordinate, but this only partially happened.  It isn't a major concern, but I keep seeing y ordinate when I look at the documentation.  At some point, I think the uses of ordinate should be replaced with coordinate.

In my research, the term ordinate is an alternate name of the y axis:
h

[2019-04-16 12:42] smiths commented on #1199
@bmaclach, we should just remove the forward reference to the IM.  After all, the IM doesn't actually derive the DD; it just uses it.  The DD is simply the resistive shear without interslice normal and shear forces.  It is derived by summing the shear forces.  I believe that when the IM was originally derived, the deriver noticed that this collection of terms should have a name, and that the colle

[2019-04-16 12:42] #1199 closed

[2019-04-16 17:30] bmaclach opened #1203 "arcsin, arccos, arctan in Expr"
Some equations in SSP require an inverse tangent function, which is currently not possible in Drasil. Can I go ahead and add `Arcsin`, `Arccos`, and `Arctan` to the `UFunc` data type?

[2019-04-16 17:45] smiths commented on #1203
This sounds like a good idea to me.  Please go ahead and add the new functions.

[2019-04-16 19:40] JacquesCarette commented on #1203
For the current design of `Expr`, this is the right thing. [For the long term, this is a sub-optimal design, as such information should be data, not code].

[2019-04-16 20:30] bmaclach opened #1205 "Case-study-specific paragraphs at start of Instance Models section"
In the manual SRS for SSP, this is the start of the Instance Models section:

![image](https://user-images.githubusercontent.com/18634568/56241463-ed410180-6063-11e9-86d3-2d72585bc008.png)

The first paragraph is generated automatically by Drasil for every case study. The following paragraphs are specific to SSP, but there is no way in Drasil to add these paragraphs to the IM section.

I checked t

[2019-04-16 22:22] bmaclach opened #1206 "Some RefBy fields have duplicate references"
I noticed while updating SSP that sometimes Refby fields list the same references multiple times:
![image](https://user-images.githubusercontent.com/18634568/56247888-4c0e7700-6074-11e9-8143-e11f8581f16e.png)

In this case, the listed IMs each reference this GD multiple times in their definitions, and these duplicate references are not being filtered out any time before rendering the RefBy field.

[2019-04-17 00:33] JacquesCarette commented on #1205
To include (or not) such paragraphs is an exposition choice -- which @smiths should make. We can then change the `DocLang` to allow it, and that is quite easy to do.

[2019-04-17 00:36] JacquesCarette commented on #1206
Yep, must be a `nub` missing somewhere. I'll likely start digging into the code again in May.

[2019-04-17 04:02] smiths commented on #1206
Good catch @bmaclach.

[2019-04-17 04:05] smiths commented on #1205
@bmaclach, I definitely want to include the instance model introduction text for SSP.  For some cases, the IMs will need some overview comments to help orient the reader.  I think we should incorporate this into `DocLang`.  It is a shame that examples like this keep coming up, where we thought the Drasil version matched manual, but information was actually removed.  Thank you for noticing.

[2019-04-17 13:32] bmaclach commented on #1205
Thanks for the replies, reassigning this to myself to change the `DocLang` and add the paragraphs for SSP. I can also add the paragraph for SWHS while I'm at it.

[2019-04-17 13:42] smiths commented on #1205
Sounds good!

[2019-04-17 14:28] oluowoj opened #1207 "Please review the new Instance Model (IM4) for game physics."
@smith, as discussed SRS is located @ https://github.com/smiths/caseStudies/tree/gamephy_finaldoc/CaseStudies/gamephys/docs/SRS.

Please let me know if it makes any sense to you before I proceed with adding it on Drasil.

[2019-04-17 16:09] bmaclach opened #1209 "SSP IM2 Input/Output constraints make no sense"
Here is SSP's IM2 from Drasil:
![image](https://user-images.githubusercontent.com/18634568/56302920-d4d6f280-6108-11e9-9580-29b80f095765.png)

I'm very confused about the input constraint and output constraint. F<sub>x</sub><sup>G</sup> is one of the cases where we had to create a separate DD as a hack to get explicit grouping. For reference, here is the definition of F<sub>x</sub><sup>G</sup>:
![

[2019-04-17 19:23] smiths commented on #1209
@bmaclach, this doesn't make any sense to me either.  Yes, I think you should remove this.  I don't see any corresponding constraint in the manual version, so we are not losing information by removing this.  Besides that, it really doesn't make any sense.  F_G is not an input or an output and the constraint doesn't mean anything.

You mentioned that this is the first version of these constraints.

[2019-04-17 19:30] bmaclach commented on #1209
@smiths No, you never told me to add them. I don't know why they were added, but they first showed up in this big PR (#870) which seems to be where the `InstanceModel` type was first implemented.

[2019-04-17 19:40] smiths commented on #1209
We could look at blame to see who added this, but I'm not sure it is worth following up further.  It is nonsense and we should just delete it.  :smile:

[2019-04-17 19:41] bmaclach commented on #1209
I agree. I'll go ahead and delete it. I'll close this issue since my question has been answered.

[2019-04-17 19:41] #1209 closed

[2019-04-17 20:04] bmaclach opened #1210 "RefBy fields can contain references to themselves"
If an IM references itself, it will show up in the RefBy field for that IM, which seems unnecessary. The first IM in SSP is an example:
![image](https://user-images.githubusercontent.com/18634568/56317087-fc8a8280-6129-11e9-9472-040b921375c5.png)

(The self-reference isn't visible in the screenshot, it happens in the derivation)

[2019-04-17 21:07] smiths commented on #1210
@bmaclach, I agree that the self reference should not appear in the RefBy field.  I had a look at this particular reference of this IM to itself.  If we had to, we could delete it.  The purpose of the reference is for the convenience of the reader, especially since the derivation is (necessarily) so long.  I would like to keep the ability for a IM to reference itself, for the purposes of clear doc

[2019-04-17 21:13] smiths commented on #1209
Thanks @bmaclach.

[2019-04-18 01:40] Mornix opened #1211 "Standardize Drasil File Structure"
Currently Drasil packages have no uniform "path" for inclusion. Some packages do one method, some do another.

Paths:
* drasil-lang: Language.Drasil
* drasil-data: Data.Drasil
* drasil-code: Language.Drasil.{Code,CodeSpec, etc}
* drasil-docLang: Drasil.{DocLang, DocumentLanguage, etc}
* drasil-gen: Language.Drasil
* drasil-printers: Language.Drasil
* drasil-example: Drasil.{GlassBR, SSP, etc}

Fro

[2019-04-18 18:50] bmaclach commented on #1083
There are many places where we used this notation for a set of coordinates in the manual version of SSP (for the set of slope coordinates, the set of water table coordinates, the set of slip surface coordinates, and the set of critical slip surface). I would agree that representing them as a sequence would be better, especially since it is feasible and even likely that there would be repeats somew

[2019-04-18 19:33] bmaclach opened #1213 "Representing a tuple in Expr"
IM4 in manual SSP appears like so:

![image](https://user-images.githubusercontent.com/18634568/56385596-a3842280-61ed-11e9-9612-1298a32ccc49.png)

Note that the left-hand side of the equation is a tuple, which we can't currently represent in Drasil as an `Expr`.

The underlying problem here may be that a single IM has more than one output, which I know @oluowoj encountered during her updates for

[2019-04-18 21:14] bmaclach opened #1215 "Goal Statements are not Referable"
The instance model intro text for SSP and SWHS, discussed in #1205, contains references to individual goal statements, but in Drasil each Goal Statement is simply a `Sentence` and is not `Referable`. The entire list of goal statements is `Referable`, but without being able to refer to individual goal statements we cannot say how each IM addresses a particular goal.

[2019-04-18 21:32] bmaclach opened #1216 "Lists are Referable but References don't work"
I tried making a reference to the list of Goal Statements and saw that in the final PDF/HTML, the link did not work. The reference itself was created correctly, but it does nothing because a label for the list was never actually rendered. For example, in TeX, the reference `\hyperref[Lst:goalStmt]{Lst: goalStmt}` is properly generated but there is nowhere with the label `Lst:goalStmt`.

I did a li

[2019-04-18 21:38] Mornix commented on #1216
Is the desired reference really to the list of goal statements (specifically) or to the concept of goal statements (i.e. the section)?

[2019-04-18 21:43] bmaclach commented on #1216
To the list of goal statements specifically. Though what I really want to do is reference individual goal statements, but couldn't (#1215), so I tried this as another option. I suppose referring to the goal statements section would be just as effective, though.

[2019-04-19 02:18] JacquesCarette commented on #1210
We should be able to filter out self-references easily enough. I'm going to have some real coding to do this summer!

[2019-04-19 02:23] JacquesCarette commented on #1209
If "output constraints" don't make any sense (in general), we should also remove the feature! I understand that they don't in this case, I am explicitly asking the 'in general' question here.

[2019-04-19 02:32] JacquesCarette commented on #1211
So there are at least two things going on here.  First, there is a division into "packages" -- these are supposed to be grouping together like things.  So we have
- lang: the representation language for two levels (basic information and chunks)
- data: fundamental knowledge that is shareable amongst many pieces of software
- code: code generation
- docLang: document language routines
- gen: genera

[2019-04-19 02:41] JacquesCarette commented on #1213
Functions really ought to be able to produce a proper data-structure as output. That should be fairly easy to do.

What is a fair bit harder is to allow pattern-matching notation on the lhs of a definition to decompose that structure and assign each variable the right 'piece'. In a properly typed language, the technology to do this is understood. In Drasil, not so much.

For now, the best hack is

[2019-04-19 02:47] JacquesCarette commented on #1215
Yep, that should be fixed.  This basically means that Goals are not 'important' enough as a unit of knowledge in Drasil, and that needs fixed.

[2019-04-19 02:50] JacquesCarette commented on #1216
So I don't think we should be able to refer to a list in its entirety? An item in a list, definitely. The section in which the list lives, that too. Of course, on top of #1215 being a bug, I think the current state is a bug but in a different way: a list should not be `Referable` at all.

[2019-04-19 18:20] Mornix commented on #1215
Goal statements previously existed in drasil-lang but a bisect shows it was removed roughly six months ago. A comment at the top of the file mentioned `Goal` chunks should be moved to DocLang instead. The content captured by the old `Goal` chunk should be easily adapted to `ConceptInstance`.

[2019-04-22 15:56] bmaclach commented on #1213
I want to make sure I'm understanding your suggested short-term solution correctly. Would the "explicit projections" be in the form of two new data definitions that relate the 2-tuple to its components?

[2019-04-22 20:50] bmaclach commented on #1215
So what you're saying is I can create `ConceptInstance`s from my goal `Sentence`s, since `ConceptInstance` is `Referable`? If that's right, I can take ownership of this since I need it for #1205 and it shouldn't be too hard.

[2019-04-23 15:09] bmaclach opened #1218 "Traceability matrices are backwards according to the corresponding text"
The text introducing the traceability matrices says:

"Every time a component is changed, the items in the column of that component that are marked with an "X" should be modified as well."

However, in the generated traceability matrix, if item 1 depends on item 2, then an "X" appears in the column for item 1 and the row for item 2. Thus, we are saying that if an item changes, its dependencies may

[2019-04-23 15:29] smiths commented on #1218
@bmaclach, I'm all for your simple fix.  There is no reason for looking down a column instead of across a row.  As far as I'm concerned, this is an arbitrary decision, so we should do the easiest thing and change the introductory text.

Good catch!

[2019-04-23 15:47] smiths commented on #1209
@JacquesCarette, output constraints often do make sense.  They provide us with characteristics of correct solutions.  For instance, probability is constrained to lie between 0 and 1.  For conserved quantities (mass, momentum, energy, etc), we know that the solution must satisfy the conservation equation.  I could think of many more examples.  They won't always be in the simple form of bounding the

[2019-04-23 18:35] bmaclach commented on #1209
I was confused when I saw in Drasil that Instance Models had fields for Input Constraints and Output Constraints. That information is already given in the Data Constraints section, so including it within an Instance Model seems redundant. Unless those fields are intended for a different type of constraint then the ones we show in the Data Constraints section?

[2019-04-23 18:56] smiths commented on #1209
@bmaclach, the input and output constraint fields in the instance models are a recent addition.  They aren't in the manual versions.  I'm not sure who added them to the Drasil generated IMs.  It is redundant information, but that doesn't particularly bother me, since we are generating the documentation.  In the future we can change the template to match the needs of the audience.

[2019-04-23 20:14] bmaclach opened #1220 "SSP Constraints cannot be expressed in Drasil"
Most of the constraints on input/output variables in SSP are more complicated then simply constraints on the range in which the value can lie, which seems to be the only type of constraint currently definable in Drasil.

The following screenshots show the constraints from the manual SSP SRS:
![image](https://user-images.githubusercontent.com/18634568/56612203-b6c63200-65e1-11e9-8b42-73343e556221.p

[2019-04-24 13:26] smiths commented on #1083
@bmaclach, switching to vector symbols seems like the right move.  Yes, go ahead and do that.  :smile:

[2019-04-24 17:02] bmaclach opened #1223 "Non-functional requirements format"
In Drasil, non-functional requirements are listed out in a single sentence, like so:

![image](https://user-images.githubusercontent.com/18634568/56678487-cea8bf00-6690-11e9-8d16-c1a2c93f01e2.png)

In the manual version of SSP, I changed this to a more formal list with more description:

![image](https://user-images.githubusercontent.com/18634568/56678435-b173f080-6690-11e9-8142-5c8c70589308.png)

[2019-04-24 17:20] smiths commented on #1223
@bmaclach, I definitely like the idea of breaking down the nonfunctional requirements into separate requirements.  It was never the long-term intention to just use one sentence to summarize the NFRs.  We did that because the NFRs were not initially a priority, and we had enough to do with the FRs.

I like the idea of adding separate NFRs, but I don't really like your specific examples, since they

[2019-04-24 17:32] bmaclach commented on #1223
@smiths I don't know _exactly_ what to do to set up a more formal list of NFRs, but I have a general idea, and there are plenty of other examples of lists (like the functional requirement list) that I can use as a reference. So I would be surprised if setting up the infrastructure for this took more than a few hours. Seems reasonable to add this to my to-do list.

[2019-04-24 17:46] Mornix commented on #1223
Implementation wise, this should be similar to #1215. I believe all the infrastructure is there. All that should be needed (or it may already exist!) is a `nonFuncReqDom` (or similar) for `ConceptInstance`.

[2019-04-24 18:35] bmaclach commented on #1223
Thanks @Mornix. Reassigning this to myself to implement.

[2019-04-24 19:08] smiths commented on #1223
Sounds like a good plan to implement NFRs the same as the FRs.  How best to state the NFRs can be a task that is investigated outside of Drasil.

[2019-04-24 21:07] bmaclach opened #1226 "Parameterize decision on how to render indexed vectors"
Based on discussion in the comments of #1222:

Currently when we index a vector in Drasil, the symbol retains the vector typeface. An alternative display option would be to render the indexed version of the vector without the vector typeface. For example, for vector _P_ at index _i_, we currently render it as \bf{P}_i but another valid notation is P_i. This display decision should be parameterized

[2019-04-25 01:54] JacquesCarette commented on #1213
Yes.  New DD (that should be quite generic, so maybe outside SSP) corresponding to `fst` and `snd` in Haskell.

[2019-04-25 01:57] JacquesCarette commented on #1215
Yes, that is indeed what he's saying.

[2019-04-25 02:04] JacquesCarette commented on #1209
As an aside, I prefer to think of the constraints like those for probabilities to be *type* information (which we don't currently have, so need to encode in another way), while conservation laws are invariants. But output constraints will do just fine for now.

[2019-04-25 02:06] JacquesCarette commented on #1220
There used to be a hack for monotonicity... but it was such a hack that it prevented other progress, so was removed. We'll need to re-add something for this.

[2019-04-25 14:09] smiths commented on #1226
Sounds good @bmaclach.  We won't make this a priority right now, so I've labelled it as an enhancement.  When the time comes, @JacquesCarette will also need to be assigned to this issue.

[2019-04-25 15:11] bmaclach opened #1229 "Use new Non-Functional Requirement format in examples"
All of the examples should be updated to use the new Non-Functional Requirements list-format discussed in #1223.

# TODO
- [x] GamePhys (#1321)
- [x] GlassBR (#1300)
- [x] NoPCM (#1282)
- [x] SSP (#1273)
- [x] SWHS (#1282)
- [x] Remove generated NFR intro from non-priority reqs (#1333)
- [x] Remove old NFR code (#1333)

[2019-04-25 15:12] bmaclach commented on #1223
Set-up for the new format for NFR's was merged with #1225. Created new issue #1229 for updating each example, so this issue can be closed.

[2019-04-25 15:12] #1223 closed

[2019-04-25 15:14] bmaclach commented on #1203
These new functions were merged in with #1204. Issue can be closed.

[2019-04-25 15:14] #1203 closed

[2019-04-25 15:16] bmaclach commented on #1218
Fixed with #1219, closing issue.

[2019-04-25 15:16] #1218 closed

[2019-04-25 15:45] bmaclach commented on #1213
Thanks @JacquesCarette . I wasn't thinking of generic DDs... I'm confused about how that would work. First, I don't see any precedent for defining DDs outside of a specific example in Drasil. More importantly, if I were to define some generic DDs for `fst` and `snd`, how would I then tell Drasil that these DDs apply to the 2-tuple I'm using in SSP?

What makes more sense to me, and maybe this is w

[2019-04-25 15:55] smiths commented on #1229
@bmaclach, please hold off on completing this issue.  It seems like a great issue to assign to @danscime or @samm82 to ease them back into Drasil.  :-)  I'll verify this with @JacquesCarette before we assign anyone issues, but I'm sure @danscime and @samm82 will appreciate having tasks to keep them busy.  :smile:

[2019-04-25 20:08] bmaclach opened #1231 "In-text citation References are included in traceability matrix"
If a source is cited in-text (for example in an assumption, or in the Notes field of a definition or model) then the traceability matrix will include a row for that source, however the row label is blank, like below:

![image](https://user-images.githubusercontent.com/18634568/56764841-b65da080-6773-11e9-8456-ea6f758238bc.png)

I think that sources should not appear in the matrix, but even if I'm

[2019-04-25 21:08] Mornix commented on #1231
I think I may know what the issue is. I should be able to tackle it in conjunction with #1164.

[2019-04-25 21:43] bmaclach opened #1233 "One traceability matrix or many?"
In the manual versions of the case studies, there are 3-4 traceability matrices, each focusing on certain parts of the SRS (for example, one traceability matrix dedicated to assumptions, one dedicated to requirements, etc.)

For SSP, I used the function Yuzhi created to create one giant traceability matrix with all of the dependencies between everything included. Is there a need to break this down

[2019-04-26 13:20] JacquesCarette commented on #1213
You are right that there is no precedent. It's just that none of the DDs were sufficiently general - although some of them might be pure 'physics' that ought to!

So you'd define new DDs in the hierarchy `Data.Drasil`, and then indeed 'import' them into SSP.

One could go with defining symbols outside SSP and then have the DDs just in SSP, that would work. But it feels like there isn't as much sha

[2019-04-26 13:45] JacquesCarette commented on #1233
As soon as a project gets beyond small, the traceability matrices will be huge. We definitely want the huge traceability matrix available, but it makes little sense to try to print it in a document, IMHO. The small ones might make sense - up until they too get too large. Definitely an interesting design question.

[2019-04-26 15:03] bmaclach opened #1235 "Table of Acronyms includes unused acronyms"
Every `CI` in Drasil has a short-form, but that short-form is not necessarily used anywhere in the SRS. For example in SSP, the phrase "three-dimensional" is used, and the `threeD` `CI` is used for this. However, the associated acronym "3D" is never used in SSP. Despite this, "3D" still shows up in the Table of Acronyms. The table shows any term in the `TermTable` that has an acronym, regardless o

[2019-04-26 16:03] smiths commented on #1233
Great question @bmaclach.  For now, I think all of the examples should use the huge traceability table created automatically using the work from @halonazhao.  The great thing about using this approach is that it should be fully automated.  The bad thing is that for nontrivial examples it will be impossible to read.  For the first pass, I pick automation over readability.  Our goal is something tha

[2019-04-26 16:03] #1233 closed

[2019-04-26 16:03] bmaclach commented on #1213
Okay, I understand the motivation for the generic DDs, I just have some questions about how this will look in practice.

First: After I import the generic DD to SSP, do I need to specialize it somehow? Or I just directly include the generic DD in the list of SSP's DDs?

Second: I'll need some generic symbols to define the generic DDs. A symbol to represent any generic 2-tuple, and symbols for the

[2019-04-26 16:43] bmaclach opened #1236 "Design functions to extract subsets of traceability matrix"
Currently we can easily generate one traceability matrix containing all of the traceability information for a given case study. Having all of the information in one big matrix is not very readable. We want to be able to easily extract subsets of this matrix to build smaller, more focused matrices like the ones we see in the manual versions of the case studies. For example, we want a traceability m

[2019-04-26 16:56] smiths commented on #1236
Sounds good @bmaclach.

[2019-04-26 17:24] Mornix commented on #1236
Related to #1197, one of my thoughts to accommodate "views" of a traceability matrix (along with adding ordering to which section of items appear in what order is to add a "filter" of sorts to have the resulting API be something like:

[code]
Which would create two views of the traceability table.
`tt1` which contains Assumptions as the columns and the lists of DDs, GDs, IMs, and FRs as the rows,

[2019-04-26 20:42] bmaclach opened #1238 "GlassBR Tolerable probability of failure should not be an input"
The recent addition of the new symbol for "tolerable probability of failure" `pb_fail` in GlassBR causes an error in the generated code because `pb_fail` is considered an input but is never given a value. I think `pb_fail` should not be an input because there is already an input `pb_tol` for the "tolerable probability of breakage", which I think is just a more concrete version of `pb_fail`. Removi

[2019-04-28 13:30] smiths commented on #1158
We can close this issue, since we  have determined that at this time we won't aim to be too general.  We'll get GlassBR working first.

[2019-04-28 13:30] #1158 closed

[2019-04-28 13:32] smiths commented on #1238
The addition of pb_fail was discussed at:

https://github.com/JacquesCarette/Drasil/pull/1185

Some other options that came up during the discussion might offer an idea of the right approach at this time?

[2019-04-30 19:56] bmaclach commented on #1238
Yes, I think something similar to what was done for `prob_fail` could be done here for `pb_fail`. We can make it a `ConstrainedChunk` so we don't lose constraint information, but put it into the `gbProbs` list instead of the `gbInputs` list. Currently `pb_fail` is an `UncertainChunk`, so in changing it to a `ConstrainedChunk` we would lose the uncertainty information, but I wonder whether `pb_fail

[2019-05-01 12:18] smiths commented on #1238
@bmaclach this is a helpful discussion.  We don't need uncertainty information for pb_fail, since it isn't even an input.  I think we would be fine to make it a ConstrainedChunk.  The eventual goal, as mentioned by @JacquesCarette elsewhere, is to introduce types and have a probability type.  Once we have a type for values from 0 to 1, we won't need the constraint information.

[2019-05-01 12:43] samm82 commented on #700
It seems as if Spec.hs has been deleted and the only helper function of this sort is `sParen` (in Sentence.hs), so I'm closing this issue.

[2019-05-01 12:43] #700 closed

[2019-05-01 12:46] smiths commented on #700
Nice to see you jumping right back in @samm82!  I can tell that @JacquesCarette and I better get thinking of additional tasks to keep you busy.  😄

[2019-05-01 13:07] samm82 commented on #918
I've updated the README for the removed modules in #1242; should I proceed with moving the rest into docLang now that Label has been implemented? All prerequisite issues have been closed. @Mornix @szymczdm

[2019-05-01 14:22] samm82 opened #1243 "Invalid option `--interleaved-output`"
Running `make` leads to an "Invalid option `--interleaved-output`" on my Windows 10 system and I'm not sure why. Commenting out the flag works for me (albeit more slowly 😬). Any ideas?

(Not sure who I should assign this issue to)

[2019-05-01 14:26] bmaclach commented on #1243
The same thing happened to me and a few others a while ago. I believe the fix was just to run `stack upgrade`.

[2019-05-01 14:27] samm82 commented on #1243
Worked like a charm - thanks!

[2019-05-01 14:27] #1243 closed

[2019-05-01 14:36] samm82 commented on #835
https://github.com/JacquesCarette/Drasil/blob/59b5f43a7e1e76038dcf75f27531a040173184ba/code/drasil-data/Data/Drasil/SentenceStructures.hs#L178-L188

Based on the comments here, I think it would make sense to treat acronyms and symbols as equivalent (ie. as short forms of the name). This would allow for easy merging of these functions. Does this sound like an appropriate fix? Not sure about the des

[2019-05-01 14:45] smiths commented on #835
@samm82, your proposal to treat acronyms and symbols as equivalent sounds interesting, but I have a feeling that this would be a significant change.  From scanning through this issue, it is unclear what problem you are actually trying to solve.  This is why I don't like "omnibus" issues.  There is too much going on, and the title doesn't give an idea of the problem.

My suggestion is that you crea

[2019-05-01 14:56] samm82 opened #1244 "Merging Combinators for making Sentences for Terminologies with Definitions"
(Continuation of #835)

https://github.com/JacquesCarette/Drasil/blob/46967c44b13f1c82253ecd6ffa63e85cf69ee9cc/code/drasil-example/Drasil/GlassBR/Body.hs#L205-L216

As noted in the comment at the bottom, the last entry (probability of breakage) should be reworked, since it is similar to `tAndDWAcc`. It is required because `ConceptChunk` doesn't have a symbol, so it is supplied from the `Constraine

[2019-05-01 15:00] samm82 commented on #835
This issue came up because of sorting - I think the first step to sorting was to make sure the list was consistent in how it was implemented? I'll revisit this once #1244 is resolved. Should I close this issue and make a new one specifically for the sorting?

[2019-05-01 15:16] smiths commented on #835
Yes, please create an issue specific to sorting.

[2019-05-01 15:18] samm82 opened #1245 "Sort GlassBR Terminology and Definitions"
(Continued from #835 and to be completed after #1244)

The Terminology and Definitions section in GlassBR should be sorted alphabetically (automatically by Drasil).

[2019-05-01 15:18] samm82 commented on #835
#1245

[2019-05-01 15:18] #835 closed

[2019-05-01 15:39] samm82 commented on #865
In `drasil-printers`, there is a series of math operations, and one of them is:

https://github.com/JacquesCarette/Drasil/blob/59b5f43a7e1e76038dcf75f27531a040173184ba/code/drasil-printers/Language/Drasil/TeX/Print.hs#L158

https://github.com/JacquesCarette/Drasil/blob/59b5f43a7e1e76038dcf75f27531a040173184ba/code/drasil-printers/Language/Drasil/HTML/Print.hs#L203

Here is the definition of `RealI

[2019-05-01 16:18] danscime opened #1246 "Stable files have lots of tabs"
Going through some of the stable files, I've noticed that a lot of the tables have more and more tabs for every line in the table.

Are these tabs necessary?
If they are necessary, should they be changed to be only 2 spaces instead of 4?
When adding new Data Definitions for example (as per #1070), should a similar format be followed?

[2019-05-01 16:22] danscime opened #1247 "Hardcoding Greek letters in stable"
Right now, it seems that the Greek letters in stable are hardcoded as ASCII characters.

Example: τ instead of \tau

Should anything be changed?

[2019-05-01 16:37] Mornix commented on #918
As far as I see, this should be “good-to-go” now, but I’d wait on a comment from @JacquesCarette to be certain.

[2019-05-01 16:39] Mornix commented on #1243
To add to this for anyone searching in the future: `--interleaved-output` is available as of Stack 1.8.

[2019-05-01 16:41] Mornix commented on #1246
This is a bug in the TeX printer that @deviprasad135 is working on addressing.

[2019-05-01 16:47] Mornix commented on #1247
This was done about a year ago because GHC encodes `Char` as UTF-8 so it could be propagated to HTML and (some variants) of LaTeX unaltered. I believe the literal characters was a desirable change.

@JacquesCarette: Correct me if I’m wrong.

[2019-05-01 16:57] samm82 commented on #876
This change propagated into all other examples; should I update them in caseStudies as well? And should I make a new issue on that repo or just quickly fix it?

[2019-05-01 16:58] deviprasad135 commented on #1246
I have already fixed this bug in the TeX printer.

[2019-05-01 17:10] samm82 commented on #824
Not sure if this and #130 can be closed. It looks like they are based on the commit/PR history.

[2019-05-01 18:49] smiths commented on #1246
@deviprasad135, is this fix in a pull request?  It would help @danscime if you included a pointer to the pull request.

[2019-05-01 18:52] smiths commented on #876
@samm82, you don't need to update the manual case studies.  I believe they have served their purpose.  Maintaining both the Drasil version and the case study version is becoming too onerous a task.

[2019-05-01 18:54] samm82 commented on #876
Consider this issue closed with the merge of `glassImprovements` (no PR to link to yet)

[2019-05-01 19:14] smiths commented on #824
Again, this issue is not one issue, but many issues combined.  Even worse, the conversation shifts to other topics.  We have to really try to stop doing this.  :smile:.

It seems this issue is about updating the case study (manual) version.  I think we are fine to close this issue, since the changes seem to have been made, and further maintenance of the case studies is not a high priority at this

[2019-05-01 19:14] #824 closed

[2019-05-01 19:36] deviprasad135 commented on #1246
I have fixed this bug on indentTex branch in commit 0863b30. This bug is caused due to missing parentheses.

![OI](https://user-images.githubusercontent.com/30101689/57036786-4fccfc80-6c23-11e9-831d-20426745f40c.PNG)

The generated code for one of the data definition from SWHS after fixing the over indent bug and applying 4 spaces as indentation is as shown below.

![DD](https://user-images.github

[2019-05-01 19:42] Mornix opened #1249 "Correct HLint Suppressions"
#1117 evaluated HLint for use in Drasil and #1147 made use of HLint in Drasil. While #1147 took care of most of the issues, there were five outstanding classes of lints:
- (104) Move brackets to avoid $
- (140) Eta reduce
- (2194) Redundant bracket
- (133) Redundant $
- (488) Use camelCase
where the number indicates the number of instances the lint appears.

While #1117 mentions obtaining HLint on

[2019-05-01 19:47] samm82 commented on #868
My current fix to the 10.0% vs 10% discrepancy rounds the uncertainty to an integer if it is equal (approximately because of floats) and leaves it as a float otherwise. Is this desired @JacquesCarette @smiths? This also propagates through all examples and assumes the precision of all 10% uncertainties to be the same.

[2019-05-01 20:18] samm82 commented on #833
An update: out of the three tables that appear before this "Table 2" (Table of Units, Table of Symbols, and Abbreviations and Acronyms), "Table 1" is the only one that uses `\begin{longtabu}` (Table of Symbols); the other two use `\begin{longtable*}`. This prevents them from having figure numbers and throws an error if a caption is added to it. Labeling these tables seems redundant, since they are

[2019-05-01 20:32] samm82 commented on #877
I removed the note, since _a_ and _b_ are entered in metres now, so this will be closed with merge of `glassImprovements`.

[2019-05-01 20:46] JacquesCarette commented on #1213
1. I would think just include the generic DD
2. I was thinking `pair`, and then `fst` and `snd` for the projection functions. But I might be answering the wrong question!

Maybe the problem here is that what is generic is not **data** but rather a pair of functions, `fst` and `snd`, and those are what need to be defined (and used).  But I see functions as data, so I what thinking you'd just define

[2019-05-01 20:48] JacquesCarette commented on #1236
Exactly!  We need an " embedded programming language of views" for mapping between the data we have (which can be derived data, such as a traceability matrix) and obtain views on it.

[2019-05-01 21:11] smiths commented on #877
Sounds good.

[2019-05-01 21:25] bmaclach commented on #1213
I agree that they should be separated from DDs - I've just remembered that DDs in Drasil are associated with equations where the LHS is just the data being defined. So if we tried to make a generic DD for `fst`, we would need an equation of the form `fst = something`  which really doesn't make sense given that, as you say, `fst` is a function.

So then my question is whether there are data-types c

[2019-05-01 23:06] smiths commented on #833
@samm82,  your recommendation seems to match with the comment from @JacquesCarette from last summer.  You can create a table with a caption, and set the caption to an empty string.

[2019-05-01 23:13] samm82 commented on #833
I interpreted Dr. Carette's comment to have an "empty caption" to mean that there shouldn't be anything under the table, but I think an "empty caption" as in no description is straightforward enough. My one suspicion is that an empty string will cause "Table #:" to be displayed under the table, and the colon would be unwanted, but I'll check it out tomorrow.

[2019-05-02 12:01] danscime commented on #1070
Beginning to add these via e6cbbf93146c693ed5246e4b71eee5915db5bb90

[2019-05-02 12:18] smiths commented on #833
@samm82, you have a good point about the Table number.  I think what we are talking about is the same interface in Drasil, but having an empty caption in Drasil.  I'm sure @JacquesCarette will let us know what he is thinking.  :smile:

[2019-05-02 12:26] smiths commented on #868
@samm82, I don't love the solution of casting a float to an integer.  It would be better if we rounded the float to zero decimal places, but still considered it a float.  I could see a day where we keep track of the number of significant digits and propagate that through calculations, but that is down the road.

The rounding should happen at display time.  We shouldn't actually change the value,

[2019-05-02 13:51] samm82 commented on #868
I found a better solution in (2cb16c67f) that involves using the `Decimal` package - would that be acceptable if I added it to the `build-depends` in the cabal file? `Decimal`s are floats with a set precision, and I think function perfectly for this purpose, especially since the float is converted straight to a `Sentence` in the `found` function. However, the current solution involves setting the

[2019-05-02 13:55] smiths commented on #868
The `Decimal` package sounds good, although @JacquesCarette should weigh in on the use of external packages.  I like the idea that we can restrict the precision, but basing that on the value of the uncertainty seems like a hack we don't want to do.  @JacquesCarette will likely know the right way to design this, but I think we need to have an option for display precision somewhere.  If precision is

[2019-05-02 14:01] bmaclach commented on #1202
As of the merge of #1222, all instances of "ordinate" have been replaced by "coordinate". Closing issue.

[2019-05-02 14:01] #1202 closed

[2019-05-02 14:04] bmaclach commented on #1083
With the merge of #1222, all unitals that were really sequences of values for each slice have been switched to use vector notation. @smiths I think this issue can be closed?

[2019-05-02 14:07] smiths commented on #1083
Yes @bmaclach, I agree that this issue can be closed.

[2019-05-02 14:07] #1083 closed

[2019-05-02 14:08] samm82 commented on #868
What do you think about leaving it for now, as it technically fixes this issue, closing this issue, and creating another for generalizing the precision? @smiths

[2019-05-02 14:19] samm82 commented on #771
All warnings have been purged from `make`, and further code optimization will occur using hlint (including in issue #1249.

[2019-05-02 14:19] #771 closed

[2019-05-02 14:27] smiths commented on #868
I think we should get the opinion of @JacquesCarette before proceeding with the proposed temporary solution.  This might be a case where the fix is worse than the original problem.  :smile:  My concern is that we are introducing something that sets a bad precedent.

[2019-05-02 14:35] samm82 commented on #868
That's why I proposed a separate issue to deal with it, just so we can close this, and so the conversation doesn't drift from the original intention (as it usually does with my issues 😁). This might be a good thing to discuss in the meeting tomorrow.

[2019-05-02 14:48] samm82 commented on #833
I've started a change, and it looks like the colon won't be an issue. Our current design is to have a boolean that denotes if a caption is shown and then a caption. If False, no caption (or table number) is displayed.

I'm changing it now to get rid of the boolean, and always print the caption, which can be an empty string. This might add an extra line in the HTML, but I haven't gotten that far ye

[2019-05-02 14:56] danscime opened #1251 "HTML fraction formatting"
I have noticed at least 2 fractions are improperly formatted in the HTML output of the SWHS example. These fractions appear correctly in the Latex output, just not the HTML. Might be the same issue as #1067

Both occur in the notes sections of the first 2 instance models.

I have included an image showing an example fraction.

<img width="104" alt="Screen Shot 2019-05-02 at 10 52 37 AM" src="https

[2019-05-02 15:12] danscime commented on #1070
Added tau_P^S via b6cea7057368d20e2b46420867c86ec2a5a3ffc0

[2019-05-02 15:15] samm82 opened #1252 "Add drasil-build to SubPackages Wiki"
The `drasil-build` subpackage isn't in the [wiki for subpackages](https://github.com/JacquesCarette/Drasil/wiki/SubPackages-Information), so it should be updated.

EDIT: Created in #1212 and is responsible for "build system languages and renderers"

# TODO
- [x] Remove `--force-dirty` from page

[2019-05-02 15:27] samm82 commented on #833
The behaviour is changed so that every table is numbered (and labelled ie. "Table 1" in LaTeX) and the caption can be toggled ("Table 1" vs. "Table 1: Table of Units"). Will be closed with merge of #1250.

[2019-05-02 15:34] samm82 commented on #826
This issue has been fixed, it just hasn't been closed yet. 😂

[2019-05-02 15:34] #826 closed

[2019-05-02 15:42] samm82 commented on #1252
@smiths Do you think that this wiki page should be kept up-to-date, since the subpackage split is old news, and Gabe (I think) fixed how the packages are built? I'm happy to update it, I'm just not sure how useful/relevant it would be to do so.

[2019-05-02 15:56] smiths commented on #1252
Yes, I definitely think the wiki page should be kept up to date.  We want to reach a day whether people can contribute to, or at least appreciate, our project from outside McMaster.  This will require up to date documentation.  I'm glad to see that you created this issue.  :smile:

[2019-05-02 16:09] bmaclach commented on #1074
All of the chunks from the manual version of SSP have been ported over to Drasil (#1081, #1097, #1098, #1102, #1111) without introducing any cyclic imports, so this issue can be closed.

[2019-05-02 16:09] #1074 closed

[2019-05-02 16:11] samm82 commented on #872
Currently, all binary operators are infix - what would be the better option?
1) Force `log` to also be an infix op (ie. _b log x_ where _b_ is the base)
2) Create a new type of binary operator that isn't infix

Also, as a result of this change, should the `UnaryOp`s `log` and `ln` be kept, or completely replaced with the new `log`? I personally think it would be nice to have `log` and `ln` as shor

[2019-05-02 16:22] samm82 commented on #1211
For the sake of completeness, we also have:
- build: build system languages and renderers

[2019-05-02 16:52] samm82 commented on #1252
@smiths and/or @Mornix if you want to look over my additions to the [wiki](https://github.com/JacquesCarette/Drasil/wiki/SubPackages-Information) to see if I'm missing anything, then this issue can be closed.

[2019-05-02 17:28] Mornix commented on #1252
The note about requiring `--force-dirty` being out of date is correct. It shouldn't be needed anymore.

My only nitpick is in the dependency graph the arrow directions seem backwards. If drasil-build depends on drasil-lang, I'd expect the arrow to be the "depends-on" relationship and have the arrowhead be at the drasil-lang end.

[2019-05-02 17:36] samm82 commented on #1252
Should I remove the `--force-dirty` completely or keep it for traceability?

And yeah - I originally made the chart last summer before taking 2AA4, so I just made it how I thought (and still think) naturally about dependencies, that the arrow points in the same direction as exports. I realize that the standard is that the arrows mean dependencies the other way, and remember being very confused in

[2019-05-02 18:45] samm82 opened #1254 "Removing glassTypeAbbrsStr"
While working on GlassBR Body.hs, I noticed a FIXME I thought I'd start to tackle:

https://github.com/JacquesCarette/Drasil/blob/2f41852e705ebf6bb0fff7f69348f15a1fdf5228/code/drasil-example/Drasil/GlassBR/Unitals.hs#L115-L123

I switched `glassConcepts :: [String]` to `glassConcepts :: [CI]`, which is fine, but I'm stuck on how to remove this. `displayConstrntsAsSet` and `DiscreteS` (which is com

[2019-05-02 19:42] danscime commented on #1067
tau_w and eta were said to have been added as Data Definitions, as mentioned in #817.
They do not appear to be on the master version of stable or Drasil.
Do they still need to be added?

[2019-05-02 19:47] Mornix commented on #1252
I don't think `--force-dirty` is needed at all any more. I believe Stack is able to track all of that and perform selective recompilation even without a version bump with the current build setup.

[2019-05-02 19:48] samm82 commented on #1252
So what should the new workflow be for bumping version numbers? It just seems like a hassle, especially when it's not strictly-speaking necessary anymore. I feel like we still should, but I'm not sure when.

[2019-05-02 20:29] samm82 commented on #1252
Removed - this issue can be closed whenever @smiths decides 😁

[2019-05-02 21:20] Mornix commented on #1252
Version numbers should (ideally) still be bumped on a package whenever its public interface (something listed in the re-export files) changes. And anytime a package uses the updated function, it should be bumped to the latest version. Additionally the consumer of the new function _should_ increase its version number as a consequence. In practice, I usually try to do a single set of version bumps a

[2019-05-02 21:53] JacquesCarette commented on #1244
Acronyms and symbols serve different purposes. An acronym is meant to be used in an English context, while generally the symbol is in an equation context. So wouldn't want to merge these without looking at all the examples very closely.

[2019-05-02 21:54] JacquesCarette commented on #1245
If something ought to be sorted alphabetically, then Drasil should be set up to do it, a human should not ever have to 'sort'.

[2019-05-02 22:00] JacquesCarette commented on #865
`RealInterval` should stay as is, because that is really its semantics. What is actually the issue here is that in the original document, multiple constraints on *different* variables were being displayed on one line. We need to understand exactly what we're trying to say here to design the right structure. This needs discussion.

[2019-05-03 12:25] JacquesCarette commented on #918
Yes, please do go ahead.

[2019-05-03 12:26] JacquesCarette commented on #1243
Should the `Makefile` or the cabal file or *something* check that users have the appropriate versions of the underlying tools?

[2019-05-03 12:27] JacquesCarette commented on #1247
@Mornix is correct, this was done by design.

[2019-05-03 12:27] #1247 closed

[2019-05-03 12:44] JacquesCarette commented on #1246
So can at least this one-liner fix be made into a PR asap?  Maybe @danscime can take care of it?

[2019-05-03 12:52] JacquesCarette commented on #868
As long as the external package seems 'alive', I am fine with using more external resources. And it does seem like a better solution as I completely agree that this is a display-only issue and that internally there should be no casting.

[2019-05-03 12:54] JacquesCarette commented on #1251
I think those are due to well-meaning hacks in the HTML output. I thought all of it was supposed to use MathJax now, so that the old hacks with div and friends could be removed.

[2019-05-03 12:54] bmaclach commented on #1205
This is done for SSP (#1240) and SWHS (#1248). As I mentioned before, the other case studies do not have any additional paragraphs for their Instance Models intro. However, I think that they probably should? At least, the sentence describing how the IMs map to the goal statements seems like the kind of sentence that we would want in all examples. Do you agree @smiths?

[2019-05-03 12:56] JacquesCarette commented on #833
My opinion: good work @samm82 !

[2019-05-03 12:58] bmaclach commented on #1215
This is done for SSP (#1232) and SWHS (#1248). The other case studies do not reference goal statements anywhere in the SRS but I would think we should make their goal statements `ConceptInstance`s anyway for consistency and in case we need to reference the goal statements in the future (and if my latest comment on #1205 is correct, then we will definitely need `Referable` goal statements for all e

[2019-05-03 13:00] JacquesCarette commented on #872
We most definitely want `log` and `ln` to continue to display then as-is.

We need a more flexible way of declaring (and adding) new math operations to Drasil. It is not necessarily difficult, but is also a fair chunk of work. Basically, not something for this month, but it may arise again quickly.

[2019-05-03 13:03] samm82 commented on #1245
That's the intention of this issue - sorry if I wasn't clear.

[2019-05-03 13:10] JacquesCarette commented on #1254
`Space` is extremely "low" in the dependency graph of modules in basic Drasil. If you tried to make it depend on `Sentence`, you'd introduce all sorts of circular dependencies. This is definitely not the right fix. `DiscreteS`'s argument should definitely remain a `[String]`.

The FIXME might be diagnosing the problem incorrectly (it is still a problem). Needs more thinking. I'll come back to this

[2019-05-03 13:11] samm82 commented on #865
The status of this issue might have drifted a little - this is what the table looks like now:
![Input Data Constraints Table](https://user-images.githubusercontent.com/35857611/57139329-fed41a00-6d82-11e9-900a-e33db58f9f80.png)

Unless I'm mistaken, the physical constraint for _a_ should be "a > 0 ∧ a ≥ b". _a_ doesn't reference _AR_ anymore, since _AR_ has its own row.

[2019-05-03 13:12] JacquesCarette commented on #1067
As far as I know, yes, they do. Might already be there in a branch - @vajihehm should let us know the state of this.

[2019-05-03 13:15] samm82 opened #1256 "Change "business tasks" to "tasks and behaviours""
Noted in 75f2b88fa, the phrase "business tasks" in the requirements intro "jumps off the page... in a scientific context" and should be replaced with "tasks and behaviours".

[2019-05-03 13:15] JacquesCarette commented on #1252
Agree, that is indeed how things should work.

[2019-05-03 13:17] JacquesCarette commented on #1215
Agreed.

[2019-05-03 13:20] JacquesCarette commented on #865
Ok, good. So it is just a display issue - and can indeed be fixed.

[2019-05-03 13:23] smiths commented on #1215
Also agreed.  😄

[2019-05-03 13:24] smiths commented on #1256
@samm82, I would think the text that defines functional requirements wouldn't be reproduced in each case study.  Hopefully it is something we can change in one place and change it for all examples.  If that is not the case, we should think about changing our overall design.

[2019-05-03 13:26] vajihehm commented on #1238
@bmaclach Thank you for you comment. I do agree with you that "pb_fail" should 'nt as an input and it could be a part of "gbProbs". @smiths Thank you for your response. As you mentioned that  we don't need uncertainty information for pb_fail, So, I put this symbol as ConstrainedChunck in commit https://github.com/JacquesCarette/Drasil/pull/1255/commits/bd43fe181676dfbe7436d16d9682e9c99b4f3de6 and

[2019-05-03 13:28] smiths commented on #1252
The tasks associated with this issue have been completed, so we can close this issue.

[2019-05-03 13:28] #1252 closed

[2019-05-03 13:28] samm82 commented on #1256
When adding this function requirements intro (maybe I should have thought about this a little more) I copied and pasted it from overarching requirements intro, and removed what wasn't relevant, which ended up matching caseStudies. It would have to be changed at least in these two locations/generalized so that it doesn't have to be.

[2019-05-03 13:39] samm82 commented on #868
This is more of a design question - how should we decide the precision of an uncertainty (or any value, potentially)? Should it be passed in explicitly? Should we define an `Uncertainty` type that takes a `Maybe Double` (uncertainty) and `Maybe Integer` (precision)?

[2019-05-03 14:37] samm82 opened #1258 "Specifying Precision"
Work on branch `precision`

As mentioned in (#868), we need a way to specify precision of uncertainties (and other values?). I think the best approach would be to create a new type `Uncertainty` that takes a `Double` (uncertainty) and `Maybe Integer` (precision).

# TODO
- [ ] Move definition of `Uncertainty` to `Uncertainty.Core`
- [ ] Improve helper functions as per comment on f6c27135526836bb30

[2019-05-03 14:37] #868 closed

[2019-05-03 14:40] Mornix opened #1259 "What Should Stable Track?"
In #1239 @JacquesCarette mentions that the changes to the generated Makefiles should have required an update to stable.

Currently stable tracks generated TeX, CSS, and HTML files with a specific name in a specific place.

So the question really boils down to: What should stable track? All generated artifacts? Primary artifacts? (i.e. not Makefiles) or some specific combination?

[2019-05-03 14:45] Mornix opened #1260 "Minimum Stack Version"
Invoking `make` should either
* ensure Stack is of a sufficient version to build everything (i.e. has `--interleaved-output`)
* install a Stack which meets our minimum required version

This issue arose from [comment 5](https://github.com/JacquesCarette/Drasil/issues/1243#issuecomment-489078149) on #1243

[2019-05-03 16:22] bmaclach commented on #1215
Remaining to be done:
- [ ] gamephys
- [ ] glassbr
- [ ] nopcm

[2019-05-03 16:41] samm82 commented on #1258
Before, `UncertainChunk`s had a `Maybe Double` - should they have a `Maybe Uncertainty` instead, or should we enforce that `UncertainChunk`s need to have an uncertainty attached to them? @smiths @JacquesCarette

[2019-05-03 17:12] samm82 commented on #708
Should we keep the "ssp_" prefixes? Other than that (and a `fixme` variable that is never used), SSP looks good to me. @smiths

https://github.com/JacquesCarette/Drasil/blob/1184b84c48d0d3cdf336f2f3d83cce87b172266f/code/drasil-example/Drasil/SSP/Body.hs#L156-L192

[2019-05-03 17:29] samm82 opened #1261 "Merge Reference.hs and RefProg.hs"
Unless there's a specific reason for having separate modules (@smiths, @JacquesCarette?), I think we can merge the two modules into one Reference.hs.

RefProg:
https://github.com/JacquesCarette/Drasil/blob/1184b84c48d0d3cdf336f2f3d83cce87b172266f/code/drasil-lang/Language/Drasil/RefProg.hs#L1-L20

Reference:
https://github.com/JacquesCarette/Drasil/blob/1184b84c48d0d3cdf336f2f3d83cce87b172266f/cod

[2019-05-03 18:24] samm82 commented on #918
Two questions @JacquesCarette @Mornix:

1. Should each individual move be its own PR? (ie. a PR for GenDefn, a PR for Theory, etc.)
2. What other chunks should be moved to docLang?
   - Citation
   - CommonIdea
   - Concept
   - DataDefinition
   - DefinedQuantity
   - Eq
   - GenDefn
   - InstanceModel
   - NamedIdea
   - Quantity
   - Relation'
   - Theory
   - UncertainQuantity
   - Unital
   -

[2019-05-03 18:54] smiths commented on #1261
@samm82 I don't have an opinion on the proposed consolidation.  However, we shouldn't just be looking at the current code, but ways the files could change in the future.  Although `RefProg.hs` is small now, maybe it won't always be small?  I think we are better off thinking about the reason we have two separate files in the first place.  It could just be how the design grew, or there might be a ra

[2019-05-03 18:57] samm82 opened #1263 "Automate .cabal Version Bumping"
It would be a lot nicer if the .cabal version numbers of an updated package could be bumped automatically. I'm thinking we could write a script that we would run before making a PR; we could specify the size of the bump (so that we could bump from 0.1.60 to 0.2.0 if we wanted) - this might not be the best approach though, as it would still be semi-manual. @Mornix I'm assigning this to you as well

[2019-05-03 18:57] smiths commented on #708
I like the idea of removing the `ssp_` prefix, since it is redundant.  However, there might be some consequences from the change.  I'd like to hear the opinion of @bmaclach, since he has worked extensively with the ssp example.

[2019-05-03 19:03] samm82 commented on #1254
I was messing around (and have a potential solution by creating a `getAccStr`) and noticed `glassConcepts`, which is unused and a repetition of information from `glassType`.

https://github.com/JacquesCarette/Drasil/blob/193fe97f0d474dd888a29592a15dc96347cbc373/code/drasil-example/Drasil/GlassBR/Unitals.hs#L430-L431

https://github.com/JacquesCarette/Drasil/blob/193fe97f0d474dd888a29592a15dc96347c

[2019-05-03 19:07] samm82 commented on #1261
I would be in favour of merging them, since `RefProg.hs` defines the `Reference` type, and `Reference.hs` defines its constructors. I'm not sure if these two secrets are discrete enough to separate, and we keep these together in similar modules throughout Drasil (eg. [NounPhrase](https://github.com/JacquesCarette/Drasil/blob/master/code/drasil-lang/Language/Drasil/NounPhrase.hs)). @smiths

[2019-05-03 19:11] bmaclach commented on #708
Without the "ssp_" prefix some of the variable names will conflict with others from Concepts.Documentation, though this isn't a big deal because that module is imported qualified. So I don't foresee any real problems with removing "ssp_", but I will point out that the pattern of prefixing those variable names with the example name is repeated in all of the examples (i.e. there is a `game_refby` in

[2019-05-03 19:13] samm82 commented on #708
I'll remove the prefixes in all examples then, and remove the unused variables. 👌

[2019-05-03 19:17] smiths commented on #1261
That sounds like a good reason for merging @samm82.  If @JacquesCarette doesn't like it, he'll stop it with the pull request.  :smile:

[2019-05-03 19:20] smiths commented on #868
Yes, good idea to create a new issue.

[2019-05-03 19:25] smiths commented on #1259
@Mornix, my instinct is that stable should track all generated artifacts, including the makefiles.  I'm also thinking that once the code generator is working that we would track changes in the generated code too.  It seems to me that we don't want changes sneaking in that we aren't aware of and I don't know where to draw the line on things that are too trivial to worry about.  I feel like we shoul

[2019-05-03 19:26] samm82 commented on #708
@bmaclach I started removing them, and in SSP, I got a naming conflict with `srs`, `sec`, and `section`. Should I rename all but these three (ie. leave them as `ssp_srs`, etc.), or should I rename none of them, so that they are consistent?

[2019-05-03 19:33] bmaclach commented on #708
Ah, I was wrong. Documentation is not imported qualified. If there are going to naming conflicts, my opinion is that it's not worth the effort to remove the prefixes. Besides, the prefixes do help with searching the code base (if we removed the prefixes and then wanted to search the code base for (what used to be) `ssp_srs`, we would match with all instances of `srs` which would exist in all examp

[2019-05-03 19:41] samm82 commented on #708
Since the helper strings aren't fully part of this issue, and all section names look good, I'm closing this issue.

[2019-05-03 19:41] #708 closed

[2019-05-03 19:51] smiths commented on #708
I agree with not removing the prefixes right now, although I'm not sure I completely agree with the searching for `ssp_srs` justification.  If the prefixes were gone, searching for srs would find the files in the SSP folder, and in the other examples.  However, anybody doing the search would likely know to ignore the srs names in the other, non-SSP, folders.  The location of the file gives us the

[2019-05-03 20:03] smiths commented on #1256
@samm82, any time you find yourself using copy and paste in Drasil, we should be looking for an opportunity for abstraction.  😄

I'm not sure of the current status here.  Can this definition of functional requirements be written so that all of the cases studies are the same?  Is it possible to have the text written in one place and pulled into all of the examples?  If the text changes in the futur

[2019-05-03 20:05] smiths commented on #1205
Yes, @bmaclach, I agree.  Please proceed with propagating this to the other examples.

[2019-05-03 20:07] samm82 commented on #1256
I thought of that as soon as I typed "copy and paste". 😬 I'll take a look into it later. 👌

[2019-05-03 20:32] samm82 commented on #1258
Just an update - the next step is implementing classes so that the uncertainty and precision can be accessed. I'm not sure the best way to do it, and not super comfortable with lenses and classes in Haskell yet, but I think that we might want `HasUncertainty` and `HasPrecision` classes for both `Uncertainty` and `UncertainChunk`. The only thing about this is that it seems weird that an `Uncertaint

[2019-05-04 13:12] #833 closed

[2019-05-04 13:12] #876 closed

[2019-05-04 13:12] #877 closed

[2019-05-04 13:24] JacquesCarette commented on #918
Yes, each move should be its own PR.

`GenDefn`, `DataDefinition`, `InstanceModel` and `Theory` are all "requirements" knowledge. They are not, however, strictly "documentation" knowledge, they are more general than that. I think it would make sense to remove them from drasil-lang, but to put them into their own package. I am thinking drasil-theory.

[2019-05-04 13:34] JacquesCarette commented on #1254
The best way is actually to generate `glassConcepts` from `glassType` by mapping `snd`. `zip` is partial, which is bad.

[2019-05-04 13:37] JacquesCarette commented on #1261
A lot of this is a product of evolution.  Before we merge, we should take a look at the 'uses' graph (I should check those utilities in) to see if there is a structural reason these were kept separate.

[2019-05-04 13:38] JacquesCarette commented on #1259
Agree with @smiths . We also don't want new files appearing without us knowing.

[2019-05-04 13:45] JacquesCarette commented on #708
We should indeed remove the prefixes, and then import various things qualified to deal with the conflicts. This is a good task to do when other items are stuck for some reason, as it can be done file-by-file.

[2019-05-04 15:07] smiths commented on #708
@JacquesCarette, sounds like we are on the same page.  @samm82, can you create an issue for removing the prefixes and adding the qualified imports.  You can put it as a low priority issue.

[2019-05-04 15:13] smiths commented on #1261
Great point @JacquesCarette.  The last thing we want to do is go in circles with design decisions.  Splitting files, remerging them and later splitting them again would be a mistake.  We want to be sure that we are making decisions that we are reasonably sure will "stick" going forward.

[2019-05-04 23:04] samm82 commented on #1254
`glassConcepts` isn't used at all in the example, however - should it be removed?

[2019-05-05 06:43] Mornix commented on #1180
This issue is resolved with the merge of #1239. Closing.

[2019-05-05 06:43] #1180 closed

[2019-05-05 12:43] JacquesCarette commented on #1254
I wouldn't be surprised if we later discover that it *should* be used but isn't. In that there's probably something almost hard-coded that would be simplified by the use of this.  But, for now, it can be removed.

[2019-05-05 13:18] smiths commented on #1254
@JacquesCarette is correct.  `glassConcepts` are not part of the current input, because the problem is simplified, but it could be needed in the future.  Also, if we remove it, we are losing information.  We don't want to lose information.

[2019-05-05 20:24] Mornix commented on #1260
Resolved with merge of #1265. Closing.

[2019-05-05 20:24] #1260 closed

[2019-05-06 13:22] samm82 opened #1267 "Remove Section Prefixes/Import Qualified"
(from #708)

Section prefixes (like in the following) should be removed throughout the examples and relevant imports should be qualified to avoid naming conflicts.

# TODO

- [x] Chipmunk
- [x] GlassBR
- [x] NoPCM
- [x] SSP
- [x] SWHS
- [x] Tiny

https://github.com/JacquesCarette/Drasil/blob/1184b84c48d0d3cdf336f2f3d83cce87b172266f/code/drasil-example/Drasil/SSP/Body.hs#L156-L192

[2019-05-06 13:22] samm82 commented on #708
#1267

[2019-05-06 13:33] samm82 commented on #1261
Throughout `drasil-lang`, `Reference` (from `RefProg.hs`) is imported, and nothing from `Reference.hs` is used internally. Then, in `Drasil.hs`, `Reference` (from `RefProg.hs`) and some helper functions (from `Reference.hs`) are exported to be used by other modules. Since we can specify to only import `Reference` from the merged module, I don't think that this would cause any issues, and the merge

[2019-05-06 14:00] samm82 commented on #1256
@smiths When I updated the functional requirements intro, it was done in `drasil-docLang`, so this change propagated to all examples. The nonfunctional requirements sections across all examples are small enough that they don't have (or need) an intro. The way to generalize this I think would be to create the requirements intro from the functional and nonfunctional requirements intros, but since th

[2019-05-06 14:13] bmaclach commented on #1256
Going to call out #1229 because I think it's relevant here. I changed the DocLang to format NFRs similarly to functional requirements (i.e. an intro sentence followed by a list of requirements). It just hasn't been propagated to the examples yet.

[2019-05-06 14:24] samm82 commented on #1256
Good call - I completely forgot about that issue 😂 I'm going to close this issue, since it seems like a subset of #1229, and I'll work on the implementation over there.

[2019-05-06 14:24] #1256 closed

[2019-05-06 14:31] samm82 commented on #1229
There was discussion on #1223 about how to best come up with the NFRs in a complete sense, but still not sure how to best go about this. I'll start with implementing SSP (based on the caseStudies) and go from there?

[2019-05-06 14:36] bmaclach commented on #1229
Your plan sounds good to me, @samm82. The impression I got was that getting the right text for stating each NFR is not a priority right now, we just want them to use the new format. @smiths, correct me if I misinterpreted that.

[2019-05-06 15:13] smiths commented on #1207
@oluowoj, for your T5 (Collision Detection) we want to actually have an equation.  Something like the following:

![CodeCogsEqn](https://user-images.githubusercontent.com/1422000/57233894-8755f300-6fed-11e9-9989-acb2a8a654bd.gif)

In the description you can clarify that we  have a sequence of bodies B.  Each body is made up of a set of points in space.  The set of points changes as the body moves.

[2019-05-06 15:16] samm82 commented on #1223
@bmaclach Did you define an intro sentence for the nonfunc reqs somewhere in `docLang` (like the one for the func reqs)?

[2019-05-06 15:21] smiths commented on #1229
Yes, @bmaclach, you are correct.  We should have the infrastructure in place so that each example can have a list of NFRs, but the content of those NFRs is not a priority.  Adding a few placeholder NFRs, as you did for SWHS is a good idea.

[2019-05-06 15:22] smiths commented on #1256
I was going to search for the issue that @bmaclach mentioned as being related.  I'm glad that he beat me to it.  :smile:

[2019-05-06 15:25] bmaclach commented on #1223
The intro paragraph (it's actually multiple sentences, my bad for saying "sentence" before) is built from 2 `Sentence`s which are passed to the `NonFReqsSub'` constructor. Specifically, these functions put them together:

https://github.com/JacquesCarette/Drasil/blob/1bf147eb59597e47ed7a119b489aeddea1b2973f/code/drasil-docLang/Drasil/Sections/Requirements.hs#L65-L69

https://github.com/JacquesCare

[2019-05-06 16:14] samm82 commented on #1229
https://github.com/JacquesCarette/Drasil/blob/2cf1aeb029a5ca7d02d0a5afebd2253a7a088129/code/drasil-docLang/Drasil/DocumentLanguage.hs#L200-L204

For now, I created a new `NonFReqsSub''`, which is awful, yes, but follows the `FReqsSub` structure for the sake of consistency. (I might be able to abstract this a bit more, but I'm still working on it.) I've added one "test" FR right now, and it seems t

[2019-05-06 16:32] bmaclach commented on #1229
I can't speak to all of your questions, but I can say that you are correct that my goal was "to get the NFRs displaying like how the FRs are currently". As long as you're not changing that, then you're not really stepping on my toes :)

The potential downside I see to `NonFReqsSub''` is that the entire `Contents` of the section need to be defined in each example, whereas with `NonFReqsSub'` some o

[2019-05-06 16:41] smiths commented on #1229
I agree that how the NFRs are displayed should match how the FRs are displayed.  The best way to code this is more the domain of @JacquesCarette.  I do see a bit of a red flag with the comment by @bmaclach.  In general, we want automation.  If `NonFReqsSub` has more automation, then we don't want to lose that.

[2019-05-06 16:45] samm82 commented on #1229
I think once again I've dived into a solution without thinking it through too much - I need to merge my solution (of using the FR pattern) with @bmaclach's (of automating the example sentence). I'm just working through the changes I've already made to find the cleanest way to do that.

[2019-05-06 17:36] samm82 commented on #1229
Now that I've gotten things working, I've moved `nonFuncReqF'` to `nfReqF` to be consistent with how `fReqF` works for FRs (just an FYI @bmaclach)

[2019-05-06 17:39] samm82 commented on #1223
Great! Works like a charm (once I figured out how it was working 😂)

[2019-05-06 18:42] JacquesCarette commented on #1261
Let's look at it together in more detail tomorrow.

[2019-05-06 18:44] #1254 closed

[2019-05-06 18:54] JacquesCarette commented on #1229
Let's try to do a little bit more planning in the future. We need to properly understand the problem first, then a solution will likely be clear.

[2019-05-06 18:55] JacquesCarette commented on #1258
And 'oops', I forgot I was signed in as drasil-bot.

[2019-05-06 18:59] samm82 commented on #1258
Yeah Dan and I were wondering if Drasil was getting some AI 😂

The reason I was implementing these classes was to implement `Lens`es for the different components (value and precision) of `Uncertainty`, but now I think simple accessors would be a better implementation (`getUncrt` and `getPrec`), and then use `HasUncertainty` for data types with an `Uncertainty`.

[2019-05-06 19:04] JacquesCarette commented on #1258
It's getting devOps, which is another buzz-word, but with actual contents.

You should implement some `Lens` related to this, and the accessors should be methods of the corresponding class.

[2019-05-06 19:04] samm82 commented on #1229
In caseStudies, the first NFR refers to a section that doesn't exist in Drasil.
![NFR!](https://user-images.githubusercontent.com/35857611/57247551-2a1e6980-700e-11e9-8a3e-38e038eef3f6.png)
![propsOfCorrectSol](https://user-images.githubusercontent.com/35857611/57247603-49b59200-700e-11e9-9af9-39a1d941e33e.png)

Also, since properties of a correct solution aren't applicable for SSP, should they be

[2019-05-06 19:04] smiths opened #1271 "Update Contributor's Guide Wiki with additional PR guidelines"
Please update the Contributor's Guide Wiki to include the advice/instructions given by @JacquesCarette as a comment in:

https://github.com/JacquesCarette/Drasil/pull/1270#event-2321697655

This is good advice and I don't think we have currently captured it anywhere.

[2019-05-06 19:12] bmaclach commented on #1229
I remember @smiths and I agreeing that that section was not applicable to SSP. Your placeholder text is probably fine for now though, since we plan on rehauling how we describe these requirements at some point in the future. @smiths can confim.

[2019-05-06 19:14] danscime commented on #1271
<img width="529" alt="Screen Shot 2019-05-06 at 3 13 14 PM" src="https://user-images.githubusercontent.com/28261339/57248877-85059000-7011-11e9-88a2-1faeb15f9fc5.png">

Updated. Can be found at:
https://github.com/JacquesCarette/Drasil/wiki/Contributor's-Guide

[2019-05-06 19:20] smiths commented on #1271
Great!  Thank you @danscime.  If you notice any other advice that would help in the Contributor's Guide, don't hesitate to add it.  :smile:

[2019-05-06 19:20] #1271 closed

[2019-05-06 19:53] samm82 opened #1272 "Slash Discrepancy from Recent Merge"
When running `make` on `master` on Windows 10, I get this in my NoPCM log

[code]

and a similar output in my GlassBR log. I'm guess that the issue has to do with me being on Windows. Any help would be appreciated. (Feel free to reassign to whoever can help - I'm not sure who made this change.)

[2019-05-06 19:55] bmaclach commented on #1272
I had this issue typed out almost word-for-word and was about to open it. Thanks!

[2019-05-06 20:20] Mornix commented on #1272
I think this is from trying to be “correct” and using the `</>` operator to append to a path.

[2019-05-06 21:06] JacquesCarette commented on #1272
This is a problem you (@Mornix ) introduced, so I'll let you have a first crack at it!

[2019-05-07 03:34] smiths commented on #1229
@bmaclach and @samm82, the properties of a correct solution section for SSP isn't technically "not applicable".  We just couldn't come up with any.  :smile:  We definitely want to keep the section, since it is part of the template.  At some point we might also realize that we have forgotten or missed a property.

As far as the NFRs go, we can think of them as placeholders for now.  Including a FIX

[2019-05-07 12:34] danscime commented on #1070
Added tau_P^L via df8733d2d4e935f3ba5d87b2226a1593d67ba344.
Original PR #1253.
These data definitions ended up being added in #1257.
I believe this issue can be closed.

[2019-05-07 13:08] bmaclach commented on #1229
That section actually doesn't exist in Drasil for SSP. I inadvertently skipped over it when going through the SRS and porting changes. It can be easily added, though.

[2019-05-07 13:18] samm82 commented on #1229
Should I make a new issue for adding this section @smiths? And who should I assign?

[2019-05-07 13:42] smiths commented on #1229
@samm82, yes, please create an issue for the new section.  I think it makes sense to assign it to yourself.  :smile:

[2019-05-07 13:48] samm82 opened #1276 "Add/Reference Properties of Correct Solution"
![NFR!](https://user-images.githubusercontent.com/35857611/57247551-2a1e6980-700e-11e9-8a3e-38e038eef3f6.png)
![propsOfCorrectSol](https://user-images.githubusercontent.com/35857611/57247603-49b59200-700e-11e9-9af9-39a1d941e33e.png)

(from #1229) - the Properties of Correct Solution section is referenced by `Correctness`, but does not exist. It should be added to the example with correct referenci

[2019-05-07 14:46] bmaclach opened #1277 "Add derivation for surface hydrostatic force DD in SSP"
It is not obvious how the equation for surface hydrostatic force is derived. A derivation should be added to this DD. The following is an overview of the derivation, provided by @smiths:

"The derivation should start with the fact that we want to know the weight of the water on top of the slope of the soil surface.  We find this force as the volume of water multiplied by its unit weight (gamma_w).

[2019-05-07 14:49] bmaclach commented on #1277
@smiths With regards to adding a DD for unit weight, unit weight is a direct input to SSP. So I don't think it makes sense to write a DD for that since we don't actually calculate it.

Also, the "Base hydrostatic force" DD equation is almost exactly the same as the one for surface hydrostatic force. The "Weight" DD follows a similar pattern as well. Should we write derivations for all of these DDs

[2019-05-07 14:59] samm82 commented on #1229
I'm noticing that a lot of these NFRs (if not all) will be general (ie. the NFR for correctness won't really change between examples), and shouldn't be defined in any one example. Should they be defined in `Data.Drasil.Concepts.Documentation` or somewhere else? @JacquesCarette @smiths

[2019-05-07 15:15] samm82 commented on #1276
@smiths Is a placeholder FIXME enough for now, or should I try to come up with some correct solution properties?

[2019-05-07 15:28] smiths commented on #1276
@samm82, if you can come up with properties of a correct solution that would be great.  I'd be very happy to discuss your ideas.

[2019-05-07 15:30] smiths commented on #1229
The NFRs that are currently being written are just placeholders.  That is why they are the same.  They won't be the same when we actually spend some time to think about them.  I'm sure there will be similarities in patterns, but we want to be able to write them separately for each example.

[2019-05-07 15:32] samm82 commented on #1229
OK great - thanks for the clarification!

[2019-05-07 15:36] smiths commented on #1277
Yes, you are right about the unit weight.  The data definition would be for the concept of weight.  The input is the volume and the specific weight, the output is a force (pointing in the negative y direction).

Do we have Newton's second law anywhere?  It should be in game physics (I believe).  The theory is F = m*a.  Since we know that a = g, we have the weight (force) equal to the mass times g.

[2019-05-07 17:07] samm82 opened #1280 "Referencing to Sections"
As noted on the comment on 6d9cf1432f8, the way we reference sections seems a little bit broken, where we have to create the section at every point we want a reference. So far, this has manifested in the following examples:

- SSP (NFR)
- SWHS (NFR)

We need a better way to reference sections from within requirements, assumptions, etc. (chunks that are generated independently to each example)

[2019-05-07 17:22] samm82 commented on #1276
@smiths Since NoPCM is a simpler version of SWHS, I thought I'd ask - should NoPCM have the section as well, since it has the same NFR that references it as SWHS? My thought is yes, but just double checking. 😁

[2019-05-07 17:34] smiths commented on #1276
Yes, NoPCM should have this section.  The section (Properties of a Correct Solution) is part of the SRS template.  All examples should have it, even if the content for the section is to say there are no known properties (other than satisfying the requirements).

[2019-05-07 18:13] #1070 closed

[2019-05-07 18:23] JacquesCarette commented on #1229
I would have said things differently. I think a bunch of NFRs, just like FRs, will be generic. The more interesting ones will be generic-but-specializable. But that's definitely something down the road.

[2019-05-07 18:33] #1272 closed

[2019-05-07 18:57] samm82 opened #1281 "Requirements not Reused between SWHS and NoPCM"
(Came from working on #1229 and #1276)

There are a lot of similar (almost) identical functional requirements that are defined individually in SWHS and NoPCM and should be reused. There are also some discrepancies from the manual, as described in #439 that should be fixed in both examples (if/when applicable).

# TODO
_In branch `swhsNoPCMReqs`_
- [x] Input-Initial-Quantities
    - [x] Move assump

[2019-05-07 19:00] samm82 commented on #1281
@smiths I'm assuming that the FRs aren't placeholders at this point - is this a valid issue @smiths?

[2019-05-07 19:05] smiths commented on #1281
Yes, this is a valid issue.  The two examples should share many requirements.  You might want to talk to @bmaclach, since he recently verified that the two examples share the same goal statements.

[2019-05-07 19:07] smiths commented on #1229
@JacquesCarette, I think we agree more than we disagree on this.  There will be significant overlap between examples on the NFRs; the main differences will be in the details.  It is these differences that will make the examples interesting.  The main thing at this time is that we agree that, for the moment, we should have other priorities.  We can circle back to NFRs in the future.

[2019-05-07 20:25] samm82 opened #1283 "GamePhysics | Output Data Constraints aren't constrained"
The Output Data Constraints table in GamePhysics lacks a column for the Physical Constraints, since the values aren't given any constraints in the Drasil code.

![outputDataConstraints](https://user-images.githubusercontent.com/35857611/57330505-3d9c0400-70e4-11e9-8070-de3fb5a2de13.png)

`posCons`, `veloCons`, `orientCons`, and `angVeloCons` are the relevant quantities.
https://github.com/JacquesC

[2019-05-08 04:17] smiths commented on #1283
Thank you @samm82.  Currently @oluowoj is working on improving the Game Physics example.  It needs some attention to get it up to the standard of the other examples.  I'll assign this to @oluowoj, but she might also reassign it, possibly to you.  :smile:

[2019-05-08 14:31] samm82 commented on #947
@smiths What should the workflow be for this issue? At least for the sake of this issue, can I assume these fields are accurate in caseStudies and just ensure that the information matches up (add source/refby if missing or "--" if not applicable)?

[2019-05-08 14:42] smiths commented on #1207
Since the review has been complete, I am going to close this issue.  @oluowoj, if any questions come out of my review, please feel free to create new issues.

[2019-05-08 14:42] #1207 closed

[2019-05-08 14:52] samm82 commented on #918
`ChunkDB` uses these modules that are being moved to `drasil-theory`. Should it be moved there as well, or should it be split into parts, so there is a `ChunkDB` in `drasil-lang` and in `drasil-theory`? @JacquesCarette

Also, my current folder structure of `drasil-theory` is Drasil > Theory > [modules], with a Theory.hs that re-exports everything in Drasil/. Let me know if you think it should be s

[2019-05-08 15:34] smiths commented on #947
@samm82, yes, you can assume that the case studies are correct.  I'm sure they will need future review, but capturing the current information should be the first step.

[2019-05-08 15:43] smiths commented on #975
Sounds good @samm82.

[2019-05-08 15:45] smiths commented on #420
Yes, this issue can be closed.  Nice to have one less issue.  :smile:

[2019-05-08 15:45] #420 closed

[2019-05-08 16:13] samm82 commented on #947
The way the Source field is handled now is that the `TM` (or whatever chunk) will take a `[Reference]`. It was mentioned on the previous issue that this shouldn't default to "--", since the whole purpose of "--" is indicating that the field is empty intentionally. However, since the chunks take a `[Reference]`, to indicate that there shouldn't be anything, indicating that the list should be empty

[2019-05-08 16:17] smiths commented on #947
@samm82, I agree with your thought process.  Whether this is the best design solution is a question that @JacquesCarette would be better for answering.

[2019-05-08 17:05] samm82 commented on #947
Before I changed anything, TM used `[Reference]` and DD used `[Citation]` should (maybe in a different issue/branch) make these consistent? If so, which one should be used? @smiths @JacquesCarette From looking at the constructors in Reference.hs, `Reference`s are built from `Citation`s, so it looks like `Citation` should be used.

Once again, what I thought was a simple issue has snowballed. 😂

[2019-05-08 17:49] Mornix commented on #975
Unless I’m misunderstanding, NFRs should be individually referable as they’re `ConceptInstance`s. Similarly, NFRs can be included in the traceability matrices by adding the `ConceptInstance`s to the `ChunkDB`.

As for the 'R', that’s hardcoded at the example-level as part of the old traceability matrices. The automated traceability matrices are the very large ones. #1197 is outstanding and is pose

[2019-05-08 18:09] samm82 commented on #975
@Mornix Just confirmed that NFRs display correctly when referenced - this issue can be closed/address with #1197 then.

[2019-05-08 18:09] #975 closed

[2019-05-08 18:35] bmaclach opened #1287 "Should Data Definitions be able to reference Theoretical Models?"
As mentioned in #1286, I wasn't able to reference a TM in the derivation of a DD because that would cause cyclic imports. In https://github.com/JacquesCarette/Drasil/issues/1029#issuecomment-434077273 it was decided that TMs can reference DDs, and DDs cannot reference TMs. However, referencing a TM in the derivation of a DD felt like something I _should_ be able to do. Since TMs are so general, it

[2019-05-08 19:18] danscime opened #1288 "Ignore Line Breaks in HTML Diffs"
Is there a way to ignore line breaks in the HTML Diffs?

These two diffs both render the same, but show up as diffs. Can the line breaks be ignored?

<img width="103" alt="Screen Shot 2019-05-08 at 3 16 21 PM" src="https://user-images.githubusercontent.com/28261339/57401716-46eca580-71a4-11e9-80b7-60a735079172.png">
<img width="175" alt="Screen Shot 2019-05-08 at 3 16 27 PM" src="https://user-imag

[2019-05-08 19:20] smiths commented on #1288
@danscime, I don't know the answer to your question.  It seems to me that @Mornix may know.

[2019-05-08 19:45] JacquesCarette commented on #918
I think ChunkDB should be moved even further "out". I'm kind of thinking drasil-gen, but I'm not sure. We might need to create another package that takes care of the 'database' aspects of information collection.

[2019-05-08 19:53] samm82 commented on #918
For now, I'll move it to `drasil-gen` and see how that works out.

[2019-05-08 19:55] Mornix commented on #918
You'll likely not be able to transplant it since `drasil-docLang` currently uses it.

[2019-05-08 20:07] JacquesCarette commented on #947
I see now that my comment on a check-in crossed with this discussion. The advice there still stands.

The problem with the `Maybe` solution is as you say above: it enables `Just []` as a valid entry, which should then be considered an error. It feels odd to me.

I think we need to think more deeply about the difference between "no references on purpose" and "no references" to see if there truly is

[2019-05-08 20:14] samm82 commented on #947
From above:

I think not using the `Maybe`, and always printing "--" with an empty list will let people omit references "without being forced to think about it".

[2019-05-08 20:14] JacquesCarette commented on #1288
No, there is no way to ignore them -- and that's good!!!  Once we get the latter display, we want it to *stay* that way, so those line breaks really matter.

Now, I understand that this makes the diffs for the `ind` branch extremely noisy. Big pain - once.

The only way I know of to reduce the pain is to switch each tag (like `th`) from using one method of printing (with too many line breaks) to '

[2019-05-08 20:22] JacquesCarette commented on #918
Right, that was my concern.  So `drasil-database` it is!

[2019-05-08 20:23] danscime commented on #1288
Another possible problem that might arise would be the tabs and trailing whitespace on a line.
Not sure if this is ignored. Based on the Makefile, I feel like it would be ignored but just want to ask anyway.

<img width="378" alt="Screen Shot 2019-05-08 at 4 20 42 PM" src="https://user-images.githubusercontent.com/28261339/57405769-486e9b80-71ad-11e9-8f83-ca883fbabbec.png">

[2019-05-08 20:25] JacquesCarette commented on #1288
whitespace is currently ignored. Eventually, we might want to be pickier, but it caused too many truly spurious issues (a lot of them to do with Windows vs Mac vs Linux) that were not worth our time.

[2019-05-08 20:32] Mornix commented on #1288
Although, I don't believe we should have any instances where there is trailing whitespace currently.

[2019-05-08 20:35] danscime commented on #1288
Okay great.

For the big changes, just to clarify:
The changes should first tackle instances of <th> and extra lines, then </th> for example, and so on with <h1>, </h1> etc...
Correct?

Another issue: If we do a bunch of PRs, they will not pass the Travis Checks until fully complete.

[2019-05-08 20:36] smiths commented on #1287
Great question @bmaclach.  I like that this process of formalizing the documentation is deepening our understanding of the physics.  I can see your point in this specific example of the Theoretical Model referencing the Data Definition, but I can think of other cases where we will need this.  For instance, if I write down the conservation of mass equation, I'll likely use density.  I might want to

[2019-05-08 20:43] bmaclach commented on #1287
Since the DD for weight is used in the derivation for surface hydrostatic force (which is itself a DD), that wouldn't solve the problem, because then we would need to reference the weight GD from a DD. We would have to make surface hydrostatic force a GD as well (and then later make base hydrostatic force and slice weight GDs too, since they will similarly need the weight definition in their deriv

[2019-05-09 01:46] JacquesCarette commented on #947
I think one of the problems here, and why we're having some difficulty discussing this, is that the "implementation details" are visible to the 'user of Drasil'. We shouldn't be arguing about using Haskell data-structures as a way to enforce our invariants.  Well, ok, sometimes that is a good idea. But here, it seems not.

I think a much better design is to use, exclusively, smart constructors for

[2019-05-09 01:49] JacquesCarette commented on #1288
@Mornix : agree. Maybe we should test that?

@danscime : not quite, since those come in matched pairs. `th` (in Drasil) will change both `<th>` and `</th>` in the html.  But otherwise yes, one tag-pair at a time.  And you can make them pass Travis by changing 'stable' every time? Or am I not understanding the issue you raise?

[2019-05-09 03:46] smiths commented on #947
This sounds like some good wisdom for guiding design choices.  @samm82, when this issue is closed, please take some time to distill the design principles being used and put them in the contributor's guide.

[2019-05-09 04:07] smiths commented on #1287
I think this problem is coming up because of our (correct) move to improve our derivations.  The derivations for data definitions will definitely need to reference the theories, and quite possibly the general definitions.  The original idea was that the data definitions "supported" the theories, general definitions and instance models.  We're going to have to rethink this.

@JacquesCarette, how im

[2019-05-09 12:41] danscime commented on #1288
I may be mixed up. I thought you meant only edit stable.

You mean like make the edit that prints ```<th>``` and ```</th>``` in html. THEN edit stable based upon this change.

Is this what you mean?

[2019-05-09 13:04] JacquesCarette commented on #1287
It has been my opinion for a long time that all there really exists is 'theories'. Now, some theories are quite small and have some particularly nice properties (such as making a single definition of 1 new computable item from known values, what you call Data Definitions) that may mean labeling them differently is useful.

Having said that, you had a clear body of evidence that seemed to point oth

[2019-05-09 13:52] samm82 commented on #947
@JacquesCarette That sounds like a better implementation - I'll work on that
@smiths Will do 👍

[2019-05-09 14:17] smiths commented on #1287
@JacquesCarette, I like the simplicity of the idea of everything being a theory, but we would still need a means to express the relationship between the theories.  The relation we are looking at is abstraction.  I really like the idea that one "general" theory can be refined to multiple instance models, depending on the assumptions that are made, coordinate system, etc.  I wouldn't want to lose th

[2019-05-09 14:37] samm82 opened #1294 "Create drasil-database Package"
As mentioned in #918, the `drasil-database` subpackage should be created with the code that deals with "'database' aspects of information collection."

## TODO
- [x] Move Language.Drasil.ChunkDB (#1306)
- [x] Move Language.Drasil.ChunkDB.GetChunk (#1306)
- [x] Move Language.Drasil.SystemInformation (#1306)
- [x] Add to wiki page

[2019-05-09 14:49] danscime opened #1297 "Renaming in GlassBR"
Need to rename:

glassBR_srs to srs
&
glassBR_code to code

via comments on the two commits:
dea4a71a2ff554453e81acb4e88261814d428cab
and
c09fe3171c3a4316842c7bf9355c8702b39c8c8a

[2019-05-09 14:50] JacquesCarette commented on #1288
Yes, that's what I mean.

[2019-05-09 16:22] bmaclach opened #1298 "Generated C# Makefile does not work on Windows"
I get the following error when running `make` for the generated C# GlassBR code:
[code]
The error seems to be because `mcs` is being used to compile the code instead of `csc`.

[2019-05-09 16:34] danscime opened #1299 "Update HTML Wrap"
HTML wrap function will be updated in order to pretty print tags on the same lines as text, instead of using many lines, each with a separate tag or text.

Based on @deviprasad135's ```ind``` branch and my ```genWrap``` branch.

[2019-05-09 16:35] danscime commented on #1288
This issue can be closed. Updating can be communicated through #1299.

[2019-05-09 16:37] danscime commented on #1299
Renaming wrap to oldWrap via f7b4b4f5c87cb8fd67579dd52d3d045185f3762c

[2019-05-09 16:40] danscime commented on #1299
All changes that will need to be made eventually. Just for reference, this commit will not be used: c630ff2c02c7e14a6afd54dbd43b95e64190f065

[2019-05-09 18:12] samm82 opened #1302 "Fill in Properties of Correct Solution"
As mentioned in #1276, at some point, the section "Properties of Correct Solution" should be filled in the following examples:

- [ ] SSP
- [ ] NoPCM
- [ ] GlassBR
- [ ] Chipmunk

[2019-05-09 18:13] smiths opened #1303 "Update Contributor's Guide With Rename-refactor "Strategy""
In issue #1299 you are using what seems to me to be a generic approach for updating the code when a change will involve touching many parts of the code and will have a significant effect on stable.  This is a pattern that has come up in the past, and it will come up again in the future.  Once you have a good idea of what you are doing, please write an addition to the contributor's guide for future

[2019-05-09 18:16] #1288 closed

[2019-05-09 18:36] samm82 commented on #1294
If `Language.Drasil.SystemInformation` uses `ChunkDB`, does it make sense to move it to `drasil-database` as well? @JacquesCarette

[2019-05-09 18:48] samm82 commented on #439
I'm going to tackle this as part of #1281, so I'm closing this.

[2019-05-09 18:48] #439 closed

[2019-05-09 18:54] samm82 commented on #1281
@smiths Is the assumption here (in the first FR of SWHS) really necessary? This FR only deals with inputting the values, and this assumption seems to apply more to calculations. This assumption and its reference aren't in NoPCM.

![swhsFR1](https://user-images.githubusercontent.com/35857611/57478928-36066780-726a-11e9-85d5-a02fe0641d35.png)

[2019-05-09 19:36] samm82 commented on #1281
@smiths Also, the table in Drasil for FR1 is missing these quantities:
![image](https://user-images.githubusercontent.com/35857611/57481450-2853e080-7270-11e9-98e3-bb913f6e848e.png)

[2019-05-09 19:38] samm82 commented on #1281
(I think I should have kept #439 open 😬)

This equation is wrong in Drasil:
![image](https://user-images.githubusercontent.com/35857611/57481598-7537b700-7270-11e9-8f82-8ca31c047d80.png)

[2019-05-09 19:56] smiths commented on #1281
@samm82, try to keep one topic per issue.  It makes it easier to address your questions, and it should lead to closing the easy issue quickly.

For your first sub-issue (unnecessary assumption), if you look at the manual case study (https://github.com/smiths/swhs/blob/master/docs/SRS/PCM_SRS.pdf) you will see that a mistake was made in translating from manual to Drasil.  It is really a shame that

[2019-05-10 12:31] smiths opened #1305 "CI to Generate On-line Documentation and Examples?"
@Mornix, how difficult would it be to automatically generate an on-line web-page that shows our Haddock documentation and our case study examples?  I've never done it, but my understanding is that part of the continuous integration script can keep a web-page up to date.  What I'm thinking is that we could make our web-page more impressive to external visitors if we had more information for them, w

[2019-05-10 13:31] danscime commented on #1299
Initial changes: 4c02e783625fa7c624d675d8b0a3b23db6e99906

Main changes are updating functions in HTML Helper.hs.
Minor changes in Print.hs.

These include refactoring naming of some functions that are to be updated.
Example: Having ```oldEm``` and ```em```.

For now we will keep both functions, and slowly use the new functions and delete the old.

[2019-05-10 15:30] samm82 opened #1307 "Add Missing Quantities to FR1 Table in SWHS/NoPCM"
The table for FR1 in SWHS and NoPCM is missing some quantities which should be added:

![image](https://user-images.githubusercontent.com/35857611/57538630-d5813400-7316-11e9-9339-920848ccf521.png)

_Migrated from #1281_

# TODO
- [x] Add tolerance values (#1330)
- [x] Add time step (#1334)

[2019-05-10 15:32] samm82 opened #1308 "Missing pi Symbol in SWHS/NoPCM FR2"
The squared has since been added, but the pi symbol in the following equation is missing in SWHS/NoPCM:

![image](https://user-images.githubusercontent.com/35857611/57538834-36107100-7317-11e9-90d1-a1bec2f5ab63.png)

In my previous attempts, I got an error similar to #1099.

_Migrated from #1281 and should wait for #1309_

[2019-05-10 17:38] JacquesCarette commented on #1287
Hopefully the discussion at the meeting made sense!  Does this mean that this issue has a resolution?

[2019-05-10 17:45] bmaclach commented on #1287
For the short-term, I know how to proceed (the DDs I was having trouble with will be GDs instead, so the old graph can remain the same). But it sounded like there'd be bigger changes in the long term. I don't know if the question of what the relationship should be between theoretical models and data definitions has been definitively answered. Unless we can safely say that in every case where a DD

[2019-05-10 17:52] JacquesCarette commented on #1294
Yes.

[2019-05-10 17:58] JacquesCarette commented on #1305
Sure seems like a good idea to me!

[2019-05-10 17:59] samm82 opened #1311 "Empty RefBy Fields"
_Split from #947_. Theoretical Models, General Definitions, Data Definitions, and Instance Models have a `RefBy` field that is sometimes empty when itshould be filled with "--" to indicate the lack of information is intentional.

# TODO

- Chipmunk
   - [ ] All TMs
   - [ ] Some DDs
   - [ ] All IMs
- GlassBR
   - [ ] Calculation of Demand IM
- NoPCM
   - [ ] Newton's law of cooling GD
- SSP
   -

[2019-05-10 18:01] samm82 commented on #1294
@JacquesCarette Done in #1306.

[2019-05-10 18:08] smiths opened #1312 "SSP: Constraint on water table height"
I don't think we have the ability to do it yet, but there is a missing data constraint in SSP.  The water table height, when it is above the soil, has to be constant.  (The water above the soil is going to find a constant level; it isn't going to have a slope to it.)  As the input is right now, the water surface could follow any function.  We can't do this right now, because, as far as I can tell,

[2019-05-10 18:38] bmaclach commented on #1308
@samm82 The fix to the error in #1099 is to add `pi_` to the chunkDB for SWHS. This should be possible now because `pi_` is a `DefinedQuantityDict` (assuming you are using the one imported from `Quantities.Math`). It should be enough to add `pi_` to `swhsSymbols`.

[2019-05-10 18:41] bmaclach opened #1313 "drasil-bot should untag a PR after the issue is resolved"
Maybe this isn't feasible, but I noticed my PR (#1286) got the CI:Stable tag because I forgot to update stable. After I fixed this and the build passed, the PR was still tagged. Would it be possible to have the bot remove the tag once the corresponding issue is fixed?

[2019-05-10 18:56] Mornix commented on #1313
It is definitely feasible and definitely did work. I realize I added a regression between closing my test PR and putting up the real PR. Sorry!

[2019-05-10 19:07] Mornix commented on #1305
I believe this should all be possible and shouldn’t require too much effort. CI currently builds all of these artifacts and throws them away at the end. I was thinking of hosting this sort of documentation with the master branch for the visual diff idea I’ve been playing with.

[2019-05-10 19:09] smiths commented on #1305
Thank you @Mornix.  That is the answer I was hoping for.  :smile:  I'm glad to see that @JacquesCarette is also behind this idea.  I'm going to change this question into an Enhancement.

[2019-05-10 20:04] danscime commented on #1299
First actual change that fixes some line breaks: b1d7aedf68dbe0c729b85171aaba17a7048f1c0e

[2019-05-10 20:19] Mornix commented on #1313
Fixed with the merge of #1314. Closing.

[2019-05-10 20:19] #1313 closed

[2019-05-10 20:35] samm82 commented on #1229
The current intro to Chipmunk's NFR section generated by Drasil is:

While in caseStudies, it is:

So I'm going to have to modify the way these introductions are generated. (I'm just documenting it here)

[2019-05-10 20:54] smiths commented on #1229
Thanks for noticing this @samm82.  The case study has the correct NFR statement.

[2019-05-10 21:03] samm82 commented on #1229
@smiths I also used the NFRs from stable for now, not from caseStudies - which ones should I use? caseStudies has performance and usability (and reusability, but I added it to Drasil anyways because other examples used it), but not portability or reliability.

[2019-05-10 21:49] #1281 closed

[2019-05-10 22:01] bmaclach commented on #1205
With the merges of #1208, #1232, #1240, #1248, #1274, #1291, and #1315, this is complete. Closing issue.

[2019-05-10 22:01] #1205 closed

[2019-05-10 22:01] bmaclach commented on #1215
With the merges of #1232, #1240, #1248, #1274, #1291, and #1315, this is complete. Closing issue.

[2019-05-10 22:01] #1215 closed

[2019-05-10 22:01] #1258 closed

[2019-05-10 22:37] oluowoj commented on #1283
This is on my to-do list, I am not there yet, but will take a look.

[2019-05-13 13:18] danscime opened #1318 "Separate folder for logs (possibly trivial)"
Are we able to edit the Makefile to move the generated logs into a separate folder after being generated and checked for emptiness?

Right now their just mixed in with the .sh and .md files. Might be nicer for organization.

[2019-05-13 15:06] samm82 commented on #1229
@smiths @JacquesCarette For changing the intro to the NFR section, should I create another section constructor that would take a list of high priority requirements (instead of no priority reqs), or add a parameter to the constructor that would indicate the priority of the list of "extra" requirements passed to it?

[2019-05-13 15:07] danscime commented on #1299
HTML Print.hs is almost completely updated. One more change left, but need to figure it out.
https://github.com/JacquesCarette/Drasil/blob/c409d4ece9c96260364c8065caec601c8259b7df/code/drasil-printers/Language/Drasil/HTML/Print.hs#L69-L70

[2019-05-13 15:26] #1294 closed

[2019-05-13 16:13] samm82 commented on #947
@smiths I don't remember where I saw it, but I made a note that the source in the DDs for Tiny is the source code. (Right now I just used the "noRefs" constructor.) With our current infrastructure, we can't just just display "source code". Is there a reference for the code that we could add to Tiny, or should we not bother?

[2019-05-13 16:20] samm82 commented on #947
@JacquesCarette Right now, the constructors for IMs are `im'` which doesn't take a derivation, and `im''` which does. Should I refactor these to take all combinations (ie, `im`, `imNoRefs`, `imNoDeriv`, `imNoRefsNoDerivs`)? Or should I just merge these two functions (and pass an empty list for derivations), and we can revisit not passing derivations with a similar approach to this one throughout a

[2019-05-13 16:50] oluowoj opened #1323 "Field not in SymbolMap error"
@bmaclach , any thoughts on how to resolve this. Could be as a result of all the ongoing changes in Drasil. When I run make, that's when I get this.
I am currently looking into \Language\Drasil\ChunkDB but just thought I should run this by you.

<img width="663" alt="image" src="https://user-images.githubusercontent.com/43192745/57639180-52154c00-757d-11e9-8562-cec06e59c2c4.png">

[2019-05-13 16:53] oluowoj commented on #1323
Error is based on this in ChunkDB.hs. Its not seeing momentOfInertiaA
<img width="530" alt="image" src="https://user-images.githubusercontent.com/43192745/57639478-0020f600-757e-11e9-81be-6f0ffbd3d717.png">

[2019-05-13 16:53] bmaclach commented on #1323
@oluowoj Those types of errors happen when you are trying to use a symbol that you haven't added to the database (ChunkDB). Is `momentOfInertiaA` a new unital that you created? If so, you probably just need to add it to the `everything` ChunkDB in the Body.hs for GamePhysics.

[2019-05-13 17:06] oluowoj commented on #1323
I did not add momentOfInertiaA at any point and I never got an error regarding this until now(I merged master, could that be?) I am trying to find where it is being used, probably I can comment out, but its not something I added, it might also be a typo but I am not sure

[2019-05-13 17:15] bmaclach commented on #1323
When I search the code base for momentOfInertiaA there are no matches. `momentOfInertia`, on the other hand, is used in many places. So it seems like a typo. Is it possible that you accidentally typed an A somewhere and did not notice? Can you search for momentOfInertiaA on your local version of the repository?

[2019-05-13 17:43] samm82 commented on #921
This can be closed, as either the change has been completed or the affected text has been removed

[2019-05-13 17:43] #921 closed

[2019-05-13 17:49] oluowoj commented on #1323
Will do. Thanks Brooks

[2019-05-13 17:57] oluowoj commented on #1323
No matches found in the code base in my locals

[2019-05-13 18:02] bmaclach commented on #1323
@oluowoj I checked out your branch to see if I could reproduce the error but I got different errors. Can you push your current version of the branch?

[2019-05-13 18:07] oluowoj commented on #1323
sure will do shortly and let you know

[2019-05-13 18:14] oluowoj commented on #1323
I just pushed to this branch (gamephy_SRS)

[2019-05-13 18:20] smiths commented on #1323
This discussion is great to see.  Thank you @oluowoj for creating the issue, and thank you @bmaclach for helping.  I'm optimistic that the two of you will sort out he problem soon.  I don't have anything to offer to help on that.  😄  My reason for stepping into the conversation is to highlight that there will be some kind of "debugging" or code writing "lesson learned" that comes out of this.  @ol

[2019-05-13 18:31] oluowoj commented on #1323
Yes I am making notes of all my findings and issues encountered and eventually will create a document from all my notes and can consolidate everyone's notes (if available) into one.

@bmalach, I am merging master one more time, so another push in a few seconds.

[2019-05-13 18:32] danscime commented on #1299
@JacquesCarette Do we want span tags to show up as in the red (all in one line) or the green (separate lines)?

<img width="747" alt="Screen Shot 2019-05-13 at 2 31 22 PM" src="https://user-images.githubusercontent.com/28261339/57645221-cfe05400-758b-11e9-81b0-8591168ee925.png">

[2019-05-13 18:38] smiths commented on #1323
Sounds good @oluowoj!

[2019-05-13 18:45] danscime commented on #1299
@JacquesCarette same question as above but with ```div``` tags.

<img width="786" alt="Screen Shot 2019-05-13 at 2 42 24 PM" src="https://user-images.githubusercontent.com/28261339/57645917-5b0e1980-758d-11e9-8d66-3a3a73af369c.png">

[2019-05-13 18:52] bmaclach commented on #1323
@oluowoj Okay thanks, I reproduced the issue. "momentOfInertiaA" is the UID for the `momtInert_A` `UnitalChunk`. It wasn't showing up in searches because "A" is appended to "momentOfInertia" through the `momtParam` function. Anyway, it looks like during your merge `momtInert_A` was accidentally removed from the list `cpUnits` (and thus also removed from the `ChunkDB`). Adding `momtInert_A` to `cpU

[2019-05-13 19:00] danscime commented on #1299
HTML Helpers.hs ```div_tag``` to be updated.

https://github.com/JacquesCarette/Drasil/blob/74f54958495f84b03c2ddf2b80789ea0853b31e2/code/drasil-printers/Language/Drasil/HTML/Helpers.hs#L162-L163

[2019-05-13 19:25] Mornix commented on #1318
I’m planning to move the build scripts to their own folder after I’m done with the `bot_enhancement` branch, if that helps mitigate the issue.

[2019-05-13 19:42] Mornix commented on #1299
Semantically speaking `span` is an inline element and `div` is a block element.

So from that I would say `span` should be “same line” and `div` “multiple lines,” however in your first example with the fraction, I like that one on multiple lines.

[2019-05-13 19:58] oluowoj opened #1325 "Conflicts with a lot of field names after merge : Checking before manual resolution"
I tried to merge master with into one of my branches, I am getting a huge number of conflict mostly on the field names, I noticed that a lot of field names have been reformatted. See sample below: <img width="618" alt="image" src="https://user-images.githubusercontent.com/43192745/57649890-66fed900-7597-11e9-8c4f-301cf35f92aa.png">

@danscime @samm82, are you working on anything related to this ch

[2019-05-13 20:01] danscime commented on #1325
So I was working on GamePhysics last week and all my changes have been merged. Currently I am not working in GamePhysics.

[2019-05-13 20:02] samm82 commented on #1325
I split some code into the `drasil-database` package, so that explains the
[code]
in `master`

[2019-05-13 20:05] oluowoj commented on #1325
Thanks, were there any changes you made  that reformatted those parameter names in the screenshot?

[2019-05-13 20:08] danscime commented on #1325
@oluowoj Yes they were my changes that reformatted the names.

[2019-05-13 20:10] samm82 commented on #1307
After adding the tolerances to SWHS, I realized that the word "tolerance" doesn't come up at all in the rest of the SRS - I think this is an issue, taking an input and not defining where its used.

@smiths Should something be added to the SSP SRS to account for these tolerance values? (ie. is this issue snowballing 😂)

[2019-05-13 20:16] #1318 closed

[2019-05-13 20:19] oluowoj commented on #1325
Thanks good to know, was this on purpose?
So going forward we should use the format  'VelA' rather than Vel_A as the naming convention(where applicable?

[2019-05-13 20:24] danscime commented on #1325
@oluowoj Yes on purpose, as part of the Hlint process to use camelCase instead of snake_case as per #1249.

[2019-05-13 20:34] JacquesCarette commented on #1299
In general, I agree with @Mornix here. I prefer to have things 'all in one line' if they fit. But `span` should be less eager to spill over multiple lines, while `div` can be more eager.

[2019-05-13 20:36] smiths commented on #1325
@oluowoj,  you should read through the issues that were created while you were busy studying.  @danscime and @samm82 have been busy.  😄  I also recommend that you subscribe to all watches for this repo.  That way you'll have a better idea of how the code is evolving.

[2019-05-13 20:44] JacquesCarette commented on #1229
This is a 'semantic' question -- i.e. what meaning are we trying to communicate here. I think @smiths has to figure that part out, then we can figure out how to encode that knowledge into Drasil.

[2019-05-13 20:45] #1276 closed

[2019-05-13 20:50] JacquesCarette commented on #947
yes, please refactor those combinators as you suggest.

[2019-05-13 20:51] #1308 closed

[2019-05-13 21:06] samm82 commented on #1307
@smiths Also, there isn't a `time_step` unital defined in SWHS and I'm not sure what information it should contain. (Does it have uncertainty, etc.)

[2019-05-13 21:17] bmaclach opened #1326 "Document Derivation of Moment Equilibrium Equation for SSP"
The moment equilibrium equation in SSP has inconsistencies between manual and Drasil and even within manual. See #1324 for in-depth discussion on these inconsistencies and other ambiguities. We should document the derivation of this equation to ensure we have the correct equation and to avoid future confusion. The derivation and the free body diagram in the SSP SRS should agree with each other.

[2019-05-13 22:24] oluowoj commented on #1325
Thanks @danscime

[2019-05-14 04:22] smiths commented on #1307
@samm82, when you say tolerance values, you are referring to AbsTol, RelTol and ConsTol?  The problem with saying how they are used breaks the abstraction of the requirements document.  The requirements are to solve for the temperature, but we don't say how to solve for the temperature.  However, when we actually solve it, we do it numerically and the calculations require tolerance values.  The to

[2019-05-14 04:37] smiths commented on #947
@samm82, I think we are best off going with your no reference option ("noRefs").  The actually reference would be the theory manual for a fuel pin analysis thermal analysis that we have, but we don't have permission to make the manual available, and it isn't a public document.  Tiny isn't really meant to be a "real" example, so just leaving it as noRefs is fine.

[2019-05-14 12:23] smiths commented on #1229
@samm82, including the priority is a good long term idea, but I think it is premature to worry about it at this stage.  The NFRs are really a placeholder right now.  Higher priorities are the functional requirements, design, code generation, and testing.  My thinking is that the priority of the NFRs will be indicated using a ranking based on the Analytic Hierarchy Process (AHP), which involves pai

[2019-05-14 12:44] smiths commented on #921
Sounds good.  Thank you @samm82.

[2019-05-14 13:23] danscime commented on #1299
I believe the way @deviprasad135 has it is that over a certain line length, things get split onto multiple lines. In one of his branches, he includes the option of changing the amount of spacing for indents, which will definitely alter a line's length.

If we were to remove indenting, most of these divs and spans would fit on one line.

[2019-05-14 14:06] samm82 commented on #1307
@smiths So just to clarify, for now, I should leave the tolerance values in the table, but not add the time step? Or should I not add any and close this issue?

[2019-05-14 14:07] smiths commented on #1307
@samm82, I must have misunderstood your initial question.  Yes, we should add the time step.  It is needed in the code generation step.

[2019-05-14 14:15] samm82 commented on #1229
@smiths So should we just let the intro be wrong for now, since the section is essentially a placeholder anyways?

[2019-05-14 14:29] smiths commented on #1229
@samm82, what is wrong with the introduction?  (I haven't read it in a while.)  :smile:

[2019-05-14 14:33] samm82 commented on #1229
From a comment above:

The way the intros are generated are by passing in a list of non-priority requirements, which are highlighted in the intro. However, in GamePhysics, `performance` is passed in, although it is a high priority requirement, not a non-priority one. This means it is referenced in the same way as a non-priority req, which is wrong. So either we add a new constructor to build from

[2019-05-14 14:36] smiths commented on #1303
Sounds good @danscime.  However, you haven't really captured the rename strategy that you used.  The case where a function needs to be replaced with a new refactored function will come up in the future.  We don't want to break all of the code, and we want to make sure that the change is made everywhere.  You should describe this problem in a generic way, and then give your steps.  The steps will b

[2019-05-14 14:40] samm82 commented on #1307
@smiths Should it be an `UncertQ` basing it on `time_final`? If so, what would be the:
1) Definition (The short one (`NP`) is "time step for simulation", but `UncertQ`s also have a longer def, ie. "The amount of time elapsed from the beginning of the simulation to its conclusion" for `time_final`.)
2) Space (I'm assuming its `Rational`, the same as `time_final`.)
3) Constraints (Bare minimum, it m

[2019-05-14 14:40] smiths commented on #1229
Thank you @samm82.  Please remove the reference to priority from this example (and any others where it occurs).  All of the NFRs in each of the examples are important; we really don't have a relative ranking at this point.  That was just filler text.  Since the filler text is confusing, it is better if we don't have it.

[2019-05-14 14:43] samm82 commented on #1229
Just so I'm 100% clear, we should remove this NFR intro line entirely, including in examples like GlassBR:

[2019-05-14 14:44] samm82 commented on #919
Closed, since #1326 covers this discrepancy more in-depth.

[2019-05-14 14:44] #919 closed

[2019-05-14 14:46] smiths commented on #1307
I'm surprised to see that we have `time_final` as an uncertain quantity.  We know the time we want the simulation to end with full certainty.  It isn't a measured material property or processing property; it is an input the user decides.  Similarly, we don't have any uncertainty with the `time_step`.  We decide its value.

What other options are there for the classification of chunks?  The simples

[2019-05-14 14:47] smiths commented on #1229
Yes, remove all of the text you listed, except for "The non-functional priorities are:"

[2019-05-14 14:53] samm82 commented on #1229
For consistency, I think that last line should also be removed, since a similar line doesn't appear for the FRs and this sentence comes before this generated intro:

[2019-05-14 14:54] smiths commented on #1229
Sounds good.  I agree.

[2019-05-14 14:57] samm82 commented on #1307
An `UncertQ` is just a `ConstrConcept` with an `Uncertainty`, so I think we can move both `time_final` and the new `time_step` to be `ConstrConcept`s. This might lead to some typing conflicts, however.

[2019-05-14 15:00] smiths commented on #1307
If there are typing problems, we could consider, at least temporarily, making time_final and time_step UncertQs, but with 0% uncertainty.  I'm not sure that @JacquesCarette would like that though.  😄

[2019-05-14 15:15] danscime commented on #1303
I think I have captured this knowledge now. It must have slipped my mind before.

<img width="599" alt="Screen Shot 2019-05-14 at 11 14 24 AM" src="https://user-images.githubusercontent.com/28261339/57709662-7898bd00-7639-11e9-9806-ab61d45cda1c.png">

[2019-05-14 15:16] samm82 commented on #1307
For now, I'm going to change it to a zero uncertainty, since this value appears in the Input Data Constraints chart, with an uncertainty column, and it looks like it would be a bad time trying to remove the uncertainty (although I can certainly try if that's the decision we decide to make 😁).

What would be a typical value for `time_step`? And should it be a multiple of `time_final` or not necessa

[2019-05-14 15:18] smiths commented on #1307
Sounds good.  The time step value of 10^{-3} would be a typical value.  You don't need to worry about it being a multiple of time_final.

[2019-05-14 15:20] smiths commented on #1303
Sounds good.  We can close this issue, although if you think of anything to add to the Contributor's Guide, please go ahead and do so.

[2019-05-14 15:20] #1303 closed

[2019-05-14 15:29] smiths commented on #1287
Yes @bmaclach, proceed with "fixing" our initial issue using GDs for DDs.  It will require some deeper thought to determine whether this is the right long term fix.  It probably isn't.  There is some kind of refinement going on that we should capture, but it probably doesn't match what we currently have.  To help us get a "feel" for things though, I think we are on the right track.  Let's see what

[2019-05-14 15:31] bmaclach commented on #1287
With the merge of #1286, I've switched the DDs over to GDs, so that part is done (for the surface hydrostatic force at least).

[2019-05-14 15:33] bmaclach commented on #1277
This derivation has been added with #1286 so I'll close this issue. @smiths Do we want to now make similar changes for the DDs that are similar to surface hydrostatic force (base hydrostatic force, slice weight)? If so, I'll create new issues for those.

[2019-05-14 15:33] #1277 closed

[2019-05-14 15:37] smiths commented on #1277
@bmaclach, yes, let's see what it looks like if you propagate this approach to the other forces.  If it starts to get ugly, don't go too far down this path.  We might need to have another design review meeting.

[2019-05-14 15:43] samm82 commented on #1307
@smiths And what would a full, formal definition be for time step?

[2019-05-14 16:04] bmaclach opened #1332 "Add derivation for base hydrostatic force and slice weight in SSP"
Derivations should be added for base hydrostatic force and slice weight in SSP, similar to what was done for #1277. These derivations will require references to General Definitions, so the DDs for base hydrostatic force and slice weight will also need to be switched to GDs. If this gets too messy, a new design may need to be discussed.

[2019-05-14 16:15] samm82 commented on #1229
Should I remove the old code for generating the intro, or should I comment it out in case we want to use it in the future?

[2019-05-14 16:33] smiths commented on #1229
As far as removing old code does, I think you can safely delete it, but @JacquesCarette really should weigh in on this.

[2019-05-14 16:34] samm82 commented on #1229
I think I'll just comment it out for now until I get the go-ahead, just so I can get a PR open.

[2019-05-14 16:35] smiths commented on #1307
The time step is the finite discretization of time used in the numerical method for solving the computational model.

[2019-05-14 17:00] samm82 commented on #1307
@smiths Should I define a `zeroUncrt` in `Uncertainty` for convenience, or would it be a bad idea to embed this potential hack too deep?

[2019-05-14 17:32] smiths commented on #1307
I don't think in the long term we will have uncertain quantities with a zero uncertainty.  It just doesn't sound like a good design to me.   Whether or not we should define `zeroUncert` for convenience is more a question for @JacquesCarette.

[2019-05-14 17:41] samm82 commented on #1307
In that case, I think we shouldn't define `zeroUncert` then. My branch is ready to be merged then 👌

[2019-05-14 18:51] samm82 commented on #1311
The GlassBR IM, as well as most- if-not-all of the DDs are referenced by a functional requirement, but aren't being flagged as such. The RefBy field is generated from the `ChunkDB` for each example, and the functional requirements are included in the `ConceptInstanceMap` for GlassBR, so it seems that the FR show up in the RefBy section, but for some reason it isn't.

[2019-05-14 20:08] Mornix commented on #1311
Took a quick look at this. It’s because the lists in the requirements of GlassBR are sort of “hacked”. The lists are just `Contents` and not a part of the `ConceptInstance` as would be expected.

[2019-05-14 20:22] samm82 commented on #1311
@smiths @JacquesCarette Can I make a new issue to modify `FReqsSub` to take a `[ConceptInstance]` instead of `[Contents]` as in #1333, #1229, etc? This will be work in a similar vein as this FIXME: https://github.com/JacquesCarette/Drasil/blob/ce288910355107d84efbf94544ffb4be1fe8721e/code/drasil-docLang/Drasil/DocumentLanguage.hs#L203-L206
This change will also improve consistency in the code, and

[2019-05-14 20:23] smiths commented on #1311
I'm sorry @samm82, I don't have an opinion on this.  We'll have to wait for @JacquesCarette.

[2019-05-14 20:24] samm82 commented on #1311
No worries @smiths - after looking around, it looks like this would be a subset of #1023, which I would be happy to work on with the blessing of @JacquesCarette and @Mornix.

[2019-05-14 20:31] samm82 commented on #559
@smiths Do you think this issue can be closed since the guide has been created, and we've since been creating separate issues for adding more information to it?

[2019-05-14 21:05] smiths commented on #559
Yes, you are correct that this issue has been split into separate issues.  We can close this instance.

[2019-05-14 21:05] #559 closed

[2019-05-14 22:28] Mornix commented on #1311
So there’s really a few layers to this issue.
The root of the current issue is #1001. The lists (and tables) of the table in the GlassBR requirements are more hardcoded and not /truly/ associated with the `ConceptInstance`.
This leads me to think `ConceptInstance` storing data as solely a `Sentence` is a little limiting. It seems like this is a situation where something like and “associated data”

[2019-05-14 23:20] JacquesCarette commented on #1229
Dead code should be removed. There is nothing particularly 'valuable' in that code.

[2019-05-14 23:32] JacquesCarette commented on #1307
Right, long term, no uncertain quantities with zero uncertainty. I think in this case `ConstrConcept` is the right thing.

Also, 0 uncertainty numbers should not be floats!

[2019-05-14 23:53] JacquesCarette commented on #1311
Rabbit hole!  I'll return to this later, I need to finish this first pass on all the commits first.

[2019-05-15 14:54] #1229 closed

[2019-05-15 15:02] #865 closed

[2019-05-15 16:04] samm82 commented on #703
@szymczdm What should be done about data types that aren't in the Chunk folder? Should I change the column to contain the name of the folder, instead of just a yes/no if it's in the Chunk folder?

[2019-05-15 16:54] danscime commented on #1299
@JacquesCarette I am currently working on the ```td``` tag. It looks like there will be thousands of line changes per file. Should I have separate commits, say one for each file? Or just keep everything in the same commit as they will have to do with the same change?

[2019-05-15 17:08] samm82 commented on #918
Should the `Theory` module be renamed? It just seems a little weird to have `Theory.Drasil.Theory`. However, `Theory.hs` contains the definitions for `TheoryModel` and for the `Theory` class, so I guess it makes sense to have it named "Theory"?

[2019-05-15 17:35] JacquesCarette commented on #1299
Either is fine. I guess separate commits is slightly easier to review.

[2019-05-15 17:36] JacquesCarette commented on #918
A little weird, but until we have a better name, with a good reason, I'd leave it as is.

[2019-05-15 17:44] samm82 commented on #397
@JacquesCarette The duplicate entries described in this issue seem to be resolved, as the duplicates were removed in Chipmunk, and there is _no_ occurrence of _E_ at all in SSP. The absence of the _E_ might be a separate issue, but I think this might be able to be closed?

[2019-05-15 17:55] samm82 opened #1341 "Verify Values of Uncertainties in Input Data Constraints Tables"
As per discussion on #1334, there are a lot of values in the Tables of Input Data Constraints (in all examples) with a 10% uncertainty, which in most cases seems like a placeholder value (for sure in `time_step` and `time_final` in SWHS). @smiths I'm not sure how I would go about verifying the uncertainty of these values, but in caseStudies:
- GamePhysics has no uncertainty for its values
- GlassB

[2019-05-15 17:57] samm82 opened #1342 "Add Values with no Uncertainty in Input Data Constraints Tables"
As mentioned in #1307, we need a way to add values to the Table of Input Data Constraints that don't have an uncertainty value.

- GamePhysics -> All
- SWHS/NoPCM -> `time_final`/`time_step`

[2019-05-15 17:57] JacquesCarette commented on #397
Assuming you've gone through every single comment above and were unable to find duplicates that match the description, then yes, this can be closed.

[2019-05-15 17:58] #918 closed

[2019-05-15 18:01] #1307 closed

[2019-05-15 18:06] bmaclach commented on #1326
@smiths I pushed a first draft of the derivation to the case studies repo. Can you please review it?
https://github.com/smiths/caseStudies/blob/master/CaseStudies/ssp/docs/SRS/SRS.pdf

I brought in the Torque DD from GamePhysics. I also updated the IM2 derivation to be consistent with the moment equilibrium equation from the GD.

[2019-05-15 18:09] samm82 commented on #397
The above changes have been resolved, but there is now an "almost" duplicate between the two is-safe values in GlassBR that looks related to what @vajihehm is working on in #1304:

![is-safe](https://user-images.githubusercontent.com/35857611/57798566-09939500-771b-11e9-8b8b-17233954ad7a.png)

[2019-05-15 19:22] Mornix opened #1344 "Determine diff Args"
The Makefile currently uses the args `--ignore-all-space` and `--strip-trailing-cr` as part of its arguments on what to ignore when `diff`ing.  While I believe `--strip-trailing-cr` is needed to account for Windows/Unix line ending differences, I'm not convinced `--ignore-all-space` is necessary. But don't have a Windows build environment to test with.

On master can you `make` with the following

[2019-05-15 19:26] samm82 commented on #1344
In the middle of a raunchy merge conflict but I'll take a look 👌

[2019-05-15 20:08] JacquesCarette commented on #397
Right, @vajihehm and @smiths should take a look at that. But we can call this particular issue closed, and if there is something new in GlassBR, a new issue can be created.

[2019-05-15 20:08] #397 closed

[2019-05-15 20:11] JacquesCarette commented on #1344
We could certainly try to remove `--ignore-all-space` and see the results. They definitely were needed at some point, but now I forget why!  [Bad documentation!]

[2019-05-15 20:12] vajihehm commented on #397
@samm82 There is not any "exact" duplicate symbols in the GlassBR. Since I confirmed with @smiths the name of these symbols and I did not make sense what changes you need. Thus, @JacquesCarette  and @smiths please let me know the new changes which would figure out the above problem.

[2019-05-15 20:16] Mornix commented on #1344
The commits where they were added:
* `--ignore-all-space` 10ed4df
* `--strip-trailing-cr` 8ddc246

It definitely seems like the former we can remove, but I want to be certain it doesn't cause any issues on Windows systems before I do it.

[2019-05-15 20:16] samm82 commented on #397
In the above screenshot, `is-safeLoad` and `is-safeLR`, and `is-safePb` and `is-safeProb` are very similar and capture the same information, so only one should really be used of each pair. Feel free to clarify which one with @smiths.

[2019-05-15 20:45] vajihehm commented on #397
@samm82 "is-safeLoad" and "is-safeProb" and "capacity" and "load" symbols are the requested changes based on the manual version and are required for "theoretical model" and they should been considered as a "concept" and should be abstraction of the chuncks and reusable as well. Besides, they are not a part of the inputs or outputs unlike "is-safeLR" and "is-safePb" which are required for "IM". For

[2019-05-15 21:10] samm82 commented on #397
@vajihehm So are you replacing `is-safeLR` with `is-safeLoad` and `is-safePb` with`is-safeProb`?

[2019-05-15 21:24] vajihehm commented on #397
@samm82 Nope, we need both of them, abstract symbols like "is-safeLoad" and "is-safeProb" for "TM" and  " is-safePb" and "is-safeLR" for "IM" as the below snapshot.

![IM](https://user-images.githubusercontent.com/42664092/57810628-415c0600-7736-11e9-9ab8-acbb6d0de2d4.PNG)

[2019-05-15 21:41] samm82 commented on #397
@vajihehm But what's differentiates them? Don't they contain the same information? From my screenshot above, their definitions are almost the same, so why specifically do we need both?

[2019-05-15 22:00] vajihehm commented on #397
@samm82 please take a look at the TM snapshots carefully. For example "Pb" is the probability of breakage in "IM" and "Pfail is the probability of failure in "TM". "failure" is a concept. The new theoretical models should be abstraction of the two chunks in "Instance Model". The concept of **safety** is something that should generalize from the GlassBR example. The theoretical model should be reus

[2019-05-15 22:17] samm82 commented on #1344
All combinations of these flags result in clean logs, so @Mornix I think you're good to remove these!

[2019-05-16 00:41] szymczdm commented on #703
@samm82 that sounds like a great idea!

[2019-05-16 04:13] smiths commented on #397
@samm82, the two similar symbols are on purpose, as @vajihehm has described.  I specifically asked for the second similar symbol because the original version of GlassBR did not have an abstraction representation of the notion of safety.  As we refine the example, we might come up with better wording, but for now, I'd just like to get the changes I requested to GlassBR into Drasil.  Hopefully @vaji

[2019-05-16 04:22] smiths commented on #1326
Thank you @bmaclach.  This is a good start.  I did notice a few things we need to correct/clarify.  Rather than type it up, hopefully we can have a quick discussion during tomorrow's (May 16) meeting.  If we don't have time then, we'll make a quick appointment for another time.

[2019-05-16 13:38] danscime commented on #1299
One line change to use new wrap function for ```td``` in HTML Helpers.hs: 17c53bfeb46c4e427678cadd0aca48f6144af096

Massive commit updating SWHS stable based on this change: dc7b6d33681915746aa4157169d7bc4562584da3

Nearly 3000 additions and 8000 deletions. All just removing newlines.

[2019-05-16 16:50] samm82 opened #1347 "Notation Intro Reuse in MIS"
Right now, the intro to the Notation section is:

"The structure of the MIS for modules comes from Hoffman and Strooper (1995), with the addition that template modules have been adapted from Ghezzi et al. (2003). The mathematical notation comes from Chapter 3 of Hoffman and Strooper (1995). For instance, the symbol := is used for a multiple assignment statement and conditional rules follow the for

[2019-05-16 18:23] smiths commented on #1347
@samm82, thank you for your question.  You are correct that we want to reuse this text among all of our examples.  Over time the text might change, but it will change in all of the examples.  You should definitely follow the reuse approach that you outlined.

I'm closing the issue because I think I've answered your question.  If not, please feel free to re-open.

[2019-05-16 18:23] #1347 closed

[2019-05-16 18:32] danscime commented on #1299
Self reminder to remove these:

<img width="199" alt="Screen Shot 2019-05-16 at 2 32 04 PM" src="https://user-images.githubusercontent.com/28261339/57878165-707e8000-77e7-11e9-9202-75ad88e1ca13.png">

[2019-05-16 19:18] samm82 opened #1348 "Workflow for MIS Generation Branch"
There is a stable (manual) version of the GlassBR MIS, and the built version does not match it quite yet. Should I save the stable version to my local machine, update stable of GlassBR MIS to match the built so that `make` runs clean, (so we can merge to master as soon as possible) and then work on fixing the broken MIS in smaller branches, or should I get the MIS to a point where it matches stabl

[2019-05-16 20:16] #1344 closed

[2019-05-16 20:17] samm82 opened #1349 "Fix Label/String Hack in MISUses"
As noted in comment on d6baacfecaa718a63511479ae10040e60b033fbf, `MISUses` used to take a `Label`, but since the Labels.hs file in GlassBR was removed, this doesn't work, so I hacked it to take `String`s instead - this should be reworked.

[2019-05-16 20:21] samm82 opened #1350 "Links in MIS"
This might be easier said than done, but the manual version of the GlassBR MIS has links to the SRS, MG (which isn't generated yet), and the caseStudies repo for GlassBR. @smiths Since we're not maintaining the caseStudies version anymore, should there still be a link to it?

# TODO
## Intro
- [ ] SRS
- [ ] MG
- [ ] caseStudies Glass repo
## Module Hierarchy
- [ ] MG

[2019-05-16 20:23] samm82 opened #1351 ""Dehardcode" Example of Conditional Rule in MIS Notation Section"
The following example of a conditional rule:
![image](https://user-images.githubusercontent.com/35857611/57884553-df170a00-77f6-11e9-8fa4-a489aee6c0b4.png)
should be "dehardcoded" so that it displays as:
![image](https://user-images.githubusercontent.com/35857611/57884583-f524ca80-77f6-11e9-9669-df17ce1f52fa.png)

[2019-05-16 20:29] samm82 opened #1352 "Use Mathematical Symbols in MIS Notation Table"
The symbols for different data types (ie. integers) are currently displayed as capital letters and should use the special display types (defined in TeX.Print.hs)

# TODO
- [ ] Add String to TeX/Print.hs
- [ ] Switch to display in notation table (will probably have to edit Quantities/Computation.hs

[2019-05-16 20:31] samm82 opened #1353 "Improve Data Type Descriptions"
The "placeholder" descriptions for the data types (displayed in the MIS Notation Table) should be updated to match the manual:

EDIT: Natural numbers include zero

![image](https://user-images.githubusercontent.com/35857611/57885032-12a66400-77f8-11e9-9d80-c98c246eae90.png)

[2019-05-16 20:34] samm82 opened #1354 ""Data Type" vs. "Datum Type""
@smiths The manual version of the Notation Table has "Data Type" for the header of the column that displays the data type, but in Drasil it has "Datum Type" (I tried to get it "Data Type" to no avail). Just to clarify, "Data Type" is preferred, correct?

[2019-05-16 20:38] samm82 opened #1355 "Strings: Primitive or Derived? (Notation Table)"
In the manual MIS Notation section, strings are listed as both primitive and derived data types, with two separate definitions:
![image](https://user-images.githubusercontent.com/35857611/57885268-8f394280-77f8-11e9-8076-d023d3b1d5cb.png)

I have two questions:
1) Which definition is preferred?
2) Are strings primitive or derived? (This is tricky since they are primitive in some languages and deri

[2019-05-16 20:47] smiths commented on #1351
I agree.   Your new version looks much nicer.  😄

[2019-05-16 21:20] bmaclach opened #1356 "Derivations should be able to contain Figures"
Currently a `Derivation` in Drasil is a synonym for a `[Sentence]`, so it can only contain things that can be expressed as `Sentence`. It is easy to imagine wanting a picture to help explain a derivation, but currently such a Figure could not appear in the `Derivation` and would instead need to appear elsewhere and then be referenced in the derivation, which is not ideal for readability.

[2019-05-17 14:35] smiths commented on #1356
Sounds good @bmaclach.  As we discussed yesterday, we don't need Figures in our derivations  yet, but at some point we will.  For instance, the derivation of the moment equilibrium in SSP that we have discussed would eventually benefit from a figure to show the locations of the forces, water table, coordinates, etc.

[2019-05-17 14:58] danscime commented on #1299
Reducing SSP HTML from 17000 lines to 8500 via change to ```td``` tag: b2470d2db4fb3a41ac8bc13a5634c9cc712369b0

[2019-05-17 15:02] samm82 opened #1358 "Exported Constants - ":=" vs. "=""
For the exported constants section, should "=" be used for listing the values (ie. MAX_ORDER = 2). I think this makes sense because the values have already been assigned, so the assignment operator shouldn't be used. I looked at A3 from 2AA4 and the "=" was used, so I'm just clarifying that this is the correct choice.

[2019-05-17 15:13] smiths commented on #1358
Yes, the `=` makes sense for the exported constants section.  Go ahead and use this going forward.

[2019-05-17 15:13] #1358 closed

[2019-05-17 15:22] smiths commented on #1355
As we discussed elsewhere, we don't want to get distracted by this right now.  The MIS that you are working on is a good starting point for discussion of our design documentation, but I'm sure it will change over time.  Devoting too much effort to the boiler plate introduction wording isn't a good use of our time.  Having an infrastructure in place where we can include the same text in every examp

[2019-05-17 15:22] #1355 closed

[2019-05-17 15:25] smiths commented on #1354
As we discussed in #1355, we don't really want to devote too much time and effort to something that is likely to change.  I've never used the expression datum type, so I do prefer data type, but I don't think you need to stress over getting this perfect.  I actually like the idea of removing this table entirely.  I think we should keep things simple in the introduction and add more detail as we re

[2019-05-17 15:25] #1354 closed

[2019-05-17 15:26] smiths commented on #1353
As we discussed in #1355, you don't have to worry about getting this information into Drasil.

[2019-05-17 15:27] smiths commented on #1350
The case study repo is still a good source of information, especially for those documents that don't yet exist in Drasil.  I think we should keep the links.

[2019-05-17 15:28] danscime opened #1359 "DIFF doesn't ignore whitespace? What to do?"
Upon merging #1346 to my ```updatingHTMLwrap``` branch, some of my empty logs became full. Looking through the logs, I'm pretty sure all of the diffs are just due to the tabs and whitespace differences on each line.

But now, a lot of my changes with @deviprasad135 add indents to most of the lines. Wondering what I should do for now and the best course of action?

I know Devi had a branch that wou

[2019-05-17 15:30] smiths commented on #1348
As you are probably gathering from my other comments, there isn't anything "sacred" about the GlassBR MIS document.  It is my first attempt to document the design of GlassBR following the Parnas approach, but it hasn't received much scrutiny.  I know @JacquesCarette is going to have some changes to propose for the MIS, or maybe even a very different approach.

Given this, let's do what is easiest.

[2019-05-17 15:37] samm82 commented on #1348
Right now, most of the differences are sections that are completely missing - I just thought getting this merged in would make future changes a lot easier, as they could be done a little bit at a time through separate PRs.

[2019-05-17 15:38] smiths commented on #1348
That sounds like a good plan to me.

[2019-05-17 15:40] danscime commented on #1359
For now I can re-add the line:
```DIFF = diff --strip-trailing-cr --ignore-all-space -r -X ../.gitignore -x '*.txt'```
to the Makefile and continue to work.

But soon, we will need to figure this out.

[2019-05-17 15:44] #1353 closed

[2019-05-17 15:46] smiths commented on #1326
@bmaclach thank you for your efforts on this.  I think after you make the changes we discussed yesterday, we will have a good derivation.  @danscime, this is relevant for you because refining the derivation found mistakes in what we did previously, and in the original papers.  The papers mis-defined a variable.  In some cases it was the height of the water table, but in other cases it was consider

[2019-05-17 15:48] bmaclach commented on #1326
@smiths I've addressed the feedback on the case studies repo. Can you please let me know if you spot any other issues with the derivation before I port it over to Drasil?

[2019-05-17 15:52] smiths commented on #1341
@samm82, you don't need to invest much effort into verification of the uncertainties.  As you said, they really are placeholders.  The true uncertainties will depend on the measurement techniques, which we really don't know anything about.  I believe that GamePhysics has no uncertainty because the inputs are not experimentally determined.  They are decided by the programmer building the game.  The

[2019-05-17 16:02] #1348 closed

[2019-05-17 16:04] samm82 opened #1361 "Terms from MIS added to SRS"
Right now, there are symbols from the MIS that appear in the Table of Symbols of the SRS and should be removed, probably by having two separate symbolMaps - one for MIS and one for SRS.

@smiths I'm just confirming that this is the change that should be made. MIS-specific quantities (like MAX_ORDER or input file name variables) shouldn't be captured in the SRS.

[2019-05-17 16:06] samm82 opened #1362 "Add Gries and Schneider Reference"
As per comments on ee199e07e125c6cd1d5f909d5baef3a72c56fc03, the Gries and Schneider reference should be added to the Notation section of GlassBR MIS

[2019-05-17 16:10] deviprasad135 commented on #1359
@danscime, you can change the indentation amount in the `indent` function which is in Helpers.hs file.

[2019-05-17 16:32] danscime commented on #1359
Changing ```indent``` function worked for a lot. Still some issues with some things shifting over when part of ```<div class="fraction">```` blocks.

<img width="354" alt="Screen Shot 2019-05-17 at 12 30 50 PM" src="https://user-images.githubusercontent.com/28261339/57942515-a41ce100-789f-11e9-943c-8d1281c03ee8.png">

I'm thinking to maybe use the old functions for now to revert these indent chang

[2019-05-17 16:45] danscime commented on #1359
OR I might continue to ignore whitespace and edit stable based on my previous changes. Then once those are complete, I will edit the tabs. This will hopefully, keep commits decently organized.

[2019-05-17 17:04] JacquesCarette commented on #1356
Derivation needs an actual design. Right now, as `[Sentence]`, it is basically opaque and unstructured. We don't want to straight-jacket things either, but still, a little more structure would be good!

[2019-05-17 17:10] JacquesCarette commented on #1358
It depends on what we're trying to say. `:=` is the right thing to use when we're making a definition, so that from this point forward, `MAX_ORDER` is `2`. `=` is the right thing to use when we are asserting something which is already true (or something we wish to be true, if used in a guard).

It is a fundamental mistake in notation, in both CS and Math, to use `=` as some kind of oriented thing.

[2019-05-17 17:19] JacquesCarette commented on #1359
The thing I'm wondering about, why are there tabs instead of spaces (or vice-versa)?

Also, I think there's something weird going on with `div` and `span`, especially the ones with fractions. I think there's a hack in there, and it is contributing to these headaches.

Changing indent is not the right solution. The right solution first involves understanding what is the actual source of these sympt

[2019-05-17 17:24] samm82 opened #1363 "File Structure of MIS/SRS in Examples"
Right now, the SRS and MIS are being "encoded" in Body.hs, which makes the code more difficult to deal with. Can this be split into SRS.hs and MIS.hs for better information hiding, or should it stay as Body.hs?

[2019-05-17 17:51] danscime commented on #1359
1. So the indents are just 4 spaces that look like tabs, but they are indeed spaces. So no need to worry about tabs.

2. Devi was explaining to me that because we are now using the pretty printing library, the fractions and case equations work to line up their parts:

<img width="394" alt="Screen Shot 2019-05-17 at 1 46 04 PM" src="https://user-images.githubusercontent.com/28261339/57946374-257971

[2019-05-17 18:32] samm82 opened #1364 "Display Type Information?"
Right now, it looks like `Space` functions as type information. If this is correct, to display the types for the MIS, we would need a way to convert to a `Sentence`, and I think going through `Expr` might be the best way.

Am I on the right track here?

EDIT: If we decide to use `Space` for type information, we'd have to add a constructor to build new types for each example (eg. "ContoursT"), some

[2019-05-17 19:16] samm82 opened #1366 "New Function Data Type"
I'm not sure if this is too "hardcoded", but I'm thinking for the MIS we implement a `Function` datatype that takes a name (`Symbol`), list of inputs, an output, a list of exceptions, and list of `Transition`s. A `Transition` would take a (`HasSymbol`, `DefiningExpr` etc.) and an `Expr` (which would be its new value). This would allow us to display these functions in both the table (under Syntax)

[2019-05-17 19:26] JacquesCarette commented on #1363
It can definitely be split.

[2019-05-17 19:28] JacquesCarette commented on #1359
So what are the outstanding issues then?

[2019-05-17 19:30] samm82 commented on #1363
I'm going to close #1360 until I do that, since it should help with merging into other branches.

[2019-05-17 19:31] danscime commented on #1299
Reducing GlassBR HTML from 7500 lines to 4000 via change to `td` tag: 221d05a092338fdb4636458a723575e0f7850ee5

[2019-05-17 19:31] JacquesCarette commented on #1364
Yes, `Space` is sort-of like type. It's meant to be "type but in the semantic domain", as opposed to "type in the programming domain".

I thought there were utilities to render `Space`.

The issue is, I think the MIS is 'code specification', while `Space` is really meant to be about the problem space. But I'm not sure - this needs a deeper discussion as to where in the requirements..implementation

[2019-05-17 19:38] JacquesCarette commented on #1366
I can't tell. Basically, in the context of Drasil, I don't know what it is we're even trying to say in an MIS, so I can't judge the quality of the encoding.

[2019-05-17 19:42] danscime commented on #1359
I believe we have figured them all out for now. This issue can be closed.

[2019-05-17 19:52] #1359 closed

[2019-05-17 20:25] bmaclach opened #1367 "Make error (Windows?)"
As of the merge of #1346, I get the following error when I run `make`:
[code]
I'm guessing the file path it's supposed to be looking for is `C:/Program Files/` but it's getting cut off at the space? Any thoughts @Mornix?

[2019-05-17 20:30] Mornix commented on #1367
Interesting. Nothing changed with `check_stack.sh` with `build_cleanup`. I'll look into it.

[2019-05-17 20:35] samm82 commented on #1363
Reopened #1360 @JacquesCarette

[2019-05-17 20:38] Mornix commented on #1367
Quick question: Line 80 of the `Makefile`, if you quote `$(SHELL)` so it looks like:
`	 @MIN_STACK_VER=$(MIN_STACK_VER) CACHED_MSV_FILE=$(CACHED_MSV_FILE) "$(SHELL)" $(SCRIPT_FOLDER)check_stack.sh` does that result in a different error?

[2019-05-17 20:39] smiths commented on #1366
@samm82 we really need to have a proper design discussion about the MIS information.  The MIS you are working from is a good representation of how we documented the design in 2AA4, but @JacquesCarette and @bmaclach have not had a chance to review it.  We have two problems to address:

1. How to tell Drasil the design decisions that bridge between the requirements to the code, such as the choice of

[2019-05-17 20:40] smiths commented on #1363
I agree with the split.  It is better to keep anything to do with the MIS.  It is likely to change significantly.  We can always refactor in the future, as we have done many times in the past.

[2019-05-17 20:41] smiths commented on #1364
Yes, we need a deeper discussion about this, as mentioned elsewhere.

[2019-05-17 20:42] danscime commented on #1299
Reducing NoPCM HTML from 5000 lines to 3000 via change to `td` tag: 40465f6717a93c7b37cedef3ba39e20097deca07

[2019-05-17 20:43] bmaclach commented on #1367
That almost fixed it, it ran through almost the entire make process but then I got the same error at the end:

[code]

[2019-05-17 20:43] samm82 commented on #1366
I think it would be worthwhile to wait on the merge of #1360 until our discussion.

[2019-05-17 20:45] Mornix commented on #1367
There are 3-4 other `$(SHELL)` instances in the Makefile, I think the one on line 104 should be enough to get a regular build restored. I'll make the necessary changes here (including other places where I missed quotes 😓) and put up a proper PR.

[2019-05-17 20:45] bmaclach commented on #1367
Great, thanks for the quick response!

[2019-05-17 20:47] smiths commented on #1358
Based on the comments of @JacquesCarette, I'm rethinking what I said.  We are defining the constants, so `:=` is actually the right choice.  Not all 2s in the code would make sense if they were replaced by `MAX_ORDER`.  I've never thought of it that way, but once you do, I think it is obvious that my 2AA4 example is wrong on this point.  :smile:

[2019-05-17 20:51] JacquesCarette commented on #1366
I might be able to squeeze in some time on Wednesday, even though I have a visitor around Tuesday-Wednesday.

[2019-05-17 20:56] danscime commented on #1299
Reducing Tiny HTML via change to `td` tag: 05f67db87a1471f0cee1723f3742801d0cd7e95e

[2019-05-17 20:59] #1352 closed

[2019-05-17 21:02] samm82 commented on #1366
Any time works for me 👍

[2019-05-17 21:03] bmaclach commented on #1366
My schedule is open as well (except for on Friday, but it seems like Friday's already out)

[2019-05-18 01:36] vajihehm commented on #1367
@Mornix as @bmaclach mentioned I also got this error and I can not do build locally. Should we fix it manually ?[ for double check: doing quote $(SHELL) in MakeFile ] , If yes we would not have conflict later?

![1](https://user-images.githubusercontent.com/42664092/57962951-a573fb00-78eb-11e9-9b79-8616894ee648.PNG)

[2019-05-18 04:40] vajihehm commented on #1367
@Mornix Although, I have successful build locally, I do not have successful build on Travis #1370 , would this issue be related to the Make File?

[2019-05-18 05:20] Mornix commented on #1367
@vajihehm Yup! Those same two changes @bmaclach made should suffice until #1368 is merged.

This issue isn’t responsible for build failures with #1370. It looks like some warnings were present and thus became errors in CI. It also looks like some files aren’t updated in stable.

[2019-05-18 05:32] vajihehm commented on #1367
@Mornix perfect thanks!

[2019-05-18 15:21] JacquesCarette opened #1371 "Visualizations"
@Mornix I want to add automatic generation of visualizations to the `Makefile` for all our packages. But I realize that my `Makefile` knowledge is a tad less than needed to get the job done!  What I want to do is that for each package P (as listed in `PACKAGES`), I want to execute
[code]
where `graphmod` is an executable (available from hackage).  So that visualization will add a couple of depende

[2019-05-18 15:30] JacquesCarette commented on #1371
And now that I dig just a little deeper, that `find` should exclude `.stack-work` from its search, as that just leads to (a bit of) noise that's not needed.

[2019-05-19 01:44] oluowoj opened #1372 "General Definition not visible: GamePhysics"
Looks like there was an issue with this piece and it was turned off, I will investigate. The code in Drasil needs a lot of improvement and there are currently no derivations for any of the definitions

[2019-05-19 06:36] Mornix opened #1373 "QDef-in-InstMod Unmerged Commits"
There are five commits which exist on `QDef-in-InstMod` which did not make the merge in #1148.

1. "Instance Models now are divided into Equational, DE, and Other. Only Other are built ATM, but the next pass will refine that. This does eliminate the relToQD hack." (560d776)

Things you did in the commit:
* Gave `QDefinition` a `ConceptDomain`. (All constructors set it as empty.)
* Replaced `Relati

[2019-05-19 06:37] Mornix commented on #1372
Something to note: this difficulty may be a symptom of GamePhysics using `Assembler` and while the rest of the DocLang and Drasil have made improvements, they haven't been exposed through the GamePhysics-specific (or at least specifically used) `Assembler`.

[2019-05-19 06:38] Mornix commented on #1367
This issue should be good to be closed if @bmaclach or @vajihehm can confirm with the latest changes to `master` building on Windows works again.

[2019-05-19 07:43] Mornix commented on #1371
Okay, the `Makefile` is (hopefully) designed to be fairly modular and self-contained by "goal".

1. First thing I would do is pick a make variable prefix as the `Makefile` uses consistent variable names to try to automate certain parts. Similarly, you should decide a suffix for individual package targets. Basically some unique suffix not used which can be passed to `make` to generate a graph for a

[2019-05-19 13:34] JacquesCarette commented on #1373
Perfect, thank you!

[2019-05-20 00:13] Mornix commented on #1211
So I've thought about this for a bit and took a very very brief look at Hackage. I noticed `Language.ABC` as you mentioned. I did also see pretty printers being placed under `Text.ABC`. So I would say with that bit of information:
drasil-build → Text.Drasil.Build
drasil-code → Text.Drasil.Code
drasil-printers → Text.Drasil.(Printers | just the individual languages like TeX and HTML — Note: to prop

[2019-05-20 00:24] Mornix commented on #1263
This is definitely doable, but there is some non-trivial amount of effort involved to get it all set up. drasil-bot is capable of amending a PR with the required version bumps. To do that involves on absolutely settling on when a version should be bumped and parsing enough of the Haskell source and diffs to be able to understand what has changed to accurately update version numbers.

[2019-05-20 12:56] #1134 closed

[2019-05-20 13:01] JacquesCarette commented on #1211
I agree with all of these proposed renamings. Doing it should be done quite incrementally though.

From printers, Text.Drasil.Tex (etc) is probably a good way to do it. And indeed, shouldn't be done until 1) the current work on indentation is finished, and 2) `DocType` is fixed.

[2019-05-20 17:52] vajihehm commented on #1367
@Mornix You mean, should we undo the local changes on the MakeFile and get the MakeFIle from `master`?

[2019-05-20 19:18] Mornix commented on #1367
Yup.

[2019-05-20 19:52] vajihehm opened #1377 "some functions have been generated twice in the GlassBR in build src"
Par as #1370 errors in Travis,  some functions were being generated twice (e.g. in `Calculations.cpp `like `func_q` in `stable` and `func_is_safePb` in the `build` folder), should I change manually in the `stable` version? as neither `build` folder is correct nor `stable` folder.

In the case `Calculations.cpp` I have changed it  in the stable folder, but I am not sure this approach would be corre

[2019-05-20 20:27] vajihehm commented on #1367
@Mornix I have tested with the new changes and it works well. So you can close this issue.

[2019-05-20 21:14] oluowoj commented on #1372
@Mornix, what is the best way to approach this issue? Should I plug in the file to see what's going on first?

[2019-05-20 22:10] vajihehm commented on #1377
I think this duplication is due to the theoretical models which are still the old ones in this branch, so these functions have been defined by both TM and IM in SRS in this branch. So I think I should change TM in this branch according to the #1304 as well.

[2019-05-21 02:27] JacquesCarette commented on #1371
This was great, thanks.

[2019-05-21 02:27] #1371 closed

[2019-05-21 02:37] JacquesCarette commented on #461
That whole branch was not merged, but this fix was.

[2019-05-21 02:37] #461 closed

[2019-05-21 02:40] JacquesCarette commented on #479
@danscime can you check that all of the examples use MathJax as the default?  If so, then close this issue.

[2019-05-21 02:50] JacquesCarette commented on #734
This remains "almost fixed", but things have gotten a touch worse. There are now 3 occurrences of DD,  where 2 seem to be duplicates, and the third (in `sectionci`) seems just plain wrong:
[code]
@samm82 can you track down the uses of all 3 of the above symbols?
Also, we should do the same with TM, GD and IM too.

[2019-05-21 05:45] #1367 closed

[2019-05-21 05:50] Mornix commented on #1372
Can't hurt trying to plug in the file. There is an outstanding issue (#927) to look at what parts of `Assembler` are good and worth integrating into the rest of the examples.

[2019-05-21 05:54] Mornix commented on #1377
That sounds like the likely cause of the duplicated identifiers and functions in the generated code.

[2019-05-21 12:52] danscime commented on #479
All 6 examples have this line in the HTML files.

<img width="546" alt="Screen Shot 2019-05-21 at 8 35 36 AM" src="https://user-images.githubusercontent.com/28261339/58097529-a20b9880-7ba5-11e9-93c2-3ef61b6307b1.png">

[2019-05-21 13:07] JacquesCarette commented on #479
That doesn't mean it uses it, unfortunately!  We added that to all examples very early, as it is relatively harmless to do so. You have to look both inside the html file to find some latex, and look in the example's configuration settings to make sure it uses the MathJax option.

[2019-05-21 13:08] bmaclach commented on #1377
Agreed.

[2019-05-21 13:09] oluowoj opened #1379 "Add this info to Contributor's Guide - Creating a new branch"
![image](https://user-images.githubusercontent.com/43192745/58098600-eb5ce780-7ba7-11e9-9435-1a4d4391ef30.png)

[2019-05-21 13:16] smiths commented on #1379
Looks good @oluowoj.

[2019-05-21 13:26] danscime commented on #479
I did a search through the files. No use in any files for `\`, `$`, or `$$` which seem to be most commonly used characters for MathJax.

And for the config settings, the .css files did not have anything resembling or mentioning Latex or MathJax.

[2019-05-21 14:18] samm82 commented on #734
@JacquesCarette `sectionci` is never used and can be removed without consequences (yay!)

The `dataDefn` in `drasil-lang` is for use in `drasil-theory`, since it can't use the one in `drasil-data` because `-data` is dependent on `-theory`. The simplest fix would be use remove the one in `-data` and replace all instances of it from the one in `-lang` (although it seems weird to me to have a `Data`

[2019-05-21 15:34] samm82 commented on #1366
@smiths @JacquesCarette @bmaclach So what time on Wednesday (if that for sure works)?

[2019-05-21 15:35] samm82 commented on #891
@JacquesCarette Has the branch been merged in? `relToQD` is still used in the TMods of GlassBR, so I think there's still some more work to do here.
https://github.com/JacquesCarette/Drasil/blob/30b68b78696c0b036b4599240202563e14c9b0a7/code/drasil-example/Drasil/GlassBR/TMods.hs#L34-L45
https://github.com/JacquesCarette/Drasil/blob/30b68b78696c0b036b4599240202563e14c9b0a7/code/drasil-example/Drasil

[2019-05-21 16:53] samm82 commented on #1297
Closed as duplicate of #1267

[2019-05-21 16:53] #1297 closed

[2019-05-21 18:48] samm82 commented on #874
One issue with enforcing that the additional information will be page numbers is that GlassBR references some equations from a source. I think we could implement a `makeCiteInfo` constructor that also takes a `Sentence` to be displayed, so we could input "pp. 1, 4-5, 7", "Eq. 4-5", or anything else. I don't think this information should be part of the link, just an extra bit of information to indi

[2019-05-21 19:07] smiths commented on #1366
I can meet tomorrow (Wednesday, May 22).  I would prefer after 12:30 pm, but I could meet at 11:00 am, if that is the only option.  I think this will depend on the availability of @JacquesCarette.

[2019-05-21 19:12] #1341 closed

[2019-05-21 19:21] smiths commented on #874
@samm82, I still think @JacquesCarette is correct.  We want to be more semantic than just a string or sentence.  You are correct that there are cases other than a page number reference, which to me suggests that we need to have more categories than just page number.  We could provide an equation number, or a figure number, or whatever else comes up.  We just need for Drasil to know about that cate

[2019-05-21 20:14] danscime commented on #1299
SSP reduction via `td` tag: 11c1f31601457d0f639a2445fa964fb96408961f

[2019-05-21 20:15] danscime commented on #1299
`td` tag fully updated. Big merge: 3d522446c9ff316b03753a8211b9f0f25e8ddc68.

Next step is to update the stables to match whitespace.

[2019-05-21 20:25] oluowoj commented on #1325
closing issue.

[2019-05-21 20:25] #1325 closed

[2019-05-21 20:31] smiths commented on #1361
@samm82 you are correct that MIS specific symbols should not be in the SRS.  I believe that this is a known issue.  I believe there is a reason related to the code generation that there are symbols in the SRS that are not used in the SRS.  We should definitely fix this.  I just don't know how big a fix is involved.  We should discuss the design with @JacquesCarette when we have a better idea of ho

[2019-05-21 20:39] samm82 commented on #874
I came up with a helper function to parse a list of integers into a nice format (ie. [1, 4, 5, 6, 8, 9] -> "1, 4-6, and 8-9"). Would it be a hack to change the references field from `[Reference]` to `[Sentence]`? I haven't looked through the code fully, but it looks like for the most part, `Reference`s are converted to `Sentence`s at some point in the process, and having them being stored as `Sent

[2019-05-21 20:40] samm82 commented on #1361
I'm pretty sure the fix came as a byproduct of splitting the MIS and SRS into separate files, but I've held off on working on the MIS until tomorrow. @smiths

[2019-05-21 20:45] smiths commented on #874
@JacquesCarette is the design expert, but your proposal sounds like a step backward in the design to me.  References can store information in a form that can be intelligently transformed to sentences, but I thought that once it was a sentence we can't really transform it any more.  If I understand correctly, we don't want `Sentence` until we are close to rendering the document.  @JacquesCarette wi

[2019-05-21 20:46] smiths commented on #874
@samm82, I really like the idea of parsing a list of integers into a nice format.  I just get the feeling that this should happen later in the transformation chain than you are currently thinking.  Again, I could easily be wrong.

[2019-05-21 21:22] oluowoj commented on #1379
This has been added

[2019-05-21 21:33] smiths commented on #1326
Looks great @bmaclach.  The only thing that occurs to me is that we don't consider the case where the water table is below the base of the slice (the height of the water table as shown in Figure 4 would be negative in this case.)  Is there an assumption that the water table is always above the slip surface?  If it is below, then the formula will be wrong because the hydrostatic force shouldn't be

[2019-05-21 21:35] smiths commented on #1379
@oluowoj, can you reproduce the changes, or point to the web-page, so that I can check your work.  I'm sure it is great, but for future inspection, it is great if we have traceability in our issues, especially when we close them.

[2019-05-21 21:46] oluowoj commented on #1379
Sure, I just created a branch and will push this as soon as I can

[2019-05-22 01:11] JacquesCarette commented on #1377
Yes, to fix this, you should change the example (i.e. the TM), not the output code.

[2019-05-22 01:12] JacquesCarette commented on #479
Right, so this is not fixed at all. I guess it will make sense to do this after the current pass on indenting is done. Re-assigning.

[2019-05-22 01:16] JacquesCarette commented on #734
Go ahead and delete `sectionci`.

The reason to have `Data.` in the `drasil-lang` package is that part of the Drasil Language is defined as "data" instead of as "code". It's as simple as that. So yes, delete the duplicate information from `drasil-data`.

[2019-05-22 01:17] JacquesCarette commented on #891
It has not. I will have to re-do that work, as that branch is now very stale. I'm hoping to get to it soon.

[2019-05-22 01:29] JacquesCarette commented on #1366
Afternoon works for me.

[2019-05-22 01:31] JacquesCarette commented on #1299
Cool.

[2019-05-22 01:34] JacquesCarette commented on #874
Your instincts are right on this @smiths . We need a proper representation of things that are inside references.

[2019-05-22 04:04] smiths commented on #1366
Great!  We'll meet tomorrow (Wednesday) afternoon.  We can firm up the time tomorrow.

[2019-05-22 04:08] smiths commented on #1379
The Contributor's Guide is on the Wiki, so you shouldn't have to create a branch.  You can just edit the Wiki.

[2019-05-22 11:13] oluowoj commented on #1379
Oh I see. I will take a look and update with what I already documented.

On Wed, May 22, 2019 at 12:08 AM Spencer Smith <notifications@github.com>
wrote:

[2019-05-22 14:29] samm82 opened #1386 "dot: Command Not Found"
Running `make` since #1378 leads to this error on my machine:

[code]

From what I've researched, it looks like its a PATH issue, but there isn't any "GraphViz" folders in "Program Files" or "Program Files (x86)", and I can't find the installation, so I'm not sure what to add to the PATH. I've installed `graphviz` in every way I could think of (using `cabal`, `stack`, `npm`, even `pip`) to no avai

[2019-05-22 14:38] samm82 commented on #734
Not a huge deal, but do you prefer `thModel` and `inModel` or `theoryMod` and `instanceMod`? @JacquesCarette

[2019-05-22 15:21] samm82 commented on #734
Also, the duplicate (that I removed) used "theoretical model" as the definition, while the other used "theory model". For now I'm going to keep it as "theoretical model" to reduce the changes to stable, but I can change it if desired.

[2019-05-22 16:33] samm82 commented on #874
@smiths @JacquesCarette

This code:
`([makeCite astm2009, makeCiteInfo beasonEtAl1998 Equation [4, 5],
  makeCiteInfo campidelli Equation [14]])`

Now outputs this:
![addInfo](https://user-images.githubusercontent.com/35857611/58191867-74018380-7c8d-11e9-8c37-a0c6609dcca9.png)

The additional information is part of the link - is that OK? This also currently only shows up in the HTML, so I'll keep

[2019-05-22 16:43] Mornix commented on #1386
Looks like graphviz is missing, there’s windows binaries [here](https://graphviz.gitlab.io/_pages/Download/Download_windows.html)

[2019-05-22 17:22] JacquesCarette commented on #734
I was going to say the opposite BUT I don't feel strongly about it!

[2019-05-22 18:53] danscime commented on #1299
Stable matches with whitespace as of a7929a8d0fd1476bd03133db945d4f92a0c59280.

Should be able to pass Travis build.

Next step to continue updating tags.

[2019-05-22 19:29] samm82 commented on #874
UPDATE: The above code now generates this in the LaTeX:
![latexAddInfo](https://user-images.githubusercontent.com/35857611/58202679-2ba28f80-7ca6-11e9-9d4d-5f43e6e74a12.png)

and this in the HTML:
![htmlAddInfo](https://user-images.githubusercontent.com/35857611/58202708-39f0ab80-7ca6-11e9-961b-2bd2249cd06b.png)

The links work in both versions. I think the way these display is fine, but let me kn

[2019-05-22 20:45] samm82 commented on #1386
@Mornix Thanks! Installing through the .msi installed it in "Program Files (x86)" (as expected) and I was able to add it to the PATH with no problems! Just one quick question - in the graphs, do the colours of the nodes mean anything or is it just for the _A E S T H E T I C_?

[2019-05-22 20:45] #1386 closed

[2019-05-23 01:10] #734 closed

[2019-05-23 01:23] JacquesCarette commented on #1386
The colours mean "in the same directory", and are picked by `graphmod` itself.

[2019-05-23 01:31] JacquesCarette commented on #874
`drasil-printers` can depend on `drasil-data`, that's fine. This is likely to increase over time.

The output is good enough for now - it can be tweaked later if we so wish. The 'core' functionality is now properly implemented and that's what's most important.

[2019-05-23 03:16] smiths commented on #874
I agree with the assessment of @JacquesCarette.

[2019-05-23 13:58] samm82 opened #1390 "Create drasil-utils SubPackage"
As per comments on #1388, there should be a `drasil-utils`. The file structure will be:
[code]

# TODO
- [x] Move marked functions from SentenceStructures.hs to `Utils.hs` (#1411)
- [x] Make Sentence in `utils` (#1436)
- [x] Move Phrase to `utils` (#1470)
- [x] Make Fold in `utils` (SentenceStructures) (#1448)
- [x] Make Misc in `utils` (Utils) (#1510)
- [x] Move rest of SentenceStructures to Misc

[2019-05-23 17:41] samm82 opened #1391 "Blank Projectile SRS Template"
I have finally done it. I have an empty Drasil SRS template (added in aff8804fc78242a9d8f949af0cc60c92aa59ffcb)! The only non-general things are the title and author, which are basic enough that I didn't bother adding placeholder ones. @smiths @oluowoj @JacquesCarette @bmaclach There are three questions I have about this:
1) Where should this template be kept for future use?
2) When should this be

[2019-05-23 17:49] #1363 closed

[2019-05-23 17:49] #1366 closed

[2019-05-23 17:50] #1364 closed

[2019-05-23 17:50] #1362 closed

[2019-05-23 17:50] #1361 closed

[2019-05-23 17:50] #1351 closed

[2019-05-23 17:50] #1350 closed

[2019-05-23 17:50] #1349 closed

[2019-05-23 17:51] #991 closed

[2019-05-23 19:42] samm82 opened #1393 "Passing Filename to GlassBR/Projectile Makefile"
I based the code for Projectile on the generated code from GlassBR, and I'm having an issue with the Makefile. I think it might be because I'm on Windows, but running `make run <inputFile>` returns an `IndexError: list index out of range` because the input file isn't being passed in as an argument:
[code]

instead of
[code]

This same error occurs when `make run`ning GlassBR. Is the Makefile broke

[2019-05-23 19:48] samm82 opened #1394 "Blank SRS Tex File Not Compiling due to symbDescription"
_Migrated from #1391_ The current blank SRS .tex file doesn't compile because the following lines:
[code]
require both of the following packages, which aren't included in the empty document:
[code]

`symbDescription` should only be defined in the preamble when it's used, which is only used when there are `ConceptInstance`s present. (Unless @smiths, @JacquesCarette, or others have other ideas.)

[2019-05-23 19:52] bmaclach commented on #1393
You can pass the input file in to the `make run` command like so:

`make run RUNARGS=hitInput.txt`

That's how I've been running the Makefiles, at least.

[2019-05-23 20:06] samm82 commented on #1393
Works for me - thanks!

[2019-05-23 20:06] #1393 closed

[2019-05-23 20:16] samm82 opened #1395 "Projectile Code Review"
As I mentioned on the [Projectile wiki page](https://github.com/JacquesCarette/Drasil/wiki/Projectile-Example), I used the generated GlassBR code as a guide to develop source code for Projectile (found in the [src/](https://github.com/JacquesCarette/Drasil/tree/projectile/code/drasil-example/Drasil/Projectile/src) folder in Projectile). Let me know if there are any issues you find.

This was just

[2019-05-23 20:18] samm82 commented on #1394
Fixed in `projectile` branch - no PR yet.

[2019-05-23 20:27] samm82 commented on #946
Just a note that I think this will come up while working on Projectile, so it might get added to that project in the future.

[2019-05-23 20:47] Mornix commented on #946
Referencing #1164 here as this is the impetus for that issue.

[2019-05-23 20:47] oluowoj commented on #1379
https://github.com/JacquesCarette/Drasil/wiki/Contributor's-Guide
<img width="646" alt="image" src="https://user-images.githubusercontent.com/43192745/58285239-6118ad00-7d7a-11e9-9246-bcbc23015760.png">
<img width="656" alt="image" src="https://user-images.githubusercontent.com/43192745/58285291-755caa00-7d7a-11e9-9434-710a3b86ae85.png">

[2019-05-23 20:48] oluowoj commented on #1379
@smiths , I made a few updates, please see the link

[2019-05-23 21:45] bmaclach commented on #1395
The code looks good to me. Note that what you have currently is great as one "version" of the code. When you say that, in the future, Input Format etc. will be variable, you should do that by writing an entirely new "version" of the program, rather than by updating your existing program. What we want is a family of similar programs. So you could write another "version" of the program where, for ex

[2019-05-23 23:55] Mornix commented on #1259
All artefacts are tracked as of #1266. Closing.

[2019-05-23 23:55] #1259 closed

[2019-05-24 12:39] smiths commented on #1379
Yes.  This is what I was hoping for.  Looks great!

[2019-05-24 12:39] #1379 closed

[2019-05-24 12:45] smiths commented on #1393
Thanks for brining this up @samm82 and for the solution @bmaclach.  I learned something.  😄

[2019-05-24 13:10] danscime commented on #1299
Removing oldWrap via 63d51199e65af6d059d68288ccbfb590b7a2302f.

I believe all necessary changes have been made and we are ready for a big PR.
@JacquesCarette @smiths @deviprasad135

[2019-05-24 13:16] JacquesCarette commented on #1390
If it is going to be mostly filled with utilities to deal with `Sentence`s, it's tempting to call it `drasil-english`. If it's a mixture of generic Haskell code and other things, `-utils` is probably right.

And yes, many of the things in `SentenceStructures.hs` are not really in the right place.

[2019-05-24 13:19] JacquesCarette commented on #1391
A working template is a good idea. I would create an new, empty project, called Template, for this (i.e. in drasil-examples). Merged asap. And I see no barrier to you incrementally building this SRS.

[2019-05-24 13:21] JacquesCarette commented on #1394
This does seem like a straight bug that should be fixed. I'll take a look at your PR soon.

[2019-05-24 13:31] #1394 closed

[2019-05-24 13:34] JacquesCarette commented on #1395
Most definitely adding test cases and automating them is good!  And I agree with all of @bmaclach 's comments as well.

[2019-05-24 13:47] JacquesCarette commented on #1299
Hurray!

[2019-05-24 14:06] samm82 commented on #1391
Thanks! I'll do that ASAP.

[2019-05-24 14:06] #1391 closed

[2019-05-24 14:10] danscime commented on #1299
Issue can now be closed?

[2019-05-24 14:16] samm82 opened #1401 "Add Template Example"
_From #1391_ Based on work on Projectile, there should be a Template example added that will just generate an empty SRS (TeX and HTML).

[2019-05-24 14:24] smiths commented on #1391
Yes, I like the idea of an empty template example.  That can be a starting point for future examples.

[2019-05-24 14:33] smiths commented on #1395
I agree with @bmaclach and @JacquesCarette.  I definitely like the idea of automating test cases, but I don't think we currently have the infrastructure for that.  We should definitely aim for this though.  It would be great to have an example (even a small example) that does everything.  😄

[2019-05-24 14:34] samm82 commented on #1390
Most functions create a `Sentence`; the only exceptions are `figureLabel` that creates a `LabelledContent` (marked with a FIXME wondering if it's in the right file) and the term formatters that return an `ItemType` (`tAndDWAcc`, tAndDWSym` and  `tAndDOnly`).

There is also a section of functions at the bottom marked "TO BE MOVED TO EXAMPLE/DRASIL/SECTIONS", which is now `docLang`, so I'll move tho

[2019-05-24 14:58] JacquesCarette commented on #1299
Yes!  And all the stale branches that @deviprasad135 has on this should be deleted too.

[2019-05-24 15:03] JacquesCarette commented on #1390
The stuff that generates pieces of documents should all go into `docLang` for now.

[2019-05-24 15:27] #1401 closed

[2019-05-24 15:35] samm82 opened #1403 "FReqsSub Should take [ConceptInstance]?"
_Related to #1023, as well as #1229 and its bunny trail of related issues._ (Not sure if there is already an issue specifically for this, but I couldn't find one.)

I was about to implement the Requirements for Projectile, but realized that it would probably make more sense to revise this code before adding another example that will break it.

https://github.com/JacquesCarette/Drasil/blob/8d0bbbea

[2019-05-24 15:40] oluowoj opened #1404 "Move changes from gamephy_Impulse to new branch"
gamepy_impulse branch has issues with travis build because the branch was not created from a fresh master. The impulse derivative code works fine on my local and just need to be copied to a new branch to fix travis build errors.  I will assign this to @vajihehm, if this is okay with you @smiths.

[2019-05-24 15:44] smiths commented on #1404
In principle, I like the idea of distributing work to others, but I'm not sure of the rationale for assigning this to @vajihehm.  Given your expertise on the game physics example, doesn't this make more sense for you to assign to yourself @oluowoj?

[2019-05-24 15:45] oluowoj commented on #1404
well because she is free for now and the code is already done by me its just to copy to a new branch and build but that's okay, I will assign to myself and put on my to do list. Thanks

[2019-05-24 15:46] smiths commented on #1403
@samm82, your proposal makes sense to me, under the assumption that fixing FReqsSub will not take much time.  We don't want to introduce code that we know will eventually need to be changed, but we also don't want to get distracted from advancing on our complete projectile example.  😄

[2019-05-24 15:48] samm82 commented on #1403
I'll put this on the back burner for now 😉

[2019-05-24 16:55] #947 closed

[2019-05-24 18:15] samm82 commented on #1403
@smiths Would it be an acceptable compromise for me to create a new `FReqsSub'` that takes a `ConceptInstance` for adding the requirements to Projectile, then I (or someone else) can come back to this issue and finish the job?

[2019-05-24 18:19] danscime commented on #1267
GlassBR as per #1406.

[2019-05-24 18:25] samm82 commented on #1395
Would the end result of this example involve building each variant of the program when running `make`, with each one being in the stable for Projectile, or would we choose a default to build with `make`, and passing in params would change the built variant (and the location to look for the corresponding stable version)?

[2019-05-24 18:43] samm82 commented on #1390
There already exists a `Data.Drasil.Utils`. Should this, and `Data.Drasil.SentenceStructures` (once all functions unrelated to `Sentence`s are removed) both be moved to `drasil-utils`?

[2019-05-24 18:48] samm82 commented on #1390
Also, instead of moving these functions to `docLang`, I'm moving them to `Utils.hs`, since they have potential to easily be reused at some point in the future. (If that's OK with you @JacquesCarette)

[2019-05-24 18:48] Mornix commented on #1395
I would assume it would be similar to how SWHS and NoPCM are split at the moment. Where each variant would have its own “example” and respective stable and build folders so the entire SRS, ???, and code “chain” is specialized for the given variant.

@smiths and @JacquesCarette may have a different idea as i wasn’t around for the SWHS, NoPCM “split” so I’m not sure if that was a conscious decision

[2019-05-24 18:52] samm82 commented on #1395
@Mornix  Given that there will be a lot of different variants (ie. # of input formats * # of output formats * # number of planets * ... ) I don't think it's feasible to have a separate example for each one. If I'm correct, my idea of it is that passing in different parameters in the Main.hs file will generate different documents, with the specified variabilities selected.

[2019-05-24 18:59] bmaclach opened #1407 "Representing differentials in Expr outside of Derivatives/Integrals"
The derivation for moment equilibrium I wrote in the case studies repo includes a differential outside of the context of a derivative or integral:

![image](https://user-images.githubusercontent.com/18634568/58350511-1491a800-7e34-11e9-9a1d-028e8c955161.png)

There doesn't seem to be a way currently to represent a standalone differential in `Expr` (differentials only show up within derivatives and

[2019-05-24 19:08] samm82 commented on #1390
@JacquesCarette Can you review my changes in the `utils` branch and see if you like the direction I went with it?

[2019-05-24 19:12] JacquesCarette commented on #1395
We'll probably end up wanting to generate a (deterministic) 'sampling' of members from the family. Our infrastructure is most definitely not ready for that. But that's fine, we'll get there.

[2019-05-24 19:12] JacquesCarette commented on #1395
And these should be considered "members of a family" instead of semi-separate examples, like SWHS and NoPCM.

[2019-05-24 19:14] JacquesCarette commented on #1407
Agreed - but hopefully this isn't too high priority?

[2019-05-24 19:15] bmaclach commented on #1407
I don't think so. I'm planning on just leaving a FIXME in the derivation for now.

[2019-05-24 19:17] JacquesCarette commented on #1390
I looked - it seemed fine. This is an incremental process, as we learn, we'll figure out where the best home for various things is.

[2019-05-24 20:04] samm82 opened #1408 "PDFs cause Non-Empty Logs"
Running `make tex`, and then `make` causes non-empty logs, since the PDF file is in the build/ folder, but not the stable/ folder, which is outputted to the log. Running `make clean` and then `make` (or just manually removing the PDF files before `make`). Resolves this, but is annoying 😊. I think just ignoring the PDFs when log checking should fix it.

@Mornix I might huck this out later, but if y

[2019-05-24 20:13] danscime opened #1409 "More meaningful names in SWHS GenDefs"
SWHS GenDefs.hs could use more meaningful names in its derivations and descriptions.

https://github.com/JacquesCarette/Drasil/blob/540f209ea7b8f994cd0eeb2efa1c8e47b0d8881d/code/drasil-example/Drasil/SWHS/GenDefs.hs#L122-L174

There's a good chance this is mentioned somewhere already, but I couldn't seem to find it.

[2019-05-24 20:14] samm82 opened #1410 "Hardcoded Figure Numbers in GlassBR"
There are some instances in GlassBR (and potentially other examples) of Figure references being hardcoded:

![figHardcoded](https://user-images.githubusercontent.com/35857611/58354300-ff6e4680-7e3e-11e9-9ebf-8ceff3349d21.png)

[2019-05-24 20:16] smiths commented on #1409
@danscime I'm surprised that these bad names are still in the SWHS example.  Issue #708 was to address this, and that issue was closed.  I guess a few bad names slipped through.  We certainly do want to fix this.

[2019-05-24 20:17] samm82 commented on #702
A similar (but different) thing happened with tables (#833), and I think (at least for now) we're OK with it. This came up now because I'm removing a function that created a `LabelledContent` for a figure (because it's only used a couple of times and isn't worth it), and it happened to hardcode these figure numbers.

[2019-05-24 20:18] smiths commented on #1410
Thanks for catching this @samm82.  We definitely do want to fix this, since hard-coded numbers will be a maintenance nightmare.  The exact opposite of what we are trying to achieve!

[2019-05-24 20:31] Mornix commented on #1408
So there is an underlying design decision behind this (at least at the moment) for why generated PDFs cause log errors which I’ll type up (I don’t think I’ve typed this up yet, so it’ll be good for the sake of documentation) in a bit. However, with your current flow you can get a “lighter” `make clean` to remove just the `build` folder (and not require a full recompilation): `make clean_build`.

[2019-05-24 20:34] samm82 commented on #1408
Works for me - I'll close this, but feel free to still add the explanation!

[2019-05-24 20:34] #1408 closed

[2019-05-25 02:43] smiths commented on #1407
Yes, let's leave a fixme for now.

[2019-05-25 02:58] smiths commented on #1395
It is great that we are thinking about variabilities, but it is probably better to get one family member working first.

[2019-05-25 03:08] samm82 commented on #1395
That was my thought process, too @smiths

[2019-05-25 03:10] smiths commented on #1403
@samm82 that sounds reasonable to me.

[2019-05-27 06:02] Mornix commented on #1408
The `diff` process (and more generally the entire Makefile) is designed to be consistent*, simple, and easy to maintain.

*consistent in the sense that files which `git` tracks are the same which `diff` looks at, with the exception of the `.txt` “hack” mentioned below.

## How `diff` currently works
`diff`, as it stands, compares two example directories, say `build/GlassBR/` and `stable/glassbr/`.

[2019-05-27 06:27] Mornix opened #1412 ""Continuous Deploy" Website"
As part of #1305, the easiest way to access this online documentation and examples is through a website which is generated as part of the CI deploy process.

I haven't yet completed the script to upload the generated fils and code onto a `gh-pages` branch, but I'm envisioning that part of the process is calling a static-site generator on a set of HTML templates and parameterizing them with the app

[2019-05-27 13:14] danscime commented on #1267
SWHS as per #1413.

[2019-05-27 15:20] samm82 opened #1415 "Issues with References in Empty Assumptions Section"
While adding an empty assumptions section to Projectile, I noticed that this was the intro for the section:

![assumps](https://user-images.githubusercontent.com/35857611/58428522-c5848680-8070-11e9-924d-686566d6ee5e.png)

It references a lot of other sections that don't exist, as per #946, but it also talks about the "numbers in square brackets", which is only true in the LaTeX, not the HTML. Wha

[2019-05-27 15:38] danscime commented on #1267
NoPCM as per #1416.

[2019-05-27 15:41] Mornix commented on #1415
Overlaps with #1164.

[2019-05-27 15:44] danscime opened #1417 "Use more meaningful names in NoPCM GenDefs"
Some names should be more meaningful, and especially not use numbers.
Specific instances that should be changed in NoPCM GenDefs.

https://github.com/JacquesCarette/Drasil/blob/26d7637b91be5509b1f744c50514a474fdcc79e9/code/drasil-example/Drasil/NoPCM/GenDefs.hs#L49-L101

[2019-05-27 15:51] danscime opened #1418 "Duplicate descriptions and equations in NoPCM"
Some descriptions and equations are created in both Body and GenDefs of NoPCM. They should only be created once and then referenced. I believe they should be created in GenDefs.hs.

Body:
https://github.com/JacquesCarette/Drasil/blob/26d7637b91be5509b1f744c50514a474fdcc79e9/code/drasil-example/Drasil/NoPCM/Body.hs#L412-L451

GenDefs:
https://github.com/JacquesCarette/Drasil/blob/26d7637b91be5509b1

[2019-05-27 16:05] danscime opened #1419 "Rename assumptions in GamePhysics Assumptions.hs"
Assumptions in GamePhysics should have more meaningful names.

https://github.com/JacquesCarette/Drasil/blob/26d7637b91be5509b1f744c50514a474fdcc79e9/code/drasil-example/Drasil/GamePhysics/Assumptions.hs#L45-L55

[2019-05-27 18:22] samm82 commented on #927
I'm implementing the goal statements in Projectile right now, and using `assembler` requires a lot more work and more things need to be added to/built in Body. I think we'd be better off doing it through `GSDSec`, since it's consistent with how other sections are built. Unless you disagree, I think I'll implement the goal statements in Projectile without using `assembler`, then self-assign this an

[2019-05-27 18:54] danscime commented on #1267
Chipmunk / GamePhysics as per #1420.

[2019-05-28 02:22] #874 closed

[2019-05-28 02:27] JacquesCarette commented on #1408
It occurs to me that perhaps every example should come with a 'manifest' that explicitly lists files that are expected to be there and verified, expected to be there but are just checked for presence.  Of course any file not in the manifest that appears would be considered an error.