[2018-07-26 13:29] samm82 commented on #700
So to reiterate the original issue, `sParenNum` has been removed (thanks to the new list function(s)), and `sSqBrNum` will/should probably be removed after `Label` is implemented. Are there any other functions that can be (relatively easily) removed, or should we leave it to focus on more crucial work by marking it with the "waiting on label" label to revisit later?

[2018-07-26 13:30] samm82 commented on #700
I'll also open a PR for the branch where the change was made (if you're sure the hardcoding is OK, at least for now).

[2018-07-26 13:43] JacquesCarette commented on #946
Actually I find it rather exciting that we're getting to the point where stylistic differences can become something we don't need to argue about, we just twiddle the right parameters and voila! everyone's happy.

[2018-07-26 13:45] JacquesCarette commented on #700
Leave it to focus on more crucial work. And hardcoding is ok for now.

[2018-07-26 13:53] smiths commented on #946
Exactly!

[2018-07-26 15:54] niazim3 commented on #469
Duplicate of #874.

[2018-07-26 16:48] halonazhao commented on #941
Now we are considering using `Pow` to generate a scientific notation as a hack. But `Pow` is still valuable to generate scientific notion. Say if the number is `3*10^56` or `3*10^-56`, it's impossible that every time we type in those many zeros. So it would make sense to improve both `Pow` and `Int`, `Dbl` to auto-transfer to scientific notation. Int and double are straight forward. Would it be a

[2018-07-26 16:54] smiths commented on #941
@halonazhao, I'm sure that @JacquesCarette is not recommending that someone type 56 zeros.  In Haskell (and any language I can think of), we can use scientific notation to enter large numbers.  Your examples would e written as 3E56 or 3E-56 (or with a lowercase e).  I'm sure that pow is needed for other purposes, but with scientific notation available, you don't need it to enter large numbers.  (M

[2018-07-26 17:13] halonazhao commented on #941
Wow. You are right. That didn't even come to my mind even one sec. Then I guess, the rest should be straightforward.

[2018-07-26 18:42] smiths commented on #947
Good question @JacquesCarette.  If source or refby are empty, the first question should be whether the lack of content is a mistake.  In some cases this information was left blank in the "manual" examples when it shouldn't have been.  However, I don't think I would go so far as to say a lack of content is an error. It feels more like a "warning" than an error.

Not displaying the fields when they

[2018-07-26 18:55] niazim3 opened #961 "<<loop>> error whilst implementing new `Label` Design"
In the [updateContentsDesign](https://github.com/JacquesCarette/Drasil/compare/master...updateContentsDesign) branch, the following error comes up:
![image](https://user-images.githubusercontent.com/28247301/43281714-63075e52-90e2-11e8-90c8-668598f895c7.png).

After looking it up (e.g. https://mail.haskell.org/pipermail/haskell-cafe/2013-June/108826.html), it turns out there is an infinite loop in

[2018-07-26 19:56] szymczdm commented on #961
Checking into it now

[2018-07-26 20:00] niazim3 commented on #961
I've gone through the implementation/changes and I think the problem might be arising from the way [code/drasil-lang/Language/Drasil/Document/Core.hs](https://github.com/JacquesCarette/Drasil/blob/ea66f5638972fbceb4d82d4f78954706b657de63/code/drasil-lang/Language/Drasil/Document/Core.hs) has `DefnT` defined?
https://github.com/JacquesCarette/Drasil/blob/ea66f5638972fbceb4d82d4f78954706b657de63/cod

[2018-07-26 20:01] szymczdm commented on #961
Recursive definitions tend to be fine, unless you somehow force an infinite recursion.

[2018-07-26 20:08] szymczdm commented on #961
I cut out the entire SSD section to see if that would let Tiny get any further, it did not. So it's something more fundamental. I'll need to look over the code.

What's the last commit where you were able to make without errors?

[2018-07-26 20:11] niazim3 commented on #961
4878b884576d0ceb92d14aa10ff96d67a68d9bef was the very first commit to the branch and I believe the only one that ever made without errors since after this commit, the `Contents` design changed.

[2018-07-26 20:12] JacquesCarette commented on #961
I have a pure guess: that it is the new `compsy` that loops. It was somehow triggered now and wasn't before.  As a test, you can replace `compsy` with a 1-line dummy (that always returns `EQ`) and see if anything changes.  It uses a funky recursion pattern.

[2018-07-26 20:16] szymczdm commented on #961
Oh wow that is a funky recursion pattern, but it does not seem to be the cause.

[2018-07-26 20:20] JacquesCarette commented on #961
Oh well, it was one guess.

[2018-07-26 20:31] szymczdm commented on #961
It seems that `thisSRS = RefSec (RefProg intro []) : []` is enough to cause the loop.

[2018-07-26 20:41] #769 closed

[2018-07-26 20:43] samm82 commented on #961
`intro` uses `mkParagraph`, which is defined here:
https://github.com/JacquesCarette/Drasil/blob/ea66f5638972fbceb4d82d4f78954706b657de63/code/drasil-lang/Language/Drasil/Document.hs#L109

as a `Contents`

[2018-07-26 20:47] szymczdm commented on #961
That's not the issue. I've pulled out everything and done a make (ie. `thisSRS = []` and SystemInformation paired down to the bare minimum with mostly empty fields).

[2018-07-26 20:54] JacquesCarette commented on #961
Hmm, maybe it's the new traversal code that looks for defined symbols? That was recently added (and tweaked) in the range of check-ins that are 'suspect'. Unhook that and see?

[2018-07-26 20:56] JacquesCarette commented on #947
As long as we do not have "easy combinators" for leaving those parts empty [because then people will use them without being forced to think about it], we could indeed just put -- as an indication of an explicit choice.

[2018-07-26 21:07] szymczdm commented on #961
Okay I was wrong about the `thisSRS = []` causing problems. My make didn't recompile tiny and I've just confirmed that the empty document works.

Now onto figuring out the rest.

[2018-07-26 21:17] szymczdm commented on #961
@JacquesCarette and my power just went out. Can't do anything for the time being. I'll jump back in when it's back up

[2018-07-27 01:56] szymczdm commented on #961
Alright, so I've tried a number of things without success (namely attaching a profiler to figure out what was going on. Couldn't get any usable output from it), so I've narrowed down the problem to between commit (I think) d04fb8d and (definitely) 849e09d. Still working on it.

[2018-07-27 02:38] szymczdm commented on #961
Fixed in 16c8e5b. There are other build errors though that need to be fixed in the branch in general.

[2018-07-27 05:51] Mornix commented on #562
Commit 62939f7 contains a demo of `ConceptInstance`s to define the functional requirements for NoPCM. The extended commit message explains the reasoning between the slight differences observed in the screenshots.

Below are screenshots comparing the HTML output of the old requirements and the new `ConceptInstance` ones:

# New
<img width="1127" alt="screen shot 2018-07-27 at 1 45 44 am" src="https

[2018-07-27 16:14] JacquesCarette commented on #562
I actually sort of prefer the New ordering of information. I definitely dislike that the reason it had to change is because of (hopefully temporary) weaknesses in the infrastructure.

[2018-07-27 22:11] niazim3 opened #963 "Finish implementing `Label`s"
When #962 gets merged into master, the work in the [addLabels](https://github.com/JacquesCarette/Drasil/tree/addLabels) needs to be finished up so that all appropriate data types have `Label`s used for referencing and #695 can get closed.

Some tasks that need to be kept in mind for this issue to be completed:
- [ ] close #929 to have less errors to worry about
- [ ] `mkRefFrmLbl` needs to be rena

[2018-07-29 18:44] smiths commented on #947
Sounds reasonable.

[2018-07-29 22:49] smiths commented on #884
That sounds like a good idea.  This fits with the theme of @halonazhao MEng project.

[2018-07-30 15:46] elwazana commented on #629
This workflow is obsolete with the implementation of `(Un)LabelledContent`, the new workflow plan can be followed here: #963

[2018-07-30 15:46] #629 closed

[2018-07-30 16:02] niazim3 commented on #926
Hi @Mornix, what is the status of this issue for GamePhysics?

[2018-07-30 16:15] elwazana commented on #920
@smiths Hello Dr. Smith, I've investigated this issue for a bit and I believe there was a misunderstanding. I believe that the Drasil version is fine and that there was just a typo in GD9 of the manual.

This is the table of symbols of the manual:
![image](https://user-images.githubusercontent.com/35268928/43409395-cbcc1e5c-93f1-11e8-9c67-4a72a6e192df.png)
![image](https://user-images.githubuserco

[2018-07-30 17:18] smiths commented on #920
Sounds good.  Please fix the manual version.

[2018-07-30 17:31] elwazana commented on #920
@smiths I've corrected the typo here:
https://github.com/smiths/caseStudies/commit/9a0705e98c71d61052a00b1cadda7fc446d37352
![image](https://user-images.githubusercontent.com/35268928/43412836-6768c0ea-93fc-11e8-838a-09313096aadc.png)

[2018-07-30 17:31] #920 closed

[2018-07-30 17:42] smiths commented on #920
Great!

[2018-07-30 19:11] niazim3 commented on #792
@Mornix What are your thoughts on removing the `Contents` versions of the assumptions from the examples? In the addLabels branch, `AssumpChunk`s were given a `Label` field, which means those can be used for referencing purposes.

The document builds using the `AssumpChunk`s as well: https://github.com/JacquesCarette/Drasil/blob/71b4a83a4c834a871ceddf0bb4079b9d618a1b1a/code/drasil-docLang/Drasil/Do

[2018-07-30 19:31] samm82 commented on #955
@smiths In changing `is_safe1` to `is_safePb`, etc., their placement in the Table of Symbols got switched, as it is sorted by symbol, and the symbols changed. I'll change their ordering everywhere else as well.

[2018-07-30 20:10] Mornix commented on #792
I think these middle steps can be cut out and `Assumptions` can be completely migrated to `ConceptInstances` instead. I can do this since I've already started with requirements for NoPCM.

[2018-07-30 20:49] #955 closed

[2018-07-31 13:33] niazim3 commented on #891
With the referencing infrastructure almost complete in the [addLabels branch](https://github.com/JacquesCarette/Drasil/tree/addLabels/code), this issue is still high priority. @szymczdm @JacquesCarette

[2018-07-31 13:45] samm82 commented on #835
Would it be a hack to make a `probBreakCC` that is a `ConceptChunk` solely for the purpose of using the `tAndDWSym`? It would take the symbol of `prob_br` as the "abbreviation" for `probBreak`, so `tAndDWAcc` could be applied to just the new `ConceptChunk`, `tAndDWSym` can be removed (?) as wouldn't be used anymore, and then we could worry about merging the two remaining functions, `tAndDWAcc` and

[2018-07-31 14:05] Mornix commented on #926
@niazim3 Totally slipped through the cracks. Should be up shortly.

[2018-07-31 16:04] niazim3 commented on #963
Note: ~~"derivation equations need labels (make a separate issue and assign to "owners" of each example)"~~ because any equations that do need labels can be added as needed; for now caused the equations that are not referenced to be `Contents` of the `UnlabelledContent` nature (f4e7b29).

[2018-07-31 20:01] niazim3 commented on #891
Just noting here that the field that's causing errors at the moment (`_definitions`) eventually will be removed (as evident in the following `FIXME` comment: https://github.com/JacquesCarette/Drasil/blob/99c663526d27ce7fcbb5b2735f6e490af6b91b1a/code/drasil-lang/Language/Drasil/SystemInformation.hs#L36-L37).

[2018-07-31 20:39] deviprasad135 commented on #963
[code]
@niazim3 told these issues are worked on addLabels branch.

[2018-07-31 21:14] niazim3 opened #968 "Implement `Derivation` as a [Contents]"
(Moved from #963):
As mentioned in today's meeting, `Derivation` should be changed from https://github.com/JacquesCarette/Drasil/blob/fb0156177d785df905e0b0147b7b2b5ea57b94f9/code/drasil-lang/Language/Drasil/Chunk/Derivation.hs#L8 to `type Derivation = [Contents]` to eliminate the need for `mkEmptyLabel` here: https://github.com/JacquesCarette/Drasil/blob/fb0156177d785df905e0b0147b7b2b5ea57b94f9/c

[2018-08-01 13:17] deviprasad135 opened #969 "Printing inline math and display math"
@szymczdm, I have pushed the code in commit a8a3a9e. Please have a look and guide me where to differentiate the inline math and display math.

[2018-08-01 14:35] JacquesCarette commented on #835
It is not a hack to take some information (such as `probBreakCC`) and make it into the most-informative-type-possible. It is a hack if you fill in extra fields with 'junk', just so that a particular function will work -- especially if that junk will then appear in the results. If the junk doesn't appear, then the true bug might be that the function is requesting too much structure of its input, i.

[2018-08-01 14:59] JacquesCarette commented on #891
Added to my list of things to do today.

[2018-08-01 15:06] niazim3 opened #970 "Preference for Label Display"
The logs in the addLabels branch have many discrepancies like the following

[code]

### Generated:
![image](https://user-images.githubusercontent.com/28247301/43529934-5f46e070-957a-11e8-8aa5-ee009f39b4cd.png)
### Stable:
![image](https://user-images.githubusercontent.com/28247301/43529952-688bebe4-957a-11e8-9c3c-e5e28988c536.png)

Is there a preference for either display?

[2018-08-01 15:34] JacquesCarette commented on #970
Definitely prefer Generated. The Table prefix should only appear in the label name and not in the shortname.

[2018-08-01 15:52] niazim3 commented on #968
I tried doing that earlier, and the problem is that the `HasDerivation` class needs to use the `Derivation` definition in order to lens to it, which means it would need to import the file in which `Derivation` is defined (in this case). Since Document.Core uses a lot of chunks that also import Classes for definition of them as instances of a classes, there are cycles like the following
![image](ht

[2018-08-01 16:18] JacquesCarette commented on #891
![](https://github.trello.services/images/mini-trello-icon.png) [ExprRelat](https://trello.com/c/udrAwwh8/512-exprrelat)

[2018-08-01 16:43] niazim3 opened #971 "Hardcoded "Sec:" when referencing labels of sections"
(Moved from #963)

Sometimes a section needs to be referenced in paragraphs of other sections. Since the document languages build sections sort of "in parallel", do we want to `makeRef` to the label that a section uses or ideally just `makeref` to the section itself?

In the meeting yesterday, it was mentioned that it seems fine semantically to `makeRef` directly to a label and hardcode the `Sec:`

[2018-08-01 16:52] JacquesCarette commented on #971
Yes, I need to think about this.  But I'll think about #968 first.

[2018-08-01 16:53] niazim3 commented on #970
Is that the case for chunk types like Theoretical Models, Instance Models, General Definitions, and Data Definitions as well?
### Generated:
![image](https://user-images.githubusercontent.com/28247301/43536078-b08806c6-9589-11e8-866d-d5f4b16961dc.png)
### Stable:
![image](https://user-images.githubusercontent.com/28247301/43536132-d423228c-9589-11e8-880b-d15ebe7b5428.png)

[2018-08-01 16:57] elwazana commented on #971
@JacquesCarette Hello Dr. Carette, the situation I came across is in SWHS. The labels for the assumptions are referenced by the TMs directly, which causes them to have a `Sec:` which breaks the link.

A possible solution to this is to add a filed into the Label record type, similar to how Changes are differentiated into Likely and Unlikely:
![image](https://user-images.githubusercontent.com/352689

[2018-08-01 19:47] JacquesCarette commented on #891
This certainly does not fix the big problem in this issue, but it does fix the symptom. Now, the fix may not be fully adequate [this doesn't pull all the definitions from the theory model], but it has the right 'flavour'.  One problem seems to be that commenting out the one line of code (that gave rise to this issue) doesn't seem to actually change anything in the output of GlassBR. So I can't qui

[2018-08-01 20:38] JacquesCarette commented on #970
Doesn't the *generated* (in the picture above) have an extra T that isn't there in Stable, and you like that extra context?  For the 4 types you list, it is reasonable that the shortname include something like `T:`. I would prefer a separator of some kind, rather than pure concatenation.

[2018-08-01 20:47] niazim3 commented on #891
I actually still get the error message from CodeSpec.hs
[code]
.
 Can this perhaps be fixed with removing the `definitions_` field from SystemInformation (and anywhere else `QDefinition`s are used in CodeSpec.hs) as mentioned in the comment below?
https://github.com/JacquesCarette/Drasil/blob/99c663526d27ce7fcbb5b2735f6e490af6b91b1a/code/drasil-lang/Language/Drasil/SystemInformation.hs#L36-L37)
**

[2018-08-01 20:50] #926 closed

[2018-08-01 20:50] niazim3 commented on #970
Alright, is a space after the colon and before the shortname better than pure concatenation?

[2018-08-01 20:55] JacquesCarette commented on #970
Yes.

[2018-08-01 20:56] JacquesCarette commented on #968
@samm82 yes.

[2018-08-01 20:57] samm82 commented on #902
@JacquesCarette @szymczdm Before this fix, the label for three "odd" quantities was "T:[name]" but now they're being treated as a `DataDefinition`, so it is now "DD:[name]". This is just as broken as before, as is there is neither a TM nor a DD that corresponds with any of these quantities. Where should the reference point to/should it point anywhere? The only place these values are really defined

[2018-08-01 20:59] JacquesCarette commented on #891
I think this error is a different issue. It is related to the current issue, but the fix will be different.  I will look at this problem right now.

[2018-08-01 21:15] JacquesCarette commented on #891
You are correct that the right fix is to migrate to using `datadefs` instead of `definitions`. However, this used to work, so there might be another bug. I'm investigating that.

[2018-08-01 21:38] JacquesCarette commented on #902
Yes, this is just as broken as before.

So who assumed they were theories, and now assumes they are data definitions?  That's really the source of the problem.

The worrisome thing you say: "The only place these values are really defined is in the Table of Symbols." -- do you mean this is a local definition that only occurs there?  I am confused.

[2018-08-01 21:42] JacquesCarette commented on #891
Ok, some progress.  By making the error message more informative, I now get
[code]
So the problem is that the things we want to output have no known definitions!  I think that this is because these used to be included in the `definitions` but now no longer are.

[2018-08-01 21:56] JacquesCarette commented on #891
Hmm, and the 'problem' seems to stem from the fact that `is_safePb` is registered in the theory model as an Invariant (even though it is a defined quantity). So I think that switching to `datadefs` would not have mattered.

[2018-08-01 21:56] #574 closed

[2018-08-01 21:58] szymczdm commented on #902
^ Ditto on the confusion.

[2018-08-01 22:04] JacquesCarette commented on #891
@niazim3 question: does code generation for glassbr work on the master branch?  If so, that would definitely help me debug what's going on here. Or if not on current master, when do I have to rewind to?

[2018-08-02 01:11] szymczdm commented on #891
@JacquesCarette `master` is still generating code for GlassBR as far as I can tell.

[2018-08-02 01:14] szymczdm commented on #969
I've left some comments on the commit.

[2018-08-02 03:40] JacquesCarette commented on #891
@szymczdm thanks. It is actually quite tricky how these have diverged. I've checked in more stuff in the addLabels branch to move this forward.

It basically used to work because things were built 'by hand' as it were. The theory models, as built, actually forget information (such as the definitions of exactly the 2 variables needed in GlassBR). The 'invariant' thing was a red herring. [It's weird

[2018-08-02 04:38] smiths commented on #970
I like the prefix idea (`T:` etc).

[2018-08-02 13:13] JacquesCarette commented on #968
I think the 'right' way to fix this cycle (and other potential ones) is to change Chunk.Eq to define
[code]
And then "later", when `References`, `Derivation` and `ShortName` are defined, to do
[code]
The various combinators to build things can be generalized to build `QDef` instead. Then only `QDefinition` should be exported from `Language.Drasil`, not `QDef` (though that will need to be visible i

[2018-08-02 13:55] samm82 commented on #902
So apparently I missed these:

LR and _P<sub>b</sub>_ are both defined in the Terminology and Definitions section:
![LR and Pb](https://user-images.githubusercontent.com/35857611/43588016-91b290c6-9639-11e8-9a23-d23f94aa2c5d.png)

and q is defined in an instance model:
![q](https://user-images.githubusercontent.com/35857611/43588099-c90e8cf0-9639-11e8-9591-a7753dd14998.png)

The problem is that th

[2018-08-02 15:09] JacquesCarette commented on #902
Question: what exactly are you trying to 'sort by symbol'?  I understand that these are of different types, and can't be in the same (Haskell) list. Where is the sort-that-is-failing occurring?

Which one is an IM?

I do think that it would make sense for LR and Pb to be DDs.

[2018-08-02 15:13] smiths commented on #902
I'm not sure I understand the problem from the Drasil point of view, since I don't see what the symbols are explicitly tied to whether they are DDs, IMs etc.  The symbol represents the concept.  q means demand.  It might also have an equation for calculating it, but that equation could change within a document, over time, or for a different document.

Regardless of my lack of deep understanding of

[2018-08-02 15:15] elwazana commented on #970
@smiths @JacquesCarette For the displayed link what is preferred `R: ~~Req~~` or `FR / NFR: ~~Req~~`, with the second having specific prefixes for Functional/Non-functional requirements?

[2018-08-02 17:32] smiths commented on #970
I like FR/NFR a little better, because I've frequently observed problems with people being confused on the difference.  One more opportunity to reinforce this would be nice.  Having said that, I don't feel that strongly.  If it is R for everything right now, we can always change it to something else in the future.  Most of the examples do not currently have very many NFRs.

[2018-08-02 17:36] niazim3 commented on #971
I was thinking of implementing something like the following:
[code]
, but there isn't really a way to pass in the `RefType` argument into
[code]

Since `Label`s are not associated with different chunk types.

I think for now, the `missingP` hack should be reintroduced for referencing sections to remove the hardcoded "Sec:", and replace the hardcoded "Sec:" to a hardcoded "A:" since SWHS/NoPCM are

[2018-08-02 17:58] niazim3 commented on #35
Based on the comments in https://github.com/JacquesCarette/Drasil/commit/8ab27e764113aa23b49efb4ae79eb52ebd46bdcd, it seems that the `repUnd` hack can be removed by settling for camelCase as the reference addresses. The examples that do use `_`s are being updated in the addLabels branch to be camelCased. After that is merged into master, this issue can probably be closed.

[2018-08-02 18:26] JacquesCarette commented on #970
I'm one of those people who rather dislikes the (IMHO) unimportant difference being made between FR and NFR. But on this particular issue, I'd let @smiths win.

[2018-08-02 18:28] smiths commented on #970
Thanks @JacquesCarette 😄

[2018-08-02 18:29] JacquesCarette commented on #971
What we should be doing is having label-building combinators which take a `RefType` as input. By the time you're at `Referable`, it's too late.

[2018-08-02 18:31] niazim3 opened #973 "Remove obsolete fields from `QDefinition`"
As mentioned in #747, the fields of `QDefinition`s with the comments next to them need to be removed. https://github.com/JacquesCarette/Drasil/blob/52ce04abb429590e4826627de25645296ad002e1/code/drasil-lang/Language/Drasil/Chunk/Eq.hs#L26-L35

[2018-08-02 18:33] niazim3 commented on #747
This issue can be closed as the examples have migrated to use `DataDefinition`. All that's left related to this issue's contents is removing the now no longer used fields for `QDefinition`, which will be an issue tracked in #973.

[2018-08-02 18:33] #747 closed

[2018-08-02 18:34] niazim3 commented on #973
A lot of duplicate functions were also created when migrating from using `QDefinition`s to `DataDefinition`s that should be removed.

[2018-08-02 19:04] niazim3 commented on #971
That would mean that `Label`s will be associated with a specific chunk type, correct? Do we want that? I'm asking because in https://github.com/JacquesCarette/Drasil/issues/567 it was mentioned that Label is not attached to anything.

[2018-08-02 19:12] JacquesCarette commented on #971
Yes, it means that a given label will be associated with a particular kind of object. Labels are already implicitly associated to particular objects via their name.

From a technical standpoint, it is true, and by design, that labels are not attached to anything in particular. Labels, as a data-structure, do not know what they are attached to. But the creator of labels does know what they will att

[2018-08-02 19:15] smiths commented on #902
My previous comment needs to be corrected.  I was thinking about more trivial variables when I said that Pb and LR do not make sense as DDs.  From my point of view of the current documentation Pb and LR are instanced models, not terminology.  The current documentation has them as instanced models, but they could be data definitions.

One thing that is reasonably certain, Pb and LR should not be pr

[2018-08-02 21:30] JacquesCarette commented on #891
Unfortunately not. Both quantities should be computed, and are in fact part of the output. I am fairly sure that if you add them to the input, the generated code will not be what we want [or at least, it shouldn't be; it could still be ok, but that might be because of further hacks].

[2018-08-02 21:53] elwazana commented on #970
@JacquesCarette @smiths With the implementation of `ConceptInstance` to create new requirements:
https://github.com/JacquesCarette/Drasil/blob/52ce04abb429590e4826627de25645296ad002e1/code/drasil-example/Drasil/NoPCM/Body.hs#L610-L645

There doesn't seem to be a way to distinguish Functional requirements from Non-functional requirements:
https://github.com/JacquesCarette/Drasil/blob/52ce04abb42959

[2018-08-03 06:49] Mornix commented on #970
`ConceptInstance` will (in the near future) provide a prefix to `ShortName`s through the domain (`ConceptDomain`) specified, but it will require a little bit of design work. In the case of `nr*`, the domain is `funcReqDom` for Functional Requirements. You are correct that there is no way at this moment to retrieve the "value" of the domain from a `ConceptInstance`.

Adding a `ReqType` field to `Co

[2018-08-03 13:56] samm82 commented on #902
So just to clarify, the next steps involve making LR and Pb Data Definitions? And should q be shifted from an IM to a DD as well? @smiths @JacquesCarette @szymczdm

[2018-08-03 14:03] elwazana commented on #970
Ok, then what should the prefix for `ConceptInstance` be, right now:
![image](https://user-images.githubusercontent.com/35268928/43646720-a8b655da-9703-11e8-8548-69faca21a761.png)
(Note: the note that says the rType isn't used is incorrect)

It uses the same prefix as `InstanceModel` which causes this:
![image](https://user-images.githubusercontent.com/35268928/43646872-0a1ffe7a-9704-11e8-84bd-a34

[2018-08-03 14:16] smiths commented on #902
I only think you should make changes that are need to solve the current problem.  If we make too many changes there could be rippled effects that we don't want to deal with right now.  @JacquesCarette and @szymczdm can let us know what changes are necessary right now.  What I am saying is that from a "Smith template" point of view, I am fine with changes I listed.

[2018-08-03 14:21] smiths commented on #970
I like prefixes, but incorrect prefixes are worse than no prefix.  As far as distinguishing FR and NFR, I was under the impression this was easy to implement.  It isn't worth a big effort right now.  We can use R for everything.  Please create an issue though (with the low priority/future enhancement labels) so that we don't lose track of this idea.  You can include a reference to this issue.

I w

[2018-08-03 14:25] niazim3 commented on #970
### Generated HTML:
![image](https://user-images.githubusercontent.com/28247301/43647975-2477662a-9707-11e8-94fe-7f4ec25cc1ed.png)
### Stable HTML:
![image](https://user-images.githubusercontent.com/28247301/43648033-49aca7ca-9707-11e8-890b-c3fa4002194d.png)

@smiths Is there a preference for one or the other? It would help me implement whether the shortname for a chunk's label should have the acr

[2018-08-03 14:32] elwazana opened #975 "Distinguishing labels for Functional and Non-Functional Requirements"
With the new implementation of requirements as `ConceptInstance`s, instead of the old `ReChunk`, it is difficult to distinguish between Function/Non-Functional requirements. As such appending the correct prefix becomes difficult. The idea originated from issue: #970

[2018-08-03 14:34] samm82 commented on #902
@smiths Now that I'm thinking about it, it would be better to leave it until `addLabels` gets merged in, as it will probably change how the referencing would be done.

[2018-08-03 15:06] JacquesCarette commented on #902
Whether these 3 items get changed to DD or IM does not matter so much to me - all that matters is that the information they encode be "more available" than it is with the current encoding.

Isn't there a problem with waiting on `addLabels` as GlassBR is broken in part due to this issue? [As per my comments on #891 and its current non-fix].

[2018-08-03 15:09] samm82 commented on #902
I think this specific issue won't necessarily affect `addLabels`, and I assumed that fixing GlassBR was part of `addLabels`. If an example doesn't compile, it shouldn't be merged into master

[2018-08-03 15:12] JacquesCarette commented on #970
No prefix is definitely better than wrong prefix.

The work that @Mornix is doing will help us have the 'right' information at the right time to be able to adjust the prefixes.

Hmm, I must admit that I don't like seeing the `A: ` prefix in the Assumptions table -- since it is quite clear that it is an assumption. Having that prefix when it is referenced, ah, that is different!  But I would not wo

[2018-08-03 15:20] samm82 commented on #891
@JacquesCarette The error message on my machine is
[code]

I just noticed our errors were different; not sure what the significance of this is.

[2018-08-03 15:22] JacquesCarette commented on #902
Yes, fixing GlassBR is definitely part of `addLabels`. And very important to work on asap.

I am just thinking that a correct fix to GlassBR may well involve changing LR and Pb to be DDs !

[2018-08-03 15:24] samm82 commented on #902
Hmmm... I'll try switching them over in `addLabels` and see what comes of it.

[2018-08-03 15:34] samm82 commented on #902
Also - all three of them are instance models. I have no idea how I missed this, but I did 😬

[2018-08-03 15:35] JacquesCarette commented on #891
Something else must have changed to have made those 3 items (instead of the previous 2) 'output's. But that's fine.

The problem is that those 3 outputs should **also** be in Knowns, because they are defined by formulas. That is the real issue to fix, to make sure those 3 formulas end up in Known. They used to be, but no longer are. You can see how (in master branch) `tModel` is added to what will

[2018-08-03 15:37] JacquesCarette commented on #902
Ok, having them as instance models is "good", in the sense that their definitions are available. Now, I think this discussion has drifted -- it might be worth going back to the original issue, and seeing what is still the issue 'here'.

[2018-08-03 15:39] JacquesCarette commented on #971
A sort-of design has been added to the discussion at 371f46b.

[2018-08-03 16:58] samm82 commented on #891
I'm working on fixing this, but now I have:
[code]
and I don't know how to diagnose it.

[2018-08-03 17:01] elwazana opened #976 "Remove incorrect prefix for ConceptInstance"
As discussed in issue #970, there are new requirements in NoPCM that are defined as `ConceptInstance`. This brings up a problem when you try to reference these requirements, an incorrect IM prefix is appended to them:
![](https://user-images.githubusercontent.com/35268928/43646872-0a1ffe7a-9704-11e8-84bd-a345f865b23a.png)

This  is caused by `instace Referable ConceptInstance`:
![](https://user-im

[2018-08-03 17:31] Mornix commented on #562
This is a small proposal to add support for prefixes to `ShortName`s when `ConceptInstance`s are referenced.

# Problem
When `ConceptInstance`s are referenced through a function, such as, `makeRef`, there is no means to lookup or generate the correct prefix for the reference at that moment.

# Context
## `ConceptInstance` as it stands
Currently, `ConceptInstance` contains a UID which “points” to a

[2018-08-03 17:42] smiths commented on #970
I like the `A: ` in the generated list of assumptions.  It is a matter of taste, but I like the reminder that these are assumptions.  It gives the list a nice parallel feel, because everything starts the same.  The `A: `s are like bullets in a bulleted list.  This is the kind of thing that it would be nice to eventually be able to customize depending on the user's preferences.

[2018-08-03 18:12] JacquesCarette commented on #970
Indeed, our local disagreement on this display emphasizes that it should be configurable.  As far as what to implement now, I would go with whatever 'fits' the current code.

[2018-08-03 18:16] JacquesCarette commented on #976
That `instance Referable ConceptInstance` is definitely the source of the bug.  For now, yes, add a `Blank`.

Once @Mornix 's work on `ConceptInstance` is further along, `rType` should be computable. `rType` will have to look at the specific `ConceptInstance` though.

[2018-08-03 18:22] JacquesCarette commented on #562
I like this a lot. [Except that I would rename `Prefix` to `Concat`]. And the issue #976 would also be covered by this.  And I think #971 too.

I think we'll eventually do away with `RefType`, so I think that hack will disappear. I don't think the second drawback is a big deal.

[2018-08-03 19:09] elwazana commented on #976
The `Blank` `RefType` has been added here: 32a7dede5ae069cb7ad873b88c1036d61843c4e8, along with the relevant stable updates.

[2018-08-03 20:09] smiths commented on #879
Agreed!  (I apologize for the long delay.  This issue was buried in a long list of e-mails.)  Please proceed with the suggested changes.

[2018-08-03 20:10] samm82 commented on #879
No worries! 😜

[2018-08-03 20:12] smiths commented on #878
Yes, please proceed with these changes.  For the last one (inline list versus bullet list), I prefer the bullet list for both, if possible.  It is nice for people to see at a glance what is expected.

[2018-08-03 20:14] smiths commented on #877
Yes, please.  😄

[2018-08-03 20:15] smiths commented on #876
These also sound like great changes.  Please proceed.  Thank you for your thoroughness and attention to detail.

[2018-08-03 20:38] niazim3 commented on #961
67f1cb4 Is breaking with the same `<<loop>>` error. It is for sure this commit that caused the break since resetting `HEAD` to a commit before runs the examples fine. Also, the odd thing about it breaking this time is that 2/6 of the examples are building fine ![image](https://user-images.githubusercontent.com/28247301/43663055-11c5fc7e-9736-11e8-96a3-a956edaa5557.png) (unlike last time when none

[2018-08-03 20:57] niazim3 commented on #961
Commenting out only the `RefSec` from NoPCM  https://github.com/JacquesCarette/Drasil/blob/870dc2e8a5a2ac8dfffb014c4ec2220471622af0/code/drasil-example/Drasil/NoPCM/Body.hs#L124-L129 allows NoPCM to build. The problem is arising from there somewhere...

[2018-08-03 21:05] JacquesCarette commented on #961
My guess is that the <<loop>> is triggered by a feature that is not present in neither tiny nor GlassBR. So what are those features?

[2018-08-03 21:06] niazim3 commented on #961
Oddly enough, replacing the commented out code with what GlassBR has for this section (i.e.
[code]
) also doesn't run for NoPCM, so I'm no longer confident that that's where the error is coming from.

[2018-08-03 21:22] JacquesCarette commented on #961
What do you mean by "also doesn't run for NoPCM" ?

[2018-08-03 21:27] niazim3 commented on #961
I meant just "doesn't run for NoPCM".
When `RefSec` is completely commented out in NoPCM's SRS, NoPCM builds. But if the exact same `RefSec` implementation is input as NoPCM's `RefSec`, NoPCM breaks.

I had originally thought that the arguments that are input into `RefSec`'s `RefProg` constructor that are unique to NoPCM (that is, GlassBR doesn't have
[code]
may be the root of the problem, but rep

[2018-08-03 21:51] JacquesCarette commented on #961
Right. So there is definitely some piece of code which is triggered to run by processing parts of `RefSec` which causes the problem. It may well be quite indirect. For example, it might be that including the table of symbols causes some processing of a symbol that ends in a loop.  Remember that Haskell is lazy, so what triggers the symptom and what the problem is can be tenuously related.

[2018-08-03 23:00] niazim3 commented on #961
Update:

In `RefSec`, those 4 examples break when `TSymb` is called. Another point I discovered is that GlassBR and Tiny are the only examples that pass in `[QuantityDict]` into `SystemInformation`'s https://github.com/JacquesCarette/Drasil/blob/870dc2e8a5a2ac8dfffb014c4ec2220471622af0/code/drasil-lang/Language/Drasil/SystemInformation.hs#L34 field, which is used when building the table of symbols

[2018-08-04 00:28] szymczdm commented on #961
Wasn't on email earlier, looking into it now.

[2018-08-04 00:57] JacquesCarette commented on #961
I am guessing that we have another case of a symbol defined in terms of itself. And that try to force it (either by trying to create the table of symbols or by sorting) causes the loop.

[2018-08-04 01:07] szymczdm commented on #961
Alrighty, here's the profiler log:

![image](https://user-images.githubusercontent.com/235140/43671024-4471dbc2-9761-11e8-9bf8-540ff22d64f7.png)

[2018-08-04 01:10] szymczdm commented on #961
Full prof log:

[code]

[2018-08-04 01:26] szymczdm commented on #961
Pretty sure I found the problem, testing now.

[2018-08-04 01:31] JacquesCarette commented on #961
Very curious about what it was!

[2018-08-04 01:40] szymczdm commented on #961
I believe it has to do with the extraction of symbols (I had to rewrite a couple functions and hack some things in right now, but it's building). The section extractor expects a given shortname for a label attached to a section in order to know to skip it. The labels are defined much later down the line (and they do some of their own little additions to include more context), so I think it was jus

[2018-08-04 01:42] szymczdm commented on #961
Yup, I got to logs. So it looks like Document\Extract is the problem. I will push my current hack to get things operational again, but we need a less fragile way of skipping certain sections.

I think if we move the extraction code up to the document language level, then we can actually skip sections by construction, as opposed to looking up the name and deciding to skip it.

[2018-08-04 01:58] szymczdm commented on #961
(Just waiting for a profiler-free build to complete before I push. Need to make sure it's not weird compiler-voodoo that got things working).

[2018-08-04 02:27] szymczdm opened #977 "Remove hacks from 5f117c5"
We need to remove the hacks introduced in 5f117c5ead4329b6994800d28eb07ca61b4f2ca5. As mentioned in the comments of issue #961 we need to create a less fragile method for handling section skipping.

Personally, I think the best approach is to move the extraction code up to the document language level, then we can actually skip sections by construction, as opposed to looking up the name and decidin

[2018-08-05 18:10] niazim3 opened #978 "Creating labels for equations of Definitions and Models"
According to the comments made in commit a573061 by @JacquesCarette @smiths, the reference address for the equations in the models and definitions should follow the following format to preserve traceability:
[code]
. By commit 8fce94e, reference addresses are able to follow the format
[code]
. The `<label-of-equation>` is not in the generated reference address because equations for IMs, TMs, GDs,

[2018-08-07 14:51] halonazhao commented on #977
@szymczdm I guess this problem is the one we mentioned in group meeting. We were talking about the `Expr` or something. And we think `Expr` is kind of hack, which I didn't fully understand. And then @JacquesCarette said I did the similar hack or something to collect `sentence` or `expr`, which is not the right way to do. This part is blurry to me. Can you correct me or give me more information?

S

[2018-08-07 15:08] niazim3 commented on #971
Just noting here that by removing the `RefType` field from `Label` as outlined in the design comment @JacquesCarette mentions above, there is no way to know what `RefType` needs to be set, since it used to simply be
https://github.com/JacquesCarette/Drasil/blob/9870e0bebb30647857f2d93e49a68fab63e475f2/code/drasil-lang/Language/Drasil/Reference.hs#L267
and now it's
[code]
.
SInce this is the case,

[2018-08-07 15:08] halonazhao commented on #555
This issue can be closed now since collecting units branch has been merged into Master.

[2018-08-07 15:08] #555 closed

[2018-08-07 15:41] niazim3 commented on #929
`Data`, `Data'`, and `Theory` have been removed (see above referenced commit).

All that needs to be done to close this issue:
- [ ] remove `Definition`
- [ ] rename `DefnT` to `Definition`

[2018-08-07 15:55] niazim3 commented on #903
This issue is now obsolete with the new design of `Content`, `UnlabelledContent`, and `LabelledContent` implemented in #962, `ModRow`s use `Contents` instead of `LabelledContent` to refrain from the overuse of labels (see https://github.com/JacquesCarette/Drasil/pull/962/files#diff-ce06d8e3fbb2528a353a1c50671fea39R79).

[2018-08-07 15:55] #903 closed

[2018-08-07 17:26] elwazana commented on #971
As it is now the `RefType` being fed into the constructor for `Label` also adds a prefix to the `RefAdd` itself.
Would a solution to this issue then be implementing a parser that takes the hardcoded `RefAdd` prefix and outputting the associated `RefType`? This way actually referencing the label will display the correct `RefType`s corresponding prefix, without needing to have a `RefType` field in `

[2018-08-07 17:42] szymczdm commented on #971
I don't think using a hard-coded parser would be the right design. As for what to do instead, I'm not sure yet, but I'll think about it.

[2018-08-07 17:50] #879 closed

[2018-08-07 17:52] szymczdm commented on #977
I think having the extraction code work over `Document`-level structures is important for reusability. However, I think we may want to make that very simple code (ie. it does not make any decisions, just grabs the symbols from whatever we send it).

Then at the `DocumentLanguage` level, we have something that will parse the high-level `DocDesc` and ignore sections that would cause loops (AuxConsta

[2018-08-07 19:55] JacquesCarette commented on #891
Right, I'll comment on that issue.

[2018-08-07 20:25] halonazhao commented on #977
I don't see big problems. Maybe avoiding converting the same section twice would be a problem. I'll try to implement this idea. If there are any issues, we'll see.

[2018-08-07 20:29] JacquesCarette commented on #971
I definitely agree that a parser is the wrong design.

The design was supposed to be that you create labels with all the necessary information for building all the pieces of the label (i.e. reference address, short name) at that time. In many ways, I think such a design ought to make `Referable` obsolete. It tries to reconstruct some information 'too late'.

[2018-08-07 20:42] JacquesCarette commented on #977
I agree with @szymczdm 's general design.  If our 'input' to the document generation is now uniformly `DocDesc`, we should use that. It would actually be easier, as we won't have to skip generated sections, as they won't be there!

There should be no need to go double-generation.

[2018-08-08 18:33] samm82 commented on #35
Bumping @niazim3's question now that `addLabels` is merged.

[2018-08-08 18:33] samm82 commented on #222
Bumping now that `addLabels` is merged. @szymczdm

[2018-08-08 18:35] samm82 commented on #28
Bumping now that `addLabels` is merged. - @JacquesCarette who should be assigned to this issue? It seems like we now have the infrastructure to accomplish your fix.

[2018-08-08 18:36] samm82 commented on #235
@JacquesCarette as in #28, it looks like we now have this infrastructure.

[2018-08-08 18:38] samm82 commented on #276
Lots of these issues are just smaller symptoms of us needing `Label`s. I think this issue can also be addressed now. @JacquesCarette

[2018-08-08 18:40] samm82 commented on #562
And apparently #470 as well

[2018-08-08 18:40] samm82 commented on #345
This should be addressed with #562

[2018-08-08 18:41] samm82 commented on #424
Bumping @halonazhao's question

[2018-08-08 18:43] samm82 commented on #360
@JacquesCarette Waiting on #312 - since @elwazana is pretty much done now, either @niazim3 or myself could take over if it is a high enough priority.

[2018-08-08 18:43] samm82 commented on #435
@halonazhao You should be able to go ahead with this now.

[2018-08-08 18:45] samm82 commented on #485
@szymczdm Related to #470, and assumptions have shortnames already in SWHS. Can we close this? @halonazhao

[2018-08-08 20:02] niazim3 opened #981 "Set `HasLabel` as a superclass for `Referable` and `HasShortName`"
(Originates from #963).

As @JacquesCarette agrees in https://github.com/JacquesCarette/Drasil/commit/2510bea9cc9a96ae1ccdbb88adc8b3f58f3733e4#commitcomment-29874750, the `Referable` class should be nested under the `HasLabel` superclass:
[code]
. Same thing needs to be done for the `HasShortName` class.

[2018-08-08 20:12] niazim3 opened #982 "Remove use of `midRef`"
(Moved from #963)

`midRef` was implemented and used in the addLabels branch for a reason that is now obsolete, but has been merged into master. Since it's essentially using `customRef` and `Label`s are now instances of `Referable` and `HasShortName`, `midRef` doesn't have any special purpose.

Therefore, `midRef` should be replaced with `makeRef` everywhere it's used.

[2018-08-08 21:15] JacquesCarette commented on #963
Just so that things look cleaner in issues that reference this, I have marked all tasks in this issue 'done', as we can consider the creation of further issues as closing the part in *this* issue.

[2018-08-08 21:17] JacquesCarette commented on #35
I think the use of camelCase in orthogonal to this issue.  At least, I don't quite get how `repUnd` is related, especially as it seems that `Data` and `Theory` are gone. Is `getDefName` gone yet?

[2018-08-08 21:26] JacquesCarette commented on #235
Correct. I think it would make sense for @szymczdm to give it a whirl, as a test of the new infrastructure.

[2018-08-08 21:28] JacquesCarette commented on #276
I think all the `acro` calls are now actually gone. If that is the case, I think this particular issue can be closed.

[2018-08-08 21:30] JacquesCarette commented on #562
This issue is getting ridiculously long. [Though it has lots of good stuff in it!]  Maybe we should think of documenting the parts that still need to be done in new issues and close this one?  It feels like the bulk of the work, not just the design, has been done and merged in.

[2018-08-08 21:36] JacquesCarette commented on #360
Yes, please do. #312 is one part of a giant puzzle relying on referencing. Getting it closed will indeed lead to a number of other issues also being closed.

[2018-08-09 07:17] Mornix opened #984 "TeX Printer doesn't use ShortName"
Through working on supporting deferred chunk lookups for `ShortName` (#562), I found the TeX backend doesn't use `ShortName` when printing references.

Aside from not being consistent with the HTML, both in text (in certain situations) and for which part of the word/phrase is included in the link, this leads to two completely separate ways which names for references can be constructed. I know TeX

[2018-08-09 07:27] Mornix opened #985 "ConceptInstance Tracking Issue"
This issue is the successor to #562.
This issue aims to track all that is remaining to do from the design(s) outlined in #562 before it is complete. The list of items is general and may be split in to smaller subitems when I start working on them.

- [x] Deferred `ShortName`s
- [x] Add remaining SRS domains to docLang.
- [x] Propagate `ConceptInstance` through ALU (of `ALUR`) for NoPCM
- [x] Propa

[2018-08-09 07:28] Mornix commented on #562
Agreed. Tracking what's remaining in #985.

[2018-08-09 07:28] #562 closed

[2018-08-09 13:15] JacquesCarette commented on #984
Good catch. The TeX backed should be 'properly' fixed. It is Ok to do it incrementally (and easier too, so that each change in 'stable' is more easily traceable).

[2018-08-09 14:45] #941 closed

[2018-08-09 14:48] samm82 commented on #276
Not yet - working on this now

[2018-08-09 16:15] samm82 opened #988 "Missing (?) GD12 in SSP"
The Data Definitions of SSP (shown) references GD12, but there are only 10 General Definitions in this example. Is this a mistake, or will there be more General Definitions added in the future?

![gd12](https://user-images.githubusercontent.com/35857611/43911306-2f6e5992-9bcd-11e8-9e32-cb781b9cf74e.png)

K<sub>bt</sub> is defined here, but not as a matrix in DD18.

![image](https://user-images.git

[2018-08-09 16:20] smiths commented on #988
There are no plans to add more GDs to this document.  In fact, some of the material is more likely to be removed.  The rigid finite element sections should really be either removed, or fixed.  The theory is not currently documented correctly.

As far as the numbering goes, if they are generated automatically, then I would think re-running the generator would help.  If they are hard-coded in, we sh

[2018-08-09 16:40] samm82 commented on #988
So should I just remove the sentence with GD12?

[2018-08-09 16:41] smiths commented on #988
Yes.

[2018-08-09 20:37] samm82 commented on #312
#987 removes all of these `acro-` functions - is this issue closed then? @JacquesCarette

[2018-08-09 20:46] samm82 commented on #35
@szymczdm Unless you have your heart set on working on this, I'm going to re-assign this issue to myself. I noticed that `makeRef` can replace a lot of functions in the RefHelpers file.

[2018-08-09 20:48] szymczdm commented on #35
@samm82 by all means go for it.

[2018-08-09 20:49] samm82 commented on #35
@JacquesCarette `getDefName` is still used, but the lines with the old `Data` and `Theory` types are gone.

[2018-08-09 20:57] szymczdm commented on #984
I believe this stems from the original Referencing implementation, where HTML was trying to mimic TeX. It should definitely be incrementally fixed

[2018-08-09 21:20] niazim3 opened #990 "`Verbatim` constructors need to be removed"
Remaining `Verbatim` sections that need to be removed include:
- [x] `Verbatim` in `DocSection` (#1462)
   - [x] GamePhysics
   - [x] NoPCM
   - [x] SSP
   - [x] SWHS
- [x] `SSDSubVerb` (#1590)
   - [x] GamePhysics
   - [x] NoPCM
   - [x] SSP
   - [x] SWHS
- [x] `ExistSolnVerb`
   - [x] GamePhysics (#1449)

Please also remove the fixme comment related to this issue once it is ready to be closed ht

[2018-08-09 22:30] JacquesCarette commented on #312
It will be as soon as #987 is actually merged in. You should look at #360 and #742 as well once you're done this, as I think they are both 'affected'.

[2018-08-10 01:15] JacquesCarette commented on #72
Although it is entirely true that we cannot do this right now, there also doesn't seem to be any pressing issue to do so. I'm not sure it is useful to have such a long-standing "feature request" open as an issue.

[2018-08-10 01:15] #72 closed

[2018-08-10 01:39] JacquesCarette commented on #214
What is left to do for this issue?  Looks like quite a lot of it is, in fact, done.

[2018-08-10 01:41] JacquesCarette commented on #222
I think we're now fully ready to tackle this -- @halonazhao ?

[2018-08-10 01:43] halonazhao commented on #222
Yes, I'll get started on this.

[2018-08-10 01:48] halonazhao commented on #485
Yes, I think so. ShortNames make this issue meanless. I'll close this issue for now. If someone thinks this issue is still worthy keeping open, please reopen it.

[2018-08-10 01:48] #485 closed

[2018-08-10 01:48] JacquesCarette commented on #298
@smiths could you review this? When something is a really long-term feature request, I've been closing the issue but putting a link to it on the wiki.

[2018-08-10 01:51] halonazhao commented on #435
@samm82 Thanks!

[2018-08-10 01:52] JacquesCarette commented on #312
Actually, now that I reread the whole thing carefully, I am not 100% sure that it is all done. This seems to be about NoPCM content that might not be present, even though it is there in SWHS.

[2018-08-10 02:06] JacquesCarette commented on #222
Thanks. But when you do, please first create a new issue with a design proposal.

[2018-08-10 02:09] smiths commented on #298
Good idea to close this issue for now.  I've added a link in the wiki (https://github.com/JacquesCarette/Drasil/wiki), as you suggested.

[2018-08-10 02:09] #298 closed

[2018-08-10 03:05] JacquesCarette commented on #325
@halonazhao I think your recent fixes have fixed this!  Can you double-check (and then probably can close this).

[2018-08-10 03:10] JacquesCarette commented on #327
All of the non-trivial pieces of this are all done. Only the 'future' feature is left. Put a link on the wiki so that this issue can be closed.

[2018-08-10 03:10] #327 closed

[2018-08-10 15:28] samm82 commented on #276
Can be closed with #987

[2018-08-10 15:28] niazim3 commented on #507
Since #727 is closed, can this issue be closed @halonazhao?

[2018-08-10 16:24] niazim3 opened #991 "Automating the "Exported Types" Subsection"
In fa27f9b, `MISExportedTyps` was automated to be generated whenever an MIS was for an ADT. As mentioned in the comments of that commit, this may/may not be a good step forward, since some hardcoding is involved. The work in that commit needs to be reviewed for design.

Also, since the that commit caused "Exported Types" to be on the same level as "Template Module",
![image](https://user-images.gi

[2018-08-10 17:51] halonazhao commented on #507
Yes. @niazim3 Thanks.

[2018-08-10 17:51] #507 closed

[2018-08-10 18:03] samm82 commented on #35
Just an update. At this point, it looks like the entire RefHelpers file can be deleted; I'm just removing functions one-by-one right now.

[2018-08-10 18:45] samm82 commented on #35
None of this code is used - can it safely be removed? Other than this, I think I removed all the unnecessary functions from RefHelpers, but feel free to double check @szymczdm @JacquesCarette

https://github.com/JacquesCarette/Drasil/blob/70fddc872cd6e7b05db46d21a03d853b388532db/code/drasil-docLang/Drasil/DocumentLanguage/RefHelpers.hs#L32-L55

[2018-08-11 12:02] JacquesCarette commented on #35
Yes, if it isn't used, delete it.

[2018-08-11 12:33] JacquesCarette commented on #372
I am going to go ahead and close this issue. Not because it is all implemented, but because we'll naturally get back here once we dive into code generation again. [on wiki]

[2018-08-11 12:33] #372 closed

[2018-08-11 12:46] #276 closed

[2018-08-11 12:46] #360 closed

[2018-08-11 12:46] #988 closed

[2018-08-11 14:25] JacquesCarette commented on #990
Comments on the 'status' of these:
- `Verbatim` in `DocSection`: currently still used in GamePhysics, NoPCM, SWHS and SSP.
- `SSDSubVerb` used in GamePhysics, NoPCM, SSP and SWHS
- `ExistSolnVerb` used in GamePhysics

None of the other 'Verb' seem to be used, so can be removed now.

[2018-08-12 19:47] JacquesCarette commented on #990
Most of the other 'Verb' are now gone.

[2018-08-12 19:52] szymczdm commented on #214
So as far as I can tell, getting images to render in our generated content (provided we have a file path to the image files themselves) is done.

What is left to do is:
 - Find the image files and automatically copy them to the appropriate (generated output) directory; error out if not found?
 - Automatically convert pdf image files to a raster format for HTML; format TBD by user?

[2018-08-12 19:54] szymczdm commented on #424
Source and RefBy fields are indeed added, however, I don't believe they have been properly populated. The RefBy fields will likely need to wait on traceability. However, I think that can be a separate issue and this can be closed.

Does that sound reasonable @JacquesCarette ?

[2018-08-12 20:07] JacquesCarette commented on #982
closed with aabe5e5dc.

[2018-08-12 20:08] #982 closed

[2018-08-12 20:12] JacquesCarette commented on #424
Yes, quite reasonable. Maybe @samm82 can figure out from the manual version what Source information needs to be added (and create an issue for it), and @halonazhao can create an issue for automatically populating the RefBy fields. Once that's done, this issue can be closed.

[2018-08-12 20:18] szymczdm commented on #235
Just went to test this out and it looks like @niazim3 beat me to the punch (it's tested and working on NoPCM). I believe now it's just a case of updating the rest of the examples where necessary. For example, GlassBR apparently does not require a reference to the instance models section, though I believe that may be an oversight as we've updated the manual versions to include at least one instance

[2018-08-12 21:07] JacquesCarette commented on #235
Not quite. I was looking at issue #981 and it is 'stuck' on referencing the instance models section -- which is currently done as a hack. It relies on a `Label` having a `Referable` and a `HasLabel` instance, which is just plain wrong [and the code correctly says so].

So I would not consider this 'done' at all.

[2018-08-12 21:07] JacquesCarette commented on #981
Depends on #971 and also on Sections having labels.  See also #235.

[2018-08-12 21:37] JacquesCarette commented on #973
`_deri` was removed in 2ecc341f2.

[2018-08-12 21:49] JacquesCarette commented on #973
_notes removed in 6f3688f3e.   Looks like `makeQField` in DocumentLanguage.Definitions might be obsolete.

[2018-08-12 21:57] JacquesCarette commented on #973
_ref removed in 3323e69e6.

[2018-08-12 22:00] szymczdm commented on #235
Okay, I'm a bit lost. #971 requires a bit of design to fix label-creation and referencing, and #981 depends on that, but at this point in time, this specific issue (creating a reference to the instance models section) is working through the use of our labels.

Are you saying `Label` should not be an instance of `HasLabel`, or `Label` should not be an instance of `Referable`, or that we need to wai

[2018-08-13 14:25] JacquesCarette commented on #235
I am definitely saying that `Label` should not be an instance of `HasLabel`. It is also weird to make `Label` an instance of `Referable`: a `Label` is a mechanism by which you refer to something (like an equation, a section, etc). You could actually refer to a label (via another label!), but that is not likely to be a very useful feature.

So I am saying that the current issue is not fixed at all,

[2018-08-13 16:32] samm82 commented on #312
@JacquesCarette Is this an OK implementation? I have it now that NoPCM uses `acronyms` and SWHS uses `acronymsFull`

https://github.com/JacquesCarette/Drasil/blob/2b26c28212acfd861eace23938cbd7966a0cf8e8/code/drasil-example/Drasil/SWHS/Concepts.hs#L12-L18

Other that this, I think NoPCM already takes what it needs from SWHS

[2018-08-13 16:39] samm82 opened #997 "Populate Source Fields"
As mentioned in #424, the Source fields need to be populated with citations in the examples.

## TODO
- [x] HGHC (Probably doesn't need them, but I'll double check)
- [x] GlassBR
- [x] NoPCM
  - [x] TMs
  - [x] GDs
- [x] SWHS
  - [x] TMS
  - [x] GDs
- [x] SSP
  - [x] GD7
- [x] GamePhysics

[2018-08-13 16:39] samm82 commented on #424
I created the issue (#997), so this issue can be closed with @halonazhao's issue. @JacquesCarette since this is an easy fix, I just assigned myself and will make the change in all the examples.

[2018-08-13 19:48] samm82 commented on #997
Also, the Source, Description and Ref. By fields are missing in GD7 of SSP - should I assume that the Source is the same as GD8, and what should be done about the other two fields? A new issue?

![image](https://user-images.githubusercontent.com/35857611/44054283-2ec7c21c-9f10-11e8-8415-15488d235bbf.png)

[2018-08-13 20:09] samm82 commented on #997
Also @smiths, in caseStudies, the Source fields for GamePhysics are completely empty. Should this be a separate issue as well?

[2018-08-14 14:19] halonazhao commented on #981
Just make sure this is the right place for me to pick up? I looked through the issues related to 'labels' and 'make references', since I think making references using labels to avoid cyclic importing is currently not working, this seems to be a good starting point.

[2018-08-14 15:10] JacquesCarette commented on #973
_lb removed in e4e7d120b. This doesn't quite remove all of the duplicate functions, so will not close until that is also done.

[2018-08-14 15:16] #35 closed

[2018-08-14 15:27] JacquesCarette commented on #312
Yes.  And good!

[2018-08-14 15:32] JacquesCarette commented on #997
I think it is safe to assume the Source and Ref. By for GD7 are the same as for GD8.

[2018-08-14 15:34] samm82 commented on #997
Then should I reference GD7 in the description of GD8, and add a description ("See GD8") to GD7?

[2018-08-14 15:34] JacquesCarette commented on #997
We do allow labels to be URLs. I don't quite remember the details of how to do that -- you might need to read the Haskell source. It should at least be possible to create it. Then try `makeRef` and see what happens.

[2018-08-14 15:41] JacquesCarette commented on #981
Starting with this particular issue is not best, as it will be (currently) very difficult.

Figuring out how to add labels to sections is probably the first step. And this might 'just' mean making sure that sections can be `LabelledContent`, and that these are accepted in the 'right' places. Even that might be tricky.

The easiest way to figure out what needs fixing is to remove the `HasLabel` (an

[2018-08-14 15:41] JacquesCarette commented on #997
No, because GD7 doesn't depend on GD8. You should 'reference' the same Source.  And does DD17 and IM4 reference GD7?

It is weird that GD7 have no description.

[2018-08-14 15:54] samm82 commented on #997
DD17 doesn't reference either of them:
![dd17](https://user-images.githubusercontent.com/35857611/44102541-f182df10-9fb7-11e8-9b75-e125c44b33b8.png)

And IM4 doesn't explicitly reference either of them, but it uses both of their equations:

![im4](https://user-images.githubusercontent.com/35857611/44102621-27b43f66-9fb8-11e8-9828-4d8456ca5d16.png)

---

And what I meant about referencing GD7 - the

[2018-08-14 16:11] JacquesCarette commented on #997
I probably have things backwards as far as referencing.

Also, I get this feeling that GD7 and GD8 should be a single definition, not two. [This may not currently be possible.]

[2018-08-14 16:14] JacquesCarette commented on #977
Actually, as far as 'next' tasks go, I think this one is more important.

[2018-08-14 18:26] samm82 commented on #997
It currently isn't possible to have two equations defined in a DD - what should the fix be for now?

[2018-08-14 19:38] samm82 commented on #833
The correct table number is shown when the Table of Symbols (the only `longtabu` before the Product Use Table; the Tables of Units and Abbreviations/Acronyms use `longtable*`) is removed. I think this is because there isn't a caption specified for the Table of Symbols, but the figure number is still "1", so the next `longtabu` (the Product Use Table) gets incremented to "2".

[2018-08-14 21:31] halonazhao opened #1000 "Label Referencing Problem"
After reading some code, I have some questions being listed below:

1. `Label` should not be directly used to make references, so we don't want Label to be the instance of `HasLabel` and `Referable`? But now the `label` of `GenDef` is used to make references in SSP case. Like https://github.com/JacquesCarette/Drasil/blob/3d5c8e5fe924ddc0010d51347abcc50526431e5d/code/drasil-example/Drasil/SSP/DataD

[2018-08-14 21:35] JacquesCarette commented on #997
Try to make both be as similar as possible.

[2018-08-14 21:39] halonazhao commented on #1000
Didn't realize this is the No.1000 issue. Should have left this spot for you @JacquesCarette.

[2018-08-14 21:40] #312 closed

[2018-08-14 21:41] JacquesCarette commented on #833
Any recommendation on how to fix this?

[2018-08-14 21:47] JacquesCarette commented on #1000
For a true geek, the next nice round number is 1024... 😈

1. Correct. We need to use the 'object' itself (and a label) to make a reference. We might need more than just `makeRef` for this purpose.  We need to find and fix all the places where we make references directly from labels.
2. There is no explicit question here...  Yes, many Chunks should be `Referable` and also `HasLabel`. Which means th

[2018-08-14 21:55] JacquesCarette commented on #973
closed by dd4f5ad5a.

[2018-08-14 21:55] #973 closed

[2018-08-14 21:58] JacquesCarette commented on #905
I've removed that `--force-dirty`. Bumping the version number is usually the correct solution, not a workaround.

[2018-08-14 21:58] #905 closed

[2018-08-14 22:30] #929 closed

[2018-08-14 22:52] JacquesCarette commented on #397
I've looked some more into this. Continues to be tricky. I'm going to have to sit down with @smiths and look at what is really being said here. We need to make sure we pull apart the display issues from the knowledge capture issues. I think we captured things naively (i.e. as they're normally displayed), and that has contributed to this problem.  In other words, we don't really know how to capture

[2018-08-15 14:14] samm82 commented on #1000
When I switched over to using Labels instead of hardcoding in the examples, sometimes import cycles arose (ie. an assumption references a gen def and vice versa), so I made a label in a Labels.hs file and had assumptions and gen defs both import it: assumptions could then reference the gen def by importing Labels, and gen defs would import Labels and Assumptions to use the label and reference the

[2018-08-15 17:07] samm82 commented on #997
@JacquesCarette What should the shortname be for a URI link? Should it be the full web address or should it be abbreviated (ie. "http://www.efunda.com/formulae/heat_transfer/conduction/overview_cond.cfm" vs. "efunda.com")

[2018-08-15 18:01] samm82 commented on #997
@JacquesCarette And an update - Clicking on one of these links created with `makeRef` just appends the URI to the end of the current file path (eg. pathToSRS.html#www.full.com/web/address)

[2018-08-15 20:00] halonazhao commented on #1000
Wait. Which part is the 'desired' design? I understand that labels should be created first and plug them into each chunk. But the thing is that we don't use label directly making references. I just change all the references using labels back to hard-coded version, and the class `Referable` can be removed now. I am not sure whether we want to rework here. 38f70ef656a86fae3fbbe224118930b9798324f7 th

[2018-08-15 20:25] samm82 commented on #833
We could make every table referable (ie. give them captions with their numbers), although this could have formatting issues for the LaTeX. This would also allow us to reference these tables directly in the future.

[2018-08-16 19:27] samm82 commented on #878
Should R2 be sorted by symbol, or is the current order fine? @smiths

[2018-08-16 21:34] samm82 commented on #902
In 85b7e76b8, I started switching `ReqChunk` to take an `ItemType` instead of a `Sentence`, as we have both sentences and lists functioning as requirements in GlassBR. I had to make a new separate file for ItemType to prevent import cycles, and this change is having massive ripple effects - is this a good change to be pursuing or not yet? If not, I think I've done as much on this issue as I can. @

[2018-08-17 02:36] JacquesCarette commented on #1000
The desired design is to first create labels "standalone", in a Labels.hs file (to avoid cycles), and then attach those labels to the correct object. As you said.

The problem is that we shouldn't call `makeRef` on a label. `makeRef` is built to grab the label from an object that contains one.  We should create a `makeRefFromLabel` which takes a `Label` as input, and makes a reference from that.

[2018-08-17 02:39] JacquesCarette commented on #878
I'm not @smiths , but I think that using the order that was given in the input is good here. This isn't a generated list, so it shouldn't be sorted.

[2018-08-17 02:46] JacquesCarette commented on #902
If IMs and DDs are in a single section, then the whole section should be sorted as one. If they are in different sections, each sorted on their own.

I think that having `ReqChunk` take an `ItemType` instead of a `Sentence` is premature. I think that @Mornix 's work will affect this anyways, so we may as well wait.

[2018-08-17 02:49] JacquesCarette commented on #997
If at all possible, the shortname for a URI link should be 'meaningful' (because it is supposed to be seen by humans) rather than URL-like.  Something closer to the title of the page being linked to, rather than something like the URL.

[2018-08-17 03:27] samm82 commented on #902
I'll update stable then (so `make` runs clean), then make a new issue and assign @Mornix.

[2018-08-17 14:50] samm82 opened #1001 "Requirements Should Capture Lists Better"
(Springing from #902) `ReqChunk`s take a `Sentence`, which means that requirements that take a list (the second and sixth ones in GlassBR) aren't actually `ReqChunk`s and are rendered differently (mainly the indentation).

![frs](https://user-images.githubusercontent.com/35857611/44272095-e4184000-a209-11e8-87df-5fd9ffa8c8e9.png)

@JacquesCarette mentioned that your work will affect this, so I jus

[2018-08-17 18:38] #516 closed

[2018-08-17 18:39] #878 closed

[2018-08-17 18:39] #902 closed

[2018-08-17 19:15] samm82 commented on #997
I'm going to create a separate issue for GamePhysics, and then this issue can be closed. Who should I assign the issue to? @JacquesCarette

[2018-08-17 19:44] elwazana commented on #764
@JacquesCarette Hello Dr. Carette, I've fixed the arrow issue you mentioned above:
[DataDiagram.pdf](https://github.com/JacquesCarette/Drasil/files/2298488/DataDiagram.pdf)

There are still Data Types to add so I'll continue to do so, however, I going to commit this one just to have the updated diagram on Drasil.

[2018-08-17 19:50] JacquesCarette commented on #997
Right now, no one. @smiths and I will need to review all of those in early September and figure out what to do with them.

[2018-08-17 19:53] JacquesCarette commented on #764
Nice.  Adding all of the 'has a' links would be good - and what will require some types (such as `RelationConcept`) to be included. That will definitely give a good global picture of what's going on.

[2018-08-17 19:57] samm82 opened #1005 "Populate GamePhysics Source Fields"
As in #997, the Source fields of GamePhysics need to be populated with citations in the examples, but first, they need to be populated in caseStudies, as they are missing there.

[2018-08-17 19:57] samm82 commented on #997
#1005

[2018-08-18 02:47] #997 closed

[2018-08-22 20:15] JacquesCarette opened #1009 "Look at failure due to maxOrder"
See details in check-in 80cfb788f7.

[2018-08-29 14:06] smiths opened #1010 "Update GlassBR to include Jmin and Jmax from manual version"
GlassBR was modified in the manual version to include Jmin and Jmax symbolic constants.

https://github.com/smiths/caseStudies/commit/a53b1be89fc33aff2e3faaaa133583c3d7c3e7cc

The same changes should be made to the Drasil version.

[2018-08-29 18:17] elwazana opened #1011 "secBuildMISGen (MIS generation) Workflow"
- [x] Introduction

- [ ] Notation
    - [ ] Data Type Table
        From Case Studies:
![image](https://user-images.githubusercontent.com/35268928/44805339-ebd4ce80-ab91-11e8-99dc-89b74d0d058b.png)

- [x] Module Hierarchy

- [x] References

**Modules**
- [ ] Control
    - [x] Uses
    - [ ] Syntax
        - [ ] Exported Constants
        - [ ] Exported Access Programs
    - [ ] Semantics

[2018-08-29 18:33] smiths commented on #1011
Thank you @elwazana.  This information is very helpful.

[2018-09-05 21:59] bmaclach commented on #659
I had this same issue running `make` in Git Bash and was able to fix it by running `chcp.com 65001` before running `make`, all in Git Bash. This is slightly different than the fix outlined in #482 so I am documenting it here in case anyone else runs into this issue.

[2018-09-05 22:43] smiths commented on #659
Welcome back @bmaclach.  😄   Thank you for making a record of your fix.

[2018-09-12 12:48] halonazhao commented on #1000
I noticed that the types for `LikelyChanges`, `UnLikelyChanges` and `requirements` were changed from `LabledContent` to `ConceptInstance`, which led `changes` and `requirements` to be un-referable and without labels. May this part need further design? @JacquesCarette

[2018-09-12 13:06] Mornix commented on #1000
`ConceptInstance` should be adopting `Label` very soon.

[2018-09-12 15:20] halonazhao commented on #977
After thinking about this method, I think it's hard to avoid converting `DocDesc = [DocSection]` to `Document` more than once.

Filtering out some sections at `DocDesc` level is easy, but our output document should have all the sections, which means there is no sections should be filtered out when we generate our document.

But to get symbols from `sentences` or `expr` needs us to filter out some

[2018-09-12 18:04] halonazhao commented on #1000
Thanks!

[2018-09-13 22:31] JacquesCarette commented on #977
What I think we meant is that you never call `mkDoc` or `mkSec` while finding symbols. You should not need to.  Yes, symbol-finding and rendering the document will each do a full pass on the `DocDesc`, that's fine.

What I want to know is, why would we need to 'make' the `Document` (or `Section` or ...) to extract the symbols? I do not think it is necessary -- but I am not certain!

[2018-09-15 14:45] JacquesCarette commented on #977
Very good summary.

I am not sure about the re-usability of the code wrt extracting from `Document`. I don't know how much analysis we want to do on the "expanded document" (aka `Document`) versus the "document generator" (aka `DocSec`).

If we want to be paranoid (which is not a bad thing in our context), we would want to check consistency between them.

Which brings us to the task at hand: we wa

[2018-09-16 21:32] halonazhao opened #1016 "Filling in reference fields"
To fill the reference field for  TM, DD, GD, IM, my thought of the working flow is basically like below:

1. To build a `LabelMap = Map.Map UID Lable` like `SymbMap`, `UnitMap` in `ChunkDB`. This label map should be manually generated when we created all the labels.

2. Since the reference relations should be collected only from `Sentence` and the references in `Sentence` are made by using `makeRe

[2018-09-18 01:38] JacquesCarette commented on #977
Yes, I agree that you have to filter out some sections even here - but that makes sense.  Plus, in and of its own, `RefSec` doesn't have many symbols... `TUnits` and`TAandA` are representations of things that will involve lots of symbols, but in their raw form, have none.

For mass_min and mass_max, we need a better story for why they should not appear in the table. Maybe they should be. If you fe

[2018-09-18 01:47] JacquesCarette commented on #1016
You are correct that `Ref` should contain the `UID`, at least if things stay as is.

However, your second suggestion (filling in the reference field while converting `DocSec` to `Document`) is probably the even better 'solution'. Though `Ref` might still need that change.

Overall, we should think that:
1. `DocLang` is really the document-author level language that should be used as much as possib

[2018-09-22 16:01] halonazhao commented on #1016
When I was working with TM, I feel there is one thing odd which is where the UID of the TM comes from.
https://github.com/JacquesCarette/Drasil/blob/350662104824b07b3b2d93a45d8fbd448be837ba/code/drasil-lang/Language/Drasil/Chunk/Theory.hs#L33-L43
https://github.com/JacquesCarette/Drasil/blob/350662104824b07b3b2d93a45d8fbd448be837ba/code/drasil-lang/Language/Drasil/Chunk/Theory.hs#L58-L65
Currently

[2018-09-25 20:29] szymczdm opened #1018 "HTML Table of Contents"
I noticed that the HTML versions of the SRS don't include a table of contents. It'd probably be a useful feature for anyone that wants to review the documents.

I don't think it would be a very difficult feature to add, particularly since we can traverse the DocDesc and know exactly which sections are included.

[2018-09-26 17:06] JacquesCarette commented on #1016
You're right, this is a bit weird. I am not even sure why `TheoryChunk` and `TheoryModel` are separate.
It feels to me like `TheoryChunk` should not have a `UID` at all, and so not exist in the system 'raw', but always inside a `TheoryModel`.  @szymczdm ?

[2018-09-27 01:06] szymczdm commented on #1016
I believe `TheoryChunk` was originally intended as an encoding for any kind of abstract theories. It definitely feels like somewhere along the way it was updated to include some referencing information that, without taking a deeper look seems out of place, and `TheoryModel` was meant to take a `TheoryChunk` and make it more concrete by giving it a label, definition, etc.

[2018-09-27 20:06] JacquesCarette commented on #1016
Right. So it seems to be that we should remove `UID` from `TheoryChunk` and in fact not let `TheoryChunk` really exist outside of `TheoryModel`.

[2018-10-04 03:51] szymczdm opened #1019 "Enhance Document to include Chapters, Parts, etc."
Currently our documents only support sections and subsections, but there are a few other partitioning schemes that we should also include (ex. Chapters, Parts). I think this would be a good addition when we get to larger recipes.

I've made some notes in the Document.hs file as of commit 47bd13d1eb7a938a59eb9fc174d57de3d833c4f7.

[2018-10-10 00:55] halonazhao opened #1020 "Traceability Matrix Design"
I have posted a version of generating the matrix 452c165b8adf7a7ff32e39f5503fd2dd4d69b37c. But it basically follows the old way of making the matrix. I still need a manual way to combine a ref title with a string name like `DD1` and etc. And the core algorithm to mark `X` where there exists a referencing relation is by giving the `String` and match this `String` with title's string and decide whet

[2018-10-10 15:19] JacquesCarette commented on #1020
See my comments in that check-in.

We should not be comparing Strings at all for this. It should all be based on `UID`s for the comparisons and linking, and on `Label` (especially `shortname` and the like) for making up what gets printed.

[2018-10-11 18:11] halonazhao commented on #1020
Ok. Can you take a look at the new check-ins on `TraceTable` branch? I changed to use labels and the `RefbyMap` directly. The downside is that if directly do this from `RefbyMap`, the matrix will only show that the chunks which have referencing relations.

[2018-10-11 20:37] Mornix opened #1022 "[Design] Adding Consistency to Labels"
Background
=========
`Label`s were recently added (Summer 2018) to alleviate issues with circular references. While the current implementation achieves the original goal, they introduce one sticking point (at least for me). Currently `Label`s eagerly specify their `RefType` which is used to prepend a “grouping” to the `ShortName` when referenced.

Problem
======
The current implementation introduc

[2018-10-12 20:00] JacquesCarette commented on #1020
I looked at the code, but I didn't see that higher-level downside. Can you point me to something specific?

[2018-10-14 20:07] halonazhao commented on #1020
Say if DD1 has neither been referenced or referencing others, DD1 will not be showing in the matrix.

[2018-10-16 16:25] Mornix opened #1023 "[Design] DocLang Construction Consistency"
Background
==========
As it exists currently, drasil-docLang implements "lists of chunks" in several different ways.

The three ways in which chunks are "added" to the docLang are as follows:
1. Implicitly
	This is used to describe assumptions in the docLang. Take its encoding in GlassBR:
[code]
2. (For Tables, Configurable) List of Chunks
	This is used for most subsections of `SCSProg`:  `TMs`, `

[2018-10-16 19:10] halonazhao commented on #1020
Does the `it is used` mean that DD1 exists in the document but not considering referenced or referencing? If that is the case, I didn't do anything to check whether an instance of any chunk exists.
What I did for the traceability matrix is just fill the contents in `RefByTable` into the final traceability table. And the `RefByTable` is a map only recording the instances who are in a `RefBy`, no ma

[2018-10-16 19:21] smiths commented on #1020
There might be a subtle edge case I'm not thinking of, but my first thought is that if DD1 is not used, then there is a mistake in the documentation.  If it isn't used, then it shouldn't show up in the traceability matrix, but we should somehow be given a warning that it isn't used.  This would give the author a chance to improve their documentation.

This is one of the reasons why I am so excited

[2018-10-16 19:23] halonazhao commented on #1020
Just want to clarify another problem that keep all reference dependencies in one matrix is ok? Or like case study [SWHS case](https://github.com/smiths/swhs/blob/master/docs/SRS/PCM_SRS.pdf), there are three smaller tables indicating the problem. These are two choices and I think by determine label's type, different tables can be generated easily. But the problem is still that we may want to have

[2018-10-16 19:28] smiths commented on #1023
@Mornix, I'm not sure I understand your question:

"[T]here should be no case where a ConceptInstance of the requirements domain would need exist in a database and not be included in the requirements section? "

If I understand correctly, it seems to me there would be times when a ConceptInstance would exist, but not be included in the requirements section.  We are aiming for reuse, so ConceptInst

[2018-10-16 19:31] smiths commented on #1020
One big matrix is fine for now.  It will be difficult to practically display, but that is a problem we can deal with later.  Generating the complete view of the information is the first step.  Displaying that information so that it fits legibly on an 8.5 x 11 page is likely to remain outside of the scope of your project.

[2018-10-16 20:08] halonazhao commented on #1020
I guess the problem about determing whether a chunk like `DD1` being used or not is actually a problem not only related to the `TraceyMatrix`.

Since when it goes to collect the references, it actually went through the DDs, IMs and so on who for sure exist in the document. So the index of the `TraceMap :: uid [Label]` do not have to be queried whether it is not used.

But the problem might occure

[2018-10-16 20:29] smiths commented on #1020
@halonazhao, I'm not sure we are discussing the same thing.  What I am suggesting is that in a correct document, DD1 should be used by something, or DD1 shouldn't be in the document.  (I don't think that constraint is met by our current case studies.)  Every DD would have a label and there would be at least one occurrence of another chunk referencing this label.

I'm not sure how we have a situati

[2018-10-17 21:01] Mornix commented on #1023
My apologizes,

"Maybe it is the database part I'm missing. If each project has a separate database, then I could see your statement being true" is more what I was getting at.

In terms of the relation of NoPCM and SWHS, NoPCM uses `ConceptInstance`s such as those making up the likely and unlikely change from SWHS. Which is expected because as you said: reuse.

Each example currently has an indivi

[2018-10-18 00:52] smiths commented on #1023
@Mornix, what is in each examples ChunkDB and ReferenceDB?  My first thought is that everything is up for potential reuse.  Even if we aren't reusing things between our case studies, we could probably imagine reusing most things, especially when we think about each example as a family of related examples.

[2018-10-18 20:33] halonazhao commented on #1022
I agree that the design to improve `Label`'s consistency is needed.

But I have a problem where we may have different understanding. The first is that we may just want to keep making references from labels no matter whether the cyclic problem forces us or not. I had a discussion with @JacquesCarette about this at https://github.com/JacquesCarette/Drasil/commit/f1e82d0feaffbfdd14f1ee4d0027db5f3568b

[2018-10-18 20:34] JacquesCarette commented on #1020
I agree, I think we are not all discussing the same thing. Or at least, we are not quite understanding each other on all points. I am convinced that there is an issue here, but I am currently lost as to what it actually is!

[2018-10-18 20:52] halonazhao commented on #1020
Dr. @smiths
Can I give your question another try? Do you mean that my technique is designed to check whether the manual one is correct? But what I did is to automatically generate that matrix instead of checking a generated matrix. I think once `drasil` is run, if the technique to generate that matrix is correct, then the matrix must be right. We can not have two solid facts. We can do either go t

[2018-10-19 01:34] JacquesCarette opened #1024 "add back page numbers and the like to some reference"
Some references were 'hacked' to have additional information, because they were just `Sentence`s. Now that they are a proper data-structure, these hacks are gone. The information was not bad, and should be brought back, somehow.  In the examples, there are FIXMEs for this. More precisely, the diffs that come out are

SWHS
[code]
GlassBR
[code]
NoPCM
[code]

[2018-10-19 18:30] smiths opened #1025 "Explicitly create "index" information for symbols"
Drasil could be improved by having an "index" that shows where a symbol is used.  We can access a definition for any symbol that appears in the document by consulting the table of symbols, but we cannot go the other way (2 way referencing) for symbols that appear in the table of contents.  In some instances the reviewer will want to see where a given symbol appears in the document.

[2018-10-21 14:47] halonazhao commented on #1020
@JacquesCarette Can you confirm the design of making references? Since I changed the structure in my branch and you improved them in master, they made a big difference, now I feel it's too hard to merge master into. So can you confirm how exactly we should do about here? You merged `mkFrmLabel` and `makeRef` to `makeRefS` which may only make sense based on `master` version.
Since mine design exten

[2018-10-23 17:49] JacquesCarette commented on #1022
@Mornix could you try to adjust your proposal to reflect the meeting we had on Monday?  I think what you had was quite close.

I think what we need is that a Chunk be `Referable` when it provide a `RefAddr` and a `ShortName`. When making a **reference**, then we can decorate things (via the Chunk type). To really do this properly will likely require that we name certain things (like sections) be c

[2018-10-24 15:54] JacquesCarette opened #1026 "Deeply embedded knowledge of ALUR in TeX printer"
In package drasil-printers, we see the following lines
[code]
which are really very bad from a modularity point of view!

[2018-10-26 09:54] halonazhao opened #1029 "A Summary for References Who Cause Cyclic Importation Issues"
**The importing conflits are as below:**

Assumptions cannot import DataDefns;
Assumptions cannot import GenDefs;
Assumptions cannnot import IMods;
Assumptions cannnot import TMods;
DataDefns cannot import  GenDefs;
DataDefns cannot import IMods;
TMods cannot import DataDefns;
TMods cannot import GenDefns;
TMods cannot import IMods;

Since even some chunks in the code can be reached, those chunks

[2018-10-28 20:33] JacquesCarette opened #1030 "Theory.Drasil.InstanceModel issues"
(in drasil-theory package now)
- [x] Inputs and InputConstraints should not be separate, but zipped together
- [x] InputConstraints should be RealInterval, not Relation
- [x] Output and OutputConstraints should not be separate, but zipped together
- [x] OutputConstraints should be RealInterval, not Relation
- [x] im, im' and im'' should be deprecated in favour of constructors more like imQD (parti

[2018-10-29 15:45] smiths commented on #1029
Great summary @halonazhao.  I believe I have found a relationship between TM, GD, DD and IM that will remove these problems.  It will involve reclassifying some of the chunks we currently have in our case studies.  I believe there will be a significant benefit though - the distinction between the types of information will become much more clear.  I am going to run my idea by @JacquesCarette before

[2018-10-29 16:31] JacquesCarette commented on #1029
Sounds good.  Hopefully these thoughts are compatible with https://github.com/JacquesCarette/Drasil/wiki/General-Definitions which I wrote over the weekend. They are mainly about GD, but do also have some more general comments.

[2018-10-29 20:58] smiths commented on #1029
@JacquesCarette, I don't see any inconsistencies between your wiki post and my thinking about the relation between GD, TM etc.

@halonazhao, I propose that we impose the following relationship between our chunks:

[RelationsBetweenTM_GD_IM_DD_A.pdf](https://github.com/JacquesCarette/Drasil/files/2527038/RelationsBetweenTM_GD_IM_DD_A.pdf)

The theoretical models are refined to general definitions a

[2018-10-30 16:39] JacquesCarette commented on #1029
Yes, that is a good plan.

However, whenever you remove such references which are not obvious 'back references' (i.e. could be computed by an algorithm that fills in `RefBy` or some such), please open an issue and assign it to @smiths and I.  Roughly speaking, whenever there are references in the text body, we should look at it more deeply.  Hopefully there will be few of these.

Please work on th

[2018-10-30 16:57] JacquesCarette commented on #1020
I will comment on this, soon. Very useful summary.  Luckily you can proceed with your plan (as per other issue) without waiting for a full resolution on this.

[2018-10-30 17:54] halonazhao commented on #1029
Unfortunately, there is a problem here.
In GlassBR, standardValues is an assumption but it is not explictly referenced by any chunks showing here.

![screen shot 2018-10-30 at 13 31 23](https://user-images.githubusercontent.com/28347043/47737864-4351f200-dc48-11e8-94f3-3d21e4664693.png)

There should be many situations like this, so we may have lost the exactly right connections between `assumptio

[2018-10-30 18:36] smiths commented on #1029
Yes, this is exactly what you should see, and the fix is what you have suggested.  We have been lax in explicitly referencing assumptions from the chunks, but that is what we should have done.  In some cases this information was in the manual version, but not carried through to the Drasil version (for instance, https://github.com/smiths/swhs/issues/48).

The order that we are discussing now is the

[2018-10-31 19:55] halonazhao commented on #1029
I tried out `SWSH` and `NoPCM` cases this morning and I felt that if we didn't have some time to explore Drasil, it still might be taking some time to do. So I think that I am good with doing every case and I believe they won't take long. Welcome @vajihehm, @bmaclach, @oluowoj try them out, but no pressure and hope some changes I did will help you easier understand what's going on. Thank you for t

[2018-11-01 02:53] halonazhao commented on #698
Some Analysis here:
1. Now the `Acronym` is constructed at type `CI`.
`data CI = CI { _cid :: UID, _ni :: NP, _ab :: String}`
The abbreviation fills in `_ab :: String`.
2. Whether all `CommonIdea`s have abbreviations?
According the field called `_ab` from CI, it looks like the short of abbreviation. But according to manual version, not all the abbreviations should be put in to table. I found `Matl

[2018-11-01 14:11] smiths commented on #698
@halonazhao, I don't think that Matlab should appear in the table of abbreviations and acronyms.  With respect to PS, it does appear in the document under Physical System descriptions.  Each physical system has the prefix PS (PS1, PS2, etc.)

[2018-11-01 14:50] halonazhao commented on #698
Ok. Then I guess PS1 exists in other cases but not SSP, but that should be fine as long as it can be changed to use PS at type CI. I will fix this for SSP.

The problem here is that how do we decide which CI with Abbreviation should go into that table because obviously not all the CommonIdea with an abbreviation goes into that table.

If we know specifically where those abbreviations should be col

[2018-11-01 15:29] smiths commented on #698
@halonazhao, I inadvertently looked at SWHS, not SSP.  You are right that PS is not in SSP.  This is actually a problem with the case study.  SSP should mention the physical system being considered.  It isn't following the template by excluding this information.  @bmaclach and I are working on the SSP case study to fix it.  We'll be sure to add the PS information to it.  We should probably also ad

[2018-11-01 16:44] bmaclach commented on #698
@smiths I've already updated the manual case study with more information on the physical system (including an enumerated PS list) as part of my revision of SSP, just haven't made the corresponding update to Drasil yet.

Looks like @halonazhao has already made the change she needed to SSP to proceed with her work on the table of abbreviations, though it will probably get updated again when I get ar

[2018-11-01 17:11] smiths commented on #698
Great!  Thank you @bmaclach.  I forgot that you added the PS list.

Yes, you will likely update the Drasil version of SSP again when you proceed with your work.  @halonazhao is moving along quickly, so she will hopefully be done before you start.  That would mean that we wouldn't have to worry about conflicts between your work.

[2018-11-01 18:52] JacquesCarette commented on #698
I am going to comment on this whole thread, starting from @halonazhao 's Analysis.  I want to confirm that indeed `CommonIdea`s always have an abbreviation -- otherwise they are a `NamedIdea`. (An `Idea` *may* have an abbreviation).

The next point is that we really have all sorts of different kinds of abbreviations. Some are standard nomenclature (such as for Units), some are domain-specific (in

[2018-11-02 01:53] JacquesCarette commented on #325
This is still open, yet I am pretty sure that @halonazhao did fix all of this. Could you check please?

[2018-11-02 01:56] JacquesCarette commented on #345
Because the last piece of this is related to ALUR de-embedding and related changes, I am changing ownership of this to @Mornix .

[2018-11-02 01:59] JacquesCarette commented on #390
I'm doing another pass on this (and then I'll update the wiki too). But I think this can be closed.

[2018-11-02 01:59] #390 closed

[2018-11-02 02:02] JacquesCarette commented on #417
I have inserted this one on the wiki as something to get back to later (so it's not lost), but will close it for now. By the time we do get back to this, lots more will have changed.

[2018-11-02 02:02] #417 closed

[2018-11-02 02:05] JacquesCarette commented on #424
@halonazhao is there an issue for automatically populating the RefBy fields?

[2018-11-02 02:10] JacquesCarette commented on #430
And was with #417, closing and relegating to wiki.

[2018-11-02 02:10] #430 closed

[2018-11-02 02:13] JacquesCarette commented on #445
Unfortunately the issues on the case studies repo have multiplied, and it is no longer clear which of those issues need to be updated before this can be closed. So this issue is now a 'bad' issue. I will re-assign ownership accordingly.

[2018-11-02 02:16] JacquesCarette commented on #461
@szymczdm this is probably an issue that can be re-assigned. However, the description is not good enough to do so. "in a number of places" is too vague. If we knew exactly which ones were the problematic ones, someone else could investigate.

[2018-11-02 02:18] JacquesCarette commented on #462
Is this still a live issue @szymczdm ? #452 is still open (and I think for good reason), but since everything uses DocumentLanguage now, this one might be moot?

[2018-11-02 02:29] JacquesCarette commented on #522
@smiths it seems the information is no longer lost, but maybe we do indeed want a better way to deal with it.  Since all of this is being actively looked at, it would be a good idea to keep this in mind at the same time.

[2018-11-02 02:36] JacquesCarette commented on #541
This may not end up in scope for @Mornix to do, but I'll still re-assign. I think once ALUR is dealt with, the rest of `LayoutObj` and the rendering process can easily be modified as documented above.

[2018-11-02 02:44] JacquesCarette commented on #545
The instance for `GenDefn` has been fixed.  Only the instance for `ConceptInstance` still has traces of this hack (and it is not as bad). In fact, it seems like a hack that `ConceptInstance` is `Referable` as it has no `Label`.

[2018-11-02 02:47] JacquesCarette commented on #630
Have you done your homework @szymczdm ?

[2018-11-02 02:48] JacquesCarette commented on #705
I am not sure who is best to check on the state of this -- @smiths or @halonazhao ? Or whoever is working on the NoPCM case study?

[2018-11-02 02:52] JacquesCarette commented on #714
I am going to close this as I think this is obsolete. The addition of specific exports and imports to the vast majority of the files has allowed GHC to issue warnings on all unused code, and these have been fixed.

There may well be some unused functions still, which are exported by a package but never used, but that requires quite a different workflow than that outlined here.

[2018-11-02 02:52] #714 closed

[2018-11-02 03:01] #969 closed

[2018-11-02 12:52] JacquesCarette commented on #927
Clearing the assignees, as it seems unlikely that they are the ones who will be doing this in the short term. This still needs done though.

[2018-11-02 12:58] JacquesCarette commented on #977
Reviewing this, it definitely looks like @halonazhao has made a lot of progress on this. I don't think this is quite finished though? [I would like to be wrong here!]

[2018-11-02 13:02] JacquesCarette commented on #984
This is something that can, and should, be done incrementally.

[2018-11-02 13:03] JacquesCarette commented on #1018
@szymczdm you are right that this would be useful, but how likely is it that you'll implement it?

[2018-11-02 13:37] smiths commented on #705
@JacquesCarette, I think the import loop can be solved in the same way we are planning on solving it for the other import loops.  If we require that "likely changes" reference "assumptions" and then back calculate what references assumptions, we shouldn't have a loop.  The assumptions do not actually depend on likely changes, but the likely changes depend on assumptions.  I think once we get the b

[2018-11-02 13:45] smiths commented on #523
I think the key for this issue is to split it into separate issues.  There is too much going on here to keep track.  Unfortunately we cannot currently fix the Drasil version to match the manual version because of the referencing issues.  We need to sort out #1029 first.  In addition to the work that @halonazhao is doing, I will reclassify some of the TMs, DDs, etc.  (I'll create a separate issue f

[2018-11-02 13:47] JacquesCarette commented on #705
I agree - but that wasn't my point. We need someone to own to issue, who will check that it is done. Once we fix the label problem, this issue will not magically get fixed, a little bit of work will still need to be done. Who should that be?

[2018-11-02 13:49] smiths commented on #522
Agreed.  When reviewing issue #523, I will also have to check that manual and Drasil match for this previously missing information.

[2018-11-02 13:52] smiths commented on #705
I will take ownership of the issue of identifying the differences between Drasil and manual and divide this issue into sub-issues.  I will likely assign those issues to @halonazhao, or one of the other team  members, if @halonazhao is too busy.  Once the infrastructure is properly in place, and the inconsistency problems explicitly identified, I'm optimistic that the actual Drasil coding will be f

[2018-11-02 13:59] smiths commented on #523
I have gone through the SWHS example and identified GDs and DDs that should be reclassified.  I will create an issue for this, but there aren't actually any problems with the imports (based on #1029) that these changes will fix.  The changes will improve the conceptual integrity and consistency of the document, but they aren't necessary to proceed with this issue.  (I don't think.)

[2018-11-02 15:35] halonazhao commented on #489
Unfortunately, they are still there.
I figured the wrong tag `<em>` is because the html ran `alt` and special tag doesn' work in `Alt`.
![screen shot 2018-11-02 at 11 21 53](https://user-images.githubusercontent.com/28347043/47924866-2a894c80-de93-11e8-9d11-8c6c9bab22b5.png)

The overlapping I can look into to see whether it is easy fix.

[2018-11-02 15:41] Mornix commented on #984
#1026 is (partially) related.

[2018-11-02 17:55] smiths commented on #521
This issue is tied to #523.  When I go through the comparison of manual versus Drasil, I'll check this issue, along with the others.

[2018-11-03 00:30] halonazhao commented on #489
I figured that the caption of the figure in HTML was displayed as a paragraph in tag `<p>`.
But we can use `<figcaption>` tag directly so that the caption would change the line properly when scaling the window. I have fix that in 031a2061a13aa8b23189445c2c61737c66753f0c. If you agree with this change, I would change stable to match.

The difference would be the caption will be not bold anymore. An

[2018-11-03 19:51] halonazhao commented on #489
Sure. Just did in #1038.
And we do have `alt` text not obeying the rules and they are why the bugs occured.

My suggestion would be generating a text specifically for `alt` since now the text for `alt` is from caption. If there are symbols in the text, the tags would cause the error. And maybe manually avoid putting symbols into the text for `alt`, because even though `<em>` can be avoided. `<sub>

[2018-11-03 20:15] halonazhao commented on #977
I believe this hack has been removed since we migrated the extracting structure to `DocDesc` from `Document` and those sections do not have to be manually skipped.

But another problem is that is it necessary to keep the extracting structure for `Document`, that part of codes is not being used anymore. But in case, in future, somehow we may use them. I am not sure. @JacquesCarette

[2018-11-03 20:39] halonazhao commented on #424
The design for filling the `RefBy` is in place. But the problem is still that we need the design of the references to be complete. Currently, collecting all the references is blocking this process. @JacquesCarette

[2018-11-03 20:43] halonazhao commented on #325
Yes, this issue can be closed. The fixes were made in PR #974  and PR #983.

[2018-11-03 20:43] #325 closed

[2018-11-04 13:34] JacquesCarette commented on #489
I agree, we should be forced to generate text specifically for `alt`, and make sure that text obeys the rules. If we have such a check, then people will know what they need to fix.

[2018-11-04 13:41] JacquesCarette commented on #977
The code for extracting structure from `Document` is obsolete, please delete it. And any support function that was only created for that.  Thanks for checking though.

[2018-11-04 13:45] JacquesCarette commented on #424
I am thus going to close this issue. The `RefBy` field does exist in the right places, which is what this issue asks for. There are enough other issues about referencing, we're not going to forget to implement it!

[2018-11-04 13:45] #424 closed

[2018-11-04 14:12] JacquesCarette commented on #1020
[Not sure why they are not rendered either].  In any case, what we really want is to remove the *ref functions to no longer have those hard-coded letters. What to 'print' there should be obtained via some kind of program (embedded as a data-structure) that is interpreted at printing-time.  And the prefix letter (if that's the format we want) should be obtained from the 'concept domain' of the thin

[2018-11-07 03:13] halonazhao commented on #698
So far, I've done collecting the explict`CI`s. But it turned out there are many implicit `CI`s being buried in `Sentences` using the `Idea` class. But `CI` is the only exit for `Idea` class to directly get a String. It's just that the `CI` would lost track when make it into a `Sentence`.

So the whole track is as below:
https://github.com/JacquesCarette/Drasil/blob/541bfb80da69287710e3709680fa1a42

[2018-11-07 15:04] JacquesCarette commented on #698
There are multiple things going on here.

My first question is, why must the `CI` associated to `progName`, for the purposes of build a physical system description, be embedded in the `Sentence`? I guess this is part of trying to build the table of abbreviations automatically? I am going to guess that that is the case.

So I think the real problem is that `physSystDesc` takes a `Sentence` as its f

[2018-11-07 16:14] halonazhao commented on #977
This issue can be closed now. The final clean up has been made in #1041.

[2018-11-07 16:14] #977 closed

[2018-11-07 16:47] halonazhao commented on #698
Ok. So I think `physSystDescription` is not a good example here. This can be tackled as you said, taking the `Idea` directly.

I will give another example,
https://github.com/JacquesCarette/Drasil/blob/30d8b5e9bf14396c80eea9e99c8ae966b3ab6c75/code/drasil-example/Drasil/SWHS/Body.hs#L134-L137
https://github.com/JacquesCarette/Drasil/blob/30d8b5e9bf14396c80eea9e99c8ae966b3ab6c75/code/drasil-example/

[2018-11-07 17:40] halonazhao opened #1042 "Populate ConceptDomains to Chunks"
As many concepts need to be classified into different Concept Domains and we are at a stage where the domain information is needed, we should populate domains to proper chunks.
Should I start with the ideas from the comment from @JacquesCarette in #698?

[2018-11-07 17:44] halonazhao commented on #1020
Ok. Should the first thing be adding the ConceptDomains to those referable chunks, which indicates the `RefType`? Because currently, some referable chunks do not implement `concept domain` class yet, like DataDefinition and so on.
In term of this process, should we have more `common concepts` for these chunks? And this may need the support from #1042 too. @JacquesCarette

[2018-11-07 20:39] halonazhao commented on #1029
So far, the references in `assumptions` are moved to each chunk. And the DataDefinition references were added to other chunks. When I started doing the theory-model references, there are conflicts with data definition, which means there are `DataDefinitions` referencing the `Theoretical Model` and they should be addressed in the manual version first.

[2018-11-07 21:34] JacquesCarette commented on #698
This is a better examples - but the solution is, I think, the same.  The `IntroProg` is meant to build the introduction to the program. It should take, as one of its inputs, the chunk associated to the program (as a concept).  In other words, in this case, I believe that the `swhs_pcm` argument should also be stored directly in the `IntroProg` constructor.  That would encode (part of) the **meanin

[2018-11-07 21:35] smiths commented on #1029
@halonazhao, can you tell me which DDs are referencing TMs?  I am confident that they can be rewritten to remove this problem, but I would like to have a look at them.  Are the problems taken care of by issues:

https://github.com/smiths/caseStudies/issues/203

https://github.com/smiths/caseStudies/issues/202

These issues deal with Game Physics and GlassBR, respectively.  I looked at SWHS, but I

[2018-11-07 21:38] JacquesCarette commented on #1042
Yes please. But actually, just do the ones you need to deal with labeling/referencing.

In other words, when referencing a chunk (such as an assumption, requirement, etc), its concept domain should not be the empty list, because we will use the abbreviation of the CIs in the concept domain to generate the labels. @Mornix should be aware of this design as well.

[2018-11-07 21:40] JacquesCarette commented on #1020
First question: yes. (And we'll need to fix `DataDefinition` if that's the case)

Second question: I think so. But I think we need to decide this on a case-by-case basis. We should only add what we need.

[2018-11-07 22:06] halonazhao commented on #698
There are many `short` being used in each case and differently.
![screen shot 2018-11-07 at 17 00 15](https://user-images.githubusercontent.com/28347043/48163892-ef31b800-e2ae-11e8-8a84-d844e41a8fd5.png)

These are introductions from SWHS and SSP. They do have some similarities but mostly they are customized and using the abbreviations wherever they need. No rules for that. So it is unlikely to ha

[2018-11-07 22:11] halonazhao commented on #698
Unless `IntroProg` take [CI], but how to get a specific CI to use from the list would be the problem. Also, this way looks a little dumb.

[2018-11-07 22:17] JacquesCarette commented on #698
Actually, in the two examples you give, the `short` is used in the same way -- once for SRS (which is what the document is), and once for the program that is the topic of the particular document.  You have to look at the overall structure, not the details of the text. So the use of SRS is implicit because of the document itself. So that's why `IntroProg` only needs to have one additional field, th

[2018-11-08 00:04] halonazhao commented on #489
As PR #1038 merged in, this issue can be closed.

[2018-11-08 00:04] #489 closed

[2018-11-08 03:16] halonazhao commented on #698
I see. You mean there are only `srs` and `progName` in Intro sections. No more other abbreviations would be added in. Ok, I'll make the changes.

[2018-11-08 03:33] JacquesCarette commented on #698
I think so. We should document that!  It's a Drasil assumption. [We need Drasil-in-Drasil, so we could indeed document that...  but that is not going to happen soon]

[2018-11-08 03:59] halonazhao commented on #698
Aha, I just found one. `PCM` is another abbrev in IntroSection.  So the number of CI is different. But I can deal with others first. This is a complicated one.

[2018-11-08 12:35] JacquesCarette commented on #698
The `CI` printed using `plural` (only) should be fine, because maybe their abbreviation is never used!  Even something has an abbreviation but we don't use it, it should not be collected.

But I am starting to see some value in having a more complex form of `Ch` in `Sentence`: we could have a new qualifier (to be named) that could be set to `Symbol` or `Term` or `Short` or `PluralTerm` (say) that

[2018-11-09 12:53] smiths commented on #1029
@halonazhao, I am confused by where you see DD8 referencing T4.  In  your pdf at the beginning of this issue, you show DD8 referencing several GDs.  There is no mention of T4.  Are you using an updated version based on the changes from:

https://github.com/smiths/caseStudies/commit/7508a1555b3707046dd3a177e503d1f803907229

If that is the case, I thought all of the GDs were turned into DDs, which I

[2018-11-09 14:11] halonazhao commented on #698
I see what you are saying here. It is a smart design. Why are we holding on this? Which part should be given more considerations?

[2018-11-09 14:34] smiths commented on #1029
@halonazhao, I agree that DD can only reference themselves and assumptions.  Does it help that T4 (Chasles? theorem) should actually be a DD?  I wrote that comment in the pdf file that you linked.

[2018-11-09 14:56] halonazhao commented on #1029
Yes, that definitely helps. Sorry that I didn't see the comment of T4. But I don't know should I go ahead change them in Drasil or wait until case study is updated? I will check whether there are more conflicts. I think I can work out a list first to see whether that would help us get all modifications done faster.

[2018-11-09 15:01] smiths commented on #1029
The original plan was for Olu to update Drasil to make these changes.  This might not be able to happen quickly enough for your schedule.  We can discuss today.

[2018-11-09 15:06] JacquesCarette commented on #698
For such changes in design, I always want to think about it at least overnight, as that's when I tend to find holes in the ideas. Larger changes, or deeper changes to core infrastructure, I often want to think about it for a couple of days.  Let's discuss at the meeting today.

The good news is that I have not found any holes in this idea (yet).

[2018-11-09 16:09] halonazhao commented on #222
This issue is basically the same thing as #1020. We can concentrate on the new one and I will close this for now. If anyone thinks it is still worthy to be open, please reopen it.

[2018-11-09 16:09] #222 closed

[2018-11-09 18:49] smiths commented on #435
@halonazhao, @bmaclach is currently working through the SRS for SSP as part of his CAS 741 course.  The SSP example had some major flaws and we are taking this opportunity to fix it.  @bmaclach still needs to figure out how best to change SSP.  We aren't done yet.  For your purposes, we should just make those changes that break the cycles.  The other changes will have to follow later.

[2018-11-11 22:59] szymczdm commented on #1018
As of now, probably not very likely.

[2018-11-11 23:05] szymczdm commented on #630
Yup. I think these are worth keeping a reference to, so I've moved the links to the wiki and created a page for suggested reading. That way we can keep adding to it as we see fit (and maybe organize things into a number of sub-categories based on topic area)

[2018-11-11 23:05] #630 closed

[2018-11-11 23:19] szymczdm commented on #461
It seems to only be happening in the table of symbols at the moment, so there's something being done differently between the printing there vs. in the data defs /tms/gds/ims. Specific locations shown below.

![a1](https://user-images.githubusercontent.com/235140/48319654-58cb0280-e5de-11e8-91cc-8e6d4623d6e3.PNG)
![a2](https://user-images.githubusercontent.com/235140/48319655-58cb0280-e5de-11e8-992

[2018-11-13 14:53] halonazhao opened #1047 "Generate new NameChunk using `the`?"
There is an issue about generating new `NameChunk` which may be improper.
An example of using:
https://github.com/JacquesCarette/Drasil/blob/404219e0a2d24e7ce7dadce3b3106935fc1eb53f/code/drasil-docLang/Drasil/Sections/Stakeholders.hs#L23

Source code:
https://github.com/JacquesCarette/Drasil/blob/404219e0a2d24e7ce7dadce3b3106935fc1eb53f/code/drasil-data/Data/Drasil/Phrase.hs#L106-L112

[2018-11-13 15:08] JacquesCarette commented on #1047
Could you please add all uses, of both `the` and `theCustom` to this issue?

[2018-11-13 15:16] halonazhao commented on #1047
yes, but I may have to do it later because I am going to then class. I think I can finish before 2:00pm today.

[2018-11-13 18:05] halonazhao commented on #1047
https://github.com/JacquesCarette/Drasil/blob/404219e0a2d24e7ce7dadce3b3106935fc1eb53f/code/drasil-docLang/Drasil/Sections/Stakeholders.hs#L23
https://github.com/JacquesCarette/Drasil/blob/404219e0a2d24e7ce7dadce3b3106935fc1eb53f/code/drasil-docLang/Drasil/Sections/Stakeholders.hs#L29
https://github.com/JacquesCarette/Drasil/blob/404219e0a2d24e7ce7dadce3b3106935fc1eb53f/code/drasil-docLang/Drasil/

[2018-11-13 18:10] halonazhao commented on #1047
But maybe the problem is bigger than just `the` constructor.

There are others who auto generate new NamedChunk like:
https://github.com/JacquesCarette/Drasil/blob/404219e0a2d24e7ce7dadce3b3106935fc1eb53f/code/drasil-data/Data/Drasil/Phrase.hs#L106-L142

It is fine if we just use these constructor to have new NamedChunks with defining them first.
But if directly use them in the sentence to printou

[2018-11-13 19:04] JacquesCarette commented on #1047
I agree that we should be careful about our uses of `the` and `theCustom`.  The uses you have found above are not crucial though.  I think we can use `Sentence`-level combinators rather than `NamedChunk`-level with no loss in meaning or expressiveness.

[2018-11-13 19:06] halonazhao commented on #1047
Yes, I think so. I will change `the` and `theCustom` to generate `Sentence` for now. If others need the change too, we can do those later.

[2018-11-13 19:23] JacquesCarette commented on #1047
You might need them to generate a `NounPhrase` instead. Then a variant of `titleize` that works on `NounPhrase` instead of `NamedChunk` would mean that the overall changes to the code and examples would be small.

[2018-11-14 17:03] halonazhao commented on #1047
When I tried to implement to generate a `NP`, I found out that the `phrase` cannot print out `NP` because `NP` doesn't have `NamedIdea` Class. I guess there only left two ways of doing this.
1. Still, make `the` generates as `NamedChunk`, but it should be defined first and then use. But this way as we said doesn't apply the concept.

2. Totally remove `the` constructor, maybe make `the` to be at `

[2018-11-15 01:07] halonazhao commented on #698
Summary of the process on this issue:
1. The structure of reorganizing the `Ch` to generate `Sentence` has been implemented.

2. The problem now is that there are some contents not matching `Stable`, and they are listed as following:
a. Constructor `the` problem causes some Upper Cases and Lower Cases not showing normally. A further discussion will be made in #1047.
b. DD, A, IM and so on should b

[2018-11-15 02:34] JacquesCarette commented on #698
1. I saw that. It looks great.
2. like the above,
  a. `the` was crafted quite carefully to deal with upper/lower cases, so this isn't entirely surprising.
  b. I don't quite understand this - more details please
  c. see comment there.
3. yes.

[2018-11-15 17:00] JacquesCarette commented on #1047
You will need to adjust the types to do this.  The current combinators make too many assumptions.  Below is some untested code, but which should be roughly right:
[code]
I think this will end up being the easiest way forward.  The above should be defined in `NounPhrase.hs`.

[2018-11-15 17:56] halonazhao commented on #1047
My question is actually the next step. Once a `namedChunk` is changed to `NP` by `the`, `NP` cannot be printed out. `phrase` can only print chunks which have `NamedIdea`, but `NP` does not have anymore. So the `the` constructor will "eat" the `namedIdea` of a `namedChunk`.

[2018-11-15 18:29] JacquesCarette commented on #1047
which is why you'll need to use `phraseNP` instead of `phrase` in the surrounding context that calls `the`. The examples you showed above seemed to be amenable to such a change.

[2018-11-16 20:30] halonazhao commented on #1047
The current capitalization doesn't work well on the new `the` constructor. The reason is as below:
https://github.com/JacquesCarette/Drasil/blob/46f9d16782da3f3b52618624842ad5b070518e30/code/drasil-data/Data/Drasil/Phrase.hs#L109-L110
https://github.com/JacquesCarette/Drasil/blob/46f9d16782da3f3b52618624842ad5b070518e30/code/drasil-lang/Language/Drasil/NounPhrase.hs#L122-L123
https://github.com/Ja

[2018-11-17 15:48] JacquesCarette opened #1048 "Make sure our Physics covers at least as much as the package in Haskell"
See the [physics package](https://hackage.haskell.org/package/physics) on hackage for details.  Includes units and a number of related items that should also be covered.

[2018-11-17 19:39] halonazhao commented on #698
The `sentence` branch can match with `stable version`.

The problem `b` I talked about means that our reference name is like `DD:shearNorm` something like this. So the `DD` abbreviation should be collected from the name of the reference and only appear in the name. So this problem can be resolved when the `refType` problem is solved. But from the current view, if we do the `prefix` as a String. Th

[2018-11-18 14:41] JacquesCarette commented on #698
I agree that the abbreviation problem is tied with the `refType` issue.  We should definitely not be collecting anything from names.

What we need to do is to collect abbreviations, however they occur (but doing it 'right', i.e. not dig into names). Indeed, it is not just a CI collection problem.

[2018-11-19 03:53] #398 closed

[2018-11-19 03:57] JacquesCarette commented on #452
As expected, the divergence got too big.  Closing this one, as people are looking at the paper version now anyways.

[2018-11-19 03:57] #452 closed

[2018-11-19 03:59] JacquesCarette commented on #454
`Expr` does have a `String` case, so this is kind of moot.  The other issue (`FCall`) will come up again when we get back to more code generation.  So I'm closing this one.

[2018-11-19 03:59] #454 closed

[2018-11-19 04:01] JacquesCarette commented on #458
This issue is now moot.  It might arise again later, but having this one open doesn't serve as useful purpose.

[2018-11-19 04:01] #458 closed

[2018-11-19 04:02] JacquesCarette commented on #459
Both are closed (mostly as moot, though some stuff was fixed). We can always reopen when the problem comes back.

[2018-11-19 04:02] #459 closed

[2018-11-19 04:04] JacquesCarette commented on #464
It is unclear what this meant (no description!). And I think some diffs were added. Closing.

[2018-11-19 04:04] #464 closed

[2018-11-21 13:48] smiths opened #1050 "Descriptive text for Description field"
@JacquesCarette, my understanding is that Drasil now completely automates building the "Description" field for the TMs, IMs, DDs etc.  I believe that a new field was created for the descriptive text that used to be part of the descriptions in the case study.  Is this correct?  What is this new field called?  Notes?  As I am working on the transition between the manual case studies and the document

[2018-11-21 15:50] halonazhao commented on #1042
Most of the work related to this issue was done. This issue can be closed.

[2018-11-21 15:50] #1042 closed

[2018-11-21 20:06] smiths commented on #1029
@halonazhao, I completed my review of the changes the @vajihehm made on the `glass_revisions` branch of the case studies repo (https://github.com/smiths/caseStudies/issues/202#issuecomment-439301494).  @vajihehm has to still address some of my questions/comments, but not for the referencing.  I have approved of the changes she has made there.

My preference would be to fix the referencing problem

[2018-11-21 21:02] vajihehm commented on #1029
@smiths Thank you Dr.Smith for your feedback. I will review your comments and will address your questions/comments ASAP. Besides, I will arrange a meeting with @halonazhao to discuss about the changes which are supposed to make on Drasil.

[2018-11-22 05:32] Mornix commented on #1029
As part of `Ref2` and using them for `ConceptInstance` [I removed a few remaining forward references from NoPCM](
https://github.com/JacquesCarette/Drasil/commit/b39943323db324ec02876f6fb323e0f74e5fc1a2#diff-389781a115433b05746356fcd67912ef) in commit b399433.

[2018-11-22 15:04] JacquesCarette commented on #1050
We do call it Notes, yes. Internally, there is a `HasAdditionalNotes` class with a `getNotes` method. I just double-checked that the 4 items (TM, IM, DD, GD) all have a notes field.

I'm not sure if that's all the information that was needed for this question/issue, so I won't close it yet.

[2018-11-22 15:16] smiths commented on #1050
Great.  This is very helpful.  I think that is all I need to know, but just to be certain, let me pull an example from the SWHS case study:

![im1](https://user-images.githubusercontent.com/1422000/48910704-a5180d00-ee3e-11e8-9d5b-9202a5f804b0.png)

Moving forward, we would have the Description field list each symbol, its meaning and units.  All of this would be generated.  The sentence that start

[2018-11-22 15:30] JacquesCarette commented on #1029
It is indeed quite important to know what timelines we're looking at here.

A lot of the constructors for `DD`, TM`, `IM` and `TM` are quite similar, so that changing from one to the other should be relatively straightforward, assuming there isn't missing information.

In any case, @halonazhao you can definitely get rid of all "back references" (i.e. refBy, etc) now, i.e. things which should be au

[2018-11-22 15:50] smiths commented on #1050
This discussion reminded me of some other discussions, so I thought I should search through our issues and make some connections.  The Notes field is discussed in at least two other issues: #522 #751.  The notes field is available, which is great, but I don't think it has been used to get the Drasil versions to match the manual versions.  If it has, then there are some issues related to missing in

[2018-11-22 15:50] #1050 closed

[2018-11-22 15:53] JacquesCarette commented on #1050
Some of the missing information has come back through the notes - not sure if all of it did.

[2018-11-23 02:59] halonazhao commented on #1029
I did a rough check. I saw three data definitions were added. Maybe one of them was turned from IM. The other two may be new. So the workload is not heavy. I talked to @vajihehm today, she is very willing and passionate to take this job. So I think I will make my 'fake' test cases to finish my job and she will finish the migration.

[2018-11-23 04:50] smiths commented on #1029
That sounds like a good plan.  We can discuss further tomorrow during the "all hands" meeting.

[2018-11-23 14:44] smiths opened #1054 "Problem with stack build distributive-0.5.3"
Have any of you run into problems with `stack build distributive-0.5.3`?  Building Drasil fails on my laptop while building `distributive-0.5.3`.  (I'll include the error message below, although I don't think it is that informative.)  I do not have any problems on my desktop, only on my laptop.  I've installed the latest version of stack (Version 1.9.1) and upgraded to gcc8 (this seemed like gcc m

[2018-11-23 18:17] Mornix commented on #1054
Can we see the contents of `/Users/smiths/Repos/Drasil/code/.stack-work/logs/distributive-0.5.3.log` or is the contents of that file what you've already posted?

[2018-11-23 18:49] halonazhao opened #1056 "A Decision is Needed to build Reference Relation Map"
As we need enough information to be stored in `Reference Relation Map`, I have two proposals of designing the Map.

The first would be:
Building an automatically generated all references referring table. When we go through the whole document structure which is `DocDesc` here. No matter we are going to use this chunk as a reference or not, we generate a reference for it and store all the references

[2018-11-23 20:06] JacquesCarette commented on #1056
I don't know what problem you're trying to fix, so I cannot evaluate your design!

Two things:
1. I do think these maps should go from `UID` (and not`[UID]` or `[ShortName]`) to 'something'
2. It is usually not a good idea to go to `Chunk` (or `[Chunk]`) as that doesn't give enough information, i.e. we don't know the type of the result.

Please document the exact problem you are trying to sovle.

[2018-11-23 20:12] JacquesCarette commented on #1054
I think we're going to need the full log file to help. And perhaps access to the laptop.

[2018-11-23 20:20] halonazhao commented on #1056
When I tried to store say some references(Ref1, Ref2, Ref3) for `DD1`, those references were either collected by their Chunks' `UID`s or collected as the whole `Reference2` type which means having refAdd, ShortName, RefProg.

So the `traceMap = map [DD1's uid] [UIDs of the Chunks to References]`
or `traceMap = map [DD1's uid] [References at Ref2 type]`

After inverting `traceMap` to `refByMap`, it

[2018-11-23 21:36] Mornix commented on #1054
Is there any more useful information if you run the command with `--verbose`?

[2018-11-23 21:48] smiths opened #1057 "Implement in Drasil the Changes to the Manual Case Studies Necessary to Break the Cyclic Import Problems"
@halonazhao, as discussed in today's (Nov 23rd) meeting, please implement the parts of the manual case studies into Drasil that are necessary to break the cyclic import problems.  You summarized the import problems are summarized in #1029.  I believe that the updates to the manual case studies have now removed the problems, but those changes need to be propagated to Drasil.  We estimated today tha

[2018-11-24 15:00] vajihehm commented on #1057
@smith Ok, thank you Dr.Smith. I will make changes on my own branch.

[2018-11-26 17:59] smiths commented on #1054
I'll attach the output of verbose below.  It doesn't really give me any ideas on how to proceed, but maybe you'll see something?  There are some Exceptions listed.  That might be a clue.  :-) At this point I will probably live with the problem until the holiday break.  I'll upgrade my OS and see what happens.

[code]

[2018-11-26 19:10] smiths opened #1058 "SWHS: Difference b/w Stable and Manual: Table of Units"
Issue #523 has far too much going on to keep track of all of the details.  This issue (and several others) highlights one specific difference between Stable and Manual.

- SWHS
    - Table of Units
        - Different order of displayed symbols (Trivial)
Stable:
![image](https://user-images.githubusercontent.com/35268928/41620738-a2d56f14-73d8-11e8-846f-26233a33ed88.png)
Manual:
![image](https://u

[2018-11-26 19:18] Mornix commented on #1054
What's the output of `cabal --version`?

[2018-11-26 19:19] smiths commented on #1058
The table of units are still displayed in a different orders in the two documents, but this is not considered to be  a problem.  The order in the generated code (stable) is actually better because the entries are sorted.  (I believe they are sorted alphabetically.)  The manual version could be changed to match stable, but there isn't really any overwhelming reason to take the time to make this cha

[2018-11-26 19:19] #1058 closed

[2018-11-26 19:20] JacquesCarette commented on #1058
Right - Stable is sorted alphabetically by 'symbol'.

[2018-11-26 19:27] smiths opened #1059 "SWHS: Difference b/w Stable and Manual: Table of Symbols: Column Order"
Issue #523 has far too much going on to keep track of all of the details. This issue (and several others) highlights one specific difference between Stable and Manual.

    - Table of Symbols
        - Different order of columns (Trivial)
Stable:
![image](https://user-images.githubusercontent.com/35268928/41620849-eb5235b0-73d8-11e8-93fe-59b4aba1b7d5.png)
Manual:
![image](https://user-images.githu

[2018-11-26 19:28] #1059 closed, assigned to smiths

[2018-11-26 19:32] smiths opened #1060 "SWHS: Difference b/w Stable and Manual: Table of Symbols: MINFRACT"
Issue #523 has far too much going on to keep track of all of the details. This issue (and several others) highlights one specific difference between Stable and Manual.

    - Table of Symbols
        - Unsure what this is but doesn't appear in the manual (non-trivial)
Stable:
![image](https://user-images.githubusercontent.com/35268928/41620925-2e837786-73d9-11e8-8d64-7a9b8223d191.png)

[2018-11-26 19:32] smiths commented on #1060
As mentioned in #523, I fixed this issue in https://github.com/smiths/swhs/commit/ced732a72debe870ec0cfc00228f9717f6b89a1e
Stable and manual now match.

[2018-11-26 19:32] #1060 closed

[2018-11-26 19:35] smiths commented on #1058
Great!  Stable is better than the manual version.  This is a simple, but very real, advantage of the generative approach.  Nobody is going to want to manually sort (and maintain the sort for) a table of units or symbols or whatever.

[2018-11-26 19:37] smiths commented on #1054
Thanks Jacques.  I did include the contents of the log file above.  I don't think they help much.  For convenience, I'll include them again here:

[code]

[2018-11-26 21:19] smiths opened #1061 "SWHS: Difference b/w Stable and Manual: R (Aspect Ratio)"
Issue #523 has far too much going on to keep track of all of the details. This issue (and several others) highlights one specific difference between Stable and Manual.

In the manual version for Drasil we use the aspect ratio R, but it is missing from the stable (Drasil) version.

Manual:
![image](https://user-images.githubusercontent.com/35268928/41620979-5a9e9c10-73d9-11e8-810b-ebca7cbac6de.png)

[2018-11-26 21:35] smiths opened #1062 "SWHS: Difference b/w Stable and Manual: Blurb introducing IMs"
Issue #523 has far too much going on to keep track of all of the details. This issue (and several others) highlights one specific difference between Stable and Manual.
- IMs
        - Missing information paragraph (non-trivial)
Stable:
Manual:
![image](https://user-images.githubusercontent.com/35268928/41621082-a8619844-73d9-11e8-8cfe-1696849fbc24.png)

The above paragraph of information is not in

[2018-11-27 06:38] Mornix commented on #1054
How did you install Cabal? I have it installed through Homebrew with formula `cabal-install` and have version 2.4.1.0. Is your laptop OS High Sierra?

Can I also get the output of the following commands:
[code]

[2018-11-27 19:52] smiths opened #1064 "SWHS: Difference b/w Stable and Manual: Missing Information in IM1"
Issue #523 has far too much going on to keep track of all of the details. This issue (and several others) highlights one specific difference between Stable and Manual.

**1.** Assumptions associated with the input and output of IM1
Stable:
![image](https://user-images.githubusercontent.com/35268928/41621222-17f4069c-73da-11e8-9f96-550cf8c47143.png)
Manual:
![image](https://user-images.githubuserco

[2018-11-27 20:14] smiths commented on #1064
Since the time when #523 was created some progress has been made.  A notes field has been added to the chunks to capture the missing information.
<img width="1145" alt="notesim1" src="https://user-images.githubusercontent.com/1422000/49107733-80fc6780-f254-11e8-8fa1-2ab7235193a5.png">
This is an improvement, but unfortunately the note doesn't capture the information entirely correctly.  Some field

[2018-11-27 20:15] smiths commented on #1064
@vajihehm, for you to close this issue, you will need to update the Notes field in Drasil to follow the bullet list given above.  We'll include this issue as part of your replacement for the MIS assignment.

[2018-11-27 20:26] smiths opened #1065 "Better support to integrate "Notes" information into SRS documentation and into the scientific knowledge base"
As discussed in #1064, we can use the Notes field to ensure that information that was previously lost in the transition from manual to stable (Drasil) is no longer lost.  However, the resulting documentation is not ideal because the note is separate from where it comes up.  For instance, the input constraints are given in the input constraints field, but the assumption that justifies using this co

[2018-11-27 20:32] smiths opened #1066 "SWHS: Difference b/w Stable and Manual: Missing Information in Derivation"
Issue #523 has far too much going on to keep track of all of the details. This issue (and several others) highlights one specific difference between Stable and Manual.

- Missing information about associated assumptions and DDs in the derivation (non-trivial)
Stable:
![image](https://user-images.githubusercontent.com/35268928/41621454-b05ccbbc-73da-11e8-9d8d-738f79897db0.png)
Manual:
![image](http

[2018-11-27 20:36] smiths opened #1067 "SWHS: Difference b/w Stable and Manual: Add definitions for tau_w and eta"
Issue #523 has far too much going on to keep track of all of the details. This issue (and several others) highlights one specific difference between Stable and Manual.

- Glitch (trivial)
Stable:
![image](https://user-images.githubusercontent.com/35268928/41621555-fb199dec-73da-11e8-83d3-130f0bf1f7c4.png)
Manual:
![image](https://user-images.githubusercontent.com/35268928/41621574-1128ea2a-73db-11

[2018-11-27 23:52] Mornix commented on #1054
As an addition to my last comment, can you also run `ls -al` on all the paths returned from the `stack exec` commands I listed?

[2018-11-28 05:05] smiths opened #1069 "SWHS: Difference b/w Stable and Manual: Match output of IM2"
Issue #523 has far too much going on to keep track of all of the details. This issue (and several others) highlights one specific difference between Stable and Manual.

- Missing information for the output of IM2 (non-trivial)
Stable:
![image](https://user-images.githubusercontent.com/35268928/41621687-5fabb998-73db-11e8-974e-d237e1047fea.png)
Manual:
![image](https://user-images.githubusercontent

[2018-11-28 05:30] smiths opened #1070 "SWHS: Difference b/w Stable and Manual: Add definitions for tau_P^S and tau_P^L"
Issue #1069 highlighted that tau_P^S and tau_P^L need to be added as data definitions.  This was done in the manual version at:

https://github.com/smiths/swhs/commit/6bf8ec052868e7a90d803a75b5dfcef1d48c9f3a

These changes need to be propagated to stable (Drasil)

[2018-11-28 05:50] smiths commented on #1054
I have wasted more time on trying to fix my linking error.  ☹️  I have 16 GB of memory, so I don't think that is the problem.  My hard drive space was getting low, so I thought there might be a problem there (virtual memory for swapping?), but freeing space made no difference.  I have over 120 GB of hard-drive space available.

I thought the problem might be due to an inconsistent tool chain, so I

[2018-11-28 16:07] Mornix commented on #1054
So looking at the output of the commands, it doesn't look like it's gcc related. `cc` uses the one in `/usr/bin` which is a symlink to `clang`.

I've been digging through my own `.stack-work` folder and I'm not seeing distributive, nor in the `.cabal` files. @JacquesCarette would this mean it's a transitive dependency?

[2018-11-28 18:47] JacquesCarette commented on #1054
It must indeed be a transitive dependency.  If I do `stack list-dependencies` on my install, it does list `distributive-0.5.3`.

[2018-12-02 20:39] halonazhao commented on #1056
So far, Assumptions, DDs, IMs, TMs and GDs were added into the DB. But for Requirements and likely changes, the first thing about them is that they are all at `ConceptInstance` type, so they have to be put into the same map right? We don't manually classify them to different maps I guess.

The second thing is that based on the current `DocumentLanguage`, https://github.com/JacquesCarette/Drasil/bl

[2018-12-03 17:44] JacquesCarette commented on #1056
Correct, they have to be put into the same map. Then we can filter it (by domain).

I don't quite understand the second thing.  At the `DocumentLanguage` level, it isn't quite so bad if the knowledge about functional/non-functional requirements is know (at least for now).  So I am not quite sure what is broken?

[2018-12-03 17:49] halonazhao commented on #1056
As you can see from the code I posted before, `ConceptInstance` is wrapped to `Contents` to be used. So we won't collect all `conceptInstance` by traversing the `DocDesc`. The broken means the `conceptInstance` 's information is used by (^. definition) and other small piece of information from it.

[2018-12-03 20:53] JacquesCarette commented on #1056
Wrapped to `Contents, or 'rendered' to `Contents`? If the latter, then yes, that's a problem, as it means that too much information has been deleted, even in the `DocDesc`.  So yes, I see that for `FReqsSub`, it looks like things are prematurely rendered. So yes, that should be changed.

[2018-12-03 21:42] halonazhao commented on #1056
So make them to directly take '[ConceptInstance]' and try to render the '[conceptInstance]' right on the way to make Document right? I will try to do some changes and if there is anything going wrong please correct me. @JacquesCarette

[2018-12-03 23:40] halonazhao commented on #1056
I made an experiment on `LikelyChange` section at https://github.com/JacquesCarette/Drasil/commit/da1ba0630844ea7ef73b6e5f2937027e4fc3d5a8. Is this what we want? If it has the basic idea, then the problem would only show up at GlassBR's `requirement` section.
https://github.com/JacquesCarette/Drasil/blob/7f54389872973a354eaeff45cf3fd609f0572e15/code/drasil-example/Drasil/GlassBR/Requirements.hs#L3

[2018-12-04 19:08] JacquesCarette commented on #1056
So I think you later found the problem with this and fixed it?  Otherwise it does seem like this is the right way to go.

[2018-12-06 14:21] halonazhao commented on #1029
All the changes in the manual version which apply to the existing chunks in Drasil were made. But there are still amount of chunks missing from Drasil. So the changes applied to them didn't get done. But all the changes happened are sufficient to break the current cyclic importing issue. So this issue can be closed now.

[2018-12-06 14:21] #1029 closed

[2018-12-06 14:30] halonazhao commented on #1020
This issue can be closed now. Problem solved in https://github.com/JacquesCarette/Drasil/pull/1072.

[2018-12-06 14:30] #1020 closed

[2018-12-06 14:39] halonazhao commented on #904
Just checked all the links currently work well. And the traceability matrix can be automatically generated. So this issue can be closed.

One thing needs to be mention here. All the reference links now are made directly from chunk instead of its label.

[2018-12-06 14:39] #904 closed

[2018-12-06 14:40] halonazhao commented on #884
This is another traceability matrix related issue. This issue can be closed now.

[2018-12-06 14:40] #884 closed

[2018-12-06 16:05] JacquesCarette commented on #904
Fantastic!

[2018-12-06 16:36] halonazhao commented on #440
Just checked Brooks branch
 https://github.com/smiths/caseStudies/blob/ssp_SRSMajorRevisions/CaseStudies/ssp/docs/SRS/SRS.pdf.
 In this branch, all the issues mentioned before no longer exist. So this can be closed now.

[2018-12-06 16:36] #440 closed

[2018-12-06 16:38] halonazhao commented on #438
This is a redundant issue to #523. I will close this one.

[2018-12-06 16:38] #438 closed

[2018-12-06 16:42] halonazhao commented on #435
These references have been added back since after chunk rearrangement, cyclic importing issue no longer exists. The only problem would be SSP is still missing some chunks in drasil and they need to be gradually added. I will open an issue for @bmaclach so that he can take over. Is this ok @smiths ?

[2018-12-06 16:42] #435 closed

[2018-12-06 17:00] smiths commented on #435
@halonazhao, yes, your proposal to have @bmaclach add the chunks makes sense.  He will be modifying ssp anyway in his efforts to update the SRS.

[2018-12-07 20:28] halonazhao opened #1074 "SSP Chunk Completion"
Currently, SSP case in drasil is at a stage where there are some missing chunks like some instances of DataDefinitons and others compared to Manual version. These chunks needed to be gradually brought back, which means manually created and added. Also, all the chunks currently exist in Drasil do not have any cyclic importing issue and as the manual version was rearranged obeying the hierarchy, eve

[2018-12-07 22:35] Mornix commented on #1054
@smiths and I managed to solve the problem. Closing this issue.

[2018-12-07 22:35] #1054 closed

[2018-12-07 22:41] smiths commented on #1054
Thanks again @Mornix.

[2018-12-08 16:38] JacquesCarette opened #1076 "Fix use of 'dummy' parts of SRS sections for linking purposes"
See PR #1075 which has one instance of this in the code. There are more. This may require some design.

[2018-12-16 17:57] halonazhao commented on #698
There are these two classes where we can potentially collect Abbreviations.

https://github.com/JacquesCarette/Drasil/blob/dc9a4aea2d83d172b9dbb9f87dda99283f1e3a7d/code/drasil-lang/Language/Drasil/Classes.hs#L56-L57
"instance Idea   DataDefinition where getA c = getA $ c ^. qd
instance Idea   InstanceModel where getA = getA . view rc
instance Idea   GenDefn where getA = getA . view relC
instance I

[2018-12-17 18:38] JacquesCarette commented on #698
First problem: this should not be an actual problem, as there should never be 2 conflicting dictionaries available. So whenever `getA` returns a `Just`, then assuming that chunk is used, its abbreviation should be picked up.  Note that it should be a mistake to implement `CommonIdea` but not `Idea`.

Second problem: I don't think so. `short` doesn't really print an abbreviation (if I remember well

[2018-12-21 07:48] halonazhao commented on #698
The new approach was implemented in `TAandA` branch. The sentence set is collected from `Document` instead of `DocDesc` because more sentences were made during the rendering of `DocDesc` to `Document`.

The result is correct. The only abbrevs left are `DD`, `IM`, `GD`, `IM`, `R`, `LC`.. These are supposed to be collected from the prefixes of the references.  @JacquesCarette

[2018-12-21 18:51] bmaclach opened #1079 "Including ellipses in expressions"
In the derivation of IM1 for SSP, there are some equations that contain ellipses, like the ones shown below:

![image](https://user-images.githubusercontent.com/18634568/50358170-6ef5a800-0526-11e9-8f1e-c70e30a7e977.png)

I was unable to find a way to include an ellipsis in an Expr in Drasil. There are also some cases where there is an ellipsis between equations, like below:

![image](https://user

[2018-12-21 19:02] bmaclach opened #1080 "Missing parentheses for sum quantifier in HTML"
Drasil does not seem to be auto-generating parentheses where they are required in a sum quantifier in HTML. An example in SSP (Equation for IM1) is shown below, where there should be parentheses to show that the "_R<sub>n</sub>_" and "_T<sub>n</sub>_" are not included in the summation:

![image](https://user-images.githubusercontent.com/18634568/50358788-8766c200-0528-11e9-9882-8d4ba858e0ce.png)

[2018-12-21 21:31] smiths commented on #1080
@bmaclach, I think this will be a fairly deep problem to solve, although @JacquesCarette will know better.  We have (correctly) moved the task of adding brackets to Drasil, but it means that we need our knowledge capture to be complete.  By order of operations, the products would be calculated first, and then the summation.  However, I don't know what the rules are for what symbols are in scope fo

[2018-12-21 21:33] smiths commented on #1079
This is also a deep problem (like #1080).  We only need it currently for the derivation, so we might choose to "fake it" for now.  Although, I am not sure how to fake it for the first example above.  The second one is an acceptable hack for now, but the first one appears incorrect in the generated documentation.

[2018-12-21 21:37] bmaclach commented on #1079
@smiths Right, I had no way to fake the first case. I simply left the ellipses out with a note to add them later.

[2018-12-22 15:33] JacquesCarette commented on #1080
Yes, it does seem like this is a bug. Though it shouldn't be too hard to fix, I think. The downside is that if you have a sum of two sums, it will likely add extra parens.

[2018-12-22 15:38] JacquesCarette commented on #1079
The semantics of ellipsis is quite complex (though there are papers out there that try). I'd rather not go there.

Luckily, in both cases, there is a formula that expresses what's going on.  The first is a fold. The second is vector recurrence relation. That is the way the semantics should be encoded.

Then we could add some display primitives to the backed of Drasil that allows us to choose an 'e

[2018-12-23 07:47] Mornix opened #1082 "NoPCM IM reference Inconsistency"
The functional requirements in the generated SRS for NoPCM contains a reference to IM:eBalanceOnPCM. Checking with the NoPCM SRS in the CaseStudies repo, shows this reference is not there. Is it safe to assume this mention of PCM in NoPCM is a mistake and may be corrected (removed)?

PS. Clicking the reference in the generated document goes nowhere.

Drasil NoPCM:
===
<img width="832" alt="screen

[2018-12-23 08:03] Mornix commented on #1082
Piggybacking on this issue for a followup:

One of the instance models (IM:heatEInWtr) refers to a theory model (TM:sensHtE) which is another dead link. This appears to be a missing theory model (or at the very least an issue), rather than an inconsistency between CaseStudies and Drasil as the CaseStudies has a missing reference there as well. I've attached screenshots of the relevant portion of t

[2018-12-24 22:46] JacquesCarette opened #1083 "Change in notation in SSP"
In change cbbeb75ba, I removed { } from being special. SSP used these inside the notation for one particular symbol.  That is rather odd notation...  It needs reconsidered.

[2018-12-30 04:26] oluowoj opened #1085 "Make error in building the current version of Drasil"
@JacquesCarette,

Any thoughts on how I can resolve this issue. I ran make to build the current version of Drasil but I get the error below. See the orange arrow.
 Also see the green arrow, I expected to see a build folder but it looks like the executables are in the location the green arrow is pointing to.

<img width="427" alt="image" src="https://user-images.githubusercontent.com/43192745/50544

[2019-01-03 02:45] oluowoj commented on #1085
Thanks, no luck yet but will keep trying

[2019-01-05 21:58] JacquesCarette commented on #487
I will point out that none of these are left `Chunk.NamedIdea`.  Many (most, all) are in `Data.Drasil.Phrase` now. So I'm closing this.

[2019-01-05 21:58] #487 closed

[2019-01-05 22:01] JacquesCarette commented on #387
Half of this has now been done - instance models now have a wider range of 'models' which are tagged. Code generation only looks at the 'equational' models and ignores the rest.  `ExprRelat` itself is still used, but only for printing (where it's fine) and not for code generation, which is where the real problem was.

[2019-01-06 03:47] JacquesCarette commented on #461
This was a really subtle bug in the capitalization routines.  It is fixed in 476eb8114 in branch QDef-in-InstMod, which is going to be made into a PR soon (there are some oddities outstanding).

[2019-01-06 04:11] JacquesCarette commented on #628
This is now half fixed: instance models use a more refined definition that differentiate between equational models, DE models and 'other' models. That type needs to pulled out of there so that theory models can use this too.

Note that `relToQD` itself is already completely gone. `RelationConcept` will stay for quite a while yet, as those models that use it (i.e. DE and other) will stay like that

[2019-01-06 04:16] JacquesCarette commented on #734
So I've checked that this is **almost** fixed.  There is still some duplication around this, but all the hard parts have been done.  Seems that there are some silly things that have arisen in the meantime that need to be dealt with.

[2019-01-06 04:34] JacquesCarette commented on #1000
All of this has been resolved.

[2019-01-06 04:34] #1000 closed

[2019-01-06 17:12] JacquesCarette opened #1086 "What comes first: the SRS or the SystemInformation?"
While investigating the duplication of information in `SystemInformation`, I can across the following interesting problem. I will use GamePhysics as an example, but it is representative of the others as well.

Notice that the definition of the SRS (as a `DocDesc`) has the following line
https://github.com/JacquesCarette/Drasil/blob/389723cb501bddb0c97a915c571b6cac01810b07/code/drasil-example/Drasi

[2019-01-06 17:29] JacquesCarette opened #1087 "Why do we have 3 symbol maps?"
(this is different than #268 which is closed)

Here are the definitions of the 3 symbols maps used in GlassBR (first argument of `cdb` and `_quants`):
https://github.com/JacquesCarette/Drasil/blob/389723cb501bddb0c97a915c571b6cac01810b07/code/drasil-example/Drasil/GlassBR/Body.hs#L79-L89
https://github.com/JacquesCarette/Drasil/blob/389723cb501bddb0c97a915c571b6cac01810b07/code/drasil-example/Dras

[2019-01-07 10:38] halonazhao commented on #1087
1. I would like to explain the `usedDB` a bit. The current `usedDB` actually means the DB of everything which appears in one case. Versus another chunkDB, the first one, means all the pre-stored chunks or the knowledge but not necessary shown in the case.

2. The glassBR did not implement the collect symbols because, as shown in `symbol.hs` file, all the symbols orginazed in type `QuantityDict`(wi

[2019-01-08 09:47] vajihehm commented on #1085
@oluowoj  Thank you Olu for creating issue and explaining whatever we did to solve the problem. Just one update in step 2, It would be better to put the following link for 'Make for Windows' that it has a description for the 'Make tool for windows' and there is required packages to download as well:
http://gnuwin32.sourceforge.net/packages/make.htm
@JacquesCarette As Olu mentioned the problem was

[2019-01-08 10:07] vajihehm opened #1088 "bug of building specific examples (gamephys_diff) in Drasil"
@JacquesCarette I executed the examples separately, so when I execute the 'make gamephys_diff ' it generate artifacts for other examples as well. However,  building of other examples works fine. Is that a bug ?

[2019-01-10 16:03] JacquesCarette commented on #698
Sorry to take so long to get back to this.

I think collecting of `DD`, etc should still be done on `DocDesc`, i.e. by checking that the corresponding sections in the SRS document are non-empty.

[2019-01-10 16:07] JacquesCarette commented on #1087
1. So the "everything" DB corresponds to the 'hand collected' knowledge that the author of the case study things might be relevant? [Might be interesting to get a report of those things which do not end up in `usedDB`, as that might point to an oversight on the authors' part]

2. So is this a "bug" in GlassBR which makes it different than the others? If so, we should file an issue to track that.

[2019-01-10 18:46] JacquesCarette commented on #1085
Because we use Unicode symbols in the source code. For examples, that is how we handle Greek letters.  Thanks for the better link.

[2019-01-10 18:46] #1085 closed

[2019-01-10 18:47] JacquesCarette commented on #1088
That appears to be a weakness in the Makefile. There must be something wrong in the dependencies.

[2019-01-11 16:30] vajihehm commented on #1088
Thanks. I will glance the Makefile or other related files to solve the bug.

[2019-01-11 20:52] Mornix commented on #1082
Piggybacking on this issue (again) for some more inconsistencies/"translation" errors in NoPCM.

These four inconsistencies all relate to assumptions within NoPCM relating to two specific chunks referencing assumptions which aren't existent.

# GD2
## Relevant Assumptions
### CaseStudies
<img width="759" alt="screen shot 2019-01-11 at 2 17 26 pm" src="https://user-images.githubusercontent.com/1929

[2019-01-18 05:45] smiths commented on #1082
The original issue with IM: eBalanceOnPCM is definitely a bug.  It should be removed from the noPCM example.

I'll have a look at the piggybacked issues soon.  (By the way, I prefer separate issues.   I think I would have closed the original issue sooner if there was only the one issue to read about.  The piggyback issues could have been written as separate issues with a link to the original issue

[2019-01-18 14:55] smiths commented on #1082
@Mornix, I looked into the missing theoretical model (sensible heat energy).  It definitely is a mistake that this was deleted when transitioning from SWHS to noPCM.  I have added this theoretical model back in:

https://github.com/smiths/caseStudies/commit/a63f3f38cf9947f0b27939001c9cdd1bd076dcf7

The diff should show you what needs to be changed in the Drasil version.  Can you please make the up

[2019-01-18 15:05] smiths commented on #1082
For the problem with the assumptions in GD2 being incorrect, you are right.  The derivation should reference Density-Water-Constant-over-Volume and Specific-Heat-Energy-Constant-over-Volume.  I think this will fix the problem with the assumptions not tracing to "GD2."

[2019-01-18 15:11] smiths commented on #1082
For the Drasil version of IM1 the only assumption that should be invoked in the Notes field is Water-Always-Liquid.

[2019-01-18 15:12] smiths commented on #1082
@Mornix, because all of these issues were combined, I'm not 100% certain that I addressed all of your questions.  If there is something missing, can you please create a new issue with your question/concern.

Thank you for your careful consideration of the example.  @JacquesCarette, this is another datapoint that shows that as we improve our automation we catch more errors/omissions.  😄

[2019-01-19 16:50] JacquesCarette commented on #1082
Regarding simplifying theoretical models: yes, this is definitely where Drasil should start interacting with MathScheme. Definitely the right long-term path.

@Mornix I definitely agree with @smiths that all of these should have been done as separate issues.

[2019-01-22 09:14] oluowoj opened #1093 "Write access required?"
@JacquesCarette, trying to push a remote branch, I get this error, don't think I have write access.

<img width="628" alt="image" src="https://user-images.githubusercontent.com/43192745/51524192-819c1f00-1dfb-11e9-8a07-f7b800f48a21.png">

[2019-01-22 11:52] smiths commented on #1093
Hello @oluowoj.  The Drasil repo is set up differently than the Case Study repo.  You are correct that you do not have write access.  You should instead create a pull request.

[2019-01-22 11:52] #1093 closed

[2019-01-22 14:43] smiths commented on #1083
Yes, the  { } do lead to an odd notation.  The idea was that there are a set of coordinates.  We could probably re-work it to be the more traditional sequence of coordinates.  I'll keep this in mind when I'm doing a detailed review of the latest revision by @bmaclach.

[2019-01-22 16:24] oluowoj commented on #1093
@smith,  I will need to do a git push of my new branch with the changes before I create a pull request, right?  The new branch is currently not on Drasil.

[2019-01-22 16:54] smiths commented on #1093
No, you don't need write access to the repo to create a pull request.  I don't know the specifics, of how to do it, but I know it is often done this way.

[2019-01-22 18:22] oluowoj commented on #1093
Thanks accepted

[2019-01-25 18:58] #1082 closed

[2019-01-29 16:49] bmaclach opened #1099 "Error using pi in a Data Definition"
I am trying to add a DD to the SSP example which contains pi as part of the equation. Here is the equation from the manual version:
![image](https://user-images.githubusercontent.com/18634568/51924206-9a3ba480-23ba-11e9-8864-1674c7c5469c.png)

The code I am using for the `Expr` is:
[code]

where `pi_` is a `QuantityDict` imported from Data.Drasil.Quantities.Math. When I try to compile this, I get

[2019-01-29 20:07] Mornix commented on #1099
It looks like `pi_` is missing from the `ChunkDB`s in SSP's [Body.hs](https://github.com/JacquesCarette/Drasil/blob/6ea7593312e52416e651ede5fd38836c3f52c212/code/drasil-example/Drasil/SSP/Body.hs#L195). If you add `pi_` to the DB, does that fix the error?

(You may need to also add it to [`usedDB`](https://github.com/JacquesCarette/Drasil/blob/master/code/drasil-example/Drasil/SSP/Body.hs#L201) as

[2019-01-29 20:33] bmaclach commented on #1099
Thanks @Mornix. I don't think I can add `pi_` to the `ChunkDB` because `pi_` is of type `QuantityDict`, which has neither an instance for `Definition` or `ConceptDomain`, both of which are constraints (assuming you meant to add it to the third argument to `cdb`, which is for Concepts.)

[2019-01-30 22:41] Mornix commented on #1099
I see exactly what you're saying now.

I got the stack trace which shows where the error occurs:
[code]

It looks like `combine'` expects an associated `Concept` when parsing `Expr`s (i.e. a `DefinedQuantityDict` which uses the UID of the underlying `ConceptChunk` as the UID for the entire dqd.)

A quick grep of data shows that the only `QuantityDict` is `pi_`, "everything else" is a `DefinedQuant

[2019-01-31 21:41] Mornix commented on #345
ALUR is gone. As are the builtin counters. I'm closing this issue as it is effectively done and the final details can be followed in #1026 and the PR #1100.

[2019-01-31 21:41] #345 closed

[2019-01-31 21:45] Mornix commented on #470
Yup. This is done. ALUR no longer exists and rendering of ConceptInstance is quite flexible. Closing.

[2019-01-31 21:45] #470 closed

[2019-01-31 21:59] Mornix commented on #792
I think `Reference2` and `ConceptInstance` took care of the issue here. Closing.

[2019-01-31 21:59] #792 closed

[2019-01-31 22:00] Mornix commented on #976
`RefProg` fixes this issue. Closing.

[2019-01-31 22:00] #976 closed

[2019-01-31 22:01] Mornix commented on #984
`Ref2` takes care of this. #1026 is related but is only relevant to the removal of those functions. Closing.

[2019-01-31 22:01] #984 closed

[2019-02-01 03:49] JacquesCarette commented on #1099
Yes, `pi_` used to be a much worse hack, and now it is merely a hack. It should be properly defined (as a `DefinedQuantityDict` at minimum, likely more thoroughly than that), then this won't occur anymore.

`ConceptDomain` should probably be 'Math' (or 'Mathematics' or whatever is currently defined). Pick you favourite definition!

[2019-02-01 16:33] Mornix opened #1101 "Travis CI Tracking Issue"
Improve the CI build process.

- [x] Print diff logs on Travis (while maintaining logging to files during development) #1105
- [x] Try building TeX in CI
- [x] Try compiling code in CI

[2019-02-04 21:22] bmaclach opened #1103 "Table of Symbols - names with multiple hyphens are not properly titleized"
If the name for a symbol includes multiple hyphens, only the first letter and the first letter following the first hyphen get capitalized in the table of symbols. For example, "circumference-to-diameter ratio" becomes "Circumference-To-diameter Ratio" (We don't currently have an example symbol with a multi-hyphenated name, otherwise I would show it).

[2019-02-04 21:27] bmaclach opened #1104 "Table of Symbols - prepositions in names with hyphens are mistakenly capitalized"
Usually the titleization for names of symbols in the table of symbols does not capitalize prepositions like "to" or "for" in a symbol name. However if that preposition comes after a hyphen, like in "circumference-to-diameter ratio", then the preposition will be capitalized in the table of symbols, "Circumference-To-diameter Ratio". Note that a single fix is likely possible for this and similar iss

[2019-02-06 20:09] JacquesCarette commented on #1103
I'll stick this on my plate. It is likely relatively easy to fix.

[2019-02-08 18:59] bmaclach commented on #1099
This issue is fixed with the merge of PR #1102. Closing.

[2019-02-08 18:59] #1099 closed

[2019-02-15 17:39] bmaclach opened #1115 "Using force unital from Data.Drasil can cause vector/scalar mismatches"
The force unital from Data.Drasil is a vector, and in SSP it is used in the data definition for stress, where stress and area unitals also come from Data.Drasil but are scalars, so the resulting equation is not correct:
![image](https://user-images.githubusercontent.com/18634568/52874034-739d9d80-311e-11e9-8655-e87ed8236498.png)

[2019-02-15 17:41] bmaclach commented on #1115
Looking at this issue again, I realize that the problem is stemming from the fact that I am trying to define "normal stress" as force over area, when this should really be just plain "stress". There isn't currently a stress unital in Data.Drasil, but I could add one, and it would be a vector, so this specific mismatch would be solved.

[2019-02-15 17:45] bmaclach opened #1116 "Using unitals from Data.Drasil leads to very generic descriptions"
As an example, "area" in the manual version of SSP is defined as "area on which a force acts" whereas in the Drasil version of SSP area is defined as "A part of an object or surface" because it is using the area unital from Data.Drasil.

[2019-02-15 17:48] bmaclach commented on #457
Note that another case of explicit grouping arose in SSP as part of PR #1097. It is currently marked with a FIXME.

[2019-02-15 19:56] Mornix opened #1117 "HLint for Builds"
So I ran `hlint` over master. (On macOS `hlint` is available through Homebrew)

Here is the output of the "types of errors" gathered with: `hlint . | grep \\./ | cut -d : -f 4,5 | sort | uniq`:

[code]

The parse error mentioned is:
[code]

Which seems like a false positive. (@JacquesCarette?)

I think most of the categories are useful. I think the camelCase one (which is useful for conformity, bu

[2019-02-15 21:51] smiths commented on #1117
Thank you @Mornix.  Very helpful!  Over time we should go through each of these warnings and suggestions and decide which ones best suit our style.  We'll need to see examples of the "offending" code too.  I haven't written enough Haskell code to have  strong opinion, but I'm sure @JacquesCarette will know his preference.  😄 I know with flake8 one can write a configuration file that explicitly mod

[2019-02-16 01:14] smiths commented on #1116
@bmaclach, if we keep the generic definition of area, I think we can do better than "a part of an object or surface."  The Wikipedia page (https://en.wikipedia.org/wiki/Area) could be used for our inspiration.  Maybe something like: "Area is the quantity that expresses the extent of a two-dimensional figure or shape."  "It is the two-dimensional analog of the length of a curve (a one-dimensional c

[2019-02-16 01:21] smiths commented on #1115
@bmaclach, we have to be careful to see whether we need to distinguish normal and tangential stress.  For SSP, I'm fairly sure that we need both.  The definition of both depends on area.  The generic concept of stress is fairly well covered in a document on a family of material models:

https://gitlab.cas.mcmaster.ca/SEforSC/se4sc/blob/git-svn/SciCompAndSoftEngPapers/FamilyOfMaterialModels.pdf

Ma

[2019-02-16 21:02] Mornix commented on #1117
HLint allows us to generate a configuration that ignores current warnings/hints which could be a good opportunity to integrate it into Travis and prevent new lint “issues” from being introduced. We could add an item to the miscellaneous tasks .txt to “Remove a suppressed lint warning and fix all the instances pointed to by HLint” as a way to fix-up existing suggestions.

[2019-02-17 04:17] smiths commented on #1117
Thanks for the information @Mornix.  Glad to hear that HLint allows a configuration file.  I like your idea because it would allow us to gradually address the backlog of issues, while still improving the style of code going forward.

[2019-02-17 14:23] JacquesCarette commented on #457
You should also open an issue (and refer to the specific line of code with the fixme) for this.

[2019-02-17 14:38] JacquesCarette commented on #1116
Great issue. This definitely justifies the need for wanting to be able to refine a generic definition.

Flipping to looking at a solution, this means that generic definitions should be *parametrized* and yet have a default 'value' for the parameter. When using it, the parameter can be instantiated (or not), as one wishes.

[2019-02-17 14:38] JacquesCarette commented on #1116
I'm still not quite sure who this issue should be assigned to...

[2019-02-17 14:42] JacquesCarette commented on #1117
I think I'd like to see, for each class of warning/suggestion, how many occurrences there are.  For those with <5 (or even <10), we should probably just fix them. Then we can work on the rest incrementally.

[2019-02-17 20:31] Mornix commented on #1117
Enumerated with `hlint . | grep \\./ | cut -d : -f 4- | sort | uniq -c`
[code]

I also looked into the `Parse Error` false positives, and it seems like the parsing library HLint is using has diverged from GHC, however the author of HLint has mentioned plans to switch to using the GHC API for parsing instead.

[2019-02-17 21:25] JacquesCarette commented on #1117
Great, thanks.  This makes it quite clear that there's a bunch of suggestions/warnings that will be easy to deal with, and some that will be a slow ongoing change.

[2019-02-19 15:09] bmaclach opened #1120 "Case of explicit grouping in SSP"
In addition to the cases discussed in #457, shown below is another case in SSP where there should be some explicit grouping, but this is currently not possible. The terms at index _i_ should be grouped together, as should the terms at index _i_-1.

https://github.com/JacquesCarette/Drasil/blob/cf88cd145d497a719629922c6790caa4125fa0e7/code/drasil-example/Drasil/SSP/DataDefs.hs#L184-L187

[2019-02-20 18:05] deviprasad135 opened #1121 "No indentation on span tag"
Hello  Dr@JacquesCarette ,
I have pushed the changes for fixing indentation in HTML (931e84e).  I have changed  the smaller tgas into one line such as th and header tags. But the div and the span tag in-side the the em tag are not getting indented as they are not recognised by the em tag. They are indenting separately but not along with the em tag.
![capture](https://user-images.githubusercontent.

[2019-02-20 19:33] bmaclach commented on #1115
@smiths I don't have access to the SEforSC repo you linked, I get a 404 error when I try to access it.

You are right that SSP uses both normal stress and shear stress. When the stress DD is invoked, it is sometimes done so with normal stress/force, sometimes with shear stress/force, and sometimes with generic, unrefined stress/force. What makes sense to me is to define the DD in terms of the gene

[2019-02-20 21:59] bmaclach opened #1125 "Every word of an expanded form of an acronym should not always be capitalized"
Currently when we show an acronym along with its expanded form, as in the Table of Abbreviations and Acronyms or the first time the acronym is used in the text, we capitalize every word in the expanded form. However, if a word is not included in the acronym, it should not be capitalized. For example, SSP is an acronym for "Slope Stability analysis Program" but when we introduce this acronym it get

[2019-02-20 22:06] Mornix commented on #1088
Closing. The merge of #1109 fixes this.

[2019-02-20 22:06] #1088 closed

[2019-02-21 16:04] bmaclach commented on #1125
I just discovered that there are "proper nouns" in Drasil which allow the programmer to define capitalization themselves. Would it be correct to use that in this case?

[2019-02-21 18:07] bmaclach opened #1129 "Characteristics of Intended Reader structure should be consistent between examples"
As discussed during the Feb. 15th, 2019 meeting, the characteristics of the intended reader should be divided into 3 categories:
- Assumed knowledge
- Knowledge related to the topic
- Knowledge that would be an asset

As of PR #1128, the function for building the Characteristics of the Intended Reader section of the SRS accepts 4 parameters:
- A parameter for topics the reader "should have a stron

[2019-02-22 15:49] smiths commented on #1129
This sounds good to me.

[2019-02-22 19:35] bmaclach opened #1133 "Constants in generated code are not stored in input data structure"
I noticed that in our manually-written source code for GlassBR, we store constants in the input data structure, whereas in Drasil we do not store constants in the input data structure and instead just paste in their value wherever they are used. For example, `td` and `m` are constants with values of 3 and 7, respectively. In the manual version of GlassBR, they are used like so:
`params.ldf = pow((

[2019-02-22 22:19] JacquesCarette commented on #1120
For previous cases like this, what we had done was to de-inline things, and to give a name to `(inxi slopeHght) - (inxi slipHght)` and `(inxiM1 slopeHght) - (inxiM1 slipHght)` which then gives a 'grouping' as a side-effect.  For the previous cases, it made sense. The feature we then wanted was a way to indicate that some of these definitions should be inlined when possible [and that act would like

[2019-02-22 22:28] JacquesCarette commented on #1121
I have commented on that check-in.  The reason you're having trouble is that you're not using the pretty-printing combinators correctly!  See the comments.  You'll need to redo your design.  Then this bug will become a non-issue.

[2019-02-22 22:38] JacquesCarette commented on #1115
@bmaclach You need to be on the McMaster VPN (at least) to see that, I think.  You are a member of that repository, so you should have access.

[2019-02-22 22:40] bmaclach commented on #1115
What if I'm on MacSecure? Isn't that the same effect as the VPN? We've had confusion in the past caused by me having a GitLab account from 2016 that is no longer active but still exists. Is it possible it's my old account added there? (old username was bmaclach, new one is maclachb)

[2019-02-22 22:43] JacquesCarette commented on #1115
MacSecure should be considered local.  Yes, the old account is the problem.  I think I can fix that - let me try.

[2019-02-22 22:46] JacquesCarette commented on #1115
I think I've fixed it.  You should have gotten an invitation, and you should have access now with your new id.

[2019-02-22 22:46] bmaclach commented on #1115
Yes, I have access now. Thanks!

[2019-02-22 22:50] JacquesCarette commented on #1125
Yes, you need to use the mechanism in Drasil to define the 'right' kind of capitalization for your phrase.

[2019-02-22 22:51] JacquesCarette commented on #1125
Close this when you've found something that 'works'.  Note that, in general, you should assign an issue to someone. That person may re-assign it, but at least someone will nominally be in charge.

[2019-02-22 22:52] bmaclach commented on #1125
Will do, thanks. I ended up using the "proper noun" mechanism I mentioned, which worked and makes sense because SSP is a proper noun. I'll close the issue.

[2019-02-22 22:52] #1125 closed

[2019-02-22 23:06] JacquesCarette commented on #1129
Good design - and implementation.  Is there an outstanding 'to do' here? PR has not yet been merged (changes needed), but it will be.  It seems to me that the last line in the issue calls for a 'to do list' that needs to be checked off once each case study has been taken care of.

[2019-02-22 23:34] JacquesCarette commented on #1133
This should be a **design choice** that the person requesting code generation makes. So we should be able to output either.

[2019-02-22 23:36] smiths commented on #1115
Thanks @JacquesCarette.  I was just going to add Brooks.  😄

[2019-02-22 23:37] bmaclach commented on #1129
Yes, this still needs to be done for all of the case studies:

- [ ] Gamephys
- [ ] GlassBR
- [ ] NoPCM
- [ ] SSP
- [ ] SWHS

I wasn't sure if I was supposed to do this for just SSP or for all of the case studies? (I'm fine to do it for all of them, just didn't want to step on any toes if that's not what was expected). Also, I'm not fully sure about how to distinguish between assumed knowledge and

[2019-02-22 23:40] smiths commented on #1133
I agree.  When Steven generated the code, his goal was to make it work.  We weren't really worried at the time about the bigger picture.  Although td and m are currently constants, it is a likely change (if I remember the SRS correctly) that they could be variable.  It is also a design choice to handle all of the "inputs" through the params structure.  Because it is easier to verify that the requi

[2019-02-22 23:43] JacquesCarette commented on #1129
If it's an easy 1-2 line change (easy to find, easy to fix), go ahead. Otherwise it should be assigned to whoever owns that case study.  Whenever you are not sure, let the owner handle it.

[2019-02-26 03:28] JacquesCarette opened #1134 "Scope of Project"
See the discussion in PR #1110 .  The DocLang implements a "Scope of the Project" 'section', but apparently it is not (no longer?) part of our template.  So should it be removed from docLang too?

[2019-02-26 05:44] smiths commented on #1134
Hello Jacques.  Yes, the Scope of Project should be removed from docLang.  It snuck in when one student in the past added a new section to the standard (manual) SRS template.  I should have caught it sooner, but I didn't.  :-(
We are reaching a point where the purpose of each SRS section is becoming clear and Scope of Project doesn't add anything.  I believe the rule that we should apply to the se

[2019-02-26 22:07] bmaclach opened #1135 "GlassBR self-referential DDs break generated code"
Some changes were made as part of commit f5ec138336b056dbf64223a8ee2a0e317ec5fa0c that broke the generated code for GlassBR (the changes to DataDefs.hs and IMods.hs are of particular note here). These changes seem to have been made intentionally to remove code-specific symbols from the GlassBR SRS, however they break the code because the DDs now say that, for example, `J` is calculated by the func

[2019-02-26 22:59] smiths commented on #1135
@bmaclach, in my opinion there is no way to fix this.  The requirements should be abstract, but the code needs to know what interpolation means.  What we need is the "design" that bridges between the two.  I have written a manual version of the Module Interface Specification that connects the SRS to the code:

https://github.com/smiths/caseStudies/blob/master/CaseStudies/glass/docs/Design/MIS/glas

[2019-02-27 15:54] bmaclach commented on #1120
I did see those previous cases in SSP. I didn't do them here because each de-inlining results in a new DD and new symbols, and the presence of those DDs and symbols really confused me until I found issue #457 which explains them. Anyway, I think I can do the same thing for this case. In the future when we implement the inlining, I think we would want to make sure that the "intermediate" symbols do

[2019-02-27 15:58] bmaclach commented on #1129
It should be an easy to find and fix change, and I think it makes more sense for a single person to own this, so I'll keep it assigned to myself. The tricky part is just going to be deciding on how to categorize each bit of knowledge as assumed, topic-based, or asset.

[2019-02-27 17:07] bmaclach opened #1137 "Symbol collision leading to error in generated code"
One of the errors in the generated code for glassBR happens because there is a variable `k` and also a constant `k` with a value of `2.86e-53`. This symbol collision leads to the value of the constant being used instead of the variable `k`. The generated code should be:
`y_2 = func_lin_interp(x_z_2.get(k_2), y_z_2.get(k_2), x_z_2.get(k_2 + 1), y_z_2.get(k_2 + 1), x);`
But it currently is:
[code]
I

[2019-02-27 17:47] bmaclach opened #1139 "GlassBR SRS broken due to references to interpolation"
(Follows from #1135) As of PR #1138, the GlassBR SRS will break because some code-specific symbols are referenced in DDs. As an example, here's one of the DDs from after the PR:
![image](https://user-images.githubusercontent.com/18634568/53510997-4b525f00-3a8d-11e9-871a-8c8680c4ea14.png)

And here is what the same DD looked like before the PR:
![image](https://user-images.githubusercontent.com/186

[2019-02-28 14:46] JacquesCarette commented on #1135
I completely agree with @smiths on the need for 'design' to serve as the link between SRS and code, and that it is the root of the problem here.  Interestingly, my instinct was the opposite to his for what to leave broken!  But, now that I read his reasons, I agree.

I am quite glad that this is bringing to the fore the need for the design language. We knew it would come, but it is always better w

[2019-02-28 14:57] JacquesCarette commented on #1120
In theory, we already have partial infrastructure for that -- there is stuff regarding `Scope` of variables for this.  The representation part is done, but it is not used, so there is no solid processing code to go with it.

[2019-02-28 14:58] JacquesCarette commented on #1129
Tricky == guess but verify.

[2019-02-28 15:04] JacquesCarette commented on #1137
The break was definitely accidental. The collision definitely should have been detected, but clearly was not, which is a bit of a pain.  Yes, go ahead and change it back to fix the code.  I guess this issue should still be left open though, to deal with the collision issue?

[2019-02-28 15:57] bmaclach opened #1142 "Using custom text as an internal reference link"
Some internal references throughout our example SRSs duplicate information. For example, here's a line from the SRS:
![image](https://user-images.githubusercontent.com/18634568/53579183-1c98bf00-3b47-11e9-9898-2670febd5485.png)
The phrases "goal statements", "theoretical models", and "instance models" are repeated. Ideally, we would want this to say "The goal statements are refined to..." where th

[2019-02-28 16:53] smiths commented on #1135
@JacquesCarette, I agree that it is nice that the need for a design language is coming up organically.  It is also nice that @bmaclach is bringing it up, since he seems the natural candidate to work on this area for his research.  😄

[2019-02-28 17:05] deviprasad135 commented on #1121
Hello Dr. @JacquesCarette, please review the changes in 1a67f73 whether the indentation is correctly applied on HTML tags.

[2019-02-28 19:57] oluowoj opened #1146 "Need to redefine the equation of Impulse"
Equation of impulse in manual version is shown below:
<img width="363" alt="image" src="https://user-images.githubusercontent.com/43192745/53594515-03a10580-3b69-11e9-96d6-e23c8399d907.png">

@JacquesCarette will discuss how to define the equation without 2 =

[2019-02-28 20:39] smiths commented on #1146
I don't know if it addresses the concerns of @JacquesCarette, but I think what we want to do is write the final form of the equation that we need and then use the derivation section to show the progression from the general equation to the specific equation.  In looking at the impulse equation now, there are definitely problems with it.  J is shown bold, as a vector, by m*Delta v is a scalar.  How

[2019-03-01 01:23] Mornix commented on #1117
With the merge of #1147 the remaining suggestions (and their counts) are:
[code]

[2019-03-04 17:13] bmaclach commented on #1139
With regards to the blank symbol, the reason this happens is because `interpZ` is a `Func`, which is a type for implementation-stage functions. We have a function, `asExpr`, which converts `Func` to `Expr`. It does so by creating a `QuantityDict` using a function `implVar` shown below.
https://github.com/JacquesCarette/Drasil/blob/fbb293e00046f0e1d1000aba676316882548bab3/code/drasil-lang/Language/

[2019-03-04 18:48] smiths commented on #1139
I have reassigned this issue to @JacquesCarette because the discussion has moved toward a short-term Drasil code solution.  @bmaclach's solution sounds good to me, but there might be consequences that I'm not aware of.

[2019-03-04 21:39] smiths opened #1150 "Spencer Fixme Fixes"
I should probably fix my the fixmes assigned to me, but @bmaclach will get it done quicker than me.  😄 @bmaclach, I'll explain the new data definitions below.  Can you please enter this information into Drasil in the correct format.  @bmaclach, if you have any questions, or suggested improvements, please let me know.

#### SpencerFixme1Please

Label: Sum of interslice normal forces
Symbol: $F_x^G$

[2019-03-04 22:47] bmaclach commented on #1150
@smiths A couple things to clarify:

For the 2nd one, did you intend for the label to include the word "normal"? I ask because elsewhere in the SRS we simply call H "interslice water force".

For the 3rd and 4th ones, should the label say "Height of right **side** of a slice" instead of "Height of left **slide** of a slice"?

[2019-03-04 23:20] smiths commented on #1150
Thank you for the comments @bmaclach.  I did intend for the word normal to be in the new DD, since it is a normal force.  Water force seems like an odd term.  However, let us change what I wrote to water force, to be consistent with the other parts of the document.

Your corrections to the 3rd and 4th ones are also correct.  Thanks!

[2019-03-04 23:23] bmaclach commented on #1150
Okay @smiths. We can always change the "interslice water force" to be "interslice normal water force" if that's a better name, too.

[2019-03-04 23:25] smiths commented on #1150
I'm cautious about making too many changes at once, but I do prefer interslice normal water force, if you can make the change without confusion.

[2019-03-04 23:27] bmaclach commented on #1150
It should be a simple one line change. I'll go ahead and do it.

[2019-03-05 17:31] JacquesCarette commented on #1120
Let's make a new issue, but refer back to this one for context.

[2019-03-05 17:54] JacquesCarette commented on #1146
I agree that the equation should be written in its final form. And, for now, the derivation can show the rest. We'll want to 'upgrade' that later.

[2019-03-05 17:58] JacquesCarette commented on #1117
That's great!  You do seem to have dealt with the ones we want to do in one go, and the rest really are something that can be done over time.

[2019-03-05 20:43] oluowoj commented on #1146
Impulse(vector) equation has been resolved and updated to
J = m*Delta v. Screenshot of .html output

<img width="340" alt="image" src="https://user-images.githubusercontent.com/43192745/53836241-780ae880-3f5d-11e9-976c-116e5222439b.png">

[2019-03-06 12:50] JacquesCarette opened #1153 "Making code citable"
Here are some detailed instructions on how to get a DOI for code!
https://guides.github.com/activities/citable-code/

[2019-03-06 15:39] bmaclach opened #1154 "Define equations to always be inlined"
To achieve explicit grouping, we define "intermediate" symbols (see #1120), however we currently have no way to tell Drasil that, rather than displaying the "intermediate" symbols where they are used, these equations should be inlined. For example, we want:
![image](https://user-images.githubusercontent.com/18634568/53892860-1600c080-3ffb-11e9-86d9-75c8233724c5.png)
But what we currently have is:

[2019-03-06 15:40] bmaclach commented on #1120
Issue #1154 created, closing this issue as the new intermediate symbols for this case of explicit grouping have been merged in with PR #1140.

[2019-03-06 15:40] #1120 closed

[2019-03-07 20:06] bmaclach commented on #1129
I guessed, which ended up just meaning that I categorized everything as "topic-based" and left the "assumed" knowledge empty for each example (see PR #1155). I think this makes sense because I think the nature of "assumed" knowledge means that we were unlikely to have included them in this section prior to now.

I'm not sure how best to verify my guesses. Is @smiths the right person to look them o

[2019-03-07 23:50] deviprasad135 commented on #1121
Hello Dr. @JacquesCarette, please review the code in 99e0fdf.

[2019-03-10 14:12] smiths commented on #1129
Yes, I will look over PR #1155.

[2019-03-14 01:49] vajihehm opened #1158 "symbols in Theoretical Models in GlassBR"
@smiths Just to confirm, according to that I must add the new symbols including "Pfail, Ptolerable, capacity, load" to the table of symbols and you have mentioned "The capacity for SSP is expressed as shear stress. In another problem it might be tolerable torque". I had a chat with @bmaclach though and he told me "T2" is the one that will also be used in SSP. So, I don' t know If they are somethin

[2019-03-14 03:28] smiths commented on #1158
@vajihehm, let us keep this issue local to GlassBR.  Don't worry about generalizing to something that can be used in other examples at the moment.  @bmaclach is also modifying ssp.  Making too many changes at the same time is just going to cause confusion.  Once you are done and @bmaclach is done, we can consider whether to generalize.

[2019-03-14 16:46] deviprasad135 commented on #1121
Hello Dr. @JacquesCarette, I have fixed the over indent in Tex printer and applied the indentation correctly. Please review the code in 0863b30

[2019-03-14 19:13] bmaclach opened #1160 "Standardize period use in ConceptChunk descriptions"
There does not seem to be a standard convention for whether or not descriptions of `ConceptChunks` should end in a period. Currently, throughout Drasil, some do and some do not. This leads to inconsistencies in rendered documents. As an example, the "Terminology and Definitions" section is built from a list of `ConceptChunks`, so some entries in the list will end in a period and some will not.

I

[2019-03-15 12:28] smiths commented on #1160
@JacquesCarette might be aware of something that I am not, but this sound like a good idea to me.

[2019-03-15 13:33] smiths commented on #1146
@oluowoj, this final equation looks good to me.  What branch is this in?  I went to have a look at the current documentation, but I want to make sure I'm in the right branch.  Is it gamephy_SRS?

[2019-03-15 19:08] oluowoj commented on #1146
yes, that's correct.

[2019-03-15 22:05] smiths commented on #1146
Thank you @oluowoj.  I had a quick look at the new documentation.  It looks to be going in the right direction to me.  I think we are safe to close this issue now.

[2019-03-16 04:16] oluowoj opened #1163 "Fix output parameters in Instance Model(game physics)"
Output parameters in Instance Model is not correct(Drasil version) Needs to be reviewed and fixed. Had a discussion with @smiths  at the all-hands meeting. I will work on fixing these.

[2019-03-16 14:22] JacquesCarette commented on #1134
So I changed the assignee to @Mornix since the next step is to remove it from docLang.

[2019-03-16 14:56] JacquesCarette commented on #1139
So why is `interpZ` in there at all?  I thought that we filtered out `Implementation`-only symbols from the symbol table. At least, that's what we should do!  In other words, `interpZ` should not show up in the table of symbols at all.

In other words, it feels like somehow the DD for `J` is insufficiently thought through. Certainly the pre-PR DD seemed wrong too: defining `J` in terms of `J` is q

[2019-03-16 16:46] bmaclach commented on #1139
We do filter out `Implementation`-only symbols from the Table of Symbols (we do this by setting their symbols to `Empty` and then filtering out empty symbols) but we don't filter them out for the `SymbolTable`. If we did, then Drasil probably would have complained when we tried to use one here (which is probably what we want).

[2019-03-17 02:50] JacquesCarette commented on #1121
99e0fdf reviewed, see comments on that commit.

[2019-03-17 02:56] JacquesCarette commented on #1121
Sorry, I had the version numbers backwards - but now both have been reviewed and commented on.

Of course, once the fixes are done, I'll need to see the new HTML output, to see if it's good.

Also, with your newfound skills with the pretty-printer, you should also fix some of the over-indenting the TeX printer!

[2019-03-17 13:38] JacquesCarette commented on #1160
I agree.

Certainly, whenever we have something that we expect to be a phrase, it should never have a period. When something is expected to be a complete sentence, then I think that should have a period. Anything that is expected to go into a list should be a phrase, without periods.

This seems to be information about "how to record knowledge", which I think is going to be part of @oluowoj 's wor

[2019-03-17 13:38] #1160 closed

[2019-03-17 15:50] JacquesCarette commented on #1146
I re-opened the issue because while the equation is now correct, the fix loses information.

[2019-03-17 15:54] JacquesCarette commented on #1139
Thanks for the clarification. Yes, that seems right. The bigger problem of the DD for `J` remains though.

[2019-03-18 05:36] Mornix opened #1164 "[Design] Whacking Many Moles"
# Whacking Many Moles with a Large Mallet
## The Moles
### Spotting the First Mole
Tiny (HGHC) contains a reference to an instance models section, yet does not have an instance models section.

drasil-docLang generates a templated introduction for the system specific description (SSD) section by taking `Section`s (a `Document`-level concept) and referencing them. One of the `Section`s needed for t

[2019-03-18 13:41] #545 closed

[2019-03-18 14:41] bmaclach commented on #1139
I agree that the DD for `J` is a problem. Is your proposed solution, to have symbols for abstract functions that exist at the `Equational` stage but are not specified until the `Implementation` stage, something we want to implement immediately? Or should I go ahead with my proposed short-term solution for the sake of getting working generated GlassBR code, with the plan to fix it and implement the

[2019-03-18 16:52] deviprasad135 commented on #1121
I have already fixed the over indentation in TeX printer.

[2019-03-19 12:17] smiths commented on #1139
My "vote" is  to go with the short-term solution to get things working.  The bridge between requirements, design and implementation is a bigger conversation.  It is definitely a conversation that we need to have, but it would be nice to be working from a base that works.

[2019-03-19 15:15] JacquesCarette commented on #1121
Has the over-indentation in the TeX printer been made into a separate PR that can be merged in sooner rather than later?

[2019-03-19 15:20] deviprasad135 commented on #1121
Yes, it is done on a separate branch and can be merged in sooner.

[2019-03-19 15:32] JacquesCarette commented on #1139
We need to implement 'something' immediately to get things working. Getting the DD for `J` right is likely too much work - but we need some kind of hack that will enable the documents to be generated (and compile) as well as to generate code that works.  So we might need to have some kind of hack processing of 'abstract' DDs. In the longer term, we'll need to change DDs in the same way I changed I

[2019-03-20 15:33] bmaclach commented on #1150
These fixes were merged with PR #1152, so this issue can be closed.

[2019-03-20 15:33] #1150 closed

[2019-03-20 15:36] bmaclach commented on #1129
This is done as of the merge of #1155, closing issue.

[2019-03-20 15:36] #1129 closed

[2019-03-20 15:47] bmaclach opened #1166 "Abstract Data Definitions"
We need a better way to describe data definitions that are defined by some abstract function that will be specified at the implementation stage. Currently we use a hack where, in cases where we need to display a symbol for an implementation-stage function, we use `asExpr'` and/or `asVC'` to create a stage-independent version of that function.
https://github.com/JacquesCarette/Drasil/blob/193a03375

[2019-03-20 15:49] bmaclach commented on #1135
The decision on how to proceed in this specific situation has been made and was merged with #1138. The bigger problem is documented in #1166, so I'm closing this issue.

[2019-03-20 15:49] #1135 closed

[2019-03-20 15:51] bmaclach commented on #1139
The short-term fix to the GlassBR SRS has been merged with #1138. The need for a better, long-term solution is documented in #1166, so I'll close this issue.

[2019-03-20 15:51] #1139 closed

[2019-03-25 18:07] deviprasad135 opened #1172 "Displaying the tags in single line"
![1](https://user-images.githubusercontent.com/30101689/54941521-69cc3e80-4f03-11e9-82dd-7cb6a8773d82.PNG)

Here the text is displayed in a single line as the amount passed to the nest is greater than the length of text `hi`. In this case, the amount passed to the nest should be greater than 2 to make them display in a single line.

![2](https://user-images.githubusercontent.com/30101689/54942313-

[2019-04-01 14:48] deviprasad135 opened #1173 "Rendering small tags in single line using 'cat'"
When `cat` is used instead of `vcat` inside `wrap`, the small tags are rendered in single line. But in some places where the tags can not be rendered in single line, it is splitiing up into multiple lines.

This is the screenshot of tags rendering in single line.
![sl](https://user-images.githubusercontent.com/30101689/55336115-62a8b180-546a-11e9-91fa-cf43e5707701.PNG)

These are the screenshots o

[2019-04-01 20:37] bmaclach opened #1174 "Data definitions, instance models, etc. with multiple equations"
The following is an example instance model with multiple equations in the manual version of SSP:

![image](https://user-images.githubusercontent.com/18634568/55340191-2e38f380-5472-11e9-97e1-86a47e73d77d.png)

SSP also has data definitions defined with multiple equations.

Currently we hack this instance model's equation in Drasil by connecting each equation with "=", like so:

![image](https://us

[2019-04-03 21:19] Mornix opened #1177 "NoPCM CodeGen "Missing" Files"
When a `Choices`' `inputStructure` field is parametrized with `Loose` (specifically this issue is written using NoPCM as the example, however this also occurs if GlassBR is set to `Loose`), the value is passed through the codegen to affect the structure of the generated code. One of the "differences" in `Loose` structure mode is `derived_values()` is generated in `InputParamters.py` rather than th

[2019-04-03 21:23] Mornix opened #1178 "CodeGen Tracking Issue"
This issue is cataloguing existing issues with the codegen required to get GlassBR and NoPCM code building and running.

I know @JacquesCarette and @smiths dislike long-standing issues but I think cataloguing a list of smaller outstanding issues is a worthwhile tracking issue.

Outstanding issues:
- [x] #1177  —  Function location is hardcoded and breaks with structure being `Loose`.
- [x] #1179

[2019-04-03 21:34] Mornix opened #1179 "NoPCM CodeGen; Bad Code"
Generating code for NoPCM results in an invalid line being generated. This line is present regardless of the structure (ie. different from #1177) and is present only in the code generated from NoPCM.
In `Control.py`, `func_get_input` —  defined in `InputFormat.py` — is called without the `InputFormat` prefix (or alternately having the import be `from InputFormat import func_get_input` in the Pytho

[2019-04-03 21:39] Mornix opened #1180 "No Makefiles for generated code"
This is a high-level issue. Some languages, (C++, C#) do not generate Makefiles when it would be quite useful to even have "default" ones.

@JacquesCarette mentions that there were Makefiles at some point.

[2019-04-04 01:10] JacquesCarette commented on #1172
I think you might want `sep` rather than `($$)`. Have you read [the paper](http://belle.sourceforge.net/doc/hughes95design.pdf)?

[2019-04-04 01:54] JacquesCarette commented on #1173
Investigate `sep`. And read the paper I linked. There are ways to get this done.