[2020-06-02 18:15] smiths commented on #2156
Okay @Nathaniel-Hu, I understand now.  I hadn't read carefully enough your early PR; I thought you had already renamed `stressDD` to `normStressDD'.

Yes, you can do what you describe.  As far as tangStress goes, you should do everything with it that is currently done with `stressDD` (which you are renaming `normStressDD').

Yes, it makes sense to rename to `normStressDD' in this step.  In fact, y

[2020-06-02 18:17] Nathaniel-Hu commented on #2156
Ok then. thanks for the quick response!

[2020-06-02 18:25] Nathaniel-Hu commented on #2136
@smiths, I have made the changes; please review them for clarity and flow.

[2020-06-02 18:35] smiths commented on #2136
@Nathaniel-Hu, you still have links to the FAQ, but you removed that section.  Also, the second bullet of your getting started section repeats the table of contents.  You can remove the second bullet and the associated list.  Otherwise, looks good!

[2020-06-02 18:54] Nathaniel-Hu commented on #2156
@smiths, I renamed stressDD to normStressDD, and I also updated all references to stressDD to normStressDD. I needed to edit DataDefs.hs, GenDefs.hs and TMods.hs in SSP, and the changes passed the stability tests. These changes may be related to Item 4.

[2020-06-02 18:56] smiths commented on #2156
Sounds good @Nathaniel-Hu.

[2020-06-02 19:36] muhammadaliog3 commented on #2143
Questions for bmachlac and jaquescarette

First question
Originally my attempt was
[code]
With buildClass returning type Sclass r , and getModuleName being of type State FileState String. This failed at line ```n <- getModuleName```. Why is the correct answer ```n <-zoom lensCStoFS  getModuleName```?

Is it because every monadic action inside of the do statement of build class must be of type “Sta

[2020-06-02 20:02] bmaclach commented on #2143
@muhammadaliog3

Yes, exactly right. By calling `zoom`, we are changing `getModuleName` from `State FileState String` to `State ClassState String`, but the function still needs to know how to get the original `FileState`, so that's why `zoom` also takes a lens parameter.

`lensCStoFS` is lensing to the current `FileState` wherever it is used. The current `FileState` would be the initial `FileState

[2020-06-02 21:23] Nathaniel-Hu commented on #2136
@smiths, I removed the links to FAQs and merged the second bullet of my getting started section + associated list with the table of contents. The second bullet's associated list became short descriptions for each item in the table of contents. Is that ok?

[2020-06-02 21:24] muhammadaliog3 commented on #1342
@smiths
I think that there are 3 design decisions that need to be made.
1. Is this a feature that is just for display purposes, or is it a feature that will force the uncertainty on a quantity to zero (and thereby influencing calculations)?

I think that we should do the latter. In this case, perhaps the proposed MayHaveUncertainty class should be a contructor "ignoreUncertainty" that creates inpu

[2020-06-02 21:36] smiths commented on #1342
@muhammadaliog3 in answer to your question, uncertainty is definitely not just a display concept.  We do not currently propagate uncertainty in any of our calculations, but that is something that we want as an option in the future.  Rather than have the uncertainty set to 0%, I think it makes more sense for the programmer to explicitly state that they want no uncertainty.

@JacquesCarette may have

[2020-06-02 21:38] smiths commented on #2136
Yes, the changes look good to me.

[2020-06-03 14:58] Nathaniel-Hu commented on #2136
@smiths, I added a table of contents for the Quick Start Guide. Does that work?

[2020-06-03 15:16] smiths commented on #2136
@Nathaniel-Hu, yes, the table of contents definitely improves the Quick Start Guide.

Unless you have further changes in mind, I think you can go ahead and update the md files in the wiki, and then you can close this issue.  We can, of course, reopen it, or create a new issues, as new improvements come to mind.

[2020-06-03 15:43] Nathaniel-Hu commented on #2136
@smiths and @bmaclach, I added a new entry regarding rebasing into the Contributor's Guide under the Issue/Error Fixes section. Can either (or both) of you review this entry for clarity/correctness, please? Thanks!

Other than that, I don't think I have any further changes in mind. We should be good to go ahead and update the md files and the wiki.

[2020-06-03 16:32] bmaclach commented on #2136
@Nathaniel-Hu The workflow you describe in the new part of Issue/Error Fixes looks correct to me, and it is clear.

One thing I will note is that when I have had long-lived branches that became out-of-date with master, I would only rebase if I haven't yet pushed any commits on the branch. From my knowledge, the advantage of rebasing is that you don't clog up the log history with merge commits, but

[2020-06-03 16:40] smiths commented on #2136
I'm not an expert, but I agree with @bmaclach.  Force pushes are not a good practice.  In the case where a force push would be necessary, we should use `git merge`.

[2020-06-03 17:12] smiths opened #2161 "Contributor Test"
Now that you have almost completed #2136, the next task is to write a test for future contributors.  @JacquesCarette and I discussed approaches for training future developers and the idea we came up with was to start with a test.  @Nathaniel-Hu, please write a short test, consisting of multiple choice and short answer questions.  We'll use this test for future developers.

The test will be easier

[2020-06-03 17:49] Nathaniel-Hu commented on #2156
@smiths, pending the merger of PR #2160, I've begun looking into how to implement the following change:

In our discussions, @bmaclach mentioned that the references in RefBy of the DD are generated automatically based upon its use in defining GDs, TMs, IMs, etc. (see below picture for example).

<img width="859" alt="Screen Shot 2020-06-03 at 1 42 59 PM" src="https://user-images.githubusercontent.

[2020-06-03 18:27] smiths commented on #1916
I'm sorry @muhammadaliog3, but I do not know the answer to your question.  Maybe you can find it by looking at the code documentation:

https://jacquescarette.github.io/Drasil/docs/index.html

Alternatively, this is likely a question that @JacquesCarette or @bmaclach could answer.

[2020-06-03 18:33] smiths commented on #2156
@Nathaniel-Hu, I'm not sure of your question.  It looks like you have already accomplished what I would like to see.  You are correct that `DD: normStress` and `DD: tangStress` should appear in the derivation by substituting into `TM: mcShrStgth`.  The screen shots you have above look correct to me.  What else are you trying to do?

[2020-06-03 18:54] Nathaniel-Hu commented on #2161
@smiths, I'm unsure as to what content I should be including on the test. Should I (at least) be including the following?
- sample Haskell code (e.g. simple functions, class definitions, things from [this site](http://learnyouahaskell.com/chapters))
- items from the Contributor's/Quick Start Guides
- sample LaTeX code (from [LaTeX tutorials](https://www.latex-tutorial.com/tutorials/))
- basic git

[2020-06-03 19:05] Nathaniel-Hu commented on #2136
Ok then, thanks for the insight @bmaclach and @smiths. Currently, the section looks like this:

[code]
       git fetch
       git rebase origin/master
[code]

I'm unsure how I should incorporate your insights into this section. Do any of you have any suggestions?

Aslo, I have used rebasing on two occasions to update out-of-date branches (Issue#2136 and Issue#801 I think) on my local repo. Has th

[2020-06-03 19:07] Nathaniel-Hu commented on #2156
@smiths, what I showed was just a sample implementation. I wasn't sure how you wanted me to implement Item 4 (or that this was how you wanted me to implement it). If this is the correct implementation, then I will save my current changes to either a new branch off of master (pending the merge of PR #2160) or as a new branch off of branch Issue#2156_III.

[2020-06-03 19:19] bmaclach commented on #2136
I think just before the part that says "Run the following commands" you can add a branching point in your instructions, like:

Has the out-of-date branch been pushed?
- If yes, run...
- If no, run...

As for your 2nd question, I think there would only be problems if you had already pushed the branches (before rebasing), and you would have been the one to notice the problem because Git would have c

[2020-06-03 19:22] JacquesCarette commented on #2143
BTW, it's always a good idea to put the words "closes \# NNNN" in the PR text. When I merge it, it will automatically close the issue!

[2020-06-03 19:22] #2143 closed

[2020-06-03 19:25] JacquesCarette commented on #2156
#2160 is now merged.

[2020-06-03 19:27] Nathaniel-Hu commented on #2136
@bmaclach, I pushed branch Issue#2136 before rebasing it. However, #2136 addresses changes to the proposed Contributor's/Quick Start Guides.

@bmaclach and @smiths, to update the Contributor's Guide, I might see if I can manually copy over the changes (since it is in the wiki). Or should I try cloning the wiki to my local repo, copy over the changes and push that?

To update the Quick Start Guide,

[2020-06-03 19:28] Nathaniel-Hu commented on #2156
Thank you.

[2020-06-03 19:36] JacquesCarette commented on #1342
Great questions.

I think the definition of `Uncertainty` should change. The idea is almost the same as the potential solution: rather than change `_unc'' :: Uncertainy` to `Maybe Uncertainty`, I would change the definition of `Uncertainty` to contain that `Maybe` directly.

The should never be able to set the uncertainty to 0. Trying to do that should be a hard error. However, we can (and should)

[2020-06-03 19:48] JacquesCarette commented on #1916
First, you should really investigate if that `Sentence` is crucial, i.e. if it is inevitable that the only information you have, when you're ready to throw that error, is a `Sentence`. Often, it is not, and then printing is simplified.

If it is, then there are various 'rendering' functions in `drasil-printer`. You'll need to use the `plain` printer.

If you tell us the context more precisely, we

[2020-06-03 19:58] muhammadaliog3 commented on #1916
I guess this is a good time to present my solution.
Say we have the the following rows in a symbols table
[(sigma, description_1),(sigma, description_2),(E, discription_3),(E, description_4)]
Here two variables have the conflicting symbol of sigma and 2 have conflicting symbol of E.

I do not believe that in the error we should simply print "Duplicate symbols found", rather we should say "Duplicat

[2020-06-03 20:31] smiths commented on #2156
@Nathaniel-Hu, your sample implementation looks good.  Please create a pull request around that.  I believe that once that PR is merged, we will be able to close this issue.  :smile:

[2020-06-03 20:35] smiths commented on #2143
@Nathaniel-Hu, please add to the Contributor's Guide (#2136) the advice from @JacquesCarette about automatically closing an issue with a PR.   You can just add the advice to the wiki.  There is no need for a local copy under version control.

[2020-06-03 20:39] smiths commented on #2136
@Nathaniel-Hu, for the changes we are discussing, you can edit the wiki directly.  When you are done, you can point us to the part you have revised, so that we can give it a quick once over.  In the future,  if there are large changes to the wiki, we should use the wiki repo (https://github.com/JacquesCarette/Drasil.wiki.git).

[2020-06-03 20:43] smiths commented on #2161
@Nathaniel-Hu, I'm glad you asked your clarifying question before getting started.  At this time, I'm only thinking that the test question will be related to the Contributor's/Quick start guides, and the related basics of git, and issue tracking.

[2020-06-03 20:54] Nathaniel-Hu commented on #2143
Ok then. @smiths I previously added an entry about linking issues in PRs from my discussions with @bmaclach, but I've made a few changes to that entry. Please review it for clarity/correctness.

https://github.com/JacquesCarette/Drasil/blob/Issue%232136/People/Nathaniel/ProposedContributorGuide.md#github

[2020-06-03 21:03] bmaclach commented on #2143
@Nathaniel-Hu Unrelated to your above, question, but I just noticed under "Merging Pull Requests", the "Dependent Changes" point is outdated. I think you should replace it with your 4th bullet point under "Creating Pull Requests".

[2020-06-03 21:39] Nathaniel-Hu commented on #2143
@bmaclach, I have merged the two points together as an entry under "Creating Pull Requests". Please review it for clarity/accuracy. Thanks!

https://github.com/JacquesCarette/Drasil/blob/Issue%232136/People/Nathaniel/ProposedContributorGuide.md#github

[2020-06-03 21:47] bmaclach commented on #2143
@Nathaniel-Hu The wording is good in my opinion, but I think you should link to this comment: https://github.com/JacquesCarette/Drasil/pull/2157#issuecomment-637079762 either instead of or in addition to the comment you are already linking to.

[2020-06-04 02:52] smiths commented on #2143
I agree with linking the comment mentioned by @bmaclach above.

[2020-06-04 03:36] smiths commented on #501
We can close this issue.  A scientific knowledge ontology is one of the tasks listed in our potential projects wiki.

[2020-06-04 03:36] #501 closed

[2020-06-04 03:39] smiths commented on #483
I've verified that we have restored the "lost" information to stable.  (It isn't pretty how it is formatted, but it is there.)

[2020-06-04 03:39] #483 closed

[2020-06-04 03:45] smiths commented on #468
Yes, this is still needed.  I had a quick look at the LaTeX code and some of the equations are spaced very oddly.  I'll attach the example of is_safeProb.  It looks like `is - safeProb`, with LaTeX implicitly multiplying all the symbols.

![is_safeProb](https://user-images.githubusercontent.com/1422000/83712573-115afb80-a5f4-11ea-8c74-8b43e9c33e2c.png)

The solution might just be to use `Atomic` p

[2020-06-04 03:49] smiths commented on #401
Yes, I just moved this idea to the potential projects page in the wiki.

[2020-06-04 03:49] #401 closed

[2020-06-04 11:48] #2116 closed

[2020-06-04 11:50] #1010 closed

[2020-06-04 13:35] Nathaniel-Hu commented on #2136
Ok then. I've made some changes to the Contributor's Guide, referencing the other comment under dependent changes in the [GitHub](https://github.com/JacquesCarette/Drasil/blob/Issue%232136/People/Nathaniel/ProposedContributorGuide.md#github) section, and updating the 4th entry under the [Issue/Error Fixes](https://github.com/JacquesCarette/Drasil/blob/Issue%232136/People/Nathaniel/ProposedContribu

[2020-06-04 14:12] bmaclach commented on #2136
@Nathaniel-Hu Looks good to me!

[2020-06-04 15:14] Nathaniel-Hu commented on #2136
@smiths and @JacquesCarette, do I have editing access to the wiki (Contributor's Guide)?

[2020-06-04 16:20] Nathaniel-Hu commented on #2136
@smiths and @JacquesCarette,

Here is an outline/summary of the proposed changes made to the Contributor's Guide on the wiki (changes made over 5 revisions):

- removed Dan as one of the supervisors

- moved starting text into new Introduction section; added note to prompt contributors to skim at least the Important Notes and Issue/Error Fixes sections
- updated requests of suggestions prompt to "

[2020-06-04 18:55] Nathaniel-Hu commented on #2136
@smiths and @JacquesCarette, to update the Quick Start Guide, I've created a new branch (Issue#2136_QSG) and a new pull request (Update Quick Start Guide #2164) with the proposed changes.

[2020-06-04 19:34] JacquesCarette commented on #1916
That's a nice piece of Haskell.  I would prefer if the error was even more verbose & precise: it should give an error for each UID/symbol/description tuple that is duplicate.  So an error for `(sigma, description_1),(sigma, description_2)` and another for `(E, discription_3),(E, description_4)`.

[2020-06-04 19:49] #2147 closed

[2020-06-04 19:53] JacquesCarette commented on #2136
Thanks - it looked good, I've merged it in.

[2020-06-04 19:54] #2156 closed

[2020-06-04 19:56] muhammadaliog3 commented on #1916
But to print those errors I would need to convert a sentence to a string. I still do not know how to do that.

[2020-06-04 20:00] JacquesCarette commented on #1916
Oh, because of the descriptions?  Ok, skip those. Just do the UIDs and symbols then.

[2020-06-04 20:01] JacquesCarette commented on #468
Yes, I think `Atomic` is the solution.

[2020-06-04 20:05] smiths commented on #2136
With the Contributor's Guide complete, and the Quick Start Guide merged, we can close this issue.  Good work @Nathaniel-Hu.  We are definitely in better shape for future developers.  If we come across any other challenges, we should remember to update the Contributor's Guide.

[2020-06-04 20:05] #2136 closed

[2020-06-04 20:06] Nathaniel-Hu commented on #2136
Alright then, sounds good.

[2020-06-04 21:10] Nathaniel-Hu commented on #2161
@smiths and @JacquesCarette, I've created a sample Contributor's Test + Answers. It is almost complete, but I would like your feedback on it so far. Thanks!

https://github.com/JacquesCarette/Drasil/tree/Issue%232161/People/Nathaniel/Contributor's%20Test

[2020-06-05 17:58] bmaclach commented on #2088
This is trickier to implement than what I expected.

My plan was to update `chooseConcept`, `chooseSpace`, and `chooseODELib` to return a `State Doc X` (where `X` is whatever each currently returns). The `Doc` stored in the state would be the messages to print in the design log. Then in the `generator` function (where all of these are called), I would run the states and combine the resulting `Doc`

[2020-06-05 19:39] smiths commented on #1196
@bmaclach, can we close this issue?  It looks to me like the links are now automatically added in the Notes field.

[2020-06-05 19:43] bmaclach commented on #1196
@smiths No, this still needs doing. The Notes field is defined manually, whereas the Description field is built automatically. We want the links to be included in the Description field so that a user does not need to manually add them.

[2020-06-05 20:39] muhammadaliog3 commented on #1342
I have made two branchs with 2 possible solutions.
The second approach is build off of the first approach, and essentially make uncertainty and inherent Maybe value.
See Issue_1342 branch and Issue_1342_other_approach branch.

[2020-06-06 14:14] JacquesCarette commented on #2088
Yes, I think that's the right design.

In general, what you are doing here is combining a logging Monad (`Writer`) with a `Reader` Monad. Turns out these can be mashed together into `State`, instead of using an mtl-style monad stack. [I am mentioning this because the above provides an explanation of the 'optimization' `Reader` -> `State`, as this is not forced by just needing logging]

[2020-06-06 14:26] #2144 closed

[2020-06-06 14:35] JacquesCarette commented on #2161
I like the topics you chose. They are the ones that indeed should be understood.

I am, however, not a big fan of multiple choice questions / answers. I don't think you need to rewrite this though. I think you might want to simply add a "explain your answer" to each.

Multiple choice only tests quite shallow understanding - which is unfortunately the only thing that can be done when you're testing

[2020-06-06 14:39] Nathaniel-Hu commented on #2161
@JacquesCarette ok then, I will be sure to make those changes. Thanks for the feedback!

[2020-06-06 16:52] smiths commented on #2161
I agree with @JacquesCarette.  Good start on the test, and the right topic for questions.  My only additional suggestion is to remove the boilerplate at the beginning about student number, test instructions, etc.  We will definitely use this test in the future, but it will be administered on the honour of the people doing it; we won't be doing invigilated tests.

@JacquesCarette, I'm thinking that

[2020-06-06 18:06] JacquesCarette commented on #2161
Yes.

[2020-06-07 03:49] smiths commented on #1196
Thank you for the clarification @bmaclach.

[2020-06-08 15:21] Nathaniel-Hu commented on #2161
@JacquesCarette and @smiths, I have made the changes and updated both the Contributor's Test and the Answers documents. Please review the changes, and let me know if there are any other changes that you would like me to make. 😄

[Latest Commit](https://github.com/JacquesCarette/Drasil/commit/e426c5e0e2b9499b992bf3dffb9f74b9ed943316#diff-74688a64ce476540ea5214ff409c9181)

[Contributor's Test Folder

[2020-06-08 15:46] JacquesCarette commented on #1342
"An uncertain quantity cannot be exact (have 0% uncertainty).  Reconsider whether your value is exact or uncertain."

I do like the idea of giving advice as to what to do next, but I don't want to hardwire constructor names in error messages at this point.

[2020-06-08 16:28] oluowoj opened #2171 "Contributors Guide - User evaluation test"
Hello @muhammadaliog3 , @Nathaniel-Hu

I'm aware that @Nathaniel-Hu is already working on the Contributor's guide and I read some of the information in the thread. We had a discussion with @smiths and @JacquesCarette and wanted to provide more info about on other information is required in your test,  if not already included.

Task:
1) Write down in point form what you wish you knew before you sta

[2020-06-08 17:38] muhammadaliog3 commented on #1342
@JacquesCarette
Did you prefer the second approach or the first, i.e. do you want exact and uncertain values to differ because of constructors or do you want me to change uncertainty to a maybe value.

[2020-06-08 18:22] JacquesCarette commented on #1342
I think I prefer the #2170 approach.

[2020-06-09 12:20] muhammadaliog3 commented on #2171
Things I wish I knew
- When I first started Drasil I thought that to use git all I needed to know was branching and adding/commiting/pushin/pulling. However you actually need to know a bit more, things like what is the difference between a remote branch and local branch, what is origin, how to reverse commits, what is head, which branch are you pulling from when you "git pull". You need to be conf

[2020-06-09 14:59] smiths commented on #2161
Looks great @Nathaniel-Hu!  Good work.  Could you please just add a few more questions, based on the feedback from @muhammadaliog3 at:

https://github.com/JacquesCarette/Drasil/issues/2171#issuecomment-641252503

Specifically, @muhammadaliog3 mentions:

"... things like what is the difference between a remote branch and local branch, what is origin, how to reverse commits, what is head, which bran

[2020-06-09 22:16] bmaclach opened #2173 "Add to the design log the set of Choices used"
As of #2172, the generated design log documents any cases where a user's first choice cannot be used, but it does not document the actual choices used by the generator, meaning a user would have to decipher that information themselves by looking at their choices specification and the default choices.

We should expand the design log by having it document which choice was used for every design vari

[2020-06-09 22:56] smiths commented on #2173
Very well worded issue.  Thank you @bmaclach.  Given that you have mapped out a path to a solution, is this issue feasible for one of the summer students, or is it better to postpone it for a while?

[2020-06-09 23:25] bmaclach commented on #2173
@smiths I think it's feasible for a summer student.

[2020-06-10 18:27] #1104 closed, assigned to JacquesCarette

[2020-06-11 13:16] muhammadaliog3 commented on #2076
Quick question, currently I am using dollar signs more often then brackets, for example
[code]
if anyone wants I could change them all to
[code]
So if anyone has any preferences for dollar signs or brackets then reply to this comment.

[2020-06-11 15:42] JacquesCarette commented on #2076
Haskell style is to use `$`.

[2020-06-11 15:50] smiths commented on #2161
Looks good @Nathaniel-Hu.  I made a few small comments as part of your last commit.  As an aside, when you name your branches, could you include a hint on what the branch is about.  The issue number is nice, but I don't remember the numbers and have to look it up each time.  If the name suggests what it is, then it will save me (and probably others) a step.

[2020-06-11 19:11] #2148 closed

[2020-06-12 14:16] muhammadaliog3 commented on #1804
**Potential solution**
Change the system information data type, specified in drasil-database,
[code]
to
[code]
There are two potential drawbacks to this solution
1. One must explicitly state who both the authors even if they are the same person. This means that every example will have to change.
2. Say that at some point in the future of Drasil's Drasil generates another artifact that it currently

[2020-06-12 14:43] muhammadaliog3 commented on #2076
The latest commit now compiles, but I do not know about HLint. Now I will try to make the code use less lines/make it more modular. I could make this a new issue called "Modularize FromData functions", but I will do it here in this issue instead.

The reason I am commenting is if any knows how to do the following without do statements: (a->b-> m c)->m a->m b-> m c, then please comment below.

[2020-06-12 14:55] bmaclach commented on #2076
@muhammadaliog3 The only way I know of to do that without do notation is `join $ liftM2 f ma mb` where `f :: a -> b -> m c`, `ma :: m a`, `mb :: m b`. I remember recently seeing a comment from @JacquesCarette about using `join` though, so he likely has insight here. Also, do notation might be preferable, because it's usually more readable.

[2020-06-12 21:54] bmaclach opened #2179 "Change constDecDef implementation in Python"
Currently `constDecDef`, GOOL's function for generating code for declaring and defining a constant, is implemented in Python by rendering just a plain variable declaration, since the concept of "constants" isn't actually supported by Python.

Since `constDecDef` is not actually doing what it is seems like it should in Python, we may want to change the implementation. We could:
1. Have the Python i

[2020-06-12 22:23] bmaclach opened #2180 "Remove Iterator type from GOOL"
GOOL currently has a type constructor called `iterator` and a variable constructor called `iterVar`. These only exist because, in C++, in for-each loops, the iterator variable needs to be de-referenced when used in the loop body. Thus, if someone writes GOOL and forgets to use `iterVar` when defining the body of a for-each loop, the generated code will not work in C++.

Now that we have state in G

[2020-06-12 22:28] bmaclach commented on #2180
This is more challenging than the previous GOOL issues I posted, but still I think feasible for @muhammadaliog3 or @Nathaniel-Hu.

[2020-06-13 12:20] JacquesCarette commented on #1804
Third, better solution: 'authorship' is not a global concept, but something more local, i.e. something attached to the artifacts that make up the system.

So a proper fix to this requires us to first understand, in the context of Drasil, what are the pieces that are still human-authored where credit should be given. Those pieces should then have (optional) author fields.

For now, it makes sense t

[2020-06-13 12:38] #2145 closed

[2020-06-13 12:44] #1916 closed

[2020-06-13 12:47] JacquesCarette opened #2181 "Finding duplicate X"
Finding errors in an SRS specification should be done much earlier. When an SRS is assembled, and long before it is rendered, there ought to be enough information to do many checking passes that everything is ok.  See for example the comments on issue #1916 and PR #2167.

[2020-06-13 13:17] JacquesCarette commented on #2076
With `do`, it is easy:
[code]
It's available as `bind2` from the `utils` package (on Hackage), but it's not worth pulling in that package if we're not already using it.

[2020-06-13 13:20] JacquesCarette commented on #2179
I agree with option 2. Including the renaming to follow Python conventions.

[2020-06-13 13:22] #1342 closed

[2020-06-13 16:03] smiths commented on #2179
I like option 2.  In fact, I think we should think of option 2 for all programming languages.  The convention that constants are in ALL_CAPS seems to be a universal convention.

[2020-06-13 16:12] smiths commented on #2096
@Nathaniel-Hu and @muhammadaliog3, @bmaclach has created another issue for you to consider: #2180.

[2020-06-14 13:00] JacquesCarette opened #2183 "Pulling out libraries from this repo"
Right now Drasil shows as 93% C++, because of the libraries it uses. This is silly, we want to show up as a Haskell project, not a C++ project!

Solution: we should make a different repo that has these things in it.

[2020-06-14 14:55] smiths commented on #2183
Great idea @JacquesCarette.  We should make sure that your solution is as easy to use, or almost as easy to use, as the current implementation.  Right now someone outside our group can get our case study examples running without too much effort.  With a second repo there will be an additional step to clone that repo, but hopefully that is the only extra step.

[2020-06-15 14:43] bmaclach commented on #2183
The tricky part with moving them to a different repo is that we still need them to compile the code during Drasil's build (it's probably possible even with them in a different repo, but I don't know how).

I just opened a PR (#2184) which I think should make GitHub recognize this as a Haskell repo again, by having it ignore the external libraries for its statistics. We may want to just do that ins

[2020-06-15 15:15] JacquesCarette commented on #2183
Thanks, I'll try that first.

[2020-06-15 15:21] JacquesCarette commented on #2183
And it worked - we're back to 83% Haskell.  This is probably good enough.

[2020-06-15 15:21] #2183 closed

[2020-06-16 13:14] peter-michalski commented on #388
@JacquesCarette When time permits, could I please get a quick explanation of what is meant/referenced by @szymczdm's comment "the function which takes in our "recipes" should take care of this and pass it along instead of baking it into the back-end"? I am not finding any mention of recipes or recipe in the code. Does this function already exist and hold the required file name, or is it a concept?

[2020-06-16 14:03] smiths commented on #388
@peter-michalski, "recipes" is terminology that we use, but it isn't explicit in the code.  When we write code in DSLs to explain how we want to transform the knowledge into some artifact, like a requirements document, we are saying we are writing a "recipe."  We are using this as an analogy to a cook book.  :smile:

Yes, there would be one bibfile instance per example.  I think the idea is that t

[2020-06-16 14:20] JacquesCarette commented on #388
Exactly.

[2020-06-16 17:39] smiths commented on #135
This issue is related to #1153.

[2020-06-16 18:02] smiths opened #2185 "Traceability when assumptions reference assumptions"
As mentioned for Projectile (#1628), when assumptions reference other assumptions, this does not appear in the traceability matrices.  For instance, in Projectile A: neglectDrag, A: freeFlight, and A: neglectCurv are all referenced, but don't show up as such in the traceability table.

@Mornix mentioned this is related to #1023, but closing that issue did not fix the problem.  My guess is that the

[2020-06-16 18:04] smiths commented on #1628
As described above (https://github.com/JacquesCarette/Drasil/issues/1628#issuecomment-506475593), most of the absent traceability entries is not a problem.  For the 5th entry in the list, a new issue was created (#2185).  Entry 6 in the list is no longer relevant, because the example has been improved so that the GD is used.

This issue can now be closed.

[2020-06-16 18:04] #1628 closed

[2020-06-17 04:39] Mornix commented on #2185
All the work to resolve this should already be completed. If you look at the Projectile SRS, you can see assumptions referencing other assumptions in the "RefBy" block present at the end of each assumption. When I updated the traceability matrices I replaced them in all examples to match the standard set that were present in the caseStudies repo at the time.

The good news about this issue is it's

[2020-06-17 19:03] smiths commented on #2185
Thanks @Mornix!  I was very confident that you had fixed the original problem when you "whacked all those moles"!  :smile:  Nice to hear confirmation that assumptions can reference other assumptions.

As far as where to include the assumptions, I like the idea of a new matrix where the rows and columns are assumptions.  The reason I suggest this is that I think this matrix will be empty for all of

[2020-06-19 17:47] muhammadaliog3 commented on #2123
@smiths I had a quick question, Dr Carette asked me to put the markdown printers in the drasil-printers package. Here was his original message:
"the 'right' way to do this would be to create an AST for markdown and a printer for markdown (in drasil-printers), and then use that. Then you can separate the meaningful content of the ReadMe generation from the markup/display aspects."

Would you guys l

[2020-06-19 18:38] #2180 closed

[2020-06-19 19:17] bmaclach opened #2188 "Remove printFunc and related methods from GOOL"
GOOL's internal type class for values, `RenderValue`,  includes 4 methods related to printing functions: `printFunc`, `printLnFunc`, printFileFunc`, and `printFileLnFunc`.

These methods are weird. Their types are all `SValue r`, but they are meant to represent functions, not values. Having them as values makes for some ugly code throughout the renderers where they are used.

There's also not a co

[2020-06-19 19:33] bmaclach opened #2189 "Remove inputFunc from GOOL"
GOOL's internal type class for values, `RenderValue`,  includes `inputFunc`, meant to represent the call to a function for reading input from the command line.

This doesn't lead to ugly code like the similar `printFunc`, etc., methods do (see #2188), but I still don't see any benefit to having it as a type class method. I didn't use it in the Swift renderer and instead defined the input-reading f

[2020-06-19 19:44] JacquesCarette commented on #2188
Great - this is a nice side-effect of implementing a new language.

[2020-06-19 20:48] muhammadaliog3 commented on #2123
@smiths

1. Could you look over the formatting of the sample readme's, (I sent over email) and if you want any extra information in them then you can mention that too.

2. Also I wasn't sure if I was supposed to add dates to the readMe's, do you want  them.

3. Also do you know where I could find the version numbers of the languages and ODE Libs, The following is what I hardcoded

C++ Version: gcc

[2020-06-19 21:37] bmaclach commented on #2123
@muhammadaliog3 As the one who has worked with the generated code/ODE libraries the most, I'm probably the most suited to answer your third question. The ODE library versions look right to me, except for SciPy you can put version 1.4.1.

For the language versions, I think it makes sense to go with those used in our Travis build. I think Travis uses the latest version of C++/Java/Python, though I'm

[2020-06-20 15:31] smiths commented on #2123
Thank you @bmaclach.  I agree with his answers to questions 2 and 3.  For question 1, it would be easier if the sample READMEs were available for everyone.  It is a shame that GitHub doesn't support attaching every kind of file, but there are some strategies you could use.  Since you are generating these README files in your branch, you could just point to the generated code with a link.  You can

[2020-06-22 14:23] muhammadaliog3 commented on #1804
Because the SRS and code generator will no longer use the authors field in the system description, they will each have to implement there own way of authorship (hence less reuse will happen).

Summary of SRS authorship: Authorship is taken from the system information and stored directly beside the completed document. Here is the specific code if anyone wants to see:
In particular the SRS has the f

[2020-06-22 20:12] Nathaniel-Hu commented on #2095
@JacquesCarette, is it intended for the scripts generating the data table to be run when the user(s) build the Drasil framework? Or will the data table generating scripts be run separately?

I am asking this so that I will know what the working directory will start out as (it will likely be obtained using `getCurrentDirectory`). I'm just unsure as to whether the working directory will be ./code/ o

[2020-06-22 20:30] Nathaniel-Hu commented on #2095
Also, as a future enhancement, should I consider looking into using `ByteString`s instead of `String`s for reading and writing files (given that `ByteString`s are faster and more space efficient to use compared to `String`s)?

[2020-06-22 20:41] muhammadaliog3 commented on #2123
Language version Numbers:
You can indivisually search for a package and find its version at this website, `https://packages.ubuntu.com/` , note that our build uses the xenial distribution. I have updated our readmes to the appropriate language versions for Python3 (it was 3.5.1), I could find the packages but I was unsure of the version (they are hard to read) of java/c++/csharp.

Configuration Fi

[2020-06-22 20:51] bmaclach commented on #2123
@muhammadaliog3
Re: configuration files:
drasil-code cannot import drasil-example, but drasil-example can call functions from drasil-code (and pass information to drasil-code as arguments to those functions). So you can still add these configuration file names to the README, you just need to add them first to a structure that gets passed to drasil-code (i.e. `SystemInformation`).

[2020-06-22 21:36] JacquesCarette commented on #1804
No, `mkDoc` should not take an Author argument. The author information should be in `SRSDecl`, which is the 'declaration of the SRS; if there is no author information there, it could be taken from `SystemInformation`, though I'd rather not.

We might need to rethink parts of `SystemInformation` too. It was never really designed, it just grew.

For `codeSpec`, we might need `SystemInformation`, `Ch

[2020-06-22 21:50] #2076 closed

[2020-06-22 21:59] JacquesCarette commented on #2095
Yes, these scripts should be run when the Drasil framework is built. We may as well automate that too.  You can assume that this will in general be run automatically from the Makefile, so the working directory can be set there. If someone will run it by hand, then they might need to do a bit of work to set it up properly.

Yes, definitely, we should move away from `String`. Probably to `ByteString

[2020-06-23 13:54] Nathaniel-Hu commented on #2161
@smiths and @JacquesCarette, are there any other changes you would recommend that I make to this test, or is it sufficient for now?

[2020-06-23 14:21] smiths commented on #2161
@Nathaniel-Hu, the test looks good.  I don't have any changes to suggest to the test.  However, I think we should stop maintaining two versions of the test - one with answers and one without.  We should just maintain the one with answers, since the testing template is written to either display answers or not (by setting a configuration parameter to `y` or `n`).  We should set the parameter to `n`,

[2020-06-23 14:52] JacquesCarette commented on #2161
Test is good now.

In a sense, for a future Drasil, a test like this would be an interesting artifact to incorporate: it's a self-test for developers that embodies knowledge assumed in the construction of Drasil.  Having said that, whether it's here or in se4sc, I don't have a strong opinion either way.

[2020-06-23 14:58] smiths commented on #2123
@muhammadaliog3, you are correct that some files are only needed for the SRS, but there are at least a few configuration files that are needed for the examples.  For instance, GlassBR needs two date files.  @muhammadaliog3, you should compile and run all of the case studies that have code (there aren't that many of them), to see if you have any problems.  If you have any problems, we should try an

[2020-06-23 17:35] muhammadaliog3 commented on #2123
@JacquesCarette
In order to get the purpose of the example into drasil-code I was thinking I could pass them through system information. I am currently passing the purpose (which is a list of sentences) to system information,  then to codespec, and then to genState. However I need to convert the sentences to a doc at some point. Instead of converting the sentences to a doc in each of the 6 example

[2020-06-23 18:02] JacquesCarette commented on #2123
I'm thinking about it. You're definitely thinking in the right direction, but as this is a design that could be quite important in the future, I don't want to mess it up.  So more thinking.

[2020-06-24 12:27] muhammadaliog3 commented on #2123
With regards to running the GlassBr example
For cpp, I got the following error
[code]

[2020-06-24 13:49] bmaclach commented on #2123
@muhammadaliog3 Based on that error for C++, you do have it installed (If you didn't, you would have got a "Command not found" error when you ran `make build`). The error is likely because you hadn't copied TSD.txt and SDF.txt to the directory where you run `make run` (this is why we need to document the need for these in a README 😄).

The reason you can't run that one Projectile example is becaus

[2020-06-24 16:18] muhammadaliog3 opened #2193 "Prevent access to external files not in Config Files"
Configuration files are files that must be in same directory as executable in order for the executable to run. An example would be GlassBR that uses "SDF.txt" and "TSD.txt" in DataDefs.hs. While adding readme's to drasil in #2123 , config files were not stored anywhere, so they were added as a field in system information. They were added as a list of strings that the user must manually enter when

[2020-06-24 17:47] bmaclach opened #2194 "Build ODEInfo from InstanceModel"
Currently, the `InstanceModel` type is not sophisticated enough to be able to detect when an instance model is an ODE and extract the required information from the instance model to solve the ODE. Thus, users must compile the `ODEInfo` object on their own, meaning the ODE-related information must be specified in two places (`InstanceModel` and `ODEInfo`).

We should instead build the `ODEInfo` aut

[2020-06-24 18:18] smiths commented on #2194
Great issue @bmaclach.  I agree that the user will still specify some information in `ODEOptions`.  The Instance model captures the physics, but it should be written abstractly.  How to satisfy the physics, in this case using an ODE solver, is a separate stage in problem solving.  We will always have to add information as we go from abstract requirements to concrete implementations.  As you have s

[2020-06-24 18:40] smiths commented on #2123
Thank you for the feedback @bmaclach.  Yes, the missing configuration files are the problem.  It is a good test of our generated programs to see what is involved for people to compile and run them.  As you have said, what we learn can be incorporated into the Readme file for future users.

[2020-06-24 19:25] JacquesCarette commented on #2193
Can you expand on this?  I mean, how would you detect such file access? You are right to point out this issue, I just want a better understanding before I give an opinion on a design.

[2020-06-24 19:29] JacquesCarette commented on #2194
There are a few issues related to this already - I think all of them are assigned to me. It is still on my list to try to recapture the ideas in the branch back into main. The basic idea is to have our 'models' have more static information in them. Right now, too much of the information is 'buried', or 'encoded'. This is sufficient for printing and some amounts of code generation, but not enough t

[2020-06-24 20:15] muhammadaliog3 commented on #2193
All calls to config files within GlassBr have similar structure, like the following which calls on the configfile "SDF.txt"
[code]
```interpY``` is the most interesting because it calls a function
[code]
Where singleLine and multiLine are from a module DataDesc.hs in drasil-code, according to the README in that module it "Defines types and contains helpers for dealing with data". Perhaps we could

[2020-06-24 21:40] JacquesCarette opened #2195 "Where does information belong?"
This issue has been central to Drasil for a long time, but now there is an issue (#2123) that is bringing parts of the problem back to the fore.

In part, `SystemInformation` is a big hack. We never defined what a 'System' is, so it's very hard to know if some information belongs there or elsewhere.

For example: authorship. A single example can contain multiple authors. One person might have writ

[2020-06-24 21:47] JacquesCarette commented on #2123
See the linked issue #2195 for some additional context.

You shouldn't worry too much about efficiency right now. Re-rendering stuff for each example is not a big deal. We should worry much more about:
1. what is the information content of each of the 'things' (like the purpose) that we encode in Drasil
2. what does that information really pertain to?
3. given that, where should that information b

[2020-06-25 14:17] muhammadaliog3 commented on #2123
I have viewed SI as 2 things in the past. The first is to store common information that is specific to each example (to every drasil example will for example have a different name). The second somewhat more problematic view of SI is that it is a means of communication between packages that otherwise couldn't (for example transferring a paragraph, constructed from constructors found in drasil-lang,

[2020-06-25 18:11] muhammadaliog3 commented on #2173
@JacquesCarette To convert the choices to Doc's, do you mind if I derive show for a couple datatypes in Choices.hs

[2020-06-26 12:40] JacquesCarette commented on #2173
I would actually rather you didn't. We want to make explicit choices (pun intended) when we design our output 'syntax', and we don't want these to be impacted by changes in Haskell versions or code refactorings under the hood. So I prefer that we not use `show` at all.

[2020-06-26 16:04] muhammadaliog3 commented on #2173
@JacquesCarette  Do you mind if I make all the datatypes an instance of a class that implements show, for example
[code]

[2020-06-26 17:01] smiths commented on #2193
@muhammadaliog3, I'm not sure I understand this issue.  Do we currently have a problem with Drasil code accessing config files that it shouldn't?

[2020-06-26 17:05] muhammadaliog3 commented on #2193
No, we do not have a problem accessing config files currently. We can access config files just fine. This issue was created because we need to somehow record the names of the config files (ideally in system information).

[2020-06-26 18:06] muhammadaliog3 commented on #2173
[designLog.txt](https://github.com/JacquesCarette/Drasil/files/4838565/designLog.txt)
[designLog.txt](https://github.com/JacquesCarette/Drasil/files/4838567/designLog.txt)
Some sample design logs.

[2020-06-27 14:47] JacquesCarette commented on #2123
[Sorry for the slow answer, yesterday was quite busy, and I knew that answering would take a while, because there is a lot of non-trivial content here.]

Very nice piece of documentation!  Most of this should go into the code itself.

Starting from the top: SI is supposed to represent "the information contained in a system". However, neither exactly what 'information' that is (and should be), nor

[2020-06-27 14:51] smiths commented on #2173
I like where you are going with these design log examples @muhammadaliog3.  This is useful information to have summarized, without a need to delve through the code to figure it out.  (If you are generating these files somehow, there is a typo in how Behaviour is spelled for Physical Constraint.)

[2020-06-27 14:53] JacquesCarette commented on #2193
And I think @muhammadaliog3 was pointing out something else: that we're currently quite insecure. It is potentially too easy in Drasil to create code that will access just about any file. We need to be more security-conscious in out codes.  Also, we shouldn't be burying the names of external resources so deeply inside code.

The above code to access "SDF.txt" is really bad in both those senses. We

[2020-06-27 15:06] smiths commented on #2193
Thank you @muhammadaliog3 and @JacquesCarette.  I get it now.  Part of the problem is that the SDF.txt file is part of the design, not part of the requirements.  We do a good job of capturing, and generating documentation, for the requirements, but for the design decisions, we do not have a bridge.  The design decisions still had to be made to generate code, so at some point someone hard-coded the

[2020-06-29 14:50] JacquesCarette commented on #2118
@muhammadaliog3 you should definitely put together a design (here) before implementing this. There are definitely subtly bad ways to do this. And also subtly bad ways of doing the implementation (it should be done bottom-up, not top-down, for example).

[2020-06-29 14:59] JacquesCarette commented on #2173
You should seriously think whether `String` is the correct "output" type here; I think that something closer to `Sentence` will be preferable in the long term.  Something even more Chunk-like might be even better.  Though for now, the higher-level language of drasil-printer might do too.

Also, I would prefer `RenderChoices` over `ChsShow`.

[2020-07-03 15:33] #2185 closed

[2020-07-03 21:55] bmaclach opened #2199 "Fix file errors when running swift code for case studies"
Currently when attempting to run the generated swift versions of the case studies, there are errors when reading/writing files. See deeper discussion of this issue in the comment chain starting here: https://github.com/JacquesCarette/Drasil/pull/2197#issuecomment-651459517

[2020-07-03 22:00] bmaclach opened #2200 "Alternative to typeDfltVal for GOOL's Swift renderer"
I implemented a function in GOOL's swift renderer, `typeDfltVal`, which returns a default value based on a given type. Using default values in this way is something we would like to avoid. The reason for this function is because all Swift state variables require an initial value, but GOOL's `stateVar` function does not accept a value as a parameter because other, non-Swift languages, do not need i

[2020-07-06 13:22] Nathaniel-Hu commented on #2095
@JacquesCarette, in CppRenderer.hs, there are several instances of the 'variable' `p CppSrcCode CppHdrCode` in instances such as:
[code]
 Should this 'variable' be placed in the output file as `p CppSrcCode CppHdrCode`, or are there different (formatting) requirements for these kinds of variables?

[2020-07-06 19:16] muhammadaliog3 commented on #2118
Here are the problems
Originally I encountered problems in Java because I could not declare public classes in the same module as main, so I decided to declare enum classes in different modules.

To avoid having to keep track of module names and class names I have forced myenum to be in a separate module and with the SAME NAME as the enum class name, this feature is required for languages such as j

[2020-07-06 20:41] muhammadaliog3 commented on #1998
How should we implement the linked lists?
1. Implement them as lists that only support adding/removal/access at the ends
2. Implement with a class and pointer to next class
3. Implement with a libraries (For example C++ has std::list, java has LinkedList in its utils package)

[2020-07-06 21:02] JacquesCarette commented on #2095
`p` is supposed to be an abstract generation-time pair. `p` should never appear in any output.

[2020-07-06 21:05] JacquesCarette opened #2201 "Deploy failing in swift"
In the logs, we see
[code]

@bmaclach do you know a bit more about this?

[2020-07-06 21:15] JacquesCarette commented on #1998
Our "linked lists" should be as standard as possible. We shouldn't implement them ourselves if at all possible - so we should use the library-provided versions when we can.  So choice number 3.

And this really is low-priority!

[2020-07-06 21:22] JacquesCarette commented on #2118
Here is the correct way to go about this:
1. figure out the 'idiomatic' way to do Enums in each language
2. understand what the underlying semantic information is under that syntax
3. figure out what information is needed in GOOL to be able to output that
4. figure out how to make sure that Drasil has the needed information to give to GOOL.

So I would want to know if each of the examples above is

[2020-07-06 21:25] JacquesCarette commented on #2200
The best solution would be for `stateVar` to require a default / starting value.  That would force examples "upstream" to be more specific, which is a good thing.

[2020-07-07 11:54] #2201 closed

[2020-07-07 12:36] muhammadaliog3 commented on #1998
How low-priority is this issue, given that this would allow us to complete #2117 , and perhaps give us an opportunity in a separate issue to add vector related functions to lists in GOOL, such as dot product.

[2020-07-07 12:52] JacquesCarette commented on #1998
Right now, GOOL is in very good shape. To really be able to deal with those other issues, it is parts of Drasil itself that need more attention.  For example #2194 and #1869. And #1795 - #1800. Very much #1601.  #1174. #891 [Little hacks like #1778 should be deal with too]

A number of those require non-trivial design (so I'd want you to make a proposal before coding), but they will advance Drasil

[2020-07-07 13:37] muhammadaliog3 commented on #2118
I will start by answering the following questions in each language
what is an Enum type in language X?
does it need to be declared? If so, where must it be declared?
what is needed to use an enumerated type?

Python
Enums are a class with fields set equal to numbers
Enum classes must be declared but it can be declared in any place
Unlike classes enums do not need be an instance to access there fie

[2020-07-07 18:30] muhammadaliog3 commented on #1601
Analysis update
samm82 is still correct in the following : """As mentioned above, "while the _vctx :: [TheoryModel] and _spc :: [SpaceDefn] fields are currently always initialized to be empty (by the constructors), I'm pretty sure that they're to be implemented in the future, so I'll leave them be." _ops :: [ConceptChunk] and _dfun :: [QDefinition] are always empty, and _defq :: [QDefinition] is e

[2020-07-07 18:43] JacquesCarette commented on #2118
Nice analysis.

What I get from the analysis is below. I won't put "since at least 1 language needs X, then ..." everywhere but leave it implicit.
1. need to declare enums; these declarations may be global or local, depending on the language
2. need to keep track of where the enum is actually declared
3. need to keep the module, class, and field name around for each field
4. need to keep track of

[2020-07-07 18:51] JacquesCarette commented on #1601
Thanks.  What we also really need is an answer to "what kind of model is it?" meaning is it a single (scalar) equation `lhs = rhs`, a vector equation, a differential equation, a set of equations, etc.

Note that the same questions hold for `InstanceModel`. And it is possible that it will be easier to start with `InstanceModel` then `TheoryModel`.  There are 4 top-level entities in Drasil for holdi

[2020-07-07 19:00] muhammadaliog3 commented on #1601
This is what a naive solution would look like, by just removing what is never used.

data TheoryModel = TM
  { _con :: ConceptChunk
  , _vctx :: [TheoryModel]
  , _spc  :: [SpaceDefn]
  , _quan :: [QuantityDict]
  ~~, _ops  :: [ConceptChunk]~~
  ~~, _defq :: [QDefinition]~~
  , _invs :: [Relation]
 ~~ , _dfun :: [QDefinition]~~
  , _ref  :: [Reference]
  ,  lb   :: ShortName
  ,  ra   :: String

[2020-07-07 20:28] Nathaniel-Hu commented on #2095
So I do not include `p CppSrcCode CppHdrCode` in the output file all then? (Currently, it is not included in the output file).

Also, @JacquesCarette, my latest version of these scripts is able to extract and re-order the class instances by ClassType (Haskell, Drasil and GOOL). However, what is the amount of semi-manual control that you would like the configuration file to be able to have on the D

[2020-07-08 12:33] muhammadaliog3 commented on #1601
Sorry @JacquesCarette but quick question, why are we resigning TM's. I can't find anything in the commits or issues the mentions why or what is the problem with TM's. Is it that the conceptually TM's are unstructured, and it is this lack of structure that causes poor constructors?

[2020-07-08 15:46] JacquesCarette commented on #1601
Yes, the reason these are not used is that no example needs them, as of now.

Even though we'll eventually want to change TMs, this is unlikely the best place to start refactoring.  The best place is likely to look at all occurrences of `Relation` and figure out what they really ought to be instead.  Careful: this is a minefield. We'll have to do careful planning before proceeding.  [It's not that

[2020-07-08 15:53] JacquesCarette commented on #2095
Apologies: I completely misunderstood your question!  [I thought you were working inside GOOL, but you're not, you're working on a tool to analyze Drasil code.]

Nevertheless, I think the answer still stands: you can skip `p` from being analyzed.  `CppSrcCode` and `CppHdrCode` do need to be included.

Regarding ordering: I don't think we want to go crazy here. I think some very simple heuristics o

[2020-07-08 17:51] Nathaniel-Hu commented on #2095
@JacquesCarette okay then, thanks for the clarification. My latest version of the scripts is able to extract the same information/replicate the manually generated Data Table. (I am currently working on my latest version, and will commit it soon) I have attached the script-generated DataTable.csv (as a .xlsx) file below. Please let me know if there are any changes that you would like to be made.

M

[2020-07-08 18:33] muhammadaliog3 commented on #2195
I will be dividing this comment into the followiing sections
1. Code Investigation -- this time I explore systemInformation backwards, hopefully to get a different perspective. You also don't have to read it to understand the conceptual sections, it is more of a place to store my analysis.
2. Conceptual Problems
3. Conceptual (and high level code solutions)

**Code Investigation**

- _sysinfodb --

[2020-07-08 22:58] bmaclach opened #2203 "GlassBR's GTF should not be an integer"
The GTF (Glass Type Factor) chunk in the GlassBR example currently has `Integer` as its `Space` because the values we use are integers, however there is no guarantee in general that a Glass Type Factor will be an integer, so this should be represented as a real number instead (see https://github.com/JacquesCarette/Drasil/commit/a40c9a32df0af722bc9a0b07cda9bdb584633856#commitcomment-40458483).

[2020-07-09 17:16] muhammadaliog3 commented on #1601
Overview of Architecture

Data Definitions: These define actual data with concrete names, symbols and units that are used to build the instance models.

Theory Models: Is a model that defines and relations between data with abstract symbols (rather than concrete symbols defined in data definitions). These relations can be intermediates and do not have to be the final outputs.

General Definitions:

[2020-07-10 13:29] JacquesCarette commented on #2095
Go ahead and create a PR and some issues.

What I do with the spreadsheet: on my very large screen, I make excell full-screen and zoom to 25% (or 20%) to view the resulting data as a "density matrix".  [So using YYYY instead of just Y would actually help].  What I then want is to re-order blocks of classes and blocks of packages so that the resulting matrix is as 'blocky' as possible. I would pref

[2020-07-10 13:51] muhammadaliog3 commented on #2118
With regards to the spaces, how should I represent the enum discrete space. Here is the current code
[code]
Should I change it to
[code]

[2020-07-10 14:50] #1570 closed

[2020-07-10 16:36] muhammadaliog3 commented on #1174
Options for multiequations:
Store all relations as list, problem: In order to be an instance of the ExprRelat class you must have a singular equation

Break the relations into two components: one is the final/true/defining equation, the other are the sub/intermediate equations.

At what level should we store these multi-relations?
Options:

Make relation_concepts by definition multi-relations, tha

[2020-07-10 17:20] JacquesCarette commented on #2118
Those 3 `Discrete` constructors are mean to represent different kinds of enumerations already. There should not be a need to add to them.

[2020-07-10 17:50] JacquesCarette commented on #2195
Ok, commenting on each part.  [Excellent investigation BTW]

**Code Investigation**
- sysinfodb is indeed supposed to be a "database of all information about the system"
- usedInfodb is supposed to be a "database of all the information that will be used", a subset of the above. It would be good to figure out where it is actually used
- If I remember well, `defSequence` is suppose to define "sequen

[2020-07-10 17:59] JacquesCarette commented on #1601
@smiths you spent quite a bit of time figure out TM/GD/DD/IM -- where are your notes on this?

There is quite a bit of information (and code) that is very relevant to this in https://github.com/JacquesCarette/Drasil/issues/1373.

The most fundamental bug in parts of Drasil is that some information of the kind "A = B" where we kind of mean to define A by B, is actually encoded as "A = B", instead o

[2020-07-10 18:50] JacquesCarette commented on #1174
`ExprRelat` is bad and should be eliminated.  Multi-equations should be stored as a list of `QDefinition`s. So we first need to fix things so that we can have different 'kinds' of definitions (direction, multi, differential, etc).  We do not want to have any of these as 'relations'.  We will still needs relations in Drasil, but the vast majority of the ones we have now, should not be.  That is the

[2020-07-10 20:02] muhammadaliog3 commented on #1601
With regards to new comments in this issue and in #1174 , I am just going to jot down some new conclusions:
1. we must remove the relationconcept fields in instancemodels, theory models and general definitions and instead use QDefinitions
2. We want to get rid of ExprRelat and just use definingExpr, this also (might) give us an oppurtunity to remove the relToQD.
3. If we are using QDefinitions whe

[2020-07-10 20:13] JacquesCarette commented on #1601
Almost.  I think it makes sense (and will be easier) for `QDefinition` itself to remain for single equations. You'll need new structures for the other cases.  In more detail:

1. yes to removing relationconcept, but we want to replace them with a new data-structure that describes different kinds of definitions
2. yes to both. [I managed to do it in a branch]
3. see above.

So other than defining a

[2020-07-10 20:23] muhammadaliog3 commented on #1601
So to be clear when classifying equations we should not change QDefinitions. The data structure for "equation type" should be created/defined/determined elsewhere after qdefinition has been created.

[2020-07-10 20:33] muhammadaliog3 commented on #1174
When we eventually reach a place where we can begin solving this issue change from singular quantities to multiquantities then we will face problems from class instances.

what is the term, space, symbol, idea, named idea, and defining expr when we have MULTIPLE QDefinitions? They are well defined for singular defintions but how about for multiple definitions.

I will change definingexpr from Expr

[2020-07-10 20:36] JacquesCarette commented on #1601
Yes to the first sentence. No to the second (if I understand you): you should define a new datastructure that has 3-4 'cases', one of which will be for single equations, and its payload will be a qdefinition. The payload for the other cases still need to be determined and created.

[2020-07-10 20:39] JacquesCarette commented on #1174
You have an 'inverted' design in mind. I see this new data-structure living at the "model" level only, so that there would in fact be no term / space / symbol / idea / etc instances.  The insides of that structure would, but not the structure itself.

No, don't change definingexpr from `Expr` to `[Expr]`. That is the wrong design!

[2020-07-13 14:18] smiths commented on #2203
Thank you for creating this issue @bmaclach.  I believe this will be a quick one to fix.
@Nathaniel-Hu and @muhammadaliog3, if you are looking for a relatively quick issue to close, please go ahead and self-assign to this issue.

[2020-07-13 18:39] smiths opened #2206 "GlassBRs LSF should"
As for #2203, LSF has incorrectly been characterized as an integer.  The value in our calculations happens to be 1, but in general there can be a non-zero fractional part.  This can be seen by looking at the original source material (E1300 – 09a, Standard Practice for Determining Load Resistance of Glass in Buildings), Table 5.

@muhammadaliog3, please make the same changes as for #2203, but for L

[2020-07-13 19:32] smiths commented on #2195
The discussion above from @muhammadaliog3 and @JacquesCarette is very helpful.  I definitely like the approach of "reverse engineering" what the Drasil code says, but being wary because we know the ad hoc way some of the code was developed.

My instinct is that for step 5 above (choices made in the solution), we should divide the choices into at least two categories: choices related to the require

[2020-07-13 23:04] muhammadaliog3 commented on #2203
I forgot to put the closes 2203 in the comments in the pr (I forgot cause I haven't made a PR in over a week). So I am manually closing this issue.

[2020-07-14 03:35] #2206 closed

[2020-07-14 03:36] smiths commented on #2203
Sounds good.

[2020-07-14 19:18] muhammadaliog3 commented on #2195
I think what is going on is that some things are obtained from using Map.elems on Map’s from CDB’s. In other words some times you just want all of the information rather then specific information, that is why we probably don’t need to store all the definitions/concepts…..

Here is a good example of how all of the general definitions are used by just using the general definition map.
[code]

Possib

[2020-07-15 14:40] Nathaniel-Hu opened #2209 "Switch to using GHC API to read Haskell files"
The current version of the Data Table Generator (in /scripts/) uses a basic (albeit likely buggy) source code reader (SourceCodeReader.hs). This reader is used to extract the data, newtype and class types defined/used in all Haskell scripts stored in /code/.

A more reliable option would be to switch over to using the GHC API to parse the Haskell scripts and extract the data, newtype and class typ

[2020-07-15 14:55] Nathaniel-Hu opened #2210 "Switch from using String in Data Table Generator"
Based upon [discussions](https://github.com/JacquesCarette/Drasil/issues/2095#issuecomment-647790570) in Issue #2095, the Data Table Generator will most likely move away from using the `String` type to another faster, more space-efficient type (likely the `ByteString` type).

However, a re-investigation (as per @JacquesCarette's request) should likely take place to determine the best "state of the

[2020-07-15 15:13] Nathaniel-Hu opened #2211 "Switch to using Real Parser to import Config settings"
Based on @JacquesCarette's [comment](https://github.com/JacquesCarette/Drasil/commit/8b38d6dc24bf8f4ae9261e2060a1f6eebd190212#r40456923), the optimal solution is to utilize a real parser to extract the settings imported from the configuration file (DTG_Config.txt) in DataTableGen.hs. This is because using a real parser would help to improve error messages.

See line 119 (in [DataTableGen.hs](https

[2020-07-15 15:44] Nathaniel-Hu commented on #2161
@smiths and @JacquesCarette,
I looked through the Contributor's Test, and while most questions are generic (related to using git and such), there are a few questions that are Drasil-specific. Would that affect where the Contributor's Test should/would be put?

[2020-07-15 18:29] muhammadaliog3 commented on #1601
@smiths
Quick question on preference. We basically need a new data structure for classifying QDefinitions into vector vs scalar, differential vs nondifferential, singular vs multiple, equational vs nonequational and complex vs real. However equation can by of multiple types, such as a differential vector equation. This means that if I were to create go the naive way like Dr Carrete said, such as
[

[2020-07-15 23:03] bmaclach opened #2212 "Drasil's expression language should have different kinds of multiplication"
A mutliplication between numbers of the same type should be represented in Drasil differently than a multiplication between numbers of different types (i.e. an integer times a real number). This distinction should be added to `Expr`, probably to the `ArithOper` type.

See related discussion starting with this comment: https://github.com/JacquesCarette/Drasil/commit/a40c9a32df0af722bc9a0b07cda9bdb5

[2020-07-16 14:02] muhammadaliog3 commented on #2173
I think @bmaclach would agree with me that declaring sentences, chunks, or a new drasil-printers module would not be helpful here. Instead we should stick to strings (or docs).

Firstly this is drasil-code, so declaring new sentences does not seem to be correct (Drasil code takes ALREADY made chunks and converts them to code chunks).
Secondly all of this possibilities involve moving information re

[2020-07-16 18:36] Nathaniel-Hu commented on #1018
@JacquesCarette and @smiths,
I have modified/updated the stable files to include a basic hyperlinked Table of Contents section (see link below for the GlassBR_SRS.html file, for example). Are there any specific changes/improvements to the current formatting of the Table of Contents section that you would like me to make?

Sample HTML file with basic hyperlinked ToC section: [GlassBR_SRS](https://g

[2020-07-16 20:10] Nathaniel-Hu commented on #801
@JacquesCarette and @smiths,
Just to clarify, where should I direct my scripts to output the `dot` files to?

[2020-07-16 22:52] bmaclach commented on #2173
Note that though I started the design log by using `String`, that doesn't mean it's the best option. Also, when @muhammadaliog3 asked me about this, I didn't have the context of some of the above comments. @muhammadaliog3, I think you misinterpreted @JacquesCarette's comment. I don't think he meant to write a _new_ drasil printer, but rather to re-use an existing one (probably the plain one), whic

[2020-07-17 18:08] muhammadaliog3 commented on #2173
@smiths I am going to try and add the design log to stable. If you don't want that feel free to comment below.

[2020-07-17 18:11] smiths commented on #2173
Yes, go ahead and add the design log to stable.  This is a good idea.  If someone makes a change that "breaks" the design log, we want to know about that.  I think the design log will continue to evolve, but it would be nice to have the infrastructure in place for the CI now.

[2020-07-18 13:53] smiths commented on #801
@Nathaniel-Hu, if I understand your question, I think that the `dot` files should go in the `SRS` folder for each of the examples when they are generated.

[2020-07-18 13:58] Nathaniel-Hu commented on #801
Ok then. Thanks!

[2020-07-18 13:58] smiths commented on #1018
Nice!  @JacquesCarette will have to comment on how you did it, but as far as the result goes, the ToC looks great to me.  This is a really nice improvement for the html version of the SRS.  I frequently consult our html examples, so I'll directly benefit from the time saving hyperlinks.  :-)

[2020-07-19 20:33] JacquesCarette commented on #2195
@smiths the kinds of refinement I was thinking of are "theory specialization", when you take a generic theory and instantiate some of its parameters to something more specific [and often then simplify the resulting model.]

@muhammadaliog3 Nice stab on "what describes or defines a system". @oluowoj this is the kind of speculating from observed data that we'd like you to be doing.

What you've prov

[2020-07-19 20:52] JacquesCarette commented on #2161
I don't think that necessarily affects where it should be put, but it should probably mean that the test should be split into sections (by topic), so that some sections can be skipped.

[2020-07-19 21:09] JacquesCarette commented on #1601
I quite agree that the naive way to do it does not scale. [BTW, you should check out how my name is actually spelled.]

What we'll want to do is to create a more general notion of 'definition' which does contain inside of it the information needed to know its "type".

Question: are two two lists supposed to be of the same length?

[2020-07-19 21:25] muhammadaliog3 commented on #1601
Question: are two two lists supposed to be of the same length?

No they don't. I think an example would help here. Say we have the QDefinitions ["a=g" , "a=dv/dt" , F=ma] then the Model Kinds would be:

```Model [Differential, MultiEquational] ["a=g" , "a=dv/dt" , "g = dv/dt"]```

[2020-07-19 22:01] JacquesCarette commented on #1601
I don't like that design. It is too imprecise. `Differential` should mean that all equations should be differential (but `"a = g"` isn't).  And you shouldn't have 2 definitions of the same thing (such as `a`).

The 'direction' of the design is good, the details need revisited.

[2020-07-20 13:53] smiths commented on #1601
I agree with @JacquesCarette about having too imprecise a design.  I'm not sure the combinatorial explosion of cases is necessarily that bad, at least if we can define a default and then the variations from it.  Most equations will be scalar, nondifferential, singular, equational and real.  We will occasionally have a deviation from this, but the defaults will often not change.  I don't know if it

[2020-07-20 14:10] smiths commented on #1601
Above (https://github.com/JacquesCarette/Drasil/issues/1601#issuecomment-656807206) @JacquesCarette asked for my notes on the relation between TM/GD/DD/IM.  I've thought about it, and looked through my notes, and I cannot think or find anything I can point to.  The specific figure relating TM/GD etc was an outcome of a problem that Yuzi was having with circular dependencies.  It made sense as a mo

[2020-07-20 14:11] muhammadaliog3 commented on #1601
This was originally 2 posts, one on the relToQd hack and other on the current state of 1601. I have however combined and summarized them. I think I need @smiths for all 4 of them.

1. For equational models, it makes sense to use QDefinitions (because QDefinitions have symbols, units, and spaces). However for non-equational relations we need something else because symbols, units, and spaces don’t h

[2020-07-20 14:46] smiths commented on #2161
@Nathaniel-Hu, let us put the Contributor's test on the Drasil site.  We will be sending new contributors to this test, so having Drasil as its home makes sense.  We will want a pointer to the contributors test on the Wiki, but we still want a home for the test that we can point to.

My suggestion is that we create a doc folder, and put the contributor's test inside a folder inside doc.  @oluowoj

[2020-07-20 18:27] oluowoj opened #2214 "Create Drasil Installation Guide"
Create installation guide.

Format?
Where?

[2020-07-20 18:31] oluowoj opened #2215 "Document Drasil file/folder structure"
Document Drasil file/folder structure and some sort of navigation guide

[2020-07-20 18:35] oluowoj opened #2216 "Create double pendulum example in Drasil"
-Add Double Pendulum example in Drasil.
-Document all steps in details (reverse engineer)

[2020-07-20 18:38] oluowoj opened #2217 "Create workflow for new project"
Define workflow to create new project in Drasil
Document gaps and issues

[2020-07-20 18:40] oluowoj opened #2218 "Validate workflow in #2217"
Validate workflow created in #2217
Provide documentation to summer students for validation

[2020-07-20 18:45] oluowoj opened #2219 "Define Drasil constraints on potential projects"
Constraints:
Define current constraints.

[2020-07-20 19:47] smiths commented on #2171
@oluowoj,  please check that the information shared by @muhammadaliog3 is captured in the current contributor's guide.  If it isn't, please add the information.  This is also somewhat relevant for your Drasil user's guide.

Once you have completed this task, please close this issue.

[2020-07-20 19:48] smiths commented on #2214
The installation guide will be linked to from the contributor's guide (wiki).  In #2161 we have discussed creating a doc folder in Drasil.  This would be a good place to document the installation guide.

[2020-07-20 20:09] muhammadaliog3 commented on #1778
Essentially in this issue we want to reference equations.

But equations are Expr's, these cannot be referenced.

So instead we have to make them labelled contents.

As of right now definitions are sentences + Expr (which are converted to sentences).
```data Derivation = Derivation Sentence [Sentences]```

If we are going to convert the Expr's to labelled contents, we can't convert them to sentenc

[2020-07-20 20:26] oluowoj commented on #2214
Sure, I will keep this in mind

[2020-07-21 15:34] oluowoj commented on #2219
@smiths, where do you want this information to be?

[2020-07-21 16:00] smiths commented on #2219
Where the information goes is something we can determine after it is determined.  Ideally we would add it to the current documentation of Drasil to show our current capabilities and limitations.  If that doesn't fit, then we will put the information in your PhD research files in the se4sc repo.  Some of the information will eventually find its way into a slide in 741.

[2020-07-21 19:25] oluowoj commented on #2219
Starting with the below:

So currently Drasil is only able to handle simple physics problems where they are not related to:
1. Problems with Partial Differential equations.
2. Problems with equation sequence i.e equations that apply to a sequence of elements in a set.
3. Problems that require data storage

[2020-07-21 22:52] muhammadaliog3 commented on #1778
I have 2 quick questions for @smiths

I was fixing the equation labels for this issue, so things like "Equation (3)". I encountered 2 problems.

In the factor of safety derivation for the SSP example, what is equation 4 and what is equation 5? Right now I am assuming that equation 4 is the 4th equation listed in the derivation, and likewise the equation 5 is the 5th equation.

Secondly, while the

[2020-07-22 12:29] JacquesCarette opened #2220 "Material for the User's Guide"
(or at least part of the description of Drasil for someone new).

We need to clearly document the philosophy of **re-usable information encoding**.  Just putting 'information' in Drasil is quite insufficient - we need to have it done in a way so that as much of the information is _semantic_ in nature, rather than just for display.

Succinctly: `Expr` (kind of) good, `Sentence` bad. Wrappers around

[2020-07-22 12:35] JacquesCarette commented on #1778
Note that what we want in a `Derivation` is a mixture of English and Math. Is `Contents` the best way to express that?

[2020-07-22 12:39] muhammadaliog3 commented on #1778
Yes I do
Equations cannot be referenced while contents can, and the expr can be extracted at any point from the plates.

[2020-07-22 16:13] JacquesCarette commented on #1778
"Can be extracted" is insufficient. What we need is a wrapper, potentially thin, around `Expr` that is more focused than `Contents` that is referable. That would be the better design.

[2020-07-22 16:54] oluowoj commented on #2214
@smith, I have a feeling that students would rather prefer to use Windows than Linux especially those from sciences - could be a wrong assumption. So we can have instructions for both Linux and Windows users I guess

[2020-07-22 18:19] JacquesCarette commented on #1601
On your two points:
1. Can you give us an example of a non-equational relation that is nevertheless a model? Most of the ones that I know (like those specified by differential equations), it does make sense to have symbols, units and spaces.  The one slightly odd one is the 'boolean' one in GlassBR, but it's ok too.
2. I fully agree that it would be best if there was a type system that would disal

[2020-07-22 18:21] #703 closed

[2020-07-22 18:21] #2095 closed

[2020-07-22 18:47] Nathaniel-Hu opened #2221 "Posting the auto-generated Analysis to Website"
Now that pull request #2208 has been merged, the next step would be to post the auto-generated analysis (the DataTable.csv file) to the [Drasil Nightly Generated Case Studies and Documentation](https://jacquescarette.github.io/Drasil/) website.

The `deploy` target in the Makefile (in /code/) has already been updated to trigger the `analysis` target (which runs the scripts that auto-generate the a

[2020-07-22 19:52] peter-michalski commented on #663
I am looking at this issue now and I could not reproduce the problem after running (compiling the PDF) the GamePhysics_SRS.tex Drasil generated document. Once compiled, if I highlight a row of a table in the PDF only the desired row was highlighted. As I understood the issue, highlighted rows / text would cause additional text from the column to be highlighted. Please confirm.

Caveat: In order to

[2020-07-22 21:06] smith commented on #2214
@smiths ^

[2020-07-22 21:11] smiths commented on #2214
If we can have instructions for Windows and Linux, that would be great.  However, for practical reasons, we might just target instructions for Linux, and provide instructions for a Windows user on creating a virtual Linux box.  It is less work to support one OS, than it is to support two.  We'll figure out what plan is feasible once we start getting specific.

[2020-07-22 22:52] oluowoj commented on #2216
So I started Double Pendulum example, added a new template and updated all required files to build. I have documented all the steps so far. After I am able to run it successfully, I will create a PR.

[2020-07-22 22:53] oluowoj commented on #2216
@smith when I am done with this PR, I will start looking at the physics.

[2020-07-22 23:09] smith commented on #2216
@smiths ^ :)

[2020-07-23 00:52] smiths commented on #2216
@oluowoj, my github id is smiths, smith is someone else (Nathan Smith, from Iowa).

[2020-07-23 11:25] oluowoj commented on #2216
Oops, my bad

[2020-07-23 13:15] muhammadaliog3 commented on #1778
@JacquesCarette
This "thin wrapper" around expr, would you like it to be a chunk OR an expr with a reference like the following.

[code]

[2020-07-23 15:47] muhammadaliog3 commented on #1601
In an attempt to address these issues through knowledge capture I will split this post into 2. The first will be just "knowledge capture" and the second will be related to code.
We currently have 3 problems in this issue.

1. Problem: Representing equilibrium vs representing quantitative definition.

Take a look at this example of "moment equilibrium" relation.
[code]

Proposed Conceptually: Seper

[2020-07-23 16:20] JacquesCarette commented on #1778
That is a very good question. I almost answered it really quickly, but then paused to think about it more thoroughly.

A referable expression really ought to have a name (aka a UID). One associates a UID to a chunk.

So a referable expression should be somewhat akin to a QDefinition, but without the external name (i.e. just the defining expression, without a new external name to assign it to); the

[2020-07-23 18:20] oluowoj commented on #2216
@JacquesCarette @Mornix  any thoughts on what could be missing here?
![image](https://user-images.githubusercontent.com/43192745/88321979-049e7e00-ccee-11ea-93bb-480249bb0b6d.png)

Looking @ ChunkDB.hs, the error  points to line 81 in the screen shot below, i found  line 89 also related to the term map. I am missing a piece of information somewhere but yet to figure it out

![image](https://user-i

[2020-07-23 19:20] JacquesCarette commented on #2216
The error comes from the fact that the 'dblpendulum' chunk appears somethere, but it isn't being added to the Term Map when you build the SRS.  Something is missing in your `Body.hs` file that actually grabs all your knowledge and inserts it in the right tables before you generate the SRS.

[2020-07-23 19:40] JacquesCarette commented on #1601
1. We need to be able to represent "assign" and "is equal to". "assign" is asymmetric, and should be represented like that. `QDefinition` is one reasonable way of doing so. It can be printed as "=", if desired. There is also the 'relation' "is equal to", when two quantities are equal. There are gradations here too: a) two general quantities, b) one quantity is constant, c) one quantity is zero. c)

[2020-07-23 19:41] JacquesCarette commented on #2195
@smiths I think we should have a meeting about this. Might even make sense to have an all-hands?

[2020-07-23 20:04] smiths commented on #2195
Yes, a meeting is a good idea, but I won't be available tomorrow or next week.  Next week is a vacation week, and tomorrow is the day where I have to get all my work done so that I can go on vacation.  :-)  I'll try to keep up on e-mail, but I won't be able to do a meeting until the week of August 4th.

[2020-07-23 20:18] oluowoj commented on #2216
Yeah, I am taking a closer look.

[2020-07-23 22:25] oluowoj commented on #2216
Thanks, found it

[2020-07-23 22:31] oluowoj commented on #2216
Plugging in the sections of the SRS would be a good one - Just leaving a note here for myself to remember to discuss. with @JacquesCarette

[2020-07-24 00:28] smiths commented on #1778
I'm joining in this discussion late, but @muhammadaliog3, in answer to your question, (https://github.com/JacquesCarette/Drasil/issues/1778#issuecomment-662146708), in LaTeX references to equations are not done with href but with a \label, \ref paper.  The label is given with the equation and then the the ref will find the equation number.  This requires two compilation passes.  The equations are

[2020-07-24 01:16] smiths commented on #663
@peter-michalski, I have looked into this a little bit.  The Makefile that is generated for Drasil uses lualatex.  I was able to compile the generated tex file (for game physics) in the stable folder.  (I have lualatex installed on my machine.)  When I open the file with Preview (on my Mac) and select text within the tables the odd behaviour originally observed by @Mornix is reproduced.  Interesti

[2020-07-24 12:17] muhammadaliog3 opened #2224 "Remove the purpose section from the readme's"
We should to add a purpose section back in to the readme's when #2195 is solved. But until then there should be no purpose section.

[2020-07-24 14:15] JacquesCarette commented on #1778
@muhammadaliog3 could you please open a new issue about this particular equation in SSP? It looks like there is something very broken in how its label is done.

[2020-07-24 14:17] JacquesCarette commented on #663
We decided to use lualatex because it deals with unicode best of all of them.

@smiths I really have no idea what is involved regarding selectability, so I can't really estimate the effort needed to fix it. It doesn't feel like a high-priority issue.

[2020-07-24 14:34] Nathaniel-Hu commented on #2161
@smiths, this `doc` folder is on the Drasil GitHub repo, correct? Also, has the `doc` folder been created, or should I created it on my branch, and push those changes to remote (and create a pull request)?

[2020-07-24 14:36] smiths commented on #2161
Yes, the doc folder would be on the Drasil GitHub.  The folder does not currently exist.  You will have to create it.

[2020-07-24 14:36] #2224 closed

[2020-07-24 14:38] Nathaniel-Hu commented on #2161
Ok then, I will do that, and create a new pull request for it. After that, I will also create the pointer for it in the Wiki.

[2020-07-24 14:39] smiths commented on #2161
Great!

[2020-07-24 14:43] smiths commented on #663
@JacquesCarette, thanks for the info.  I knew there was a reason for lualatex, I just didn't remember what the reason was.  :-)  I'm going to mark this issue as low priority.

[2020-07-24 14:49] Nathaniel-Hu commented on #2161
I'll update the README file as well. Is there any specific description that you would like me to give the `doc` folder?

[2020-07-24 15:04] smiths commented on #2161
You can just describe it as documentation related to Drasil.

[2020-07-24 15:04] Nathaniel-Hu commented on #2161
Alright then, thanks.

[2020-07-24 17:33] #2161 closed

[2020-07-24 18:07] Nathaniel-Hu commented on #2161
@smiths and @JacquesCarette,
Should I place the pointers to the Contributor's Test under the [Getting Started](https://github.com/JacquesCarette/Drasil/wiki/Contributor's-Guide#getting-started) section of the wiki?

[2020-07-24 18:10] smiths commented on #2161
Yes.

[2020-07-24 18:23] Nathaniel-Hu commented on #2161
Quick question; is this test highly recommended or mandatory for new future contributors?

[2020-07-24 18:39] Nathaniel-Hu commented on #2161
Also, while I'm editing the Wiki (Contributor's Guide), should I also make these [changes](https://github.com/JacquesCarette/Drasil/issues/2171#issuecomment-661296981) as well?

[2020-07-24 19:00] smiths commented on #2161
@Nathaniel-Hu, you can just characterize the test as a test for new users to help determine where they should put their effort to improve the skills and knowledge they will need for working with the software development infrastructure around Drasil.

[2020-07-24 19:01] Nathaniel-Hu commented on #2161
Alright then. Thanks!

[2020-07-24 20:05] Nathaniel-Hu commented on #2161
I have added in the pointer and description points for the Contributor's Test under the [Getting Started](https://github.com/JacquesCarette/Drasil/wiki/Contributor's-Guide#getting-started) section of the Contributor's Guide (in the Wiki).

[2020-07-24 20:06] smiths commented on #2161
Looks great @Nathaniel-Hu!

[2020-07-24 21:25] muhammadaliog3 commented on #1601
**Some examples of PROBLEM_1:**

The following are assignments, drasil is full of them and I think we get the picture

sy speed $= sy iSpeed + sy QP.constAccel * sy time
sy flightDur $= 2 * sy launSpeed * sin (sy launAngle) / sy gravitationalAccelConst
sy landPos $= 2 * square (sy launSpeed) * sin (sy launAngle) *
                                cos (sy launAngle) / sy gravitationalAccelConst

The

[2020-07-24 21:36] muhammadaliog3 opened #2227 "Replace RenderChoices with chunks"
In #2173 , we used sentences to communicate the choices, however in the long term we want to use some kind of chunk like structure.

[2020-07-24 21:55] Nathaniel-Hu commented on #801
The progress work done so far that contributes to this issue can be found in branches Nathaniel-Issue#801 and Issue#801.

[2020-07-24 21:57] Nathaniel-Hu commented on #1018
The work done so far that contributes to this issue can be found in branch Issue#1018_HTMLToC.

[2020-07-24 22:05] muhammadaliog3 opened #2228 "Which equation number corresponds to which equation block in the SSP factor of safety derivation?"
The problem in #1778 was basically referencing equations. This requires two things, one that the equation block itself should have a reference, and two that reference should appear in the paragraph blocks. Currently we only reference the equations in the paragraph blocks. My first attempt added references to the equation blocks in Drasil, but we still need to add references to equation blocks in t

[2020-07-24 22:08] muhammadaliog3 commented on #1778
@smiths carrying on from could you give a quick example here about how to create a equation reference, in "not proper latex"? It can be really simple, like F=ma.

[2020-08-03 22:57] muhammadaliog3 commented on #1778
With the end of summer approaching, I have decided to provide a summary of the comments above that have now been marked as resolved, if you wish you may unresolve them, but I have provided a summary of the issue in this comment.

Essentially in this issue we want to reference equations. But equations are Expr's, these cannot be referenced in drasil.

Our first approach was to make them labelled co

[2020-08-04 01:53] muhammadaliog3 commented on #1601
### Current State of Theory models:
Empty fields in the theory models in drasil-example: "while the _vctx :: [TheoryModel] and _spc :: [SpaceDefn] fields are currently always initialized to be empty (by the constructors), I'm pretty sure that they're to be implemented in the future, so I'll leave them be." _ops :: [ConceptChunk] and _dfun :: [QDefinition] are always empty, and _defq :: [QDefinitio

[2020-08-04 19:59] smiths commented on #1601
Thank you for the summary @muhammadaliog3.  Very helpful!

[2020-08-05 02:13] smiths commented on #1778
@muhammadaliog3, with respect to your question above (https://github.com/JacquesCarette/Drasil/issues/1778#issuecomment-663753634), the way that I do equation referencing in LaTeX is to use a label/ref paper.  The equation is given a label, like: `\label{eqname}` and when the number if needed, it is referenced via `\ref{eqname}`.  A summary of this is given here:

https://www.overleaf.com/learn/la

[2020-08-06 20:53] JacquesCarette commented on #1601
Yes, both summaries are excellent.

[2020-08-12 20:06] muhammadaliog3 commented on #1601
@JacquesCarette The following two questions still remain unanswered
1. How are we to encode the difference between equality-as-assignment and equality-as-equilibrium
2. How are we to encode the mapping between equation-uid and the quantity-it-is-defning-uid without relToQd (a reminder that currently reltoqd converts the equation-uid to the uid of the quantity-it-is-defning, right before the code i

[2020-08-13 14:10] JacquesCarette opened #2230 "Badges"
We should use badges to show that our stuff works on CI.  A simple example of doing this is documented at https://github.com/yallop/haskell-frex/pull/4/files .  Very easy indeed.

[2020-08-13 15:13] smiths commented on #2230
Is the idea to replace our Travis CI with a GitHub Action?

[2020-08-13 17:51] JacquesCarette commented on #2230
Well, we'll probably want both, for different things. I'm still figuring it out.

[2020-08-13 17:54] smiths commented on #2230
Sounds good.  Where do badges come in?  Is the badge the notification on the main GitHub page that shows the build status?

[2020-08-17 20:57] smiths commented on #2228
@muhammadaliog3 the answer to your question about the numbering of the specific equations in SSP is given in the manual version of the SRS for SSP:

https://github.com/smiths/caseStudies/blob/master/CaseStudies/ssp/docs/SRS/SRS.pdf

In the manual LaTeX version of the document we used `\label` and `\ref` pairs for the cross referencing.  Compiling the LaTeX document updates the numbers that appear

[2020-08-20 02:30] Nathaniel-Hu opened #2231 "Including the auto-generated Analysis in the Nightly Deployments/Travis Builds"
Based upon discussions with @smiths, a good addition to the Drasil framework nightly deployments would be the addition of the automatically-generated Data Table (merged in pull request #2208). By making this addition, the scripts to generate the Data Table would also automatically be run in the Travis Builds in future pull requests. This issue is related to/compliments Issue #2221.

Note for @smit

[2020-08-20 03:29] smiths commented on #2231
Thank you for creating the issue @Nathaniel-Hu.  No, I do not think we would consider any design stable, just like we don't consider the Haddock documentation stable.  We assume that when we make changes to the design and the documentation, we are making each better.  Your tool is just giving us a snapshot of the current design.

[2020-09-01 04:30] oluowoj opened #2233 "Placeholder for screenshots"
![image](https://user-images.githubusercontent.com/43192745/91794769-dfa10300-ebe9-11ea-8263-99595241b1c9.png)

[2020-09-01 04:32] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/91795033-85ed0880-ebea-11ea-8e57-6ba12d52e68f.png)

[2020-09-01 05:12] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/91797297-33aee600-ebf0-11ea-9765-88287a7d7dc7.png)

[2020-09-01 06:12] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/91799081-52af7700-ebf4-11ea-9747-4802f0566b22.png)
![image](https://user-images.githubusercontent.com/43192745/91802056-999f6b80-ebf8-11ea-81ba-d4af52da4dc9.png)

[2020-09-01 06:18] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/91803746-1f231b80-ebf9-11ea-8031-559e3713a440.png)

[2020-09-01 11:25] smiths commented on #2233
@oluowoj, I was looking into VirtualBox earlier, since I plan on using it for both my grad class and next term's undergrad class.  I like the idea of screenshots, but I don't think we have time to be that detailed.  It is also more work to maintain, since the details change over time.  Since I need to do something related to this anyway, why don't you leave the details of setting up the VM to me.

[2020-09-01 12:05] oluowoj commented on #2233
oh okay that's fine not a problem. I will work on the Drasil instructions

[2020-09-01 22:40] oluowoj opened #2234 "Term map missing scope"

[2020-09-02 11:34] oluowoj commented on #2234
@JacquesCarette, I pushed the code for the 'Term Map' error to blankTmplt branch.
Error code:
![image](https://user-images.githubusercontent.com/43192745/91975474-760a1d00-eced-11ea-9668-39dafa17bb3e.png)

I am trying to add a relatively blank introduction section in body.hs of which scope is a part of it. I already added the relevant imports and I have defined 'scope' in body.hs.

Looks like it d

[2020-09-02 14:57] oluowoj commented on #2216
Instead of trying to create all blank sections in the SRS. I will start working on the assumptions and see how it goes.

[2020-09-02 19:15] oluowoj commented on #2216
Adding link for easy access

[2020-09-02 19:15] oluowoj commented on #2216
https://github.com/best-zhang-zhi/CAS741Project/blob/master/Double%20Pendulum/docs/SRS/SRS.pdf

[2020-09-02 20:45] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/92034710-9f519a00-ed3b-11ea-8e7f-d549d8115ef6.png)

[2020-09-02 20:49] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/92035146-46363600-ed3c-11ea-9c18-9b7ba5cb6901.png)

[2020-09-04 16:26] oluowoj commented on #2234
I figured this out, I will close this ticket.

ChunkDB was missing document concept (docCon) which was used body. It needed to be added to SymbMap.

[2020-09-04 16:26] #2234 closed

[2020-09-08 02:04] JacquesCarette commented on #2231
In theory 3aea095 does the deploy. Once it looks like it worked, I'll hook it in to the web page too.

[2020-09-08 02:48] JacquesCarette commented on #2230
Badge that the build is passing is now live. We can add more later.

[2020-09-08 02:48] #2230 closed

[2020-09-08 02:52] JacquesCarette commented on #2228
Closing as this issue represents a method of implementation that doesn't leverage the native LaTeX support of labelling.

[2020-09-08 02:52] #2228 closed

[2020-09-08 02:54] JacquesCarette commented on #2221
Changes to the appropriate scripts now done (but not necessarily debugged). The website itself still need to have the results hooked in.

[2020-09-09 21:35] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/92657417-c9b6d080-f2c2-11ea-9134-4d387aa2424a.png)

[2020-09-10 02:19] JacquesCarette commented on #2188
I tried to do this. And failed miserably. It seemed to be a massive, deep rabbit hole.

Note that `printFunc` for some languages are where we hook in to get some imports. So it can't quite be removed that easily.

Yes, I completely agree that these functions right now are way over-complicated. For sure passing in the name of the function shouldn't be buried in so many layers of stuff. Perhaps not

[2020-09-11 04:35] #2233 closed

[2020-09-13 16:03] smiths opened #2236 "Review instructions for creating VM, installing soft dev tools and forking Drasil"
Please have a look at these instructions and let me know if you see any problems, or if you can think of any additions.  Ideally, I would like you to follow the instructions on your own machine to make sure that everything works.

https://gitlab.cas.mcmaster.ca/smiths/cas741/-/tree/master/Tools/VM_Instructions

I originally thought it worked without doing anything, but the CI is not maintained in

[2020-09-13 17:35] smiths commented on #2236
I found the instructions for enabling Travis CI.  It seems fairly straightforward, and it now seems to be working.  (Please ignore my pull requests on the original Drasil repo.  It points to that repo by default, and I kept missing it.)

https://docs.travis-ci.com/user/tutorial/

[2020-09-15 20:47] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/93262907-fe1f0680-f772-11ea-902c-10c40269cd8a.png)

[2020-09-15 23:22] nzaker opened #2238 "First Issue For Assignment 1- CAS 741"
From Nafiseh Zaker

[2020-09-15 23:25] smiths commented on #2238
Hello @niazim3.  My hope was that people would inspect the SRS case study documents available in Drasil (following the link in the slides) and create real issues related to questions or comments on the contents.  😄

[2020-09-15 23:25] #2238 closed

[2020-09-16 00:01] yanxuanm opened #2239 "Table length ecxeeds page lengh."
@smiths

GamePhysics_SRS, page 33 & 34, table length ecxeeds page length.  Page 39 to 42, table width ecxeeds page width.

Texts in page 33& 34 those two tables also covered page index.

[2020-09-16 03:53] gabrielasd opened #2240 "Add torque symbol in GamePhysics SRS pdf."
@smiths
Table 2 in GamePhysics SRS pdf is mising the torque symbol (tau).

[2020-09-16 04:52] gabrielasd opened #2241 "Posible Two-Dimensional abreviation typo in GamePhysics IM:transMot table."
@smiths
The label on IM:transMot table (page 33 of GamePhysics_SRS.pdf) reads "Force on the translational motion of a set of 2d rigid bodies".
Should it say "2D" instead?

[2020-09-16 05:09] gabrielasd opened #2242 "Fix sentences mising left margin in GamePhysics SRS pdf"
@smiths
In the Goal Statements subsection (page 9) the last two sentences don't have left margin.

[2020-09-16 13:44] muralidn opened #2243 "Editorial issues in Projectile SRS"
**Impact:** Minor

**Artifact:** Projectile_STS.pdf (https://jacquescarette.github.io/Drasil/examples/Projectile/srs/Projectile_SRS.pdf)

**Description**

1. The text on pages 25-28 exceeds the page width.
2. The document utilizes hyperlinks to cross-reference Tables, Figures, Sections, etc. For example, Fig:Launch, Section: Instance Models. They do not match the names of the tables or figures. Th

[2020-09-16 13:51] smiths commented on #2242
Thank you @gabrielasd . The issue with the wrapped text is also noted in #1877. A solution, using short mnemonics, instead of the full names, is given in #1539. When that issue is closed, it should fix this issue.

[2020-09-16 13:51] #2242 closed

[2020-09-16 14:23] smiths commented on #2241
Thank you @gabrielasd.  This is indeed a typo.  I've fixed the typo and issued a pull request.  I believe this issue will automatically be closed when the pull request is accepted.

[2020-09-16 14:55] smiths commented on #2243
@muralidn, in the future, please create a separate issue for each point.  That allows better discussion and tracking of the issue.

The issue with the wrapped text is also noted in #1877. A solution, using short mnemonics, instead of the full names, is given in #1539. When that issue is closed, it should fix this issue.

The figure labels and references are stylistic choices.  Your suggestion of u

[2020-09-16 14:55] #2243 closed

[2020-09-16 16:20] liziscool opened #2245 "Text Wrap Issue in Software Requirements Specification for GlassBR"
In Software Requirements Specification for GlassBR (https://jacquescarette.github.io/Drasil/examples/GlassBR/srs/GlassBR_SRS.pdf) on page 10 under section 5.1.3 the text wraps to the next line incorrectly.

[2020-09-16 16:26] liziscool opened #2246 "Text Exceeds Margins in Software Requirements Specification for GlassBR"
@smiths
in Software Requirements Specification for GlassBR (https://jacquescarette.github.io/Drasil/examples/GlassBR/srs/GlassBR_SRS.pdf) on page 36 for section 8 Unlikely Changes the text exceeds the margins of the page on the left

[2020-09-16 16:28] liziscool opened #2247 "Graphs Exceed Margin in Software Requirements Specification for GlassBR"
@smiths
In Software Requirements Specification for GlassBR (https://jacquescarette.github.io/Drasil/examples/GlassBR/srs/GlassBR_SRS.pdf) on page 37 in section 9 Traceability Matrices and Graphs the graphs exceed the right margin of the page.

[2020-09-16 21:29] JohnErnsthausen opened #2248 "CAS 741 Issue Assignment"
# CAS 741 Issue Assignment

I'm a student in CAS 741. Hello, I'm John.

The aim of this assignment is to gain __experience__ submitting an issue.

## Submitting an Issue

I'l be doing this shortly.

## Assign the issue to Prof Smith @smiths

I don't see where to do this yet.

[2020-09-17 00:44] smiths commented on #2248
@JohnErnsthausen, thank you for your question.  I forgot that only Collaborators can assign issues to other Collaborators.  As a guest, you won't actually have the option to assign an issue.  Just go ahead and create it, and then at me (@smiths) in the issue.

I've labelled this issue as a question.  Since it has been answered, I'll close the issue.

[2020-09-17 00:44] #2248 closed

[2020-09-17 01:34] machadotiagom opened #2249 "CAS 741 --Fall 2020-- - Issue Creating Exercise (1) - Tiago"
Hello @smiths

Just trying to create an issue as part of the first task for the CAS 741 - Fall 2020

I did just a first reading on the Projectile SRS document (https://jacquescarette.github.io/Drasil/examples/Projectile/srs/Projectile_SRS.html).

I didn't read it looking for any sort of issue on the document if there exists one, but instead, I tried to pay attention to its structure itself. Was th

[2020-09-17 02:04] shinsid opened #2250 "'RefBy' missing in data definitions in GamePhysics"
@smiths

'RefBy' value is missing in several data definitions - DD:chaslesThm and later

[2020-09-17 02:05] shinsid opened #2251 "'RefBy' missing in instance models in GamePhysics"
@smiths

'RefBy' missing in instance models in GamePhysics

[2020-09-17 02:06] shinsid opened #2252 "A small typo in 'DD:Torque' notes in Game Physics"
@smiths

![image](https://user-images.githubusercontent.com/12082585/94317132-a2fbc980-ff53-11ea-8e69-bc8fdd55865c.png)

Remove the repeated word 'the' in Notes.

[2020-09-17 02:11] shinsid opened #2253 "A minor rephrasing in 'DD:chaslesThm' -> Notes might help"
@smiths

![image](https://user-images.githubusercontent.com/12082585/94317241-df2f2a00-ff53-11ea-8071-87e6f47da1d4.png)

Instead of -
The linear velocity vB ................ and the displacement vector between the origin and point B uOB.

more clear -
The linear velocity vB ................ and the displacement vector, uOB, between the origin and point B.

[2020-09-17 04:08] salahhessien opened #2254 "CAS 741 --Fall 2020-- - Test issue (1) - Salah Hessien"
Hello @smiths

I have read the Module Interface Specification for Projectile (https://github.com/JacquesCarette/Drasil/blob/master/code/drasil-example/Drasil/Projectile/MIS/Projectile_MIS.pdf) as part of the first test issue for the CAS741 - Fall 2020.

I read the document for knowledge-seeking about MIS structure itself, not looking for any code issue.

Salah.

[2020-09-17 04:14] smiths commented on #2254
@salahhessien, it is good that you had a look at the MIS, but you are getting ahead of things.  :smile: At this point, I'd rather you review the requirements specification (SRS).  You can find the SRS for all of the examples at:

https://jacquescarette.github.io/Drasil/

This isn't really an issue.  I was hoping you would look at the documentation and point out a problem, or ask a question.

[2020-09-17 04:14] #2254 closed

[2020-09-18 01:07] machadotiagom opened #2255 "Projectile SRS - a few questions (issue creating exercise) - Tiago"
Hello Prof. @smiths

I am creating an issue after doing a second reading on the Projectile SRS document, and actually, I have a few questions regarding its structure that I would like to share with you:

1. Shouldn't Figure 1 caption be better explained? Also, I noticed that it is not cited or referenced at any part of the text before (or even after) its first appearance.

2. Why the subsections 3

[2020-09-18 03:30] shmouses opened #2256 "DD:coeffRestitution ambiguity at GamePhysics_SRS.pdf (CAS 741 assignment)"
In the denominator of the equation:  Vi.n
To avoid Vi.n = 0 (when vectors are perpendicular) a clear definition for n is valuable.
The collision-line/axis and plane are not well defined.

@smiths

[2020-09-18 03:31] andreamclemeno opened #2257 "Redundancy in wording in GamePhysics_SRS.pdf"
@smiths
In the [Game Physics Library ](https://jacquescarette.github.io/Drasil/examples/GamePhysics/srs/GamePhysics_SRS.pdf) case study, the writer uses "external" and "outside" to describe the user as seen in the screenshot below as well as under heading _3.1 System Context_ on page 7 of the Game Physics SRS document. I think it would be better to say one or the other. For example: "A circle repr

[2020-09-18 03:32] shmouses opened #2258 "Parameter missing in Eq. at GamePhysics_SRS.pdf (CAS 741 assignment)"
parameter missing in equations:
                                           TM:NewtonSecLawRotMot
                                           DD:torque
@smiths

[2020-09-18 03:36] shmouses opened #2259 "Inaccuracy in TM:UniversalGravLaw table at GamePhysics_SRS.pdf (CAS 741 Assignment)"
The right side and left side of the eq. in TM:UniversalGravLaw have similar values but not similar dimensions. Using "=" sign can be considered inaccurate. It is better to mention the absolute values are equal.

@smiths

[2020-09-18 04:03] XingzhiMac opened #2260 "Inconsistent descriptions in Projectile_SRS.pdf"
@smiths
The term '_v_' in 'GD:rectVel' is described as "speed", but the following derivation part claims it as "velocity". Despite the velocity in the context is equivalent to a scalar, using unified terms would make the text clearer.

![微信图片编辑_20200917234143](https://user-images.githubusercontent.com/70971553/93552839-9669e680-f93f-11ea-807c-1176678881ef.jpg)

[2020-09-18 07:02] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/93566683-68929b00-f95b-11ea-8dd1-cfec2648bf80.png)

[2020-09-18 08:05] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/93569122-23706800-f95f-11ea-971b-6dde1d76fadc.png)

[2020-09-18 09:13] muralidn opened #2261 "Question on requirements classification"
@smiths
From my experience in the Avionics industry, requirements are divided into 3 categories,

- High-Level System requirements
- High-Level Software requirements/Low-level System requirements
- Low-Level Software requirements.

I believe the Goals Specification is the High-Level System requirements in the SRS context, and the rest of the document to be High-Level Software requirements. Which w

[2020-09-18 13:13] tingyuw opened #2262 "Data naming in Projectile"
@smiths
In the section data definition, we are defining the initial velocity in x-component, would it be better if we name the data 'velIX' instead of 'speedIX' because it actually has a direction? And we also label it as velocity.

![image](https://user-images.githubusercontent.com/47548045/93598970-6f390680-f98b-11ea-9496-5846368e281c.png)

[2020-09-18 13:25] andreamclemeno opened #2263 "Grammatical Mistake in GamePhysics_SRS.pdf"
@smiths
According to the SRS Checklist, grammar mistakes should not be present in the SRS document. Under the GD:accelGravity in _4.2.3 General Definitions_ of the [Game Physics](https://jacquescarette.github.io/Drasil/examples/GamePhysics/srs/GamePhysics_SRS.pdf) case study, there should be a comma between the two parts of the sentence (between "other" and "it is convenient").

"If one of the mas

[2020-09-18 13:49] tingyuw opened #2264 "A question about input constraint in Projectile"
@smiths
I have a question about the input constraints in the section Instance Model IM:messageIM.
Why does 𝑑offset need to be greater than − 𝑝land? Doesn't it sill make sense if doffset is smaller than -pland?

![image](https://user-images.githubusercontent.com/47548045/93604136-f9d13400-f992-11ea-9bd1-5af6deb2eacc.png)

[2020-09-18 15:11] LeilaMousapour opened #2265 "code translation to other languages"
Hello Dr. @smiths
I wonder if Drasil is able to generate the code in any desired language such as VHDL for micro controllers?

[2020-09-18 15:15] LeilaMousapour opened #2266 "Unit prefix"
Hi Dr. @smiths

I went through the "Software Requirements Specification for Solar Water Heating Systems". I have a question about unit prefixes. Is the software able to recognize unit prefixes (such as K (kilo) M(mega) d(deci) c(centi) etc.) and adjust the input values respectively or the inputs should be exactly in the units which are specified in the retirements document?

Thank you

[2020-09-18 19:23] yanxuanm opened #2267 "Readme instruction for generating PDF file after "make exce XXXX""
@smiths

I went through build process of Drasil, the readme instruction for how to use this software is very detailed. But I think it will be better if we may add more instruction for generating PDF file after users performed "make exce XXX" step. This step we will have tex file and make file for cases user specified located in SRS folder. User need to do an additional "make" step to generate PDF

[2020-09-18 19:53] JohnErnsthausen opened #2268 "Data definition"
# Define Data Definition question for @smiths

"What is the difference between a Goal Statement and a Data Definition" was suggested as an issue topic.  I've looked into the lecture notes from L01 to L04. I see examples for "Goal Statement" . I see references to the words "Data Definition". What is the definition of "Data Definition"?

__I don't see where to label this issue as a question__

[2020-09-18 20:28] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/93642331-eee6c580-f9cb-11ea-9f2d-ac057d1c576b.png)

[2020-09-19 00:44] moalaa opened #2269 "CAS741 - Question Related to Reference Material Section"
Hello Dr. @smiths

I have a question in SRS organization: **What is the benefit from Reference Material Section, and is there a relation with the References Section at the end?** As all SRSs that I checked have this statement **This section records information for easy reference.** under Reference Material Section.

**NB:** I couldn't find the labels to make this issue as a question.

[2020-09-19 00:48] moalaa opened #2270 "CAS741 - Missing Definition"
Hello Dr. @smiths,

I think the definition of **DblPendulum** is missing as the rest of the case studies in [Drasil](https://jacquescarette.github.io/Drasil/) Web page.

[2020-09-19 01:41] salahhessien opened #2271 "Questions related to NoPCM python/C++ examples"
@smiths

This time I went through the NoPCM example and reviewed both SRS document and run c++ and python on my machine. I have the following questions:

When I opened the README.md files located at "Drasil/code/stable/nopcm/src/python", it was mentioned that this readme file is an artifact generated by Drasil. I wonder how the Drasil tool can automate the generation of such useful information tha

[2020-09-19 01:45] salahhessien opened #2272 "NoPCM documentation align issue"
@smiths

Looking into "https://jacquescarette.github.io/Drasil/examples/NoPCM/srs/NoPCM_SRS.pdf" document, it was hard for me to understand traceability matrices in pages 28-30. The tables do not show the components of each column clearly. It needs to be aligned.

Salah.

[2020-09-21 14:19] oluowoj commented on #2270
hello @maolaa, DblPendulum is an ongoing project in Drasil. It is still in progress.

[2020-09-22 11:04] oluowoj commented on #2214
closing this since you were working on it @smiths

[2020-09-22 11:04] #2214 closed

[2020-09-22 11:25] oluowoj opened #2274 "Adding pendulum project in Drasil"
@smiths, you can take a peek at the instructions, which is not yet done. But I anyone can get started with it as I continue to update.

 The 1st few sections and can be used to start building the SRS. Before a new user could get through those, I would have made more progress.
See https://github.com/JacquesCarette/Drasil/wiki/Creating-Your-Project-in-Drasil

I am having a build issue but the pendul

[2020-10-01 07:00] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/94777309-45bbaa00-0391-11eb-8db4-7783dc95cc92.png)

![image](https://user-images.githubusercontent.com/43192745/94777925-4acd2900-0392-11eb-8dbe-85caf641fd05.png)

[2020-10-05 03:16] smiths commented on #2239
Thank you @yanxuanm.  This issue has been raised elsewhere, so I will close this instance of it.  (The issue is a consequence of generating LaTeX code.)

[2020-10-05 03:16] #2239 closed

[2020-10-05 03:27] smiths commented on #2240
@gabrielasd, you are correct that the symbol is missing from the pdf version, although it is present in the html version.  Since the tex code is generated based on all the symbols, this is an odd error.  My guess is the problem is related to something with compiling the tex file.

I'll leave this issue open, since it really should be investigated at some point.

[2020-10-05 03:36] smiths commented on #2245
Thank you @liziscool.  This is a known issue, as documented elsewhere, but you are correct that the labels are too long and do not wrap properly.

[2020-10-05 03:36] #2245 closed

[2020-10-05 03:36] smiths commented on #2246
Thank you @liziscool.

[2020-10-05 03:36] #2246 closed

[2020-10-05 03:37] smiths commented on #2247
Thank you @liziscool.  This issue is a known one.  Until it is fixed, we can use the html file.  :-)

[2020-10-05 03:37] #2247 closed

[2020-10-05 11:26] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/95074164-13d17d00-06dc-11eb-959b-69b092ef2e94.png)

[2020-10-06 20:31] smiths commented on #2274
The instructions look great to this point @oluowoj.  They appear to be very thorough.  Of course, I can't really tell if something is missing, but that is the beauty of having 3 students working on the Drasil project in 741.  The students will go through the instructions and let us know what is missing or confusing.  We can address any problems as they point them out.

One thing that I'd like you

[2020-10-06 22:31] oluowoj commented on #2274
I will add the above into the wiki page. I am still adding more info to the wiki page to ensure they have instructions to build the entire SRS. And yes, I think as the students use it, we will improve as they go along. I'm pretty sure they would have questions and if we are missing answers on the wiki page, we will update.

[2020-10-07 04:04] smiths commented on #2274
Sounds good @oluowoj.

[2020-10-07 12:24] smiths commented on #2272
Thank you @salahhessien.  Yes, the LaTeX traceability matrices are hard to read.  This is a known problem in the Drasil generation with LaTeX.  In the short term, the "fix" is to look at html version.  :smile:

[2020-10-07 12:24] #2272 closed

[2020-10-07 12:33] smiths commented on #2271
@salahhessien, yes Drasil generates the README file.  Drasil also generates the Python, C++ etc source files.  Drasil generates code by first generating GOOL (Generic Object Oriented Library) code.  The GOOL code is then translated into any language that we have a renderer implemented for.  If you are curious, details on GOOL are given at https://arxiv.org/abs/1911.11824.

GOOL doesn't need to gen

[2020-10-07 12:33] #2271 closed

[2020-10-08 02:51] smiths commented on #2270
Since @oluowoj has addressed this question, we can close it.  :smile:

[2020-10-08 02:51] #2270 closed

[2020-10-08 06:02] muralidn commented on #2261
After writing the SRS for my problem statement, I understood that.

Problem Definition & Instance Model = High level system requirements
Requirements section in SRS = Low-level system/High-level software requirements.
MG  & MIS = Low-level software requirements.

Closing the issue.

[2020-10-08 06:02] #2261 closed

[2020-10-08 09:48] shmouses commented on #2259
@smiths
Dear Dr. Smiths, I was wondering to follow up on this initial issue that I posted at beginning of the semester as you have not yet closed it.
Regards,
Shayan

[2020-10-08 09:48] shmouses commented on #2258
@smiths
Dear Dr. Smiths, I was wondering to follow up on this initial issue that I posted at beginning of the semester as you have not yet closed it.
Regards,
Shayan

[2020-10-08 09:48] shmouses commented on #2256
@smiths
Dear Dr. Smiths, I was wondering to follow up on this initial issue that I posted at beginning of the semester as you have not yet closed it.
Regards,
Shayan

[2020-10-08 10:57] smiths commented on #2256
@shmouses, dealing with the open issues is still on my "to do" list.  Since it doesn't impact anything else, it is relatively low on the list.  :smile:

[2020-10-08 12:57] smiths commented on #2261
@muralidn, I like your characterization of the documents and the relationship to the terminology from the avionics industry.  I'm not sure that low-level system requirements are given in the SRS.  The goal of the SRS is to be abstract, so low-level details shouldn't really enter, except maybe through system constraints.

[2020-10-08 17:45] #2241 closed

[2020-10-08 18:09] JacquesCarette commented on #2233
So what are all these 'placeholder screenshots' ?

[2020-10-08 18:18] oluowoj commented on #2233
They are just screenshots I am using in preparing the user guide

[2020-10-09 01:20] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/95530513-0c47f780-09ac-11eb-88e5-de0765f747dc.png)

[2020-10-09 15:48] smiths commented on #2269
@moalaa the benefit of the reference section is that it provides the definitions of all the symbols and terms in the document.  As a reader is going through the body of the document, they are likely to come across symbols that they do not know.  The details of the meaning of a symbol are not given every time it appears in the document.  Therefore, if a reader needs this information, they know that

[2020-10-09 15:48] #2269 closed

[2020-10-10 19:44] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/95663720-7d53f000-0b0f-11eb-9709-f2fa50be0341.png)

[2020-10-10 21:03] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/95665007-6ebf0600-0b1a-11eb-8bd1-e38fa4b39c39.png)

[2020-10-10 21:05] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/95665067-da08d800-0b1a-11eb-9f3d-d8d0a4a79a57.png)

[2020-10-11 05:20] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/95670996-f8dd8d80-0b5f-11eb-8a36-9961e48e0376.png)

[2020-10-11 05:38] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/95671244-74403e80-0b62-11eb-9c03-168497ec0bfb.png)

[2020-10-14 14:35] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96004090-f782be00-0e08-11eb-9543-2711d61fae18.png)

[2020-10-14 15:05] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96008019-1e42f380-0e0d-11eb-8e1a-000bdd3d077e.png)

[2020-10-14 15:20] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96009587-d2914980-0e0e-11eb-8efa-58ce51a10dda.png)

[2020-10-19 04:28] smiths commented on #2249
@machadotiagom, I was hoping that you would look for actual issues with the Projectile example.  If not an issue, a question would be fine.  I haven't looked at it yet, but I see that you have created another issue.  I'll have a look at that.  :smile:

[2020-10-19 04:28] #2249 closed

[2020-10-19 04:46] smiths commented on #2255
@machadotiagom, I will respond to your comments/questions below.

@machadotiagom, since the symbols are defined elsewhere in the document, this information is not repeated in the caption.  However, I can see why you would suggest more detail in the caption.  When Drasil is more powerful (in the future), we will allow the user to build a recipe that would provide more detailed figure captions.

The

[2020-10-19 04:46] #2255 closed

[2020-10-19 20:40] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96509253-bdab2080-1229-11eb-9694-b8143b283528.png)

[2020-10-19 20:42] smiths commented on #2250
@shinsid, you are correct.  The reason the refby field is empty is that no other objects in the document uses Chasles Theorem.  The reason for this is that the derivations are not complete in the Game Physics example.  Once the derivations are written, Chasles Theorem will be used.  Therefore, this problem will be fixed by future edits.

[2020-10-19 20:42] #2250 closed

[2020-10-19 20:46] smiths commented on #2251
This issue was discussed in #2250.

[2020-10-19 20:46] #2251 closed

[2020-10-19 20:52] smiths commented on #2252
@shinsid, yes, this is a mistake.  @tingyuw, can you please fix this problem within Drasil.  This is a good exercise to help you learn the workflow of pushing changes to Drasil.  You can see how little work is needed by looking at this pull request:

https://github.com/JacquesCarette/Drasil/pull/2244

To find where to make the fix, I suggest that you search through the Drasil code for "the the".

[2020-10-19 21:00] smiths commented on #2253
Yes @shinsid, your wording is clearer.  However, rather than  make the change now, we'll postpone it until Game physics is revised.

[2020-10-19 21:00] #2253 closed

[2020-10-19 21:12] smiths commented on #2256
@shmouses, my suspicion is that it isn't possible for two bodies to collide if the velocity vector and the surface normal are perpendicular.  They can collide at an angle, but once the angle is 90 degrees, I don't see how the bodies can collide.  This is an interesting boundary case though and it should be documented.  It might be something to consider for the section related to properties of a co

[2020-10-19 21:12] #2256 closed

[2020-10-20 03:18] smiths commented on #2258
Yes, that would make sense for the equation that uses torque to reference the data definition for torque.  I will add this to the list of issues to look at when revising game physics.

[2020-10-20 03:18] #2258 closed

[2020-10-20 03:23] smiths commented on #2259
I'm not sure what the problem is with the equation for TM:UniversalGravLaw.  The unit vector is expanded to be the distance vector divided by the magnitude of the distance vector.  This substitution will still maintain the equality.

[2020-10-20 03:23] #2259 closed

[2020-10-20 15:13] smiths commented on #2257
@andreamclemeno, I agree with your proposed improvement.  It is an incremental improvement, but your sentences are better than what is currently written.  Of the two options you listed, I prefer: "A circle represents an external entity from the software, the user in this case."

Although this is not a high priority, this is a good issue for a future improvement.  The same sentence exists in other

[2020-10-20 15:24] smiths commented on #2260
@XingzhiMac, you are correct that the text is a bit lax with the difference between velocity and speed.  This is a common in physics writing, but Drasil should do a better job with consistency.  I'm not sure if the solution is to replace velocity by speed, since the velocity does have a direction; it is just a known 1D direction.  The documentation should be reviewed to correctly distinguish the v

[2020-10-20 15:30] smiths commented on #2262
Yes, this is a good point.  The inconsistencies for the use of speed and velocity is also discussed in issue #2260

I will close this issue, since #2260 covers the same ground.

[2020-10-20 15:30] #2262 closed

[2020-10-20 15:33] smiths commented on #2263
Yes, you are correct @andreamclemeno.  This typo should be corrected.  I will leave this issue open, and label it to show that it will be an easy issue to close.

[2020-10-20 15:41] smiths commented on #2264
@tingyuw, good question.  The constraint on d_offset is correct, but it isn't actually justified in the document as far as I can tell.  d_offset has to be greater than -pland because the launch angle (theta) cannot be greater than 90 degrees.  The constraint on launch angle leads to a constraint on d_offset.  I think the place to show this information is in the section "Properties of a Correct Sol

[2020-10-21 01:29] smiths commented on #2265
@LeilaMousapour, Drasil can generate code for any language that we have written a renderer for.  Currently VHDL is not one of those languages.  I'm not an expert on VHDL, but I believe it would be a significant amount of work to write a renderer, since VHDL is quite different from the existing languages.  Currently Drasil focuses on object oriented languages.  Also, the focus is on the aspects of

[2020-10-21 01:29] #2265 closed

[2020-10-21 01:33] smiths commented on #2266
@LeilaMousapour, no the software doesn't take the unit prefixes as part of the input.  My approach in documentation, and in code, is to use SI units for everything.  If all the inputs are in SI, then all of the outputs are in SI.  :-)  That is, I like everything to be in m, kg, s, etc, without prefixes (except for kg).  If there is a reason to do otherwise though, the requirements can be written w

[2020-10-21 10:48] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96709941-5f855700-1369-11eb-8f4b-982cb0e9635f.png)

[2020-10-21 10:50] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96710181-b0954b00-1369-11eb-82e1-a5c305abc023.png)

[2020-10-21 11:26] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96713509-b6d9f600-136e-11eb-9969-0788e46783a7.png)

[2020-10-21 11:29] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96713775-1d5f1400-136f-11eb-8406-119c58d55f8b.png)

[2020-10-21 11:29] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96713793-264fe580-136f-11eb-8f88-8d598436d193.png)

[2020-10-21 15:06] smiths commented on #2268
@JohnErnsthausen, you have probably figured this out by now, but a data definition is where details are provided on the variables and equations that support the theoretical models, general definitions (if present) and the instance model.  The data definitions are not derived or refined.  They are information that is available for the other models to use.  For instance, if you have an equation that

[2020-10-21 15:06] #2268 closed

[2020-10-21 15:47] smiths commented on #2266
Since the question has been answered, this issue can be closed.

[2020-10-21 15:47] #2266 closed

[2020-10-21 15:52] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96744172-c23f1880-1392-11eb-99d7-bb78d7d4b951.png)

[2020-10-21 15:52] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96745203-de8f8500-1393-11eb-9290-0b191ecab950.png)

[2020-10-21 17:51] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96758236-84e38680-13a4-11eb-97b4-20f3df89af46.png)

[2020-10-21 18:16] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/96764819-eeb15f80-13a7-11eb-8d44-05f81d93cb27.png)

[2020-10-22 13:06] smiths opened #2275 "Feedback on DblPendulum"
@oluowoj, I've reviewed the physics behind the DblPendulum example and I have the following feedback:

- the project should be renamed Pendulum (since it isn't a double pendulum)
- your derivation uses a Cartesian coordinate system, but your diagram implies a polar coordinate system.  The derivation for a single pendulum is much easier in a polar coordinate system, but then you would end up removi

[2020-10-22 13:15] smiths commented on #2275
I've been thinking about the pendulum problem further.  I think the work will be much easier if you switch to a polar coordinate system.  If you continue on the path of Cartesian coordinates, you will get two ODEs (one for ax and one for ay).  To get one ODE, we would have to convert to a polar coordinate system at this point, so why not just start there.

The web-page that you used for the figure

[2020-11-10 12:01] muralidn opened #2276 "User guide suggestion - Concepts.hs"
@oluowoj  @smiths

This is more of a suggestion than an issue. In the following step, I think it is also worthwhile to mention the module in which type CI is found, that is `Language.Drasil`.

![image](https://user-images.githubusercontent.com/71282513/98671346-1e85ce80-237a-11eb-9517-acf7661d2416.png)

[2020-11-10 12:12] muralidn opened #2277 "Drasil User's Guide - 'run make' ?"
@oluowoj @smiths

Step 2 here suggests executing `run make`. Isn't it just `make `? Neither bash nor cygwin has the `run `command.

![image](https://user-images.githubusercontent.com/71282513/98672172-63f6cb80-237b-11eb-821c-9dcc7ea5e172.png)

[2020-11-10 12:18] muralidn opened #2278 "Drasil User's guide - build folder"
@oluowoj @smiths

Contrary to what is mentioned in step 3, a folder for my project was not automatically created in ./build. I had to edit the Make file to include my project in the example projects,

![image](https://user-images.githubusercontent.com/71282513/98673078-d3b98600-237c-11eb-9d0a-7d03310bde6f.png)

This is could be related to #2277.  Perhaps I am missing a make argument.

[2020-11-10 16:15] oluowoj commented on #2276
Great thanks. I will update.

[2020-11-10 16:17] oluowoj commented on #2277
yes, that was a typo

[2020-11-10 16:36] smiths commented on #2277
Thank you @muralidn for catching the typo.  Once you've fixed the typo @oluowoj, please close this issue.

[2020-11-10 16:37] smiths commented on #2276
Thank you @muralidn.

[2020-11-12 16:40] oluowoj commented on #2277
typo fixed in commit ID 4afaec9

[2020-11-12 16:40] #2277 closed

[2020-11-12 22:30] muralidn opened #2279 "Drasil User's Guide - doccon'"
@oluowoj

In step 6 of the section 'Adding more sections in SRS Body - Introduction', it is instructed to add `doccon` to `symbMap` as follows,

![image](https://user-images.githubusercontent.com/71282513/99003077-81868980-2563-11eb-8266-6df31cc9a3df.png)

The program compiled successfully but crashed at run-time with the following error,

[code]

It looks like another constructor, `doccon'`, shou

[2020-11-13 18:06] oluowoj commented on #2279
@muralidn, could you try and add  doccon', not sure what functions you have used up until this point but maybe try this and lets see if it works

[2020-11-13 19:02] muralidn commented on #2279
@oluowoj yes `doccon'` cleared the error. I reviewed my imports again, and couldn't find any other imports (from Drasil libraries) other than what has been suggested in the guide. I am fairly certain `doccon'` is an additional dependency for `IntroSec`.

[2020-11-13 22:22] smiths commented on #2279
Thank you @oluowoj.  @oluowoj, can you make sure that the documentation is updated with any changes that the conversations with @muralidn highlight.

[2020-11-16 21:43] oluowoj commented on #2278
The Manual has been updated. Thanks for the feedback

[2020-11-16 21:43] #2278 closed

[2020-11-17 04:14] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99345924-6ff1fa00-2861-11eb-8e35-d2e593ba4a03.png)

[2020-11-17 06:48] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99355236-ec8ed380-2875-11eb-89fd-717e547a9f65.png)

[2020-11-17 07:28] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99359127-8f4a5080-287c-11eb-8ff6-5a818f1bc8a0.png)

[2020-11-17 07:39] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99360082-0af8cd00-287e-11eb-9d38-09346ef7691b.png)

[2020-11-17 07:56] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99361695-80659d00-2880-11eb-8565-4d3e30fc6c10.png)

[2020-11-17 16:41] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99419150-c7c44b80-28c9-11eb-92f1-b9019c2bd97d.png)

[2020-11-18 05:39] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99489800-88801400-2936-11eb-8100-33552260863b.png)

[2020-11-18 05:49] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99490450-d9dcd300-2937-11eb-963d-f87d060f5711.png)

[2020-11-18 06:59] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99496122-aef77c80-2941-11eb-85c1-7e6f6ea6d781.png)

[2020-11-18 07:03] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99496416-3cd36780-2942-11eb-93b6-c71a898f69c2.png)

[2020-11-19 23:20] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99736144-e8400180-2a93-11eb-8ce9-355882816d7f.png)

[2020-11-19 23:24] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99736500-7a480a00-2a94-11eb-9188-8feb00435764.png)

[2020-11-19 23:32] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99737037-82547980-2a95-11eb-8bd7-220a9d7d57e3.png)

[2020-11-19 23:35] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99737287-03137580-2a96-11eb-839d-06fd29f36a61.png)

[2020-11-20 11:45] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99795665-23751b80-2afa-11eb-87b7-223338c7a444.png)

[2020-11-21 16:30] oluowoj commented on #2275
@smiths, for the derivation of the equation of pendulum motion, the equation is a 2nd order derivative
![image](https://user-images.githubusercontent.com/43192745/99882171-83e48580-2bec-11eb-8710-3b1636074b7d.png)
I don't think we have any functions in Drasil to write a 2nd derivative equation.

@JacquesCarette, any thoughts about a workaround?

[2020-11-21 16:44] smiths commented on #2275
@oluowoj, we discussed this problem in a previous meeting.  There isn't currently a way to solve second order ODEs in Drasil.  However, Drasil is close to being able to solve problems like this.  Naveen (CAS 741 student) has said that he will look into it.

My guess is that you don't want to tackle adding second order ODEs to Drasil, and I know you are anxious to have a complete example.  Why don'

[2020-11-21 17:05] oluowoj commented on #2275
Yes, we did discuss this. I would just keep the equation as is.  I was trying some hacks initially.
Could you please point me to Brooks's instructions to generate code in Drasil?

[2020-11-21 18:23] smiths commented on #2275
Brooks didn't write instructions, as far as I know, he wrote code for interfacing to an external library, like an ODE solver library.  He had the input ODE as a list of ODEs (as opposed to a single ODE) to facilitate future expansion to a system of ODEs.  This is what I meant when I said infrastructure.

[2020-11-22 02:00] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99891880-9edee600-2c3c-11eb-8c52-3afae5a36551.png)

[2020-11-22 02:04] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99891918-1e6cb500-2c3d-11eb-8cd4-faad951b5cf3.png)

[2020-11-22 02:07] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99891950-8cb17780-2c3d-11eb-800b-cd17662bd4a3.png)

[2020-11-22 02:13] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/99892032-6f30dd80-2c3e-11eb-8dc6-d05aaa8be2a1.png)

[2020-11-22 15:27] JacquesCarette commented on #2275
You can simply do `deriv (deriv (sy XXX) time) time` where XXX is the symbol you want to get a second derivative. It won't necessarily display very well right now, but it is still correct. We can fix things later, but the knowledge should be properly encoded.

[2020-11-22 16:33] smiths commented on #2275
@oluowoj, I thought the question was about generating code to solve second order equations.  I didn't realize the question was about displaying the correct equation.  Please use the suggestion from @JacquesCarette for displaying the equation.  However, we still need to solve the problem of generating code to solve second order (and higher) ODEs.

[2020-11-23 19:36] oluowoj commented on #2275
@JacquesCarette, I am getting this error when I build the pendulum project. Any thoughts?

![image](https://user-images.githubusercontent.com/43192745/100006091-f0e84e80-2d97-11eb-9fa5-ec10979dd375.png)

I just pushed the code to pendulumDerv branch

[2020-11-23 19:47] JacquesCarette commented on #2275
Oh my. `<<loop>>` is one of the hardest things to debug in Haskell. It means it has detected that something has gone into an infinite loop.

This usually means that you've got something defined in terms of itself, in a way that you really didn't mean. Luckily, it should be the case that the problem was introduced in your latest changes. So I would back them out, and re-introduce them as slowly as

[2020-11-24 09:07] oluowoj commented on #2275
Right, it was a case of input and input constraint mismatch.

initialPendAngleCons  = constrained' initialPendAngleCons    [gtZeroConstr] (dbl 2.1)

 instead of

initialPendAngleCons  = constrained' initialPendAngle    [gtZeroConstr] (dbl 2.1).

[2020-11-24 16:28] oluowoj commented on #2233
![image](https://user-images.githubusercontent.com/43192745/100122740-bd64fd00-2e47-11eb-8d9c-2ef696059cf0.png)

![image](https://user-images.githubusercontent.com/43192745/100122877-edac9b80-2e47-11eb-9d97-452ab990f641.png)

![image](https://user-images.githubusercontent.com/43192745/100123145-32d0cd80-2e48-11eb-9dcb-c3b3586867b5.png)

[2020-11-25 03:27] JacquesCarette commented on #2275
Glad it wasn't too hard to spot and fix!

[2020-12-04 17:13] oluowoj opened #2281 "Code generation"
@JacquesCarette looking at glassBR Main.hs, I see that it uses an allMods function. Tracing this I found allMods in  ModuleDefs.hs file.

![image](https://user-images.githubusercontent.com/43192745/101192951-d5980180-3629-11eb-9c52-f8d69ba4c1a9.png)

Only glassBR example has the ModuleDefs.hs, I was just wondering if this is used at all for code generation or it is related to the design document o

[2020-12-04 17:20] smiths commented on #2281
@JacquesCarette will be able to provide more detailed information, but in looking at the code for allMods I can see that it takes care of the interpolation.  This is an interesting example because allMods is where information is introduced that is necessary for solving the problem, but this information is not in the requirements.  The requirements are correctly abstract - they just say that the ne

[2020-12-04 17:25] bmaclach commented on #2281
@oluowoj `allMods` is used in code generation. The modules defined in `allMods` are needed for the code to work, but Drasil is not yet "smart" enough to define these modules automatically, thus the user needs to define them instead.

[2020-12-04 17:36] oluowoj commented on #2281
Thanks Dr. Smith

[2020-12-04 17:47] oluowoj commented on #2281
Thanks Brooks. I will take a closer look.  But do the functions in allMods trace to other modules for GlassBR?

[2020-12-04 20:20] oluowoj commented on #2281
@smiths , I know this is an outdated graph but I wanted to ask  about the IM  - mayref

If we have 2 IMs (IM1, IM2),  just an example. Can we have IM2 take the output of IM1 as its input? Is my interpretation correct?

![image](https://user-images.githubusercontent.com/43192745/101210505-94145000-3643-11eb-81c2-b4e51253e910.png)

[2020-12-04 23:00] oluowoj commented on #2281
@andreamclemeno, please post a screenshot of the error you are getting while trying to generate your code

[2020-12-05 00:38] andreamclemeno commented on #2281
This is the error I am getting:
![image](https://user-images.githubusercontent.com/70977402/101228032-f5e6b100-3667-11eb-8011-ab647d3a2bbf.jpeg)

vLoad is my Data Definition!

[2020-12-06 02:27] oluowoj commented on #2281
Thanks @andreamclemeno
I would just put the resolution of this error in here. The definition info. was missing from SystemInformation in Body.hs.

![image](https://user-images.githubusercontent.com/43192745/101269806-927c8200-3740-11eb-82d7-8acfc56288ed.png)

[2020-12-06 02:29] smiths commented on #2281
From above (https://github.com/JacquesCarette/Drasil/issues/2281#issuecomment-738998556)

From the point of view of the SRS, there is no problem at all for the output of one IM to be the input of another.  I don't know if this is a problem from the point of view of code generation.

[2020-12-06 02:50] bmaclach commented on #2281
Some of the DDs in GlassBR make reference to "interpY" and "interpZ", which are functions defined by the modules defined in `allMods`.

[2020-12-06 04:46] oluowoj commented on #2281
Thanks Brooks, yes, I saw those in the data definition.

[2020-12-06 14:59] JacquesCarette commented on #2281
I don't have anything to add to what @smiths and @bmaclach said, the information they gave seems quite complete.

I don't know why the error in @andreamclemeno is being discussed in this issue?  In any case, the problem seems to be that Drasil cannot find a 'path' to compute `elimConst` and `predictedVL` from the data it is given. It does know `vLoad` exists (but does not use it) and it knows `vLo

[2020-12-13 18:25] smiths opened #2282 "Modify generated code to pass common linters"
Without too much work (I think), we could add an option to the generators to generate code that will pass common linters.  This would be something we could "brag" about.  The current generated Python code generates many warning when it is run through flake8.  The warnings that would be the hardest to deal with are those related to variable names.  Our code names are based on the symbols in our SRS

[2020-12-15 00:39] oluowoj commented on #2281
@smiths, so looking at GlassBR, the code generation function is defined in genCode. genCode calls the code generator. codeGenerator uses the options in choices, systemInformation (from body.hs) and codeSpec to create the requested code output file. I added some notes  in glassBR Main.hs since its one of our baseline examples for code generation

![image](https://user-images.githubusercontent.com/4

[2020-12-15 02:38] smiths commented on #2281
Thank you for the information @oluowoj.  Very helpful.

[2020-12-21 17:17] balacij opened #2283 "Changing GHCTHREADS environment variable causes "make" error"
Running "GHCTHREADS=8 make" causes the following error:

[code]

This appears to be caused by https://github.com/JacquesCarette/Drasil/blob/4c431e557d9a7c57b65ccbfc1432c6d7dad0155e/code/Makefile#L103 adding a string "2" to the environment variable.

[2020-12-21 17:40] balacij opened #2285 "Generated webpage footer Travis build links to travis-ci.org instead of current travis-ci.com"
https://jacquescarette.github.io/Drasil/

[2020-12-21 19:01] #2283 closed

[2020-12-21 19:32] #2285 closed

[2020-12-21 19:35] balacij opened #2287 "Switch from Travis to GitHub Actions"
As per Dr. Carette:

_Originally posted by @JacquesCarette in https://github.com/JacquesCarette/Drasil/issues/2286#issuecomment-749144058_

[2020-12-21 20:04] balacij commented on #2287
Related ticket: #2231

[2021-01-01 17:28] smiths opened #2291 "Build Test Before Submitting Pull Request"
Currently the only way to trigger the Travis CI build checks (as far as I know) is to issue a pull request.  Ideally, a developer should check that their build passes the checks before issuing a pull request.  In e-mail correspondence (back in September) with @JacquesCarette, he mentioned that it is probably set-up this way on Agda, agda-stdlib and agda-categories.  Maybe what is done there can be

[2021-01-19 18:36] balacij opened #2292 "Getting VSCode/HLS to work with Drasil"
Right now, VSCode's best Haskell support is from the official [Haskell plugin](https://github.com/haskell/vscode-haskell). Unfortunately, the backend of the plugin, [Haskell Language Server](https://github.com/haskell/haskell-language-server), only supports a handful of GHC versions (8.6.4, 8.6.5, 8.8.2, 8.8.3, 8.8.4, 8.10.1, and 8.10.2).

As such, I was wondering if it would be alright to update

[2021-01-19 19:27] balacij commented on #2287
For future reference, https://github.com/haskell/actions might be helpful for building this out.

[2021-01-24 01:15] balacij commented on #2292
https://github.com/JacquesCarette/Drasil/compare/master...balacij:2292_stack_packages

Writing up the proof of concept, not yet complete but it seems to solve my problem. Let me know what you think!

[2021-02-08 21:08] #2267 closed

[2021-02-08 21:45] smiths commented on #2274
@oluowoj, I think we can close this issue.  Your instructions were successfully used for CAS 741.  I'm sure we'll make tweaks in the future, but they look pretty good for our starting point.  We'll also use these instructions with future summer students, so that is another chance to test them.

[2021-02-08 21:45] #2274 closed

[2021-02-08 21:57] smiths commented on #2260
I've had a deeper look at this and I don't think we need to change anything.  The terminology of saying speed for 1D velocity is pretty standard.  Moreover, we have a data definition (DD:vecMag) that explicitly makes the connection between speed and the magnitude of the velocity vector.

If we add another example of kinematic motion we might find that something is missing, but for now, the example

[2021-02-08 21:57] #2260 closed

[2021-02-08 22:43] smiths commented on #1153
I've gone through the instructions for Zenodo.  They are fairly straightforward.  Since I do not own the Drasil repo, I couldn't do it for Drasil; I followed the instructions for the Case Studies repo.

@JacquesCarette will need to follow the steps for Drasil.  (Be careful to do them in order and not accidentally skip a step like I did.)  :smile:

Zenodo can create a DOI for a specific version of

[2021-02-09 17:09] balacij opened #2294 "Haddock docs missing for some files"
For example, `Language.Drasil.URI.AST` does appear not have haddock documentation built.

Related: https://github.com/JacquesCarette/Drasil/pull/2293#discussion_r573059414

[2021-02-09 17:15] balacij commented on #2294
@JacquesCarette It appears that Haddock ignores files that are not explicitly in the "exposed-modules" of the Cabal build files. But since all of the "exports" of a library are generally inside of the main "Drasil.hs" file of each library where all of the exports get threaded through, the documentation is still there but not divided into the individual files from which they originated. Were you wa

[2021-02-09 17:44] JacquesCarette commented on #1153
Done! Also, the DOI as a badge is also in the README.  So at least we can cite the code now.

[2021-02-09 17:44] #1153 closed

[2021-02-09 17:54] #2292 closed

[2021-02-09 17:57] JacquesCarette commented on #2294
Hmm, that's a bit of a pain.  We kind of need 2 sets of documentation then, one external and one internal. Or something like that. Can you investigate what the recommended way to deal with such a situation is?  I don't mean exactly the solution I outline, but the general problem of documenting things not in `exposed-modules`.

[2021-02-09 18:07] balacij commented on #2287
If it's alright, I can give this a go @JacquesCarette ?

[2021-02-09 18:08] balacij commented on #2294
I'll take a look!

[2021-02-09 19:19] smiths commented on #1153
Nice!

[2021-02-09 21:15] JacquesCarette commented on #2287
Yes please.

[2021-02-09 21:32] balacij opened #2295 "Remove unused imports"

[2021-02-09 21:33] balacij opened #2296 "Backporting ModelKinds from branch QDef-in-InstMod"

[2021-02-09 22:06] balacij opened #2298 "2 unused files in drasil-code"
* [Language.Drasil.Code.AST](https://github.com/JacquesCarette/Drasil/blob/master/code/drasil-code/Language/Drasil/Code/AST.hs) <- This file also appears to have an error, relying on "EqChunk" in Objective data
* [Language.Drasil.Code.Imperative.Parsers.ConfigParser](https://github.com/JacquesCarette/Drasil/blob/master/code/drasil-code/Language/Drasil/Code/Imperative/Parsers/ConfigParser.hs) <- Al

[2021-02-10 21:17] balacij commented on #2296
@JacquesCarette Hi, I just want to double check before I continue making changes. Do we want to change the first parameter of the [InstanceModel smart constructors](https://github.com/balacij/Drasil/blob/8421bdbb86b82056abfa1dab8dc420e50da41c97/code/drasil-theory/Theory/Drasil/InstanceModel.hs#L78) from RelationConcept to ModelKind?

[2021-02-10 21:26] JacquesCarette commented on #2296
Yes. [And yes, checking such things is the right thing to do]

[2021-02-10 22:12] JacquesCarette commented on #2298
Right.
- `AST` is a very-dead attempt at a very high-level specification language for modules. It can be deleted.
- `Imperative.Parsers.ConfigParser` is less dead. In theory it is to parse an external configuration file for the `Configuration` type. This one should be resurrected, if possible.

[2021-02-22 22:23] szymczdm opened #2299 "Update GlassBR SRS Introduction"
The GlassBR SRS introduction reads poorly, so it would be nice to clean it up to read like a proper introduction. It assumes the reader already knows what the system is supposed to do / why it is there.

[2021-02-24 03:01] #2173 closed

[2021-03-01 22:31] szymczdm opened #2300 "Responsive CSS for templates"
Our current CSS is not responsive nor accessible on mobile views, it would be worthwhile to update it to be legible on small screens as a stopgap until it can be fully customized.

This should be pretty easy to achieve and would likely reduce the overall complexity of our current CSS.

[2021-03-15 21:15] smiths opened #2304 "Feedback on Current Paper Outline"
The following comes to mind while reading v3 of the outline:

- it would be nice to have references to support the statement that "[documentation] is not often prioritized on software projects."
- @JacquesCarette recently did a presentation on Drasil that you should watch (one of us will send you the link)
- @JacquesCarette and I have been working on a white paper that has some relevant material i

[2021-03-22 20:14] balacij opened #2305 "InstanceModel Labeling convention"
I was just wondering if there is a general naming convention for the labels of the instance models.

For example, in the Projectile example, landPosIM and timeIM are called ("calOfLandingDist", "Calculation of Landing Position") and ("calOfLandingTime", "Calculation of Landing Time"), respectively but no others seem to have this explicit "Calculation of X" naming.

I'm currently trying to convert

[2021-03-22 20:17] smiths commented on #2305
@balacij, no there is currently no explicit naming convention for the labels.

[2021-03-22 20:30] balacij commented on #2305
@smiths Thank you!

Do you have any opinion on these specific examples mentioned where they are of the form "Calculation of X"? I think it would be sufficient to label them as just the "X" (but I might be misunderstanding).

[2021-03-22 20:58] smiths commented on #2304
Picking up the review at --Breaking down artifacts--

- The figure showing the ref section for at 3 of the case studies will be challenging to create, especially if we want to keep it legible.  I think it can be done though, since you don't need all of the details.  You can have a few samples and use ... (or equivalent) to hide the rest.  It probably would make sense to make this figure before wri

[2021-03-23 14:06] JacquesCarette commented on #2305
We will want to label many of these "Calculation of X", because there is a difference between X as the concept that exists, and a method for computing X. For example, there is, conceptually, a single X, but there might be multiple ways of computing it.  So we do want to have different labels.

[If my answer above is sufficient, please close this issue.]

[2021-03-23 18:18] smiths commented on #2305
I agree with @JacquesCarette.  I like the implied idea that we should have a consistent naming convention for our labels.  I'm not sure what the convention should be.  I think we would need to look at the knowledge that is currently labelled and try to deduce the patterns.

[2021-03-23 22:34] balacij commented on #2305
Sounds good.  Thank you!

I'll close this issue.

[2021-03-23 22:34] #2305 closed

[2021-03-23 23:22] balacij opened #2306 "QDefinitions need ConceptDomains"
Regarding `code/drasil-lang/Language/Drasil/Chunk/Eq.hs` QDefinition's `cd` field,

`cd` is intended to be manually set. Once `ModelKind` is implemented, as a second step, we'll want to change the combinators to require the 'concept domain'. But first, we'll have to make sure that the concept domain(s) of all of our examples exist!

The best way to deal with that is probably to create multiple new

[2021-03-25 18:37] #2296 closed

[2021-03-28 14:18] tingyuw opened #2307 "Building projectile lesson in Drasil"
Here’s an overview of building the projectile lesson in Drasil.

First of all, I am going to handle the contents (like figures, headers, equations, etc.) the way how the SRS does, since there isn't much difference between them. The thing here is to print them like the user builds the notebook manually on the Jupyter platform. There is still room for improvement in how Drasil prints the Jupyter not

[2021-03-29 20:49] JacquesCarette opened #2308 "Where to put reference material"
[Came up via reviewing Projective]

Information, such as hand-generated sources and documented that were 'source' material for an example should indeed go into the repo - but perhaps not exactly with the example itself.

Suggestion: a reference/ hierarchy, parallel to the code/ one.

It would be interesting to think about where this would go in some future Drasil-in-Drasil too.

[2021-03-29 20:53] JacquesCarette opened #2309 "Preferred width"
I wonder if, in source files, we should document the width at which the source is best looked at. Quite a few files have 'data' that is laid out in column which looks good when one's window is wide enough.

While for most code, I'd rather try to go for < 80, for pure data, I'm happy enough to let it go larger, for readability.

[2021-03-29 21:05] smiths opened #2310 "Projectile Example: Improve Figure"
From https://github.com/smiths/caseStudies/issues/244:

The graph could really use colour (or different kinds of arrows) as quite different things are being denoted by 'the same thing'. In particular:

The figure in Projectile Lesson was updated, but the figure in the SRS will take more time, since it doesn't appear that we have the original source for the figure.

[2021-03-29 21:45] JacquesCarette opened #2311 "Reviewing Projectile"
(bottom up, i.e. from files with fewest dependencies first)

- Concepts
  - why is `projectileTitle` defined here? It's not really a 'Concept' in the same sense as the others.
  - why does `projectileTitle` have concept domain `physics`?  The concept should be that of the idea. The overall domain of the document likely belongs elsewhere
  - there's comment about `launch` being used as an adjective

[2021-04-06 14:30] smiths commented on #2307
@tingyuw, as we discussed in our last meeting, please build on your plan by determining your sequence of changes, and providing details on those changes.  We discussed the following steps:

1. Generate the separate sections of the SRS for Projectile as separate markdown cells.
2. Generate a cell with the calculation code for Projectile.  To start with skip the input and output generation.  The cal

[2021-04-06 14:30] #2307 closed

[2021-04-07 19:05] JacquesCarette commented on #2307
I would add the following information to the mix: we need to understand what a 'cell' is typically used for. We need to understand the level of granularity used in typical Jupyter notebooks. Then we need to map that to how we do Drasil documents. That might require that new information be available in Drasil to do an appropriate 'chunking'.

[2021-04-10 14:10] JacquesCarette opened #2312 "Conceptual confusion in many of the examples"
Let's pick one example (projectile), but this is true of all the examples I've looked at. The word "Projectile" ends up used for 3 conceptually different things:
1. the title of the document
2. a concept that the system talks about (i.e. a 'thing')
3. a topic being discussed in the document

We choose, in English, to overload a word (or phrase) for this, relying on the reader's capability to disam

[2021-04-10 14:26] JacquesCarette commented on #2311
commit 391bc4e59 removes the adjective comment from `Concepts`.  In "launch angle" and "launch speed", "launch" is not an adjective, but still a noun. For example, "projectile angle" and "projectile speed" have the same parts-of-speech, and more clearly illustrate the decomposition.

[2021-04-12 02:43] JacquesCarette commented on #2311
Deal with Reference author duplication in 78ddc6d30.

[2021-04-12 06:55] tingyuw commented on #2307
To separate the sections of the SRS, I'm going to do it like the wrapper in HTML. The information needed to build the cell would be added at the beginning and the end of each section.

And for the Projectile motion example, the markdown cells can be done in the same way as long as we decide how to separate them. But where and how to separate the contents automatically in future applications is an

[2021-04-13 03:19] JacquesCarette opened #2314 "Reviewing the assumptions in Projectile"
[These are in the order in the document]

1. twoDMotion: The projectile motion is two-dimensional (2D).
2. cartSyst: A Cartesian coordinate system is used (from A: neglectCurv)
3. yAxisGravity: The direction of the y-axis is directed opposite to gravity.
4. launchOrigin: The launcher is coincident with the origin.
5. targetXAxis: The target lies on the x-axis (from A: neglectCurv).
6. posXDirectio

[2021-04-16 03:07] JacquesCarette commented on #2311
`from` issue in Assumptions fixed in e5339acdd.

[2021-04-18 15:44] JacquesCarette commented on #2311
In a whole sequence of commits, `TMods` was made obsolete, as all its contents are in `drasil-data` now. The encoding is not perfect, but it's better than it was.  So Projective is a bit smaller now - a good thing.

[2021-04-18 15:48] JacquesCarette commented on #2311
Fix `the` issue in Figures in d3cd663cf.

[2021-04-18 16:55] JacquesCarette commented on #2311
A bunch of concepts were defined in Unitals rather than Concepts - bb04a1e83 corrects that.

[2021-04-22 19:59] balacij commented on #2295
I think this ticket can be resolved on a single instance basis as Dr. Carette mentioned in that PR, so I think I can close this ticket.

[2021-04-22 19:59] #2295 closed

[2021-04-24 03:35] tingyuw opened #2316 "Missing regex.h on Windows"
I got this problem (haskell-hvr/regex-posix#4) when I was trying to build the current version of Drasil.
Not sure why it's popping up now since it works fine before.

### Steps to reproduce:
1.  Run `cabal install regex-posix -f _regex-posix-clib` in terminal
2. Add the following to the code/stack.yaml
[code]

[2021-04-24 14:50] JacquesCarette commented on #2316
Hmm, where do we use regex? It doesn't quite seem like a natural dependency.

This might have happened because some upgrades to which compiler we're using. @balacij any idea?

[2021-04-26 18:40] balacij commented on #2316
I don't think we have any direct usage of regex either. However, `MissingH` depends on `regex-compat`, which relies on `regex-posix` (which fails to build on Windows). I'm not yet sure how/why the new stack files cause this issue -- it generates, up to a few spacing differences, cabal files that are identical the original ones. I'm installing a Windows VM on my computer right now to see if I can r

[2021-04-29 16:23] balacij commented on #2316
To observers: discussed with Dr. Carette, the current goal is to see how much we even use MissingH to see if we can potentially remove it as a dependency.

[2021-04-29 22:00] balacij commented on #2316
Sorry, I meant to write a comment, not to close the ticket!

What I was going to write:

With #2319 and #2320, we remove MissingH as a dependency from the `drasil-*` projects. However, we're be leaving it in the `website` package still. We can take a look at that soon too.

[2021-04-29 22:17] JacquesCarette opened #2321 "Make all cabal/package.yaml files precise about dependencies"
All the packages currently listed used to be used by the large monolithic Drasil, but now the sub-packages have inherited huge pseudo-dependencies that are not real. These should be trimmed down to what is actually needed.  Plus quite a bit of refactoring has been done, so that some dependencies might be completely obsolete too.

[2021-04-29 22:20] JacquesCarette commented on #2316
`website` package?

[2021-04-29 22:24] balacij commented on #2316
Yes, the [`website`](https://github.com/JacquesCarette/Drasil/tree/master/code/website) folder is a project itself I believe. It's `website.cabal` file contains MissingH (which it uses for 2 functions at the moment).

[2021-04-29 22:26] JacquesCarette commented on #2316
Ah, ok. Hopefully easy to replace too? Packages like `MissingH` are only useful if they have a small footprint!

[2021-04-29 22:26] balacij commented on #2287
For the rest of this ticket, we need to create a new Drasil workflow script that activates when a PR is accepted into the `master` branch. When it's activated, it will update the `gh-pages` branch to update the Drasil website.

[2021-04-29 22:35] balacij commented on #2316
I think it will be just as easy.

I'm just trying to test the current master branch (with the 2 PRs merged in) on my Windows VM to see if we can at least have a workable setup for Windows users. I'll report back when it's finished!

[2021-04-29 23:22] balacij commented on #2316
Looks like running `make` works on Windows just fine now! I think @tingyuw can give it a final test to confirm since my Windows installation is in a VM (I doubt there would be any differences, but just to make certain).

The `website` package is still on LTS-14.27/GHC 8.6.5 so I think we should move that task to a new issue and then we can close this one?

[2021-04-29 23:25] JacquesCarette commented on #2316
Sounds like a good plan.

[2021-04-30 00:30] balacij opened #2322 "Update `website` (package) GHC version and remove MissingH dependency"
A follow up from https://github.com/JacquesCarette/Drasil/issues/2316#issuecomment-829661768

[2021-04-30 02:09] balacij commented on #2321
Sounds good. I will update this list as I go along submitting PRs where needed:

- [ ] - `drasil-build`
- [ ] - `drasil-code`
- [ ] - `drasil-data`
- [ ] - `drasil-database`
- [ ] - `drasil-docLang`
- [ ] - `drasil-example`
- [ ] - `drasil-gen`
- [ ] - `drasil-gool`
- [ ] - `drasil-lang`
- [ ] - `drasil-metadata`
- [ ] - `drasil-printers`
- [ ] - `drasil-theory`
- [ ] - `drasil-utils`

[2021-04-30 14:25] JacquesCarette opened #2323 "Cleaning up DblPendulum/Concepts.hs"
See Projectile/Concepts.hs a 'template'.

1. remove all the commented out stuff
2. move `pendulumTitle` to Body.hs (see https://github.com/JacquesCarette/Drasil/commit/ade637d243bc4bc6641040f1b97684515ce5f31d)

Keep the file around, because there will be some stuff that will need to be moved to here from other places.

[2021-04-30 14:27] JacquesCarette opened #2324 "Remove DblPendulum/References.hs"
Move the definition of `citations` to where it is used.

[2021-04-30 17:05] JacquesCarette opened #2326 "Try to use pre-compiled binaries in github-actions."
Now that github-actions seem to work properly, it's time to optimize.

The current build takes 4 minutes, but a preliminary 47 minutes needed for the prelims!  That's quite excessive. We should look into binary distributions that have many libraries also pre-compiled.

[2021-04-30 17:07] JacquesCarette commented on #2152
Do you still want this assigned to yourself?

[2021-04-30 17:19] balacij commented on #2326
Oh, that's interesting. When I tested previously, it was only ~25min without the cache and ~10min with the cache. I think this latest run took this long because I added `website` to the base `stack.yaml`, which resulted in a lot more dependencies being built in the `Install dependencies` step. Maybe we can start with reverting that one change and then use a prebuilt binary of Hakyll for website de

[2021-04-30 17:21] JacquesCarette commented on #2326
Ah, right, it might indeed be a one-time cost because of that.

[2021-04-30 17:22] JacquesCarette commented on #503
As MDE really is not so central to your work anymore, I'm unassigning @oluowoj from this.

[2021-04-30 17:25] balacij commented on #2326
This does also bring up another issue as well. The caching doesn't seem to be working properly with PRs. I currently set it to use last commit hash (which seems to be standard practice) for caching, but it doesn't seem to be using it quite properly (since the `Install dependencies` step should all be cached).

[2021-04-30 17:58] balacij commented on #2326
Removing the `website` from the base stack.yaml seemed to bring the time of the action run from the 1hr back to the ~25min https://github.com/JacquesCarette/Drasil/runs/2477716758

[2021-04-30 18:22] JacquesCarette commented on #2321
The package minimums were all set when we were using straight cabal and not stack. So this is a holdover. I'm fine with removing them in favour of a minimum Stackage level.

[2021-04-30 18:48] #2322 closed

[2021-05-01 01:11] JacquesCarette commented on #2216
As far as I can tell, this is essentially done.

[2021-05-01 01:11] #2216 closed

[2021-05-01 01:14] smiths commented on #2216
Yes, we will no doubt review the example and make changes, but this issue is complete.

[2021-05-03 12:20] balacij commented on #2321
I think we can close this ticket now that we've gone through all the packages (excluding the website, which was done separately in another ticket).

[2021-05-03 12:24] #2321 closed

[2021-05-03 17:26] JacquesCarette opened #2341 "Remove DblPendulum/TMods"
The model that is here should be in `Data.Drasil.Theories.Physics` instead. As a first step, what will be needed is that the 'note' attached to the model will need to be made generic - right now it is too specific to the double pendulum problem.

So this will need to be solved in two steps:
- [ ] change the note to be generic, and allow the new expected solution to be generic
- [ ] move the theory

[2021-05-03 17:30] JacquesCarette opened #2342 "Move 2 references out of PDController/References"
`laplaceWiki` and `pidWiki` should be moved into Data.Drasil (see #2324) for a similar issue).

[2021-05-03 17:32] JacquesCarette commented on #2341
Also @smiths mentioned "We can use the game physics example as given in Game Physics in the pendulum example.  We don’t need a different TM for pendulum."

[2021-05-03 17:41] JacquesCarette opened #2343 "line up CIs in PDController/Concepts"
https://github.com/JacquesCarette/Drasil/blob/236594a4a00940b0168a7699c75d3a3465fd0ad4/code/drasil-example/Drasil/PDController/Concepts.hs#L19-L32 should be "lined up" - see https://github.com/JacquesCarette/Drasil/blob/236594a4a00940b0168a7699c75d3a3465fd0ad4/code/drasil-example/Drasil/Projectile/Concepts.hs#L18-L22 for a good template.

[2021-05-03 19:35] Ant13731 opened #2344 "Link in Contributor's Guide Not Working"
In the Contributor's Guide under the fourth point of the Issues/Error Fixes, the "Quick Start (in Quick Start Guide)" link does not work (gives page not found error).

[2021-05-03 19:48] smiths commented on #2344
@Ant13731, nice to see you have created your first issue!

For future issues, please include a link (when applicable) to the source of the problem.  In this case, the link would be to:

https://github.com/JacquesCarette/Drasil/wiki/Contributor's-Guide

Since you didn't assign anyone to the issue, I'm going to assign it to you.  :smile:

To fix the problem, you need to edit to the Wiki page.  The E

[2021-05-03 19:51] Ant13731 commented on #2344
Okay thanks @smiths ! Will do.

[2021-05-03 19:53] Ant13731 commented on #2344
It worked! Thanks!

[2021-05-03 19:53] #2344 closed

[2021-05-03 19:57] smiths commented on #2344
Now you've create and closed your first issue!  :smile:

[2021-05-04 08:29] tingyuw opened #2346 "Separating cells of SRS"
How the document is printed currently is the printer calls printLO and maps the contents together.
![image](https://user-images.githubusercontent.com/47548045/116967542-83164c00-ac80-11eb-8ced-d78e1a5aa936.png)

The HDiv maps the printLO layout objects to a huge section.
![image](https://user-images.githubusercontent.com/47548045/116967735-00da5780-ac81-11eb-8ec5-868b57cd6868.png)
![image](https:/

[2021-05-04 12:28] JacquesCarette commented on #2346
You are explaining everything to us in terms of "here is what the code does now" and "here are the changes I would like to make to the code".  You have also only shown us how it is done in the HTML printer, but not the latex printer. There could be large differences.

Note that to the question about what to do with the code: you most definitely should be thinking in terms of a completely new print

[2021-05-04 15:38] Ant13731 opened #2347 "Extra "The" in the DBLpendulum documentation"
In Assumptions.hs, the function:
[code]
is somehow producing an extra 'The' on the html and .tex files for dblpendulum. I'm not sure where the extra 'The' is coming from since the other functions in `DblPendulum/Assumptions.hs` follow the same format and appear properly.
![CodeFix1](https://user-images.githubusercontent.com/69334555/117029973-2d1bc580-accd-11eb-8465-208f20f0ade8.png)

[2021-05-04 16:56] Ant13731 commented on #2324
@JacquesCarette @smiths For this, should I move everything out of `References.hs` and then delete the empty file?

[2021-05-04 18:01] JacquesCarette commented on #2324
Yes. And make sure to delete it from the manifest too (`package.yaml`).

[2021-05-05 14:15] balacij opened #2355 "Explicit imports of Applicative, <$>, & Monad can be removed"
`Applicative`, <$>, & `Monad` have been in `base/Prelude` for all versions of GHC 8.* so I think we can comfortably remove their explicit imports without causing any incompatibility issues for 8.*+.

[As early as GHC 8.0.1's `base/Prelude` had Applicative and Monad](https://hackage.haskell.org/package/base-4.9.0.0/docs/Prelude.html#t:Applicative)
[Directory of GHC versions to base versions](https:

[2021-05-05 14:22] balacij opened #2356 "Explicit imports of `maybe` can be removed"
`maybe` has been in `base/Prelude` for all versions of GHC 8.* so I think we can comfortably remove it's explicit imports without causing any incompatibility issues for 8.*+.

[As early as GHC 8.0.1's `base/Prelude` had `maybe`](https://hackage.haskell.org/package/base-4.9.0.0/docs/Prelude.html#v:maybe)
[Directory of GHC versions to base versions](https://wiki.haskell.org/Base_package)

[2021-05-05 15:15] smiths commented on #2347
@Ant13731 you should assign your issues to someone, and you should label your issues when appropriate.  For questions related to the code, the most likely people to assign to are @JacquesCarette or @balacij.  If someone disagrees with the assignment, they can change it.  Another option is to self assign the issue.  This might be an issue that you can investigate yourself?

[2021-05-05 15:29] Ant13731 commented on #2347
Okay, sweet. I think I have an idea of how to fix it, so I'll give it a try.

[2021-05-05 16:15] balacij commented on #2355
@Ant13731 Hi Anthony, would you mind having a look at this ticket?

[2021-05-05 16:15] balacij commented on #2356
@Awurama-N Hi Awurama, would you mind having a look at this ticket?

[2021-05-05 16:17] Ant13731 opened #2357 "Receiving an error at stack exec part of the build"
@JacquesCarette @smiths, after working on issue #2347, I keep on receiving this error when running `make`. I'm not really sure what is wrong though.
[code]

[2021-05-05 16:18] Ant13731 commented on #2355
@balacij Sure!

[2021-05-05 16:42] balacij commented on #2357
Just out of curiosity, are you on Windows? If so, did you run `chcp.com 65001` when opening up  your Git Bash terminal?

From a quick google search, it looks like this is a utf8 encoding issue, and it seems that pdController is the only example that, in it's main function, doesn't immediately set the locale to utf8.

[2021-05-05 16:45] Ant13731 commented on #2357
Ahhh my bad, I completely forgot. Thanks for your help!

[2021-05-05 16:45] #2357 closed

[2021-05-05 16:47] balacij commented on #2357
No problem. I'm glad this worked out!

[2021-05-05 17:13] balacij opened #2359 "GitHub Actions "build on push" seems to occur too often"
It seems to cause issues in PRs where it requires a build being done twice for the same PR, and, optionally, commit on said PR. For example, at time of writing this issue, #2358 has 2 identical actions being run.

Is it alright if we remove it @JacquesCarette ?

(I created a PR if this is alright, so we can quickly get this ticket completed)

[2021-05-05 17:15] tingyuw commented on #2346
The translation from contents (Drasil original data types) to printing layoutobj is handled in ``Import.hs``. Unlike other data types (e.g. Table or Paragraph), ``HDiv`` is not a data type we have in Drasil original language; it is specifically for printing and is not a one-to-one transformation. ``HDiv`` is called in the ``sec`` to concatenate each section. I still need to trace back the code mor

[2021-05-05 17:24] #2323 closed

[2021-05-05 17:25] #2324 closed

[2021-05-05 17:26] Awurama-N opened #2362 "Inserting a code snippet"
I lined up the code for my assigned issue a while ago but i'm having a little trouble figuring out how to insert a snippet of code into my reply. could you please walk me through it.

[2021-05-05 17:29] smiths commented on #2362
@Awurama-N, if you want to write code in the text,  you can use the tick symbol (`) around the code: `code`.

For a longer block of code, you use three ticks (```), like this:

[code]

[2021-05-05 17:36] Ant13731 commented on #2362
Just for extra clarification since I initially thought it was an apostrophe, the symbol is to the left of the 1 key and above the TAB key.

[2021-05-05 17:42] Awurama-N commented on #2362
Okay thank you!

[2021-05-05 17:45] Ant13731 commented on #2355
Heyo, should I just remove any `import Data.Monoid`, `import Control.Monad`, and `import Control.Applicative` lines I find? @balacij

[2021-05-05 17:46] Awurama-N commented on #2343
[code]

[2021-05-05 17:53] balacij commented on #2355
I'm not too sure about Data.Monoid, I don't think it's something we should be removing in this ticket. For the rest however, when you run `make clean` followed by a fresh `make`, the console will give you hints (highlighted in purple) about redundant imports. I think for some lines, they import things that aren't already in Prelude (in which case, you'll need to just remove the ones that are alrea

[2021-05-05 17:55] Ant13731 commented on #2355
Ah okay thanks!

[2021-05-05 18:02] balacij commented on #2362
@Ant13731 Yes, that's the backtick key on most full-size standard keyboards. Additionally, it's on the same key as tilde (~).

[2021-05-05 18:07] JacquesCarette commented on #2359
Build only after a PR has been reviewed is enough, I agree. But there also ought to be a way to trigger a build - I've seen others do this by having a keyword in the commit like [trigger-build] or something.

[2021-05-05 18:09] Awurama-N commented on #2362
thank you

[2021-05-05 18:09] #2362 closed

[2021-05-05 18:12] JacquesCarette commented on #2346
Thank you.  Yes, defining a cell as a kind of "unit of content" that is kind of a "leaf" in a structured document, makes sense. It's not the lowest level of 'content', but somehow the lowest leave of "display content" that tells a coherent piece of information.

My feeling is that we need to somehow create an indicator for such content units. It might be that in the `Import.hs`, cell information i

[2021-05-05 18:29] smiths commented on #2346
I won't pretend to understand all the details, but I like the direction this conversation is going.  A cell as a king of "unit of content" sounds right to me.  Should the cell also know what kind of content it is?  For Jupyter notebooks the content can either be markdown or code.  Would it make sense for us to breakdown the markdown category further, maybe into equations, text, tables and figures?

[2021-05-05 18:39] balacij commented on #2359
I believe that it would also be building with each commit pushed to the source branch of any/all open PR.

I've never seen a manual trigger done like that before, do you happen to have any examples? Looking at [github docs](https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow), it seems we can add a manual button at least.

[2021-05-05 18:40] JacquesCarette commented on #2346
Yes, knowing what kind of cell it is makes sense.

The important thing is the granularity. For example, there could be multiple text cells one after another, because each is a kind of self-contained paragraph.

[2021-05-05 18:45] JacquesCarette commented on #2359
I think the main Agda repo has this. [It also has the opposite, a keyword to stop a build from happening]

[2021-05-05 18:59] #2355 closed

[2021-05-05 19:00] #2359 closed

[2021-05-05 19:04] JacquesCarette opened #2364 "QDef-in-InstMod branch"
Can it be deleted now? I think all of the information from it has been mined?

I know that not everything related to it has not been fixed, but that's not the same. If the branch will never be looked at, it should be deleted. [If it can be, go ahead and do it.]

[2021-05-05 19:08] JacquesCarette opened #2365 "gh-pages might be broken?"
There was a `drasil-bot` that took care of updating the documentation pages and push them to the web site. This seems to have broken about 4 months ago (!).  It probably is related to Travis. Could you investigate?

[2021-05-05 19:21] balacij commented on #2364
Just quickly going through older tickets, I see #1373 gives a nice overview (thank you Mornix) of the changes. From comments + what we did, it seems 1-3 and 5 are good for now. Regarding point 4, it seems out of date and partially changed, but I should ask if you want anything from the existing branch first before deleting.

 ( We can also probably close #1373 with this ticket too. )

[2021-05-05 19:33] JacquesCarette commented on #2364
Thanks for finding that issue. I'm going to want to examine all the points it mentions carefully, to make sure they are indeed "good for now". Whatever might be missing, I'll make specific new issues. I'll try to get to that soon.

[2021-05-05 19:45] #2341 closed

[2021-05-05 20:09] balacij opened #2366 "Adding manual Github Actions workflow triggers"
Following the example Dr. Carette found in Agda, we should create our own manual triggers via the actions tab, or through adding `[workflow-trigger]` to commit messages (and of course, we can change this trigger).

[2021-05-05 20:22] smiths commented on #2366
Sounds good @balacij.  If we "pull the trigger" on `workflow-trigger`, we should be sure to document this in the Contributor's Guide.

[2021-05-05 20:44] balacij commented on #2366
Ah, good point! I'll make sure to do that once #2367 is merged in. Thank you!

[2021-05-06 01:13] JacquesCarette commented on #2364
So `relToQD` still exists in `drasil-code`. That's a strong symptom that item 1 is not done. I don't want to make an issue for just that, as it's going to depend on too many other things.

[2021-05-06 01:23] JacquesCarette opened #2369 "In GlassBR, the `lrIsSafe` theory model should use a QDefinition"
instead of a `RelationConcept`.  See https://github.com/JacquesCarette/Drasil/commit/560d77699d707d2aa2f59baa9f37e25a11ad0c3f for the details.

[2021-05-06 01:33] JacquesCarette opened #2370 "Inconsistent naming in GamePhysics example."
In words (and in UIDs) things are subscripted with `j`, but in the Haskell, `I` (capital i) is used instead. This is confusing and inconsistent. An old fix was in https://github.com/JacquesCarette/Drasil/commit/266a4805dacdbcba1f05cdbf014336952838d2fb but that is too old and can't be merged easily, it will have to be hand-patched.

[2021-05-06 01:41] JacquesCarette opened #2371 "Remove as many `RelationConcept`s from the instance models as possible, by using `ModelKind` more"
See https://github.com/JacquesCarette/Drasil/commit/f23bf7b5757b6686d4fa1a6aec371520300ee77b for example. This is part of adding `ModelKind` to `InstanceModel`.

Basically, every instance model in all examples should be looked at, and either
1. its model should be changed from `OthModel` to something else (one per PR!)
2. an issue should be created regarding why it can't be done.

[2021-05-06 12:46] Ant13731 commented on #2370
@JacquesCarette just for clarification, should they all have the `j` subscript or the `I`?

[2021-05-06 12:51] JacquesCarette commented on #2370
I think the words are correct, i.e. it should be `j`.

[2021-05-06 15:27] balacij opened #2374 "Broken "data types cheat sheet" link"
In https://github.com/JacquesCarette/Drasil/tree/master/code#data-types-and-class-instances , the "cheat sheet on Data Types" link (and it's related text information) is missing a "/People" in it's link (e.g., it should be `https://github.com/JacquesCarette/Drasil/blob/master/People/Dan/DataTypes.xlsx`).

[2021-05-06 15:30] balacij commented on #2374
@Ant13731 Would you mind having a look at this please?

[2021-05-06 15:33] balacij opened #2375 "Importing Stack & VSCode Installation Docs from CS3FP3"
For CS3FP3 tutorials, I created some basic usage and installation docs that I think we could import into our Contributer's Guide (maybe Quick Start too?) and modify to include more Drasil-related information + Makefile information.

https://gitlab.cas.mcmaster.ca/carette/3fp3-w2021/-/blob/master/Tutorials/01/Tutorial_01_Installing_Stack_and_VSCode.md

[2021-05-06 15:37] balacij commented on #2365
It looks like`drasil-bot` is back up and running. I didn't touch it since this ticket creation (I don't think I have any access to it). Did you re-enable it?

We're just going to need to add a second workflow script that activates when something is pushed to `master` so as to trigger the gh-pages update. Related to: https://github.com/JacquesCarette/Drasil/issues/2287#issuecomment-829635814

[2021-05-06 15:51] balacij opened #2376 "Main README file missing information on pdController example"
In the [build specific examples area](https://github.com/JacquesCarette/Drasil#building-specific-examples), we are missing a row entry for `pdController_diff`.

In the [running specific examples area](https://github.com/JacquesCarette/Drasil#running-the-examples), we are missing a row entry for `pdController`.

[2021-05-06 16:00] JacquesCarette opened #2378 "Adjust .gitattributes again"
Our repo has now been classified as 77% C++ by linguist. This is because there are some sources from imported libraries that are huge, and that's what it is detecting. The `.gitattributes` file had been adjusted to deal with that, but this seems to have bit-rotted.

Could one of you investigate and fix please?

[2021-05-06 16:22] balacij commented on #2376
@Awurama-N Would you mind having a look at this please?

[2021-05-06 16:43] balacij commented on #2374
Looks like the link works now, but the text next to it doesn't point to the same area. Do you mind just adding that in as well please?

[2021-05-06 17:20] balacij commented on #2378
It looks like the .gitattributes file isn't actually being respected at all right now. I'm not _yet_ 100% sure why, but I suspect it's breaking down completely when it sees the `language-generated=true` line item (which I don't think is valid according to https://github.com/github/linguist/blob/master/docs/overrides.md ).

[2021-05-06 17:26] smiths commented on #2375
@balacij, I think this is a great idea.  I looked over your instructions and they look really helpful.  Probably we want this content in its own wiki page that we can then link to at the appropriate place in the other documentation.

[2021-05-06 17:27] Ant13731 commented on #2378
Do we want the `stable` code to be included? Could we use `liguist-detectable`?

[2021-05-06 17:31] balacij commented on #2378
It looks like the current gitattributes file isn't respected at all. Making some changes on my repo...

![image](https://user-images.githubusercontent.com/1627302/117340438-de0d9600-ae6e-11eb-9820-72c4b153cfaf.png)

By changing the `*`'s into `**`'s and removing the `=true` after `language-generated`, we get the above stats on my fork with the same configuration file: https://github.com/balacij/Dr

[2021-05-06 17:57] Awurama-N commented on #2342
after taking out the two references, there are warnings that "The type signature for ‘pidWiki’ lacks an accompanying binding", same for laplacewiki, would you like me to take it out of the citation as well.

[2021-05-06 18:01] JacquesCarette commented on #2378
That's already much better.

After much thinking, I don't want `stable` included: it's all generated stuff. I don't want to count that in our code repo.

[2021-05-06 18:03] smiths commented on #2378
I agree that we don't want to count `stable` in the language summary statistics.

[2021-05-06 18:03] JacquesCarette commented on #2342
The declarations of those two signatures should be moved along with the code. They belong together.  Did you just move ½ ?

[2021-05-06 18:06] JacquesCarette commented on #2374
Oops, did I merge too soon?  Comments should be put on the PR, not the issue...

[2021-05-06 18:07] JacquesCarette commented on #2365
I think `drasil-bot` has always been running, what is no longer running are the jobs to update the docs. These were hooked into Travis, *I think*. I'm not sure.  So yes, I think we need a new workflow for this.

[2021-05-06 18:10] Ant13731 commented on #2374
I think everything is good now, I just forgot to change the directory path to match the new link before so I had to open a second PR.

[2021-05-06 18:43] smiths commented on #2291
This issue will be closed by #2367.

[2021-05-06 18:52] Awurama-N commented on #2342
oh okay...
Yes at first i just took out the references themselves and nothing else

[2021-05-06 18:58] #2366 closed

[2021-05-06 19:01] smiths commented on #2291
PR #2367 is merged, so this issue can be closed

[2021-05-06 19:01] #2291 closed

[2021-05-06 19:32] balacij commented on #2376
With #2380 merged in, we can close this ticket. Thank you @Awurama-N

[2021-05-06 19:32] #2376 closed

[2021-05-06 20:02] #2343 closed

[2021-05-06 20:25] #2378 closed

[2021-05-07 01:03] #2369 closed

[2021-05-07 15:20] balacij opened #2388 "Labels & GlassBR: Converting OthModels into EquationalModels"
Related to #2371.

I am quickly breaking stable logs while trying to convert the model kinds of instance models in GlassBR into EquationalModels (current code [here](https://github.com/JacquesCarette/Drasil/compare/glassBrConvPbIsSafe)).

In particular, at the moment, I have 2-3 variants that _look nice_ but break stable logs in small ways.

For example, while trying to convert the `pbIsSafe` inst

[2021-05-07 18:14] #2257 closed

[2021-05-07 18:53] Ant13731 opened #2391 "DblPendulum Derivation Missing"
Looking through the `DblPendulum` file, there are clear derivations for angular frequency, period of the pendulum, etc., but the derivations for the components of linear acceleration and velocity are just repeats of the equation given in `GenDefs`. I don't think the derivation is terribly complicated, so should I try to fill it in for the sake of completeness? On that note, is there a definition w

[2021-05-07 19:32] smiths commented on #2391
@Ant13731, improving the double pendulum example is a great idea.  However, you don't want to be fixing it and refactoring it at the same time.  It can be difficult if you are trying to make changes to what it presents at the same time as you are changing the Drasil code on how it generates what it presents.  :smile:

If you and @JacquesCarette are done with the fixes to the double pendulum exampl

[2021-05-07 19:55] Ant13731 commented on #2391
Okay sounds good! I just finished making a rough draft for the velocity derivations, but it shouldn't break anything too much, even if we do end up changing other files. I figured that doing this would also help me get more familiar with Drasil language, so it's good practice nevertheless.

I also found that using the definition of arc length worked out decently enough for the velocity derivation,

[2021-05-07 21:17] JacquesCarette commented on #2391
There will be more refactoring issues coming, I had not had time to put them all in. I will try to keep them all small, so that this can be done in between as well.

One of the things to keep in mind while doing this: what is generic physics, and what is specific to this example? We want to take as much generic physics out of the examples and into our code database of 'facts'.

[2021-05-07 23:00] balacij commented on #2388
Trying to write a full description of my understanding of the issue here:

`relToQD` on some `r :: ExprRelat er => er` and some `cdb :: ChunkDB`, `relToQD` will try to convert the underlying expression of the relation into a QDefinition using `ec` (though, for our usages of `relToQD`, it's effectively the same as using `mkQuantDef` instead) if `r`, converted into an expression, is of the form `EqB

[2021-05-07 23:47] #2342 closed

[2021-05-08 00:56] balacij commented on #2263
@Ant13731 Did you mean to close this ticket with #2389 ?

[2021-05-08 01:01] balacij commented on #2298
@Awurama-N Would you mind deleting the `drasil-code/Language.Drasil.Code.AST` file that Dr. Carette mentioned here above?

We can then move `Imperative.Parsers.ConfigParser` to a new issue.

[2021-05-08 01:16] balacij opened #2392 "`code/README.md` directory structure out of date"
In the [`code/README.md`](https://github.com/JacquesCarette/Drasil/blob/master/code/README.md), the directory structure looks out of date and can be updated.

[2021-05-08 14:00] smiths commented on #2388
This is a very detailed analysis @balacij.  Good work!  @JacquesCarette is the expert, but my guess is that the extraneous conflicting information is not intentional.  Over the years there have been many people that have touched the code.  They were often focused on getting the generator to work to generate the SRS document, without really thinking about the "right" way to do it.  In their defence

[2021-05-08 14:10] JacquesCarette commented on #2388
Agreed on all fronts. I need to do a detailed read of the analysis, to figure out a way forward. We want to take this opportunity to do things correctly - and if we have duplicate information, we should eliminate it. Though I can see the point of having short and long forms of "the same" information.

[2021-05-08 14:44] JacquesCarette opened #2393 "spellcheck of pdController example"
For example, I see "Stifness Coeffecient" in Concepts.hs. I'm not completely sure of the more efficient way to do this. Perhaps a quick script to extract all the strings and the spellcheck those? Do spellcheck on the generated latex with aspell? [I would try that first.]  This should be done for the whole example, not just the one file.

[2021-05-08 14:52] JacquesCarette opened #2394 "split content out of Concepts.hs into Unitals.hs"
The latter will have to be created.  Everything from line 131 onwards should be moved, and then everything else fixed up accordingly.

[2021-05-08 14:56] JacquesCarette opened #2395 "investigate units of items named qd* in PDController"
For example `qdLaplaceTransform` has type `Real`, which is incorrect. What it should be is less clear! `(Real -> Real) -> (Real -> Real)` perhaps?  `qdFxnTDomain` is also suspicious. All of them should be investigated.

Note that it is best if each change/fix becomes its own PR, instead of trying to fix them all at once. That way to good fixes can go in right away, and the fixes that need discussi

[2021-05-08 14:59] JacquesCarette opened #2396 "Move some concepts from PDController in to drasil-data"
Or re-use them from drasil-data if they already exist. Coming to mind are:
- positive infinity
- negative infinity
- Laplace transform

There are likely others, which should be discussed in this issue.

[2021-05-08 15:04] JacquesCarette opened #2397 "Re-use of phrases in PDController quantities."
Take for example
[code]
The phrase is of the form "X in the Y", for X and Y both concepts that pre-exist. So that's how it should be described, i.e. this should be essentially
[code]
Note that I am not sure of the names `controlVar` or `timeDomain` (something like them should exist, or be created). Similarly, there might already be a `inThe` combinator that may or may not do the right thing. This

[2021-05-08 15:13] JacquesCarette opened #2398 "Repeated words in DblPendulum"
Consider the following short bit of code in Unitals.hs:
https://github.com/JacquesCarette/Drasil/blob/dc6da83d0ddf6c04c98bc1fdb0f43f8a8f9c1a57/code/drasil-example/Drasil/DblPendulum/Unitals.hs#L47-L57
We see the English word "rod", which is an important concept in this example, typed out multiple times. This should not happen. This word corresponds to a concept, and should be obtained from that co

[2021-05-08 15:22] JacquesCarette opened #2399 "Sentence vs concept-level combinators"
This issue should eventually apply to all examples, but it can start at DblPendulum.  It should be done after the first part of #2398 is done.

https://github.com/JacquesCarette/Drasil/blob/dc6da83d0ddf6c04c98bc1fdb0f43f8a8f9c1a57/code/drasil-example/Drasil/DblPendulum/Unitals.hs#L47-L57

Note the ` (phrase angle `the_ofThe` phrase pendulum)` (and same with `rod`). What's going on is that there is

[2021-05-08 22:50] Ant13731 commented on #2263
Yes, this should be resolved now.

[2021-05-08 22:50] #2263 closed

[2021-05-09 01:26] #2356 closed

[2021-05-09 01:26] #2392 closed

[2021-05-10 00:54] Awurama-N commented on #2397
` inThe` combinator does indeed exist and is used (for example) in the following situation:
[code]

[2021-05-10 07:24] tingyuw commented on #2346
Yes, I think the changes will be made in the ``Import.hs``. I was thinking of handling the contents in cells instead of sections (i.e. change how the ``HDiv`` maps the contents) for the notebook printer, and the cell information can be added when printing. I would like to change the ``HDiv`` because the document format isn't the same as the SRS in the future application. The sections are not decid

[2021-05-10 13:24] Ant13731 commented on #2398
For the first part of this issue, should `rod` then become an explicit `NP` that then takes the `phraseNP` function to convert it to a `Sentence`? Or is there a better data type that can be used to carry more detail about the rod itself? If `rod` works as an `NP`, should the definition be under `Unitals.hs`?

[2021-05-10 13:59] Ant13731 opened #2404 "CompoundPhrase Use in Concepts.Physics"
As I was working through the DblPendulum example, I found this:
![image](https://user-images.githubusercontent.com/69334555/117669859-59c05900-b175-11eb-847e-34135a2a6e66.png)
In the grand scheme of things, this is not that important, but I think the use of `compoundPhrase'` instead of `compoundPhrase` in the definition of `angAccel` in `Data.Drasil.Concepts.Physics` is causing the second word to